@model Orchard.ContentTypes.ViewModels.EditTypeViewModel
@using Orchard.ContentManagement.Metadata.Settings;
@{
    var settings = Model.Settings.ToObject<ContentTypeSettings>();
}
    @Model.DisplayName
    @if (!string.IsNullOrWhiteSpace(settings.Stereotype))
    {
        <span class="label label-default label-pill pull-xs-right" title="Stereotype">@settings.Stereotype</span>
    }


<div class="pull-xs-right">
    @if (settings.Creatable)
    {
        <a asp-route-area="Orchard.Contents" asp-route-action="Create" asp-route-id="@Model.Name" class="btn btn-success btn-sm" role="button">@T["Create New {0}", Model.DisplayName]</a>
    }
    <a asp-route-action="List" asp-route-area="Orchard.Contents" asp-route-id="@Model.Name" class="btn btn-secondary btn-sm" role="button">@T["List Items"]</a>
    <a asp-route-action="Edit" asp-route-area="Orchard.ContentTypes" asp-route-id="@Model.Name" class="btn btn-primary  btn-sm" role="button">@T["Edit"]</a>
</div>