@model MetadataPartViewModel
@inject OrchardCore.Settings.ISiteService SiteService
@{
    var site = await SiteService.GetSiteSettingsAsync();
}

<script asp-src="~/OrchardCore.Metadata/Scripts/character-count.min.js" debug-src="~/OrchardCore.Metadata/Scripts/character-count.js" at="Foot"></script>
<style asp-src="~/OrchardCore.Metadata/Styles/counter.min.css" debug-src="~/OrchardCore.Metadata/Styles/counter.css" at="Head"></style>

<fieldset class="metadata-edit">
    <legend class="metadata-edit_legend content-edit_heading2">Metadata</legend>
    <div class="form-group">
        <label asp-for="MetaTitle">@T["Page title"]</label>
        <input asp-for="MetaTitle" class="form-control" data-counter data-counter-max-length="60" />
        <span class="hint">@T["If left blank, uses the content item's display text as the page title. Recommended length: under 60 characters."]</span>
    </div>
    <div class="form-group">
        <label asp-for="MetaDescription">@T["Meta description"]</label>
        <textarea asp-for="MetaDescription" class="form-control" data-counter data-counter-max-length="160"></textarea>
        <span class="hint">
            @T["The page description or 'meta description', " +
       "provides a brief summary of a web page. It is sometimes used by search engines " +
       "in search results. Recommended length: under 160 characters."]
        </span>
    </div>
    @if (Model.Settings.SupportMetaKeywords)
    {
        <div class="form-group">
            <label asp-for="MetaKeywords">@T["Meta keywords"]</label>
            <textarea asp-for="MetaKeywords" class="form-control"></textarea>
            <span class="hint">
                @T["A short list of keywords separated by commas that are associated with the content item. Some search engines, " +
                "such as Google, no longer use the meta keywords to influence search results."]
            </span>
        </div>
    }
    @if (Model.Settings.SupportOpenGraph || Model.Settings.SupportTwitterCards)
    {
        <fieldset>
            <legend class="content-edit_heading3">@T["Open Graph (Facebook & Twitter)"]</legend>
            <div class="form-group">
                <label asp-for="OpenGraphTitle">@T["Open Graph title (og:title)"]</label>
                <input asp-for="OpenGraphTitle" class="form-control" data-counter data-counter-max-length="150" />
                <span class="hint">
                    @T["Used when sharing the content on social networks using the Open Graph title tag." +
                " If left blank, uses the content item's page title metadata as the value. Recommended length: under 150 characters."]
                </span>
            </div>
            <div class="form-group">
                <label asp-for="OpenGraphDescription">@T["Open Graph description (og:description)"]</label>
                <textarea asp-for="OpenGraphDescription" class="form-control" data-counter data-counter-max-length="150" ></textarea>
                <span class="hint">
                    @T["Used when sharing the content on social networks using the Open Graph description tag. Leave blank " +
                " If left blank, uses the content item's meta description as the value. Recommended length: under 150 characters."]
                </span>
            </div>
            <div class="form-group">
                <label asp-for="OpenGraphImage">@T["Open Graph image (og:image)"]</label>
                <input asp-for="OpenGraphImage" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="OpenGraphImageAlt">@T["Open Graph image alternate text (og:image:alt and/or twitter:image:alt)"]</label>
                <textarea asp-for="OpenGraphImageAlt" class="form-control" data-counter data-counter-max-length="420"></textarea>
                <span class="hint">
                    @T["The alt attribute provides alternative information for an image" +
               " if a user for some reason cannot view it. Limit is 420 characters."]
                </span>
            </div>
            @if (Model.Settings.SupportOpenGraph)
            {
                <div class="form-group">
                    <label asp-for="OpenGraphType">@T["Open Graph type (og:type)"]</label>
                    <select asp-for="OpenGraphType" class="form-control">
                        <option value="website">Website</option>
                        @*<option value="article">Article</option>
                            <option value="book">Book</option>
                            <option value="profile">Profile</option>
                            <option value="video.movie">Video - movie</option>
                            <option value="video.episode">Video - episode</option>
                            <option value="video.tv_show">Video - TV show</option>
                            <option value="video.other">Video - other</option>*@
                    </select>
                    <span class="hint">
                        @T["Currently only the website type is supported."]
                    </span>
                </div>
                <div class="form-group">
                    <label asp-for="OpenGraphVideo">@T["Open Graph video (og:video)"]</label>
                    <input asp-for="OpenGraphVideo" class="form-control" />
                </div>
            }
        </fieldset>
    }
    @if (Model.Settings.SupportTwitterCards)
    {
        <fieldset>
            <legend class="content-edit_heading3">@T["Twitter Cards"]</legend>
            <div class="form-group">
                <label asp-for="TwitterCard">@T["Twitter Cards (twitter:card)"]</label>
                <select asp-for="TwitterCard" class="form-control">
                    <option value="summary">Summary card</option>
                    <option value="summary_large_image">Summary with large image</option>
                    @*<option value="player">Player card</option>
                        <option value="app">App card</option>*@
                </select>
            </div>
        </fieldset>
    }
</fieldset>