@using Microsoft.AspNetCore.Mvc.Localization
@using OrchardCore.Email.Azure.ViewModels

@model AzureEmailSettingsViewModel

@if (!Model.PreventAdminSettingsOverride)
{
    <div class="mb-3" asp-validation-class-for="DefaultSender">
        <label asp-for="DefaultSender" class="form-label">@T["Sender email address"]</label>
        <input asp-for="DefaultSender" class="form-control" type="text" />
        <span asp-validation-for="DefaultSender"></span>
        <span class="hint">@T["The default email address to use as a sender, unless the email sender is set."]</span>
    </div>

    LocalizedHtmlString placeholder = null;

    if (Model.ConfigurationExists)
    {
        placeholder = T["Connection string is securely stored. Leave blank for current connection string or enter a new one"];
    }
    else if (Model.FileConfigurationExists)
    {
        placeholder = T["Connection string is supplied by a configuration provider."];
    }
    else
    {
        placeholder = T["Provide a connection string"];
    }

    <div class="mb-3" asp-validation-class-for="ConnectionString">
        <label asp-for="ConnectionString" class="form-label">@T["Connection String"]</label>
        <input type="text" asp-for="ConnectionString" class="form-control" placeholder="@placeholder" />
        <span asp-validation-for="ConnectionString"></span>
    </div>
}
else
{
    <p class="alert alert-secondary">
        @T["Azure email settings are configured by a configuration provider."]
        <a class="seedoc" href="@(OrchardCore.Admin.Constants.DocsUrl)reference/modules/Email.Azure/#configuration" target="_blank">@T["See documentation."]</a>
    </p>
}
