@model EditPartFieldViewModel
@using Orchard.Utility
@using Orchard.ContentTypes.ViewModels
    <fieldset class="manage-field">
        <h3>@Model.DisplayName <span>(@Model.FieldDefinition.Name.CamelFriendly())</span></h3>
        <div class="manage">
            <a asp-route-action="EditField" asp-route-id="@Model.Part.Name" asp-route-name="@Model.Name">@T["Edit"]</a>
            <a asp-route-action="RemoveFieldFrom" asp-route-id="@Model.Part.Name" asp-route-name="@Model.Name" itemprop="RemoveUrl UnsafeUrl">@T["Remove"]</a>
        </div>
        <div class="details">
            @{await Html.RenderTemplatesAsync(Model.Templates);}
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="FieldDefinition.Name" />
            <input type="hidden" asp-for="Index" />
        </div>
    </fieldset>