@model DisplayDeploymentPlanViewModel

<h1>@RenderTitleSegments(T["Deployment Plan"])</h1>

<nav class="admin-toolbar">
    <div class="nav navbar-nav">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @T["Add Step"]
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               @foreach (var type in Model.DeploymentStepTypes)
               {
                <a class="dropdown-item" asp-route-action="Create" asp-route-controller="Step" asp-route-id="@Model.DeploymentPlan.Id" asp-route-type="@type">@type</a>
               }
            </div>
        </div>
    </div>
</nav>

@using (Html.BeginForm())
{
    @if (Model.Items.Any())
    {
        <ul class="list-group">
            @foreach (var item in Model.Items)
            {
                <li class="list-group-item">
                    @Display(item)
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            @T["<strong>Nothing here!</strong> There are no steps on this plan for the moment."]
        </div>
    }
}
