@model DeploymentPlanIndexViewModel

<h1>@RenderTitleSegments(T["Deployment Plans"])</h1>

<nav class="admin-toolbar">
    <div class="nav navbar-nav">

        <a asp-route-action="Create" class="btn btn-primary" role="button">@T["Add Deployment Plan"]</a>

        <form asp-action="Index" method="get" class="form-inline pull-xs-right">
            <input id="search-box" asp-for="Options.Search" class="form-control" type="text" placeholder="@T["Search"]" autofocus="autofocus">
            <button type="submit" class="btn btn-secondary">@T["Search"]</button>
        </form>
    </div>
</nav>

<form asp-action="Index"> @* the form is nessecary to generate and antiforgery token for the delete action *@

    @if (Model.DeploymentPlans.Any())
    {
        <ul class="list-group">
            @foreach (var entry in Model.DeploymentPlans)
            {
                <li class="list-group-item">
                    <div class="properties">
                        <div class="related pull-xs-right">
                            <a asp-action="Edit" asp-route-id="@entry.DeploymentPlan.Id" class="btn btn-primary btn-sm">@T["Edit"]</a>
                            <a asp-action="Delete" asp-route-id="@entry.DeploymentPlan.Id" class="btn btn-danger btn-sm" itemprop="RemoveUrl UnsafeUrl">@T["Delete"]</a>
                        </div>
                    </div>
                    <a asp-action="Display" asp-route-id="@entry.DeploymentPlan.Id">@entry.DeploymentPlan.Name</a>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            @T["<strong>Nothing here!</strong> There are no deployment plans for the moment."]
        </div>
    }
</form>

@Display(Model.Pager)
