@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService;
@if (await AuthorizationService.AuthorizeAsync(User, OrchardCore.Media.Permissions.ManageMedia))
{
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><i class="fa fa-image"></i> @T["Media library"]</h5>
        <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@T["Create the folders hierarchy."]</li>
                <li class="list-group-item">@T["Organize your library."]</li>
                <li class="list-group-item">@T["Upload your media."]</li>
            </ul>
        </p>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Media"})">@T["Manage the media"]</a>
    </div>
</div>
}
