@model OrchardCore.Media.ViewModels.DisplayMediaFieldViewModel
@using OrchardCore.ContentManagement.Metadata.Models
@using System.Text.RegularExpressions
@{
    var paths = Model.Paths ?? Array.Empty<string>();
    var mediaTexts = Model.Field?.MediaTexts ?? Array.Empty<string>();
}
@if (paths.Any())
{
    <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">@Model.PartFieldDefinition.DisplayName():</label>
        <div class="col-sm-10">
            @for (int i = 0; i < paths.Count(); i++)
            {
                var path = paths[i];
                var url = Orchard.AssetUrl(path);
                var text = !string.IsNullOrEmpty(mediaTexts[i]) ? mediaTexts[i] : path;
                var displayImg = Regex.IsMatch(path, @"(\.(gif|jpe?g|tiff?|png|webp|bmp)$)");
                if (displayImg)
                {
                    <div class="card text-white">
                        <img class="card-img" src="@url" alt="@text">
                        <div class="card-img-overlay">
                            <h5 class="card-title">@text</h5>
                        </div>
                    </div>
                }
                else
                {
                    <a href="@url">@text</a>
                }
            }
        </div>
    </div>
}
