@model OrchardCore.Media.ViewModels.EditMediaFieldViewModel

@inject IOptions<MediaOptions> MediaOptions
@inject IDataLocalizer D
@inject IHostEnvironment HostEnvironment

@{
    var tusEnabled = Context.RequestServices.IsMediaTusEnabled();
    var settings = Model.PartFieldDefinition.GetSettings<MediaFieldSettings>();
    var fieldId = Html.IdFor(m => m);
    var jsLocalizations = Orchard.GetJSLocalizations("media-field");
    var mediaAppLocalizations = Orchard.GetJSLocalizations("media-app");
    var translationsJson = System.Text.Json.JsonSerializer.Serialize(jsLocalizations);
    var mediaAppTranslationsJson = System.Text.Json.JsonSerializer.Serialize(mediaAppLocalizations);
    string localizedFieldName = D[Model.PartFieldDefinition.DisplayName(), DataLocalizationContext.ContentField(Model.PartFieldDefinition.PartDefinition.Name)];
}

<style asp-name="media" at="Head"></style>
<style asp-name="media-field" at="Head"></style>

<div class="@Orchard.GetFieldWrapperClasses(Model.PartFieldDefinition)" id="@Html.IdFor(x => x.Paths)_FieldWrapper">
    <label asp-for="Paths" class="@Orchard.GetLabelClasses(inputRequired: settings.Required)">@localizedFieldName</label>
    <div class="@Orchard.GetEndClasses()">
        @if (!string.IsNullOrWhiteSpace(settings.Hint))
        {
            <div class="hint mt-lg-2">@settings.Hint</div>
        }

        <div id="@fieldId"
             class="media-field-app"
             data-media-field-type="attached"
             data-input-name="@Html.NameFor(m => m.Paths)"
             data-paths="@Model.Paths"
             data-multiple="@(settings.Multiple ? "true" : "false")"
             data-allow-media-text="@(settings.AllowMediaText ? "true" : "false")"
             data-allow-anchors="@(settings.AllowAnchors ? "true" : "false")"
             data-allowed-extensions="@string.Join(',', Model.AllowedExtensions)"
             data-media-item-url="@Url.Action("GetMediaItem", "Admin", new { area = "OrchardCore.Media" })"
             data-upload-action="@Url.Action("Upload", "Admin", new { area = "OrchardCore.Media" })"
             data-temp-upload-folder="@Model.TempUploadFolder"
             data-max-upload-chunk-size="@MediaOptions.Value.MaxUploadChunkSize"
             data-max-file-size="@MediaOptions.Value.MaxFileSize"
             data-debug-enabled="@(HostEnvironment.IsDevelopment() ? "true" : "false")"
             data-media-app-translations="@mediaAppTranslationsJson"
             data-base-path="@Url.Content("~/")"
             data-upload-files-url="@Url.Content("~/api/media/Upload")"
             data-tus-enabled="@(tusEnabled ? "true" : "false")"
             data-tus-endpoint-url="@Url.Content("~/api/media/tus")"
             data-tus-file-info-url="@Url.Content("~/api/media/TusFileInfo")"
             data-translations="@translationsJson">
        </div>

        <span asp-validation-for="Paths"></span>
    </div>
</div>

<script asp-name="media-field" at="Foot"></script>
