@model OrchardCore.Media.ViewModels.EditMediaFieldViewModel
@using System.Globalization
@using OrchardCore.Media.Settings
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.Mvc.Utilities
@using OrchardCore
@{
    var settings = Model.PartFieldDefinition.GetSettings<MediaFieldSettings>();
    var modalMediaId = "Modal" + Html.IdFor(m => m);
    var uniqueName = $"{Model.PartFieldDefinition.PartDefinition.Name}-{Model.PartFieldDefinition.Name}";
}
<script asp-src="~/OrchardCore.Media/Scripts/media.js" asp-name="media" at="Foot" depends-on="admin, vuejs, sortable, vuedraggable, jQuery-ui"></script>
<style asp-src="~/OrchardCore.Media/Styles/media.min.css" debug-src="~/OrchardCore.Media/Styles/media.css"></style>

<div class="@Orchard.GetWrapperCssClasses("field-wrapper", $"field-wrapper-{uniqueName.HtmlClassify()}")" id="@Html.IdFor(x => x.Paths)_FieldWrapper">
    <label asp-for="Paths" class="@Orchard.GetLabelCssClasses()">@Model.PartFieldDefinition.DisplayName()</label>
    <div class="@Orchard.GetEndCssClasses()" id="@Html.IdFor(m => m)" data-for="@Html.IdFor(m => m.Paths)">
        @if (!String.IsNullOrWhiteSpace(settings.Hint))
        {
            <div class="hint mt-lg-2">@settings.Hint</div>
        }

        <input asp-for="Paths" type="hidden" class="paths" :value="paths" data-init="@Model.Paths" />

        <div class="form-control-plaintext media-field-toolbar" v-cloak>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary btn-sm" :disabled="mediaItems.length < 1" v-on:click="smallThumbs = !smallThumbs">
                    <span v-show="!smallThumbs" title="@T[" Small Thumbs"]"><i class="fa-solid fa-compress-alt" aria-hidden="true"></i></span>
                    <span v-show="smallThumbs" title="@T[" Large Thumbs"]"><i class="fa-solid fa-expand-alt" aria-hidden="true"></i></span>
                </button>
                <a href="javascript:;" v-show="canAddMedia" v-on:click="showModal" class="btn btn-secondary btn-sm"><i class="fa-solid fa-plus" aria-hidden="true"></i></a>
                <a href="javascript:;" v-show="allowMediaText" v-on:click="showMediaTextModal" class="btn btn-secondary btn-sm" v-bind:class="{ disabled : !selectedMedia }"><i class="far fa-comment" aria-hidden="true"></i></a>
                <a href="javascript:;" v-show="allowAnchors" v-on:click="showAnchorModal" class="btn btn-secondary btn-sm" v-bind:class="{ disabled : !selectedMedia }"><i class="fa-solid fa-crosshairs" aria-hidden="true"></i></a>
                <a href="javascript:;" v-on:click="removeSelected" class="btn btn-secondary btn-sm" v-bind:class="{ disabled : !selectedMedia }"><i class="fa-solid fa-trash-alt" aria-hidden="true"></i></a>
            </div>
            <label class="selected-media-name">
                <code class="text-end" v-if="selectedMedia">@T["{{{{ selectedMedia.name }}}}{{{{ selectedMedia.mediaText === '' ? '' : ', ' + selectedMedia.mediaText }}}} ({{{{ isNaN(fileSize)? 0 : fileSize }}}} KB)"]</code>
            </label>
        </div>

        <media-field-thumbs-container :media-items="mediaItems" :thumb-size="thumbSize" :selected-media="selectedMedia" :id-prefix="idPrefix" :allow-anchors="allowAnchors"></media-field-thumbs-container>

        <partial name="Shared/MediaFieldEditMediaTextModal.cshtml" />
        <partial name="Shared/MediaFieldEditAnchorModal.cshtml" />

    </div>

    <div class="modal" id="@Html.IdFor(m => m)-ModalBody">
        <div class="modal-dialog modal-lg media-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@T["Select Media"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mediaFieldSelectButton">@T["OK"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@T["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>
    <partial name="Shared/MediaFieldEditLocalization.cshtml" />
</div>

<script at="Foot">
    initializeMediaApplication(false, '@Url.Action("MediaApplication", "Admin", new { area = "OrchardCore.Media", extensions = String.Join(',', Model.AllowedExtensions) })', '@Context.Request.PathBase.ToString()');

    initializeMediaField(
        document.getElementById('@Html.IdFor(m => m)'),
        document.getElementById('@Html.IdFor(m => m)-ModalBody'),
        '@Url.Action("GetMediaItem", "Admin", new { area = "OrchardCore.Media" })',
    @(settings.Multiple ? "true" : "false"),
    @(settings.AllowMediaText ? "true" : "false"),
    @(settings.AllowAnchors ? "true" : "false"));
</script>
