@model OrchardCore.Media.ViewModels.DisplayMediaFieldViewModel
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.Mvc.Utilities
@{
    var paths = Model.Paths ?? Array.Empty<string>();
    var mediaTexts = Model.Field?.MediaTexts ?? Array.Empty<string>();
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}
@if (paths.Length > 0)
{
    <div class="field field-type-mediafield field-name-@name">
        <span class="name">@Model.PartFieldDefinition.DisplayName()</span>
        @for (int i = 0; i < paths.Length; i++)
        {
            var path = paths[i];
            var url = Orchard.AssetUrl(path);

            if (Orchard.IsImageFile(path))
            {
                var alt = !string.IsNullOrEmpty(mediaTexts.ElementAtOrDefault(i)) ? mediaTexts[i] : string.Empty;
                <img src="@url" alt="@alt" />
            }
            else
            {
                var text = !string.IsNullOrEmpty(mediaTexts.ElementAtOrDefault(i)) ? mediaTexts[i] : path;
                <a href="@url">@text</a>
            }
        }
    </div>
}
