@using Microsoft.AspNetCore.Mvc.Localization
@using OrchardCore.DisplayManagement
@using OrchardCore.Indexing.Models
@using OrchardCore.Indexing.ViewModels

@model ListSourceModelEntryViewModel<IndexEntity, IndexEntityKey>

<zone Name="Title" Entry>
    <h1>@RenderTitleSegments(T["Indexes"])</h1>
</zone>

@* The form is necessary to generate an antiforgery token for the delete and toggle actions. *@
<form asp-action="Index" method="post" class="no-multisubmit">
    <input type="submit" name="submit.Filter" id="submitFilter" class="visually-hidden" />
    <input asp-for="Options.BulkAction" type="hidden" />
    <input type="submit" name="submit.BulkAction" class="visually-hidden" />

    <div class="card text-bg-theme mb-3 position-sticky action-bar">
        <div class="card-body">
            <div class="row gx-3">
                <div class="col">
                    <div class="has-search">
                        <i class="fa-solid fa-search form-control-feedback" aria-hidden="true"></i>
                        <input id="search-box" asp-for="Options.Search" class="form-control" placeholder="@T["Search"]" type="search" autofocus autocomplete="off" />
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-secondary create" role="button" data-bs-toggle="modal" data-bs-target="#modalAddIndex">@T["Add index"]</button>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group with-checkbox" id="rewrite-rules-sortable-list">
        @if (Model.Models.Count > 0)
        {
            int startIndex = 0;
            int endIndex = startIndex + Model.Models.Count - 1;

            <li class="list-group-item text-bg-theme ignore-elements">
                <div class="row gx-3">
                    <div class="col">
                        <div class="form-check my-1">
                            <input type="checkbox" class="form-check-input" id="select-all">
                            <label class="form-check-label" for="select-all" id="select-all-label" title="@T["Select All"]"></label>
                            <label id="items" for="select-all">
                                @T.Plural(Model.Models.Count, "1 item", "{0} items")
                                <span class="text-muted" title="@T["Items {0} to {1}", startIndex, endIndex]">
                                    @T.Plural(Model.Models.Count, " / {0} item in total", " / {0} items in total")
                                </span>
                            </label>
                            <label id="selected-items" class="text-muted" for="select-all"></label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="dropdown d-none" id="actions">
                            <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="bulk-action-menu-button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @T["Actions"]
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bulk-action-menu-button">
                                @foreach (var item in Model.Options.BulkActions)
                                {
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)" data-action="@item.Value" data-title="@T["Bulk Action"]" data-message="@T["Are you sure you want to {0} these items?", @item.Text.ToLower()]">@item.Text</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            @foreach (var entry in Model.Models)
            {
                <li class="list-group-item item d-flex justify-content-between align-items-center" data-filter-value="@entry.Model.DisplayText?.ToLowerInvariant()">
                    <div class="d-flex flex-row">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" value="@entry.Model.Id" name="itemIds" id="itemIds-@entry.Model.Id">
                            <label class="form-check-label" for="itemIds-@entry.Model.Id">&nbsp;</label>
                        </div>
                    </div>

                    <div class="flex-grow-1">
                        @await DisplayAsync(entry.Shape)
                    </div>
                </li>
            }
        }
        else
        {
            <li class="list-group-item list-group-item-info text-center ignore-elements">
                @T["<strong>Nothing here!</strong> There are no indexes at the moment."]
            </li>
        }
    </ul>

    <div id="list-alert" class="alert alert-info my-3 d-none text-center" role="alert">
        @T["Your search returned no results."]
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="modalAddIndex" tabindex="-1" role="dialog" aria-labelledby="available-rule-types-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="available-rule-types-title">@T["Available Sources"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (!Model.Sources.Any())
                {
                    <p class="p-3 mb-2 bg-warning text-white">@T["You need to enable a feature which provides an index source."]</p>
                }
                else
                {
                    <div class="row row-cols-1 row-cols-md-3 g-2">
                        @foreach (var source in Model.Sources)
                        {
                            IShape shape = await New.IndexEntity_Link(ProviderName: source.ProviderName, Type: source.Type, IndexEntityKey: source);
                            shape.Metadata.Alternates.Add($"IndexEntity_Link__{source.ProviderName}");
                            shape.Metadata.Alternates.Add($"IndexEntity_Link__{source.ProviderName}__{source.Type}");

                            @await DisplayAsync(shape)
                        }
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@T["Cancel"]</button>
            </div>
        </div>
    </div>
</div>

<script asp-src="~/OrchardCore.Indexing/Scripts/admin-ui.min.js" debug-src="~/OrchardCore.Indexing/Scripts/admin-ui.min.js" asp-name="generic-admin-ui" at="Foot"></script>

<script at="Foot" depends-on="generic-admin-ui">
    document.addEventListener('DOMContentLoaded', () => {
        AdminIndexList.initialize('@T["selected"]');
    });
</script>
