@model AdminNodeListViewModel
@inject OrchardCore.DisplayManagement.IDisplayManager<MenuItem> MenuItemDisplayManager
@inject OrchardCore.DisplayManagement.ModelBinding.IUpdateModelAccessor ModelUpdaterAccessor

@{
    var index = 0;
}

<script asp-src="/OrchardCore.AdminTrees/Scripts/admin-trees.js" at="Foot" depends-on="admin"></script>
<style asp-src="/OrchardCore.AdminTrees/Styles/admin-trees.css" debug-src="/OrchardCore.AdminTrees/Styles/admin-trees.css"></style>

<div asp-validation-summary="All"></div>

<h1>@RenderTitleSegments(T["Edit Nodes for '{0}'", Model.AdminTree.Name])</h1>

<nav class="admin-toolbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <!-- Button trigger modal -->
            <a asp-route-action="Create" class="btn btn-primary" role="button" data-toggle="modal" data-target="#modalTreeNodes">
                @T["Add Node"]
            </a>
        </li>
    </ul>
</nav>

<form id="presetForm" asp-action="List">
    <div class="form-group">
        @if (Model.AdminTree.MenuItems.Any())
        {
            var updater = ModelUpdaterAccessor.ModelUpdater;

            <ol id="menu" class="list-group" data-treenode-id="content-preset">
                @foreach (var menuItem in Model.AdminTree.MenuItems)
                {
                    if (menuItem != null)
                    {
                        dynamic adminNodeShape = await MenuItemDisplayManager.BuildDisplayAsync(menuItem, updater, "TreeSummary");
                        adminNodeShape.AdminTreeId = Model.AdminTree.Id;
                        adminNodeShape.MenuItem = menuItem;
                        adminNodeShape.Index = index++;

                        @await DisplayAsync(adminNodeShape)
                    }
                }
            </ol>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                @T["<strong>Nothing here!</strong> There are no nodes on this tree for the moment."]
            </div>
        }
    </div>

    <div class="form-group">
        <a class="btn btn-secondary" asp-route-controller="tree" asp-route-action="List">@T["Back"]</a>
    </div>

</form>

<!-- Modal -->
<div class="modal fade" id="modalTreeNodes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@T["Available Tree Nodes"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-columns">
                    @foreach (var thumbnail in Model.Thumbnails)
                    {
                        thumbnail.Value.ContentTreePreset = Model.AdminTree;
                        thumbnail.Value.Type = thumbnail.Key;
                        @await DisplayAsync(thumbnail.Value)
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@T["Cancel"]</button>
            </div>
        </div>
    </div>
</div>


<div id="move-error-message" class="d-none" data-message="@T["There was an error when moving the tree node."]"></div>

<script at="Foot">
    function moveNode(AdminTreeId, nodeToMoveId, destinationNodeId, position) {
        var url = "@Url.Action("MoveNode", "Node", new { area = "OrchardCore.AdminTrees"})";
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                treeId: AdminTreeId,
                nodeToMoveId: nodeToMoveId,
                destinationNodeId: destinationNodeId,
                position: position
            },
            success: function () {
                location.reload(true);
            },
            error: function (error) {                
                alert($('#move-error-message').data("message"));
            }
        });
    }

    $(function () {
        $('#menu')
            .nestedSortable({
                handle: 'div.menu-item-title',
                items: 'li.menu-item',
                toleranceElement: '> div.menu-item-title',
                relocate: function (event, helper) {
                    // get var required by rest api
                    var AdminTreeId = '@Model.AdminTree.Id';
                    var nodeToMoveId = helper.item.data('treenode-id');
                    var destinationNodeId = helper.item.parent().closest('[data-treenode-id]').data('treenode-id'); // get the id of the new parent
                    var position = helper.item.index();

                    // make request to rest api
                    moveNode(AdminTreeId, nodeToMoveId, destinationNodeId, position);
                }
            });
    });


</script>
