@using OrchardCore
@using OrchardCore.Forms.ViewModels
@model FormInputElementPartEditViewModel

<div class="@Orchard.GetWrapperCssClasses()">
    <label asp-for="Name" class="@Orchard.GetLabelCssClasses()">@T["Name"]</label>
    <div class="@Orchard.GetEndCssClasses()">
        <input asp-for="Name" type="text" class="form-control content-preview-text content-caption-text" />
        <span class="hint">@T["The name to render on this form element."]</span>
    </div>
</div>
