@using OrchardCore.Forms.Models
@model ShapeViewModel<SelectPart>
@{
    var formElementPart = Model.Value.ContentItem.As<FormElementPart>();
    var formInputElementPart = Model.Value.ContentItem.As<FormInputElementPart>();
    var elementId = formElementPart.Id;
    var fieldName = formInputElementPart.Name;
    var fieldId = !string.IsNullOrEmpty(elementId) ? elementId : !string.IsNullOrEmpty(fieldName) ? Html.GenerateIdFromName(fieldName) : default(string);
    var fieldValue = Model.Value.DefaultValue;
    var fieldClass = "form-select";

    if (ViewData.ModelState.TryGetValue(fieldName, out var fieldEntry))
    {
        fieldValue = fieldEntry.AttemptedValue;
        if (fieldEntry.Errors.Count > 0)
        {
            fieldClass = "form-control input-validation-error";
        }
    }
}
<select id="@fieldId" name="@fieldName" class="@fieldClass">
    @foreach(var option in Model.Value.Options)
    {
        var optionValue = !string.IsNullOrWhiteSpace(option.Value) ? option.Value : option.Text;
        var isOptionSelected = optionValue == fieldValue;
        <option value="@optionValue" selected="@isOptionSelected">@option.Text</option>
    }
</select>
