@using OrchardCore
@using OrchardCore.Forms.ViewModels
@model TextAreaPartEditViewModel

<div class="ocat-wrapper">
    <label asp-for="Placeholder" class="ocat-label">@T["Placeholder Text"]</label>
    <div class="ocat-end">
        <input asp-for="Placeholder" type="text" class="form-control content-preview-text" />
        <span class="hint">@T["The text to display when the textarea has no value."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="DefaultValue" class="ocat-label">@T["Default Value"]</label>
    <div class="ocat-end">
        <input asp-for="DefaultValue" type="text" class="form-control content-preview-text" />
        <span class="hint">@T["The default value for this textarea."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Rows" class="ocat-label">@T["Rows"]</label>
    <div class="ocat-end">
        <input asp-for="Rows" type="number" class="form-control content-preview-text" />
        <span class="hint">@T["The number of rows to use for this textarea."]</span>
    </div>
</div>
