@using OrchardCore.ReCaptcha.Forms
@model OrchardCore.ReCaptcha.Forms.ReCaptchaPartViewModel
@{
    if (Model.SettingsAreConfigured)
    {
        <div class="alert alert-success">
            <a asp-controller="Admin" asp-area="OrchardCore.Settings" asp-action="Index" asp-route-groupId="@OrchardCore.ReCaptcha.Drivers.ReCaptchaSettingsDisplayDriver.GroupId" class=alert-link target=_blank>@T["ReCaptcha settings"]</a> @T["are configured."]
        </div>
    }
    else
    {
        <div class="alert alert-warning">
            <a asp-controller="Admin" asp-area="OrchardCore.Settings" asp-action="Index" asp-route-groupId="@OrchardCore.ReCaptcha.Drivers.ReCaptchaSettingsDisplayDriver.GroupId" class=alert-link target=_blank>@T["ReCaptcha settings"]</a> @T["are not configured. The captcha will not be displayed."]
        </div>
    }
}