@model OrchardCore.Email.ViewModels.SmtpSettingsViewModel

<h1>@RenderTitleSegments(T["Settings"])</h1>

<form asp-action="Index" asp-controller="Admin" asp-area="OrchardCore.Email" method="post">
    @Html.ValidationSummary()

    <div class="form-group">
        <fieldset class="form-group" asp-validation-class-for="To">
            <label asp-for="To">@T["To"] <span asp-validation-for="To"></span></label>
            <input asp-for="To" class="form-control" type="text" />
        </fieldset>
    </div>
    <div class="form-group">
        <fieldset class="form-group" asp-validation-class-for="Bcc">
            <label asp-for="Bcc">@T["Bcc"] <span asp-validation-for="Bcc"></span></label>
            <input asp-for="Bcc" class="form-control" type="text" />
        </fieldset>
    </div>
    <div class="form-group">
        <fieldset class="form-group" asp-validation-class-for="Cc">
            <label asp-for="Cc">@T["Cc"] <span asp-validation-for="Cc"></span></label>
            <input asp-for="Cc" class="form-control" type="text" />
        </fieldset>
    </div>
    <div class="form-group">
        <fieldset class="form-group" asp-validation-class-for="ReplyTo">
            <label asp-for="ReplyTo">@T["Reply To"] <span asp-validation-for="ReplyTo"></span></label>
            <input asp-for="ReplyTo" class="form-control" type="text" />
        </fieldset>
    </div>
    <div class="form-group">
        <fieldset class="form-group" asp-validation-class-for="Subject">
            <label asp-for="Subject">@T["Subject"] <span asp-validation-for="Subject"></span></label>
            <input asp-for="Subject" class="form-control" type="text" />
        </fieldset>
    </div>
    <div class="form-group">
        <fieldset class="form-group" asp-validation-class-for="Body">
            <label asp-for="Body">@T["Body"] <span asp-validation-for="Body"></span></label>
            <textarea asp-for="Body" class="form-control" rows="5"></textarea>
        </fieldset>
    </div>
    <div class="form-group">
        <button type="submit" id="emailtestsend" class="button grey">@T["Send"]</button>
    </div>

</form>