@model OrchardCore.Email.ViewModels.EmailTestViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Settings"])</h1></zone>

@if (Model.Providers == null || Model.Providers.Count == 0)
{
    <div class="alert alert-danger" role="alert">
        @T["No email providers are currently enabled. Please enable at least one email provider feature."]
    </div>

    return;
}

<form method="post" class="no-multisubmit">
    @Html.ValidationSummary()

    <div class="@Orchard.GetWrapperClasses()">
        <label asp-for="Provider" class="@Orchard.GetLabelClasses()">@T["Provider"]</label>
        <div class="@Orchard.GetEndClasses()">
            <select class="form-select" asp-for="Provider" asp-items="Model.Providers">
                <option value="">@T["Select a provider"]</option>
            </select>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="To">
        <label asp-for="To" class="@Orchard.GetLabelClasses()">@T["To"]</label>
        <div class="@Orchard.GetEndClasses()">
            <input asp-for="To" class="form-control" type="text" />
            <span asp-validation-for="To"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="From">
        <label asp-for="From" class="@Orchard.GetLabelClasses()">@T["Sender"]</label>
        <div class="@Orchard.GetEndClasses()">
            <input asp-for="From" class="form-control" type="text" />
            <span asp-validation-for="From"></span>
            <span class="hint">@T["The sender is optional, it is useful when the email author is different than the email submitter."]</span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Cc">
        <label asp-for="Cc" class="@Orchard.GetLabelClasses()">@T["Cc"]</label>
        <div class="@Orchard.GetEndClasses()">
            <input asp-for="Cc" class="form-control" type="text" />
            <span asp-validation-for="Cc"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Bcc">
        <label asp-for="Bcc" class="@Orchard.GetLabelClasses()">@T["Bcc"]</label>
        <div class="@Orchard.GetEndClasses()">
            <input asp-for="Bcc" class="form-control" type="text" />
            <span asp-validation-for="Bcc"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="ReplyTo">
        <label asp-for="ReplyTo" class="@Orchard.GetLabelClasses()">@T["Reply To"]</label>
        <div class="@Orchard.GetEndClasses()">
            <input asp-for="ReplyTo" class="form-control" type="text" />
            <span asp-validation-for="ReplyTo"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Subject">
        <label asp-for="Subject" class="@Orchard.GetLabelClasses()">@T["Subject"]</label>
        <div class="@Orchard.GetEndClasses()">
            <input asp-for="Subject" class="form-control" type="text" required />
            <span asp-validation-for="Subject"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Body">
        <label asp-for="Body" class="@Orchard.GetLabelClasses()">@T["Body"]</label>
        <div class="@Orchard.GetEndClasses()">
            <textarea asp-for="Body" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Body"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()">
        <div class="@Orchard.GetEndClasses(true)">
            <button type="submit" class="btn btn-primary">@T["Send"]</button>
        </div>
    </div>
</form>
