@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<AzureAISearchIndexSettings>

<a asp-action="Edit"
   asp-route-id="@Model.Value.Id"
   class="btn btn-primary btn-sm">@T["Edit"]</a>

<a asp-action="Reset"
   asp-route-id="@Model.Value.Id"
   class="btn btn-primary btn-sm"
   data-title="@T["Reset Index"]"
   data-message="@T["This will restart the indexing of all content items. Continue?"]"
   data-ok-text="@T["Yes"]"
   data-cancel-text="@T["No"]"
   data-ok-class="btn-primary"
   data-url-af="UnsafeUrl">@T["Reset"]</a>

<a asp-action="Rebuild"
   asp-route-id="@Model.Value.Id"
   class="btn btn-warning btn-sm"
   data-title="@T["Rebuild Index"]"
   data-message="@T["Your index will be rebuilt, which might alter some services during the process. Continue?"]"
   data-ok-text="@T["Yes"]"
   data-cancel-text="@T["No"]"
   data-url-af="UnsafeUrl">@T["Rebuild"]</a>

<a asp-action="Delete"
   asp-route-id="@Model.Value.Id"
   class="btn btn-danger btn-sm"
   data-url-af="RemoveUrl UnsafeUrl">@T["Delete"]</a>
