<zone Name="Title"><h1>@T["Dashboard"]</h1></zone>

<div class="jumbotron">
    <h2 class="display-4">@T["Welcome to your site"]</h2>
    <h4 class="d-none">@T["Welcome to Orchard"]</h4>
    <p class="lead">@T["Feel free to browse the menu and discover all its possibilities."]</p>
</div>

<h3 class="d-none">@T["Useful links"] </h3>
<div class="card-columns">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-user-edit"></i> @T["My content items"]</h5>
            <p class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="@(Url.Action("List", "Admin", new { area = "OrchardCore.Contents"}) + "?Options.ContentsStatus=Latest")">@T["List the latest content items."]</a></li>
                    <li class="list-group-item"><a href="@(Url.Action("List", "Admin", new { area = "OrchardCore.Contents"}) + "?Options.ContentsStatus=Draft")">@T["List the draft content items."]</a></li>
                    <li class="list-group-item"><a href="@(Url.Action("List", "Admin", new { area = "OrchardCore.Contents"}) + "?Options.ContentsStatus=Published&Options.OrderBy=Published")">@T["List the recently published items."]</a></li>
                </ul>
            </p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="@(Url.Action("List", "Admin", new { area = "OrchardCore.Contents" }) + "?Options.ContentsStatus=Owner")">@T["Manage my content items"]</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-edit"></i> @T["Content items"]</h5>
            <p class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@T["Add and edit content items."]</li>
                    <li class="list-group-item">@T["Apply actions on multiple items."]</li>
                    <li class="list-group-item">@T["Search and filter on different criteria."]</li>
                </ul>
            </p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="@Url.Action("List", "Admin", new { area = "OrchardCore.Contents"})">@T["Manage all content items"]</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-image"></i> @T["Media library"]</h5>
            <p class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@T["Create the folders hierarchy."]</li>
                    <li class="list-group-item">@T["Organize your library."]</li>
                    <li class="list-group-item">@T["Upload your media."]</li>
                </ul>
            </p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Media"})">@T["Manage the media"]</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-list"></i> @T["Widgets"]</h5>
            <p class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@T["Define layers and zones."]</li>
                    <li class="list-group-item">@T["Create and edit widgets."]</li>
                    <li class="list-group-item">@T["Place widgets in zones."]</li>
                </ul>
            </p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Layers"})">@T["Manage the widgets"]</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="fas fa-users"></i> @T["Users"]</h5>
            <p class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@T["List all the users."]</li>
                    <li class="list-group-item">@T["Create and edit user profiles."]</li>
                    <li class="list-group-item">@T["Manage the users roles."]</li>
                </ul>
            </p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Users"})">@T["Manage the users"]</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="fa fa-cogs"></i> @T["Manage your theme"]</h5>
            <p class="card-text">
                <div class="list-group list-group-flush">
                    <a class="list-group-item" href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Templates", groupId = "localization"})">@T["Customize the Templates."]</a>
                    <a class="list-group-item" href="@Url.Action("Index", "Admin", new { area = "OrchardCore.ContentTypes", groupId = "localization"})">@T["Define the Content types."]</a>
                    <a class="list-group-item" href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Templates", groupId = "localization"})">@T["Manage the Shortcodes."]</a>
                </div>
            </p>
        </div>
        <div class="card-footer"><a class="btn btn-primary" href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Themes", groupId = "admin"})">@T["Manage the themes"]</a></div>
    </div>
    <div class="card d-none">
        <div class="card-body">
            <h5 class="card-title">@T["Manage your settings"]</h5>
            <p class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Settings", groupId = "localization"})">@T["Manage the cultures"]</a></li>
                    <li class="list-group-item"><a href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Settings", groupId = "email"})">@T["Manage the email settings"]</a></li>
                    <li class="list-group-item"><a href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Settings", groupId = "admin"})">@T["Manage the admin settings"]</a></li>
                </ul>
            </p>
        </div>
        <div class="card-footer"><a class="btn btn-primary" href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Settings", groupId = "admin"})"><i class="fa fa-cogs"></i> @T["Manage the settings"]</a></div>
    </div>
</div>
