@model OrchardCore.Admin.ViewModels.AdminSettingsViewModel

<div class="form-group" asp-validation-class-for="DisplayMenuFilter">
    <div class="custom-control custom-checkbox">
        <input asp-for="DisplayMenuFilter" class="custom-control-input" type="checkbox" />
        <label asp-for="DisplayMenuFilter" class="custom-control-label">@T["Enable Admin Menu filter"]</label>
        <span class="hint">— @T["Whether a quick search to filter the admin menu is displayed."]</span>
    </div>    
</div>

<div class="form-group" asp-validation-class-for="BrandImageUrl">
    <label asp-for="BrandImageUrl">@T["Brand image url"]</label>
    <input asp-for="BrandImageUrl" class="form-control" />
    <span asp-validation-for="BrandImageUrl"></span>
    <span class="hint">@T["The url of the upper left image in the admin."]</span>
</div>

<div class="form-group" asp-validation-class-for="FaviconUrl">
    <label asp-for="FaviconUrl">@T["Favicon url"]</label>
    <input asp-for="FaviconUrl" class="form-control" />
    <span asp-validation-for="FaviconUrl"></span>
    <span class="hint">@T["The url of the favicon in the admin."]</span>
</div>

<div class="form-group" asp-validation-class-for="Head">
    <label asp-for="Head">@T["Head"]</label>
    <textarea asp-for="Head" class="form-control"></textarea>
    <span asp-validation-for="Head"></span>
    <span class="hint">@T["HTML code used in the head of the admin."]</span>
</div>

<div class="form-group" asp-validation-class-for="Foot">
    <label asp-for="Foot">@T["Foot"]</label>
    <textarea asp-for="Foot" class="form-control"></textarea>
    <span asp-validation-for="Foot"></span>
    <span class="hint">@T["HTML code used in the footer of the admin."]</span>
</div>

<script asp-name="codemirror" depends-on="admin" at="Foot"></script>
<script asp-name="codemirror-addon-display-autorefresh" at="Foot"></script>
<script asp-name="codemirror-mode-css" at="Foot"></script>
<script asp-name="codemirror-mode-htmlmixed" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<script asp-name="codemirror-mode-xml" at="Foot"></script>
<script at="Foot">
    $(function () {
        var optionsTextAreaHead = document.getElementById('@Html.IdFor(x => x.Head)');
        var editor = CodeMirror.fromTextArea(optionsTextAreaHead, {
            autoRefresh: true,
            lineNumbers: false,
            lineWrapping: true,
            matchBrackets: true,
            mode: { name: "htmlmixed" }
        });
        var optionsTextAreaFoot = document.getElementById('@Html.IdFor(x => x.Foot)');
        var editor = CodeMirror.fromTextArea(optionsTextAreaFoot, {
            autoRefresh: true,
            lineNumbers: false,
            lineWrapping: true,
            matchBrackets: true,
            mode: { name: "htmlmixed" }
        });
    });
</script>
