@using OrchardCore.Deployment
@inject IDeploymentPlanService DeploymentPlanService
@{
    var deploymentPlans = await DeploymentPlanService.GetAllDeploymentPlansAsync();
}
<zone name="Footer">
    <div class="modal fade" id="modalAddToDeploymentPlanContentsBulkActionsDeploymentPlan" tabindex="-1" role="dialog" aria-labelledby="deployment-plans-title" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deployment-plans-title">@T["Available Deployment Plans"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-md-2 g-2">
                        @foreach (var deploymentPlan in deploymentPlans)
                        {
                            var url = Url.Action("AddContentItems", "AddToDeploymentPlan", new { area = "OrchardCore.Contents", deploymentPlanId = deploymentPlan.Id, returnUrl = FullRequestPath });

                            <div class="col">
                                <div class="card h-100 mb-3">
                                    <div class="card-body">
                                        <h4 class="card-title">@deploymentPlan.Name</h4>
                                    </div>
                                    <div class="card-footer text-muted text-sm-end">
                                        <button type="button" class="add-to-deployment-plan-bulk-actions text-white btn btn-primary btn-sm" data-bs-dismiss="modal" data-target-url="@url">@T["Select"]</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@T["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>
</zone>

<script asp-src="~/OrchardCore.Contents/Scripts/deployment-modals/add-to-deployment-plan-bulk.min.js" debug-src="~/OrchardCore.Contents/Scripts/deployment-modals/add-to-deployment-plan-bulk.js" at="Foot" type="module"></script>
