@model ContentForEachTaskViewModel

<div class="mb-3" asp-validation-class-for="ContentType">
    <label asp-for="ContentType">@T["Content Type"]</label>
    <select asp-for="ContentType" asp-items="@Model.AvailableContentTypes" class="form-select" asp-validation-class-for="ContentType"></select>
    <span asp-validation-for="ContentType"></span>
    <span class="hint">@T["Select the type of content to loop."]</span>
</div>

<div class="mb-3" asp-validation-class-for="Take">
    <label asp-for="Take">@T["Take"]</label>
    <input type="text" asp-for="Take" class="form-control code" />
    <span asp-validation-for="Take"></span>
    <span class="hint">@T["How many to take"]</span>
</div>

<div class="mb-3" asp-validation-class-for="Published">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="Published" />
        <label class="form-check-label" asp-for="Published">@T["Published"]</label>
        <span class="hint dashed">@T["Check if you only want to return published items. Leave unchecked to return latest."]</span>
    </div>
</div>
