@using OrchardCore.Sitemaps.Models
@model ContentTypesSitemapNodeViewModel
@inject OrchardCore.Settings.ISiteService SiteService
@{
    var site = await SiteService.GetSiteSettingsAsync();
}
<style asp-src="~/OrchardCore.Contents/Styles/Contents.min.css" debug-src="~/OrchardCore.Contents/Styles/Contents.css"></style>

<h5>@T["Content Types"]</h5>

<div class="row">
    <div class="col col-xl-9">
        @*General fields*@
        <fieldset class="form-group" asp-validation-class-for="Description">
            <label asp-for="Description">@T["Description"]</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description"></span>
            <span class="hint">@T["Description of the sitemap node"]</span>
        </fieldset>
        <fieldset>
            <div class="form-group" asp-validation-class-for="Path">
                <label asp-for="Path">@T["Path"]</label>
                <div class="input-group">
                    @{
                        String prependPath = site.BaseUrl + Model.SitemapNode.SitemapSet.RootPath;
                    }
                    @if (!String.IsNullOrWhiteSpace(prependPath))
                    {
                        <div class="input-group-prepend">
                            <div class="input-group-text">@prependPath</div>
                        </div>
                    }
                    <input asp-for="Path" class="form-control" />
                    <span asp-validation-for="Path"></span>
                </div>
            </div>
        </fieldset>

        @*Panel Switcher*@
        <div class="form-group custom-control custom-checkbox">
            <input asp-for="IndexAll" class="custom-control-input" id="ContentTypesSitemapNode_IndexAll" />
            <label asp-for="IndexAll" class="custom-control-label">@T["Index All Content Types"]</label>
        </div>

        @*Index All Panel*@
        <div id="index-all-card" class="card mb-4 @(Model.IndexAll ? "" : "collapse")">
            <div class="card-header">
                @T["Index All Content Types"]
            </div>
            <div class="card-body">
                <div class="form-group" asp-validation-class-for="ChangeFrequency">
                    <label asp-for="ChangeFrequency">@T["Change Frequency"] </label>
                    <select asp-for="ChangeFrequency" class="form-control w-25" asp-items="Html.GetEnumSelectList<ChangeFrequency>()"></select>
                    <span class="hint">@T["The default frequency these content types are likely to change."]</span>
                </div>
                <div class="form-group" asp-validation-class-for="Priority">
                    <label asp-for="Priority">@T["Priority"] </label>
                    <select asp-for="Priority" class="form-control w-25">
                        <option value="0.0">0.0</option>
                        <option value="0.1">0.1</option>
                        <option value="0.2">0.2</option>
                        <option value="0.3">0.3</option>
                        <option value="0.4">0.4</option>
                        <option value="0.5">0.5</option>
                        <option value="0.6">0.6</option>
                        <option value="0.7">0.7</option>
                        <option value="0.8">0.8</option>
                        <option value="0.9">0.9</option>
                        <option value="1.0">1.0</option>
                    </select>
                    <span class="hint">@T["The default priority of these content types relative to other content on your site."]</span>
                </div>
            </div>
        </div>

        @*Index Selected Panel*@
        <div id="index-selected-card" class="card mb-4 @(Model.IndexAll ? "collapse" : "")">
            <div class="card-header">
                @T["Select Content Types"]
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @for (int i = 0; i < Model.ContentTypes.Count(); i++)
                    {
                        var name = Model.ContentTypes[i].ContentTypeName;
                        var checkd = Model.ContentTypes[i].IsChecked;
                        var notChecked = !checkd;
                        var takeAll = Model.ContentTypes[i].TakeAll;

                        <li class="list-group-item d-flex row @(checkd ? "" : "disabled")">
                            <div class="col-12 col-md-3">
                                <input type="hidden" name="@Html.NameFor(m => m.ContentTypes[i].ContentTypeName)"
                                       value="@Model.ContentTypes[i].ContentTypeName" />
                                <div class="form-group custom-control custom-checkbox">
                                    <input asp-for="ContentTypes[i].IsChecked" class="custom-control-input content-type-checkbox" />
                                    <label asp-for="ContentTypes[i].IsChecked" class="custom-control-label">@name</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group" asp-validation-class-for="ChangeFrequency">
                                    <label asp-for="ContentTypes[i].ChangeFrequency">@T["Change Frequency"] </label>
                                    <select asp-for="ContentTypes[i].ChangeFrequency" class="form-control" asp-items="Html.GetEnumSelectList<ChangeFrequency>()" disabled="@notChecked"></select>
                                    <span class="hint">@T["The default frequency these content types are likely to change."]</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group" asp-validation-class-for="Priority">
                                    <label asp-for="ContentTypes[i].Priority">@T["Priority"] </label>
                                    <select asp-for="ContentTypes[i].Priority" class="form-control" disabled="@notChecked">
                                        <option value="0.0">0.0</option>
                                        <option value="0.1">0.1</option>
                                        <option value="0.2">0.2</option>
                                        <option value="0.3">0.3</option>
                                        <option value="0.4">0.4</option>
                                        <option value="0.5">0.5</option>
                                        <option value="0.6">0.6</option>
                                        <option value="0.7">0.7</option>
                                        <option value="0.8">0.8</option>
                                        <option value="0.9">0.9</option>
                                        <option value="1.0">1.0</option>
                                    </select>
                                    <span class="hint">@T["The default priority of these content types relative to other content on your site."]</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="d-flex flex-column justify-content-center content-types-take-container">
                                    <div class="form-group custom-control custom-checkbox d-flex mb-2 justify-content-center">
                                        <label asp-for="ContentTypes[i].TakeAll" class="custom-control-label">@T["Include all"]</label>
                                        <input asp-for="ContentTypes[i].TakeAll" class="custom-control-input content-types-take-all-checkbox" disabled="@notChecked" />
                                    </div>
                                    <div class="form-group form-inline" style="@(takeAll ? "display: none" : "")">
                                        <label asp-for="ContentTypes[i].Skip" class="form-label pr-3">@T["Skip"]</label>
                                        <input asp-for="ContentTypes[i].Skip" class="form-control" disabled="@notChecked" />
                                    </div>
                                    <div class="form-group form-inline" style="@(takeAll ? "display: none" : "")">
                                        <label asp-for="ContentTypes[i].Take" class="form-label pr-3">@T["Take"]</label>
                                        <input asp-for="ContentTypes[i].Take" class="form-control" disabled="@notChecked" />
                                    </div>
                                    <span class="hint">@T["Adjust quantity of content items in sitemap."]</span>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <span class="hint">@T["The content types to add to the sitemap."]</span>
            </div>
        </div>
    </div>
</div>

<script at="Foot" depends-on="jquery">
    $(function () {
        switchContentTypesCheckBoxes();

        $('#ContentTypesSitemapNode_IndexAll').change(function () {
            switchContentTypesCheckBoxes();
        });

        function switchContentTypesCheckBoxes() {
            var indexAll = $('#ContentTypesSitemapNode_IndexAll').prop('checked');

            if (indexAll) {
                $('#index-all-card').show();
                $('#index-selected-card').hide();
            } else {
                $('#index-all-card').hide();
                $('#index-selected-card').show();
            }
        }

        $('.content-type-checkbox').on('click', function (e) {
            var listItem = $(e.target).closest('.list-group-item');

            var selected = $(e.target).prop('checked');
            selected ? listItem.removeClass('disabled') : listItem.addClass('disabled');
            $(listItem).find('select, input:not(.content-type-checkbox)').each(function () {
                selected ? $(this).prop('disabled', false) : $(this).prop('disabled', 'disabled');
            });
        });

        $('.content-types-take-all-checkbox').change(function (e) {
            var checked = $(e.target).prop('checked');
            $(e.target).closest('.content-types-take-container').find('input[type="number"]').each(function () {
                var formGroup = $(this).closest('.form-group');
                checked ? formGroup.hide() : formGroup.show();
            });
        });
    });
</script>

