@model ShapeViewModel<ContentTypesSitemapNode>
@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager
@{
    var allContentTypes = ContentDefinitionManager.ListTypeDefinitions();

    var selectedContentTypes = Model.Value.ContentTypes ?? new ContentTypeSitemapEntry[] { };

    var selectedDisplayNames = allContentTypes
        .Where(ctd => selectedContentTypes.Any(sct => sct.ContentTypeName == ctd.Name))
        .Select(x => x.DisplayName)
        .ToList();
}

<div class="@(Model.Value.Enabled ? " " : " disabled")">
    <span>@Model.Value.Description</span>
    <code>@Model.Value.Path</code>

    @if (selectedDisplayNames.Any())
    {
        foreach (var displayName in selectedDisplayNames)
        {
            <span class="badge badge-info">@displayName</span>
        }
    }
    else
    {
        <span class="badge badge-warning">@T["Nothing here!"]</span>
    }
    <span class="text-muted">- @T["Sitemap Content Types"]</span>
</div>
