@model ShapeViewModel<ContentOptionsViewModel>
@{
    var term = Model.Value.FilterResult.FirstOrDefault(x => x.TermName == "type");
}

<div class="@Orchard.GetWrapperClasses()">
    <h4 class="card-title @Orchard.GetLabelClasses()">@T["Content Type"]</h4>
    <div class="@Orchard.GetEndClasses()">
        <pre>@(term?.ToString() ?? "type:...")</pre>
    </div>
</div>
<p>@T["Filters on a specified content type."]</p>
<div class="d-block text-end">
    <span>
        <i class="fa-solid fa-sm fa-minus text-primary" aria-hidden="true"></i>
    </span>
</div>
