@model ShapeViewModel<ContentTypesSitemap>
@inject IEnumerable<OrchardCore.Sitemaps.Services.IRouteableContentTypeDefinitionProvider> RoutableContentDefinitionProviders
@{
    var allRoutableContentTypes = RoutableContentDefinitionProviders
        .SelectMany(rctd => rctd.ListRoutableTypeDefinitions());

    var selectedContentTypes = Model.Value.ContentTypes ?? new ContentTypeSitemapEntry[] { };

    var selectedDisplayNames = allRoutableContentTypes
        .Where(ctd => selectedContentTypes.Any(sct => sct.ContentTypeName == ctd.Name))
        .Select(x => x.DisplayName);
}

<div>
    <span>@Model.Value.Name</span>
    <code>@Model.Value.Path</code>

    @if (Model.Value.IndexAll)
    {
        <span class="badge badge-info">@T["All"]</span>
    }
    else if (selectedDisplayNames.Any())
    {
        foreach (var displayName in selectedDisplayNames)
        {
            <span class="badge badge-info">@displayName</span>
        }
    }
    else
    {
        <span class="badge badge-warning">@T["Nothing here!"]</span>
    }
    <span class="text-muted">- @T["Sitemap Content Types"]</span>
</div>
