@model ShapeViewModel<ContentTypesSitemapNode>
@using OrchardCore.ContentManagement.Metadata.Models

@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager
@inject OrchardCore.Settings.ISiteService SiteService
@{
    var allContentTypes = ContentDefinitionManager.ListTypeDefinitions();

    var selectedContentTypes = Model.Value.ContentTypes ?? new ContentTypeSitemapEntry[] { };

    var selectedDisplayNames = allContentTypes
        .Where(x => isSelected(x, selectedContentTypes))
        .Select(x => x.DisplayName)
        .ToList();

    bool isSelected(ContentTypeDefinition ctd, ContentTypeSitemapEntry[] selectedList)
    {
        return selectedList.Any(selected => String.Equals(ctd.Name, selected.ContentTypeId, StringComparison.OrdinalIgnoreCase));
    }
    var site = await SiteService.GetSiteSettingsAsync();
}

<div class="@(Model.Value.Enabled ? "" : "disabled")">
    <span>@Model.Value.Description</span>
    @{ 
        var path = Model.Value.SitemapSet.RootPath + Model.Value.Path;
    }
    <code>@path</code>
    @if (Model.Value.IndexAll)
    {
        <span class="badge badge-info">@T["Index All Content Types"]</span>
    }
    else
    {
        @if (selectedDisplayNames.Count > 0)
        {
            foreach (var displayName in selectedDisplayNames)
            {
                <span class="badge badge-info">@displayName</span>
            }
        }
        else
        {
            <span class="badge badge-warning">@T["Nothing here!"]</span>
        }
    }
    <span class="text-muted">- @T["Sitemap Content Types"]</span>
</div>