@inject IContentManager ContentManager

@{
    ContentItem contentItem = Model.ContentItem;
    var hasPublished = await ContentManager.HasPublishedVersionAsync(contentItem);
    var hasDraft = contentItem.HasDraft();
    var exportId = Guid.CreateVersion7().ToString("n");
    var exportPublishedId = Guid.CreateVersion7().ToString("n");
    var exportDraftId = Guid.CreateVersion7().ToString("n");
}

<div class="dropdown-divider"></div>
@if (hasDraft)
{
    <a asp-action="Display" asp-controller="Download" asp-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" asp-route-latest="true" class="dropdown-item">@T["View Draft as JSON"]</a>
    <a id="@exportDraftId" asp-action="Download" asp-controller="Download" asp-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-latest="@bool.TrueString" class="dropdown-item" data-url-af="UnsafeUrl">@T["Download Draft as JSON"]</a>

    if (hasPublished)
    {
        <div class="dropdown-divider"></div>

        <a asp-action="Display" asp-controller="Download" asp-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" class="dropdown-item">@T["View Published as JSON"]</a>
        <a id="@exportPublishedId" asp-action="Download" asp-controller="Download" asp-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" class="dropdown-item" data-url-af="UnsafeUrl">@T["Download Published as JSON"]</a>
    }
}
else
{
    <a asp-action="Display" asp-controller="Download" asp-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" class="dropdown-item">@T["View as JSON"]</a>
    <a id="@exportId" asp-action="Download" asp-controller="Download" asp-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" class="dropdown-item" data-url-af="UnsafeUrl">@T["Download as JSON"]</a>
}

<script at="Foot">
    document.addEventListener('DOMContentLoaded', function () {
        function toggleDropdown(element) {
            var dropdownMenu = element.closest(".dropdown-menu");
            var dropdownToggle = dropdownMenu?.previousElementSibling;
            if (dropdownToggle) {
                bootstrap.Dropdown.getOrCreateInstance(dropdownToggle).toggle();
            }
        }

        document.getElementById('@exportDraftId')?.addEventListener('click', function () {
            toggleDropdown(this);
        });

        document.getElementById('@exportPublishedId')?.addEventListener('click', function () {
            toggleDropdown(this);
        });

        document.getElementById('@exportId')?.addEventListener('click', function () {
            toggleDropdown(this);
        });
    });
</script>
