@inject IDeploymentManager DeploymentManager
@* Only insert modal once per page *@
@if (!Context.Items.ContainsKey("ExportContentToDeploymentTarget_Modal__ActionDeploymentTarget"))
{
    Context.Items["ExportContentToDeploymentTarget_Modal__ActionDeploymentTarget"] = new object(); 

    <zone name="Footer">
        <div class="modal fade" id="modalExportContentToDeploymentTargetActionTarget" tabindex="-1" role="dialog" aria-labelledby="deployment-targets-title" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deployment-targets-title">@T["Available Targets"]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-cols-1 row-cols-md-2 g-2">
                            @foreach (var target in await DeploymentManager.GetDeploymentTargetsAsync())
                            {
                                var routeWithId = new RouteValueDictionary(target.Route);
                                routeWithId["id"] = Site.GetOrCreate<ExportContentToDeploymentTargetSettings>().ExportContentToDeploymentTargetPlanId;
                                routeWithId["returnUrl"] = FullRequestPath;

                                <div class="col">
                                    <div class="card h-100 mb-3">
                                        <div class="card-body">
                                            <h4 class="card-title">@target.Name</h4>
                                            <p>@target.Description</p>
                                        </div>
                                        <div class="card-footer text-muted text-sm-end">
                                            <button type="button" class="export-to-deployment-target text-white btn btn-primary btn-sm" data-bs-dismiss="modal" data-target-url="@Url.RouteUrl(routeWithId)">@T["Select"]</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@T["Cancel"]</button>
                    </div>
                </div>
            </div>
        </div>
    </zone>

    <script at="Foot" type="module">
        var modal = document.getElementById('modalExportContentToDeploymentTargetActionTarget');
            modal?.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var contentItemId = button?.dataset.contentItemId;
                var latest = button?.dataset.latest;

                document.querySelectorAll('.export-to-deployment-target').forEach(function (button) {
                    button.addEventListener('click', function () {
                        var targetButton = this;
                        var magicToken = document.querySelector("input[name=__RequestVerificationToken]");
                        var hrefParts = targetButton.dataset.targetUrl.split("?");
                        var exportForm = document.createElement("form");
                        exportForm.action = hrefParts[0];
                        exportForm.method = "POST";

                        if (magicToken) {
                            exportForm.appendChild(magicToken.cloneNode(true));
                        }

                        if (hrefParts.length > 1) {
                            var queryParts = hrefParts[1].split("&");
                            for (var i = 0; i < queryParts.length; i++) {
                                var queryPartKVP = queryParts[i].split("=");
                                //trusting hrefs in the page here
                                var input = document.createElement("input");
                                input.type = "hidden";
                                input.name = decodeURIComponent(queryPartKVP[0]);
                                input.value = decodeURIComponent(queryPartKVP[1]);
                                exportForm.appendChild(input);
                            }
                        }

                        var contentItemInput = document.createElement("input");
                        contentItemInput.type = "hidden";
                        contentItemInput.name = "ExportContentToDeploymentTarget.ContentItemId";
                        contentItemInput.value = contentItemId;
                        exportForm.appendChild(contentItemInput);

                        if (latest) {
                            var latestInput = document.createElement("input");
                            latestInput.type = "hidden";
                            latestInput.name = "ExportContentToDeploymentTarget.Latest";
                            latestInput.value = latest;
                            exportForm.appendChild(latestInput);
                        }

                        document.body.appendChild(exportForm);
                        exportForm.submit();
                    }, { once: true });
                });
            });
    </script>
}
