@using OrchardCore.Queries.ViewModels
@model QueryBasedContentDeploymentStepViewModel
@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager

<style asp-name="codemirror"></style>
<script asp-name="codemirror" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <h5>@T["Queried Content Items"]</h5>
        <span class="hint">@T["The name of the Query which will be used to fetch content items."]</span>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="ExportAsSetupRecipe">
    <div class="ocat-end-offset">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="ExportAsSetupRecipe" />
            <label class="form-check-label" asp-for="ExportAsSetupRecipe">@T["Export As Setup recipe"]</label>
        </div>
        <span class="hint">@T["Check if the data should be exported as a Setup recipe."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <div class="alert alert-warning">@T["If checked, you will have to manually declare variables for content item references like Content Picker Fields, Taxonomy Fields, Tags Fields, and List item IDs and replace them where needed in the recipe. Any reference to these content items will be lost."]</div>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="QueryName">
    <label asp-for="QueryName" class="ocat-label">@T["Query"]</label>
    <div class="ocat-end">
        <select class="form-select form-select-sm" asp-for="QueryName">
            @foreach (var query in Model.Queries)
            {
                var name = query.Name;
                <option value="@name">@name</option>
            }
        </select>
        <span asp-validation-for="QueryName"></span>
        <span class="hint">@T["The name of the Query which will be used to fetch content items."]</span>
        <div class="alert alert-warning">@T["Note: The Query must be configured to return Documents."]</div>
    </div>
 </div>

<div class="ocat-wrapper" asp-validation-class-for="QueryParameters">
    <label asp-for="QueryParameters" class="ocat-label">@T["Parameters"]</label>
    <div class="ocat-end">
        <textarea asp-for="QueryParameters" class="form-control"></textarea>
        <span asp-validation-for="QueryParameters"></span>
        <span class="hint">@T["An optional JSON object containing the parameter values for this query."]</span>
    </div>
 </div>

<script at="Foot">
    document.addEventListener('DOMContentLoaded', function () {
        CodeMirror.fromTextArea(document.getElementById('@Html.IdFor(m => m.QueryParameters)'), { mode: "javascript", json: true, lineNumbers: true, viewportMargin: Infinity });
    });
</script>
