{% assign fields = Model.ContentItem.Content[Model.ContentItem.ContentType] %}

{% helperblock "zone", name: "Header" %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ fields.HeaderImageUrl.Text | default: "https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-clean-blog/master/img/post-bg.jpg" }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ Model.ContentItem.Content.TitlePart.Title }}</h1>
                        {% if fields.Subtitle.Text.size > 0 %}
                        <h2 class="subheading">
                            {{ fields.Subtitle.Text }}
                        </h2>
                        {% endif %}
                        <span class="meta">
                            {% assign format = "MMMM dd, yyyy" | t %}
                            {% assign dateTime = Model.ContentItem.CreatedUtc | local | date_time: format: format %}
                            {{ "Posted by" | t }} <a href="#">{{ Model.ContentItem.Owner }}</a> {{ "on {0}" | t: dateTime | raw }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endhelperblock %}

{% display Model.Content.Contents_Metadata %}
{% display Model.Content.MarkdownPart %}
