{% zone "Header" %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="masthead" style="background-image: url('{{ "~/TheBlogTheme/img/home-bg.jpg" | href }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ Model.ContentItem.Content.TitlePart.Title }}</h1>
                    <span class="subheading">{{ Model.Content.BodyPart | shape_render }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endzone %}

{% shape_remove_item Model.Content "BodyPart" %}

{% cache "a" %}
    A {{ "now" | date: "%T" }} (No Duration) <br />
    {% cache "a1", dependencies: "a1", vary_by: "user", expires_after: "0:5:0" %}
        A1 {{ "now" | date: "%T" }} (5 Minutes) <br />
    {% endcache %}
    {% cache "a2", dependencies: "a2", vary_by: "user", expires_after: "0:0:1" %}
        A2 {{ "now" | date: "%T" }} (1 Second) <br />
        {% cache "a2a", dependencies: "a2a", vary_by: "user", expires_after: "0:0:5" %}
            A2A {{ "now" | date: "%T" }} (5 Seconds) <br />
        {% endcache %}
    {% endcache %}
{% endcache %}

{% cache "blog" %}
{{ Model.Content | shape_render }}
{% endcache %}

{% cache "nochildren" %}
This cache block should have no contexts or tags
{% endcache %}