<div class="post-preview">
    {% a display_for:Model.ContentItem %}
        <h2 class="post-title">
            {{ Model.ContentItem.DisplayText }}
        </h2>
        <h3 class="post-subtitle">
            {{ Model.ContentItem.Content.BlogPost.Subtitle.Text }}
        </h3>
    {% enda %}
    <p class="post-meta">
        {% assign format = "MMMM dd, yyyy" | t %}
        {% assign dateTime = "DateTime" | shape_new: utc: Model.ContentItem.CreatedUtc, format: format | shape_stringify %}
        {{ "Posted by" | t }} <a href="#">{{ Model.ContentItem.Owner }}</a> {{ "on {0}" | t: dateTime | raw }}
    </p>
</div>
<hr />
