@model TemplateViewModel
@{
    var returnUrl = ViewData["returnUrl"]?.ToString();
    var culture = CultureInfo.CurrentUICulture;
}

@if (Model.AdminTemplates)
{
    <zone Name="Title"><h1>@RenderTitleSegments(T["Edit Admin Template"])</h1></zone>
}
else
{
    <zone Name="Title"><h1>@RenderTitleSegments(T["Edit Template"])</h1></zone>
}

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Edit" asp-route-returnUrl="@ViewData["returnUrl"]" method="post" class="no-multisubmit">
    <div class="card text-bg-theme mb-3 position-sticky action-bar">
        <div class="card-body p-3 text-end">
            <div class="btn-group">
                <button type="submit" name="submit" class="btn btn-primary save">@T["Save"]</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-reference="parent" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="visually-hidden">@T["Toggle Dropdown"]</span>
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item save-continue" name="submit" type="submit" value="SaveAndContinue">@T["and continue"]</button>
                </div>
            </div>

            @if (Url.IsLocalUrl(returnUrl))
            {
                <a class="btn btn-secondary cancel" role="button" href="@returnUrl">@T["Cancel"]</a>
            }

            @if (!Model.AdminTemplates)
            {
                <a class="btn btn-info" role="button" href="@Url.Action("Index", "Preview", new { area = "OrchardCore.Templates" })" target="_blank">@T["Preview"]</a>
            }
        </div>
    </div>

    <input type="hidden" value="@Model.Name" name="sourceName" />
    <input type="hidden" asp-for="AdminTemplates" />

    <div class="ocat-wrapper" asp-validation-class-for="Name">
        <label asp-for="Name" class="ocat-label">@T["Name"]</label>
        <div class="ocat-end">
        <input asp-for="Name" class="form-control template-name" autofocus />
        <span asp-validation-for="Name"></span>
        <span class="hint">@T["The name of the template."]</span>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="Description">
        <label asp-for="Description" class="ocat-label">@T["Description"]</label>
        <div class="ocat-end">
        <input asp-for="Description" class="form-control" autofocus />
        <span class="hint">@T["The description of the template."]</span>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="Content">
        <label asp-for="Content" class="ocat-label">@T["Content"]</label>
        <div class="ocat-end">
        <div id="@Html.IdFor(x => x.Content)_editor" asp-for="Text" style="min-height: 600px;" class="form-control template-editor" dir="@culture.GetLanguageDirection()"></div>
        <textarea asp-for="Content" class="content-preview-text template-editor-value" hidden>@Html.Raw(Model.Content)</textarea>
        <span asp-validation-for="Content"></span>
        <span class="hint">@T["The Liquid template."]</span>
        </div>
    </div>
</form>


<style asp-name="monaco"></style>
<script asp-name="monaco" at="Foot"></script>
<script asp-src="~/OrchardCore.Templates/Scripts/template-editors/template-edit.min.js" debug-src="~/OrchardCore.Templates/Scripts/template-editors/template-edit.js" depends-on="liquid-intellisense monaco" at="Foot" type="module"></script>

