@model OrchardCore.Workflows.ViewModels.ActivityEditViewModel

<div data-workflow-type-id="@Model.WorkflowTypeId" data-activity-id="@Model.ActivityId">
    <zone Name="Title"><h1>@RenderTitleSegments(T["Edit {0}", Model.Activity.DisplayText.Value])</h1></zone>

    <div asp-validation-summary="ModelOnly"></div>
    <form asp-action="Edit" asp-route-workflowtypeid="@Model.WorkflowTypeId" asp-route-activityid="@Model.ActivityId" asp-route-returnurl="@Model.ReturnUrl" method="post" enctype="multipart/form-data" class="no-multisubmit">
        <input type="hidden" asp-for="ActivityId" />
        @await DisplayAsync(Model.ActivityEditor)

        <div class="form-group">
            <button class="btn btn-primary save" type="submit">@T["Save"]</button>
            <a class="btn btn-secondary cancel" role="button" href="@Model.ReturnUrl">@T["Cancel"]</a>
        </div>
    </form>
</div>
