@model EditTenantViewModel

<div class="@Orchard.GetLimitedWidthWrapperClasses("mb-3")" asp-validation-class-for="RecipeName">
    <label asp-for="RecipeName" class="@Orchard.GetLabelClasses()">@T["Recipe"]</label>
    <div class="@Orchard.GetLimitedWidthClasses()">
        <select asp-for="RecipeName" class="form-select">
            <option value="">@T["Select a recipe"]</option>
            @foreach (var recipe in Model.Recipes)
            {
                <option value="@recipe.Name" selected="@(Model.RecipeName == recipe.Name)">
                    @recipe.DisplayName
                </option>
            }
        </select>
        <span class="hint">@T["Optionally specify which presets should be used for the Setup experience."]</span>
    </div>
</div>
