@model EditTenantViewModel

<h6>
    @T["Recipe"]
    <span class="text-muted form-text small">@T["Optionally specify which presets should be used for the Setup experience."]</span>
</h6>
<div class="row recipes" asp-validation-class-for="RecipeName">
    <div class="mb-3 col-md-6">
        <select asp-for="RecipeName" class="form-select">

            <option value=""></option>
            @foreach (var recipe in Model.Recipes)
            {
                <option value="@recipe.Name" selected="@(Model.RecipeName == recipe.Name)">
                    @recipe.DisplayName
                </option>
            }
        </select>
    </div>
</div>
