<div class="card">
    <div class="card-body">
        <h5 class="card-title"><i class="fa fa-list"></i> @T["Widgets"]</h5>
        <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@T["Define layers and zones."]</li>
                <li class="list-group-item">@T["Create and edit widgets."]</li>
                <li class="list-group-item">@T["Place widgets in zones."]</li>
            </ul>
        </p>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="@Url.Action("Index", "Admin", new { area = "OrchardCore.Layers"})">@T["Manage the widgets"]</a>
    </div>
</div>
