@model OrchardCore.Layers.ViewModels.LayerMetadataEditViewModel

<div class="mb-3" asp-validation-class-for="Title">
    <label asp-for="Title">@T["Title"]</label>
    <input asp-for="Title" class="form-control" type="text" />
    <span asp-validation-for="Title"></span>
</div>

<div class="mb-3">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="LayerMetadata.RenderTitle" checked="@Model.LayerMetadata.RenderTitle">
        <label class="form-check-label" asp-for="LayerMetadata.RenderTitle">@T["Render title"]</label>
        <span class="hint dashed">@T["If checked, the title will be rendered with the widget."]</span>
    </div>
</div>

<div class="mb-3" asp-validation-class-for="LayerMetadata.Layer">
    <label asp-for="LayerMetadata.Layer">@T["The layer the widget should be associated with."]</label>
    <select asp-for="LayerMetadata.Layer" class="form-select">
        @foreach (var layer in Model.Layers)
        {
            <option value="@layer.Name" selected="@(Model.LayerMetadata.Layer == layer.Name)">@layer.Name</option>
        }
    </select>
    <span asp-validation-for="LayerMetadata.Layer" class="text-danger"></span>
</div>

<input asp-for="LayerMetadata.Zone" type="hidden" />
<input asp-for="LayerMetadata.Position" type="hidden" />
