@using OrchardCore
@model OrchardCore.Layers.ViewModels.LayerMetadataEditViewModel

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Title">
    <label asp-for="Title" class="@Orchard.GetLabelClasses()">@T["Title"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="Title" class="form-control" type="text" />
        <span asp-validation-for="Title"></span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <div class="@Orchard.GetEndClasses(true)">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="RenderTitle">
            <label class="form-check-label" asp-for="RenderTitle">@T["Render title"]</label>
            <span class="hint dashed">@T["If checked, the title will be rendered with the widget."]</span>
        </div>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Layer">
    <label asp-for="Layer" class="@Orchard.GetLabelClasses()">@T["The layer"]</label>
    <div class="@Orchard.GetEndClasses()">
        <select asp-for="Layer" asp-items="Model.Layers" class="form-select">
            <option value="">@T["Select a layer"]</option>
        </select>
        <span asp-validation-for="Layer" class="text-danger"></span>
        <span class="hint">@T["The layer controls the visibility of this widget."]</span>
    </div>
</div>

<input asp-for="Zone" type="hidden" />
<input asp-for="Position" type="hidden" />
