@model ShapeViewModel<LinkAdminNode>

@{
    string linkText = Model.Value.LinkText;
    string linkUrl = Model.Value.LinkUrl;
    bool enabled = Model.Value.Enabled;
}

<div class="@(enabled ? "" : "disabled") concrete-link">
    <h5>@T["Link"]</h5>
    <span class="text-muted">@T["Link Text:"] @linkText | @T["Link Url:"]: @linkUrl</span>
</div>