@using OrchardCore.Facebook.ViewModels;
@model FacebookCoreSettingsViewModel;

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]</p>

<h3>@T["Facebook Application Settings"]</h3>

<fieldset class="form-group" asp-validation-class-for="AppId">
    <label>@T["Application Identifier"] <span asp-validation-for="AppId"></span></label>
    <input asp-for="AppId" class="form-control"/>
    <span class="hint">@T["The Application ID found on the Facebook developer portal parameters."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="AppSecret">
    <label>@T["Secret Key"] <span asp-validation-for="AppSecret"></span></label>
    <input asp-for="AppSecret" class="form-control" type="password" value="@Model.AppSecret"/>
    <span class="hint">@T["The Application secret key found on the Facebook developer portal parameters."]</span>
</fieldset>
