@using OrchardCore

@model SearchPartViewModel

<div class="@Orchard.GetWrapperCssClasses()" asp-validation-class-for="Placeholder">
    <label asp-for="Placeholder" class="@Orchard.GetLabelCssClasses()">@T["Placeholder"]</label>
    <div class="@Orchard.GetEndCssClasses()">
        <input type="text" class="form-control" asp-for="Placeholder" required />
        <span class="hint">@T["The placeholder text to use in the search bar."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperCssClasses()" asp-validation-class-for="IndexName">
    <label asp-for="IndexName" class="@Orchard.GetLabelCssClasses()">@T["Index Name"]</label>
    <div class="@Orchard.GetEndCssClasses()">
        <input type="text" class="form-control" asp-for="IndexName" />
        <span class="hint">@T["Leave it empty to use the default index."]</span>
    </div>
</div>
