@model SearchSettingsViewModel

@if (Model.Indexes?.Count > 0)
{
    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="DefaultIndexProfileName">
        <label asp-for="DefaultIndexProfileName" class="@Orchard.GetLabelClasses()">@T["Default search index"]</label>
        <div class="@Orchard.GetEndClasses()">
            <select asp-for="DefaultIndexProfileName" asp-items="Model.Indexes" class="form-select">
                <option value="">@T["Select a default index"]</option>
            </select>
            <span asp-validation-for="DefaultIndexProfileName"></span>
            <span class="hint">@T["The default index to use for the search page."]</span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Placeholder">
        <label asp-for="Placeholder" class="@Orchard.GetLabelClasses()">@T["Placeholder"]</label>
        <div class="@Orchard.GetEndClasses()">
            <input type="text" class="form-control" asp-for="Placeholder" />
            <span class="hint">@T["The placeholder text to use in the search bar."]</span>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning">@T["No available indexes. Add at least one index to search."]</div>
}
