@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Metadata
@using OrchardCore.Mvc.Utilities

@inject IContentDefinitionManager ContentDefinitionManager

@{
    ContentItem contentItem = Model.ContentItem;
    var contentTypeDefinition = ContentDefinitionManager.GetTypeDefinition(contentItem.ContentType);
    var typeDisplayName = contentTypeDefinition?.DisplayName ?? contentItem.ContentType.CamelFriendly();
    var returnUrl = Context.Request.Query["ReturnUrl"];
}

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit {0}", typeDisplayName])</h1></zone>

<form asp-action="Edit" asp-route-contentitemid="@contentItem.ContentItemId" asp-route-returnUrl="@returnUrl" method="post" enctype="multipart/form-data" class="no-multisubmit">
    @if (!String.IsNullOrWhiteSpace(returnUrl) && Url.IsLocalUrl(returnUrl))
    {
        <a class="mb-2 btn btn-secondary cancel" role="button" href="@returnUrl">
            @T["Go back"]
        </a>
    }
    @if (!ViewContext.ModelState.IsValid)
    {
        @Html.ValidationSummary()
    }
    @await DisplayAsync(Model)
</form>