@using OrchardCore.ContentManagement;
@inject IContentManager ContentManager
@{
    var typeDisplayName = Model.TypeDisplayName;
    var pageTitle = T["Manage Content"];
    var createLinkText = T["Create New Content"];
    if (!string.IsNullOrWhiteSpace(typeDisplayName))
    {
        pageTitle = T["Manage {0} Content", (string)typeDisplayName];
        createLinkText = T["Create New {0}", (string)typeDisplayName];
    }

    IEnumerable<string> cultures = Model.Options.Cultures;
}
<h1>@RenderTitleSegments(pageTitle)</h1>

@using (Html.BeginForm())
{
    @*<fieldset class="bulk-actions">
            <label><input type="checkbox" class="check-all" />@T["Select all"]</label>@T[" | "]
            <label for="publishActions">@T["Actions:"]</label>
            <select id="publishActions" name="Options.BulkAction">
                @Html.SelectOption((ContentsBulkAction)Model.Options.BulkAction, ContentsBulkAction.None, T("Choose action...").ToString())
                @Html.SelectOption((ContentsBulkAction)Model.Options.BulkAction, ContentsBulkAction.PublishNow, T("Publish Now").ToString())
                @Html.SelectOption((ContentsBulkAction)Model.Options.BulkAction, ContentsBulkAction.Unpublish, T("Unpublish").ToString())
                @Html.SelectOption((ContentsBulkAction)Model.Options.BulkAction, ContentsBulkAction.Remove, T("Delete").ToString())
            </select>
            <button type="submit" name="submit.BulkEdit" value="yes">@T("Apply")</button>
        </fieldset>
        <fieldset class="bulk-actions">
            <label for="filterResults" class="bulk-filter">@T("Show")</label>
            <select id="filterResults" name="Options.SelectedFilter">
                @Html.SelectOption((string)Model.Options.SelectedFilter, "", T("any (show all)").ToString())
                @foreach (var filterOption in Model.Options.FilterOptions) {
                    @Html.SelectOption((string)Model.Options.SelectedFilter, (string)filterOption.Key, (string)filterOption.Value)
                }
            </select>

            @if (cultures.Count() > 1) {
                <label for="filterCultures" class="bulk-culture">@T("Culture")</label>
                <select id="filterCultures" name="Options.SelectedCulture">
                    @Html.SelectOption((string)Model.Options.SelectedCulture, "", T("any (show all)").ToString())
                    @foreach (string culture in cultures) {
                        @Html.SelectOption((string)Model.Options.SelectedCulture, culture, System.Globalization.CultureInfo.GetCultureInfo(culture).DisplayName)
                    }
                </select>
            }

            <label for="orderResults" class="bulk-order">@T("Ordered by")</label>
            <select id="orderResults" name="Options.OrderBy">
                @Html.SelectOption((ContentsOrder)Model.Options.OrderBy, ContentsOrder.Created, T("recently created").ToString())
                @Html.SelectOption((ContentsOrder)Model.Options.OrderBy, ContentsOrder.Modified, T("recently modified").ToString())
                @Html.SelectOption((ContentsOrder)Model.Options.OrderBy, ContentsOrder.Published, T("recently published").ToString())
            </select>
            <label for="contentResults" class="bulk-order">@T("Filter by")</label>
            <select id="contentResults" name="Options.ContentsStatus">
                @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.Owner, T("owned by me").ToString())
                @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.Latest, T("latest").ToString())
                @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.Published, T("published").ToString())
                @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.Draft, T("unpublished").ToString())
                @Html.SelectOption((ContentsStatus)Model.Options.ContentsStatus, ContentsStatus.AllVersions, T("all versions").ToString())
            </select>
            <button type="submit" name="submit.Filter" value="yes please">@T("Apply")</button>
        </fieldset>*@
    <fieldset class="filter-options container-fluid">
        <div class="row">
            <div class="col-sm-1 form-group d-block d-sm-none ">
                <label for="filterResults" class="label col-form-label">@T["Filter"]</label>
            </div>
            <div class="col-sm-0 form-group d-none d-sm-block ">
                <label for="filterResults" class="label col-form-label">@T["Filter"]</label>
            </div>
            <div class="col-sm-4 form-group">
                <select id="Id" class="form-control" name="Id">
                    <option></option>
                    @foreach (var option in Model.Options.FilterOptions)
                    {
                        string isSelected = option.Key == Model.Options.SelectedFilter ? "selected='selected'" : string.Empty;
                        <!option @isSelected value="@option.Key">@option.Value</!option>
                    }
                </select>
            </div>
            <div class="col-sm-2 form-group">
                <button type="submit" class="btn btn-primary" name="submit.Filter">@T["Apply"]</button>
            </div>
        </div>
    </fieldset>

    @if (Model.ContentItems.Count > 0)
    {
        <ul class="list-group">
            @foreach (var contentItemSummary in Model.ContentItems)
            {
                <li class="list-group-item">
                    @await DisplayAsync(contentItemSummary)
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info">
            @T["No result found."]
        </div>
    }

    @await DisplayAsync(Model.Pager)
}