<a class="dropdown-item"
   remove-for="@Model.ContentItem" asp-route-returnUrl="@FullRequestPath"
   data-url-af="RemoveUrl UnsafeUrl" data-title="@T["Delete"]" data-message="@T["Are you sure you want to delete this content item?"]"
   data-ok-text="@T["Ok"]" data-cancel-text="@T["Cancel"]">@T["Delete"]</a>
