<a class="dropdown-item"
   asp-action="DiscardDraft" asp-controller="Admin" asp-route-area="OrchardCore.Contents"
   asp-route-contentItemId="@Model.ContentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath"
   data-url-af="UnsafeUrl RemoveUrl" data-title=@T["Discard Draft"] data-message=@T["Are you sure you want to discard this draft?"]
   data-ok-text="@T["Yes"]" data-cancel-text="@T["No"]" data-ok-class="btn-primary">@T["Discard Draft"]</a>
