@using OrchardCore
@model DashboardPartViewModel

<div class="@Orchard.GetWrapperCssClasses()" asp-validation-class-for="Position">
    <label asp-for="Position" class="@Orchard.GetLabelCssClasses()">@T["Position"] </label>
    <div class="@Orchard.GetEndCssClasses()">
        <input asp-for="Position" class="form-control" />
        <span asp-validation-for="Position"></span>
    </div>
</div>

<div class="@Orchard.GetWrapperCssClasses()" asp-validation-class-for="Width">
    <label asp-for="Width" class="@Orchard.GetLabelCssClasses()">@T["Width"] </label>
    <div class="@Orchard.GetEndCssClasses()">
        <input asp-for="Width" class="form-control" />
        <span asp-validation-for="Width"></span>
    </div>
</div>

<div class="@Orchard.GetWrapperCssClasses()" asp-validation-class-for="Height">
    <label asp-for="Height" class="@Orchard.GetLabelCssClasses()">@T["Height"] </label>
    <div class="@Orchard.GetEndCssClasses()">
        <input asp-for="Height" class="form-control" />
        <span asp-validation-for="Height"></span>
    </div>
</div>
