@model SelectWorkflowTypeViewModel

<select name="@Model.HtmlName" class="form-select">
    <option value="">@T["-"]</option>
    @for (var i = 0; i < Model.WorkflowTypeSelections.Count; i++)
    {
        var item = Model.WorkflowTypeSelections[i];

        if (item.IsSelected)
        {
        <option value="@item.WorkflowType.WorkflowTypeId" selected="selected">@item.WorkflowType.Name</option>
        }
        else
        {
        <option value="@item.WorkflowType.WorkflowTypeId">@item.WorkflowType.Name</option>
        }
    }
</select>
