@using OrchardCore.Taxonomies.Core.Models
@using OrchardCore

@model TaxonomySortPart

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Sort" class="@Orchard.GetLabelClasses()">@T["Taxonomy Sort"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="Sort" type="number" class="form-control" />
        <span class="hint">@T["Assign a specific order number for sorting content when listing taxonomy items."]</span>
    </div>
</div>
