@model TaxonomyContentsAdminListSettingsViewModel

<div class="mb-3" asp-validation-class-for="TaxonomyEntries">
    <label asp-for="TaxonomyEntries">@T["Taxonomies"]</label>
    <span class="hint dashed">@T["The taxonomies to filters in the contents list."]</span>

    <div class="row">
        @for (int i = 0; i < Model.TaxonomyEntries.Length; i++)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <input type="hidden" name="@Html.NameFor(m => m.TaxonomyEntries[i].ContentItemId)"
                       value="@Model.TaxonomyEntries[i].ContentItemId" />
                <div class="mb-3 form-check">
                    <input asp-for="TaxonomyEntries[i].IsChecked" class="form-check-input" type="checkbox" />
                    <label asp-for="TaxonomyEntries[i].IsChecked" class="form-check-label">@Model.TaxonomyEntries[i].DisplayText</label>
                </div>
            </div>
        }
    </div>

</div>

