@model WorkflowDefinitionViewModel
@using OrchardCore.Workflows.ViewModels;

<h1>@RenderTitleSegments(T["Workflow {0}", Model.WorkflowDefinition.Name])</h1>

<nav class="admin-toolbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalActivities">
                @T["Add Activity"]
            </button>
        </li>
    </ul>
</nav>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Edit" method="post" id="workflowEditorForm">
    <fieldset class="form-group">
        @await DisplayAsync(Model.WorkflowEditor)
        <input asp-for="State" id="workflowStateInput" />
    </fieldset>
    <fieldset class="form-group">
        <div class="form-group">
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
            <a class="btn btn-secondary" asp-route-action="Index">@T["Cancel"]</a>
        </div>
    </fieldset>
</form>

<!-- Modal -->
<div class="modal fade" id="modalActivities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@T["Available Activities"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-columns">
                    @foreach (var activity in Model.ActivityThumbnails)
                    {
                        @await DisplayAsync(activity)
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@T["Cancel"]</button>
            </div>
        </div>
    </div>
</div>
