@model EditDeploymentPlanStepViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Step"])</h1></zone>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Edit" method="post" enctype="multipart/form-data" class="no-multisubmit">
    @await DisplayAsync(Model.Editor)

    <input type="hidden" asp-for="DeploymentPlanId" />
    <input type="hidden" asp-for="DeploymentStepId" />
    <input type="hidden" asp-for="DeploymentStepType" />

    <div class="mb-3">
        <button class="btn btn-primary save" type="submit">@T["Save"]</button>

        <a class="btn btn-danger delete"
           role="button"
           asp-action="Delete"
           asp-controller="Step"
           asp-route-id="@Model.DeploymentPlanId"
           asp-route-stepId="@Model.DeploymentStepId"
           data-url-af="RemoveUrl UnsafeUrl">@T["Delete"]</a>

        <a class="btn btn-secondary cancel"
           role="button"
           asp-route-action="Display"
           asp-route-controller="DeploymentPlan"
           asp-route-id="@Model.DeploymentPlanId">@T["Cancel"]</a>
    </div>
</form>
