@model EditDeploymentPlanStepViewModel

<h1>@RenderTitleSegments(T["Edit Step"])</h1>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Edit" method="post">
    @await DisplayAsync(Model.Editor)

    <input type="hidden" asp-for="DeploymentPlanId" />
    <input type="hidden" asp-for="DeploymentStepId" />
    <input type="hidden" asp-for="DeploymentStepType" />

    <div class="form-group">
        <button class="btn btn-primary" type="submit">@T["Save"]</button>

        <a asp-action="Delete"
           asp-controller="Step"
           asp-route-id="@Model.DeploymentPlanId"
           asp-route-stepId="@Model.DeploymentStepId"
           class="btn btn-danger"
           itemprop="RemoveUrl UnsafeUrl">@T["Delete"]</a>

        <a class="btn btn-secondary"
           asp-route-action="Display"
           asp-route-controller="DeploymentPlan"
           asp-route-id="@Model.DeploymentPlanId">@T["Cancel"]</a>
    </div>
</form>
