<h1>@RenderTitleSegments(T["Upgrade Users from RC2"])</h1>

<p class="alert alert-warning" id="alert-progress" style="display: none"></p>
<div id="t-end-alert" class="d-none">@T["All documents have been processed. You may now disable the upgrade feature."]</div>

@Html.AntiForgeryToken()

<ul class="list-group">
    <li class="list-group-item">
        <div class="properties">
            <div class="related">
                <a class="btn btn-sm btn-danger btn-migrate float-right" data-url="@Url.Action("IndexPost", "UserId")">@T["Upgrade"]</a>
            </div>
            @T["Upgrade User Id"]
            <span class="hint">— @T["This upgrade adds a User Id and updates the owners of all content items"]</span>
        </div>
    </li>
</ul>

<script at="Foot">
    $(function() {
        var magicToken = $("input[name=__RequestVerificationToken]").val();
        
        $('.btn-migrate').click(function () {
            var importUrl = $(this).data('url');

            var userStartId = 0;
            var contentItemCounter = 0;
            $('#alert-progress').show();

            var iId = setInterval(function () {

                $.ajax({
                    type: 'POST',
                    url: importUrl,
                    async: false,
                    data: {
                        __RequestVerificationToken: magicToken,
                        userDocumentId: userStartId, // start at 0
                        contentItemCounter: contentItemCounter
                    },
                    success: function (data) {
                        var userDocumentId = Number(data.userDocumentId);
                        var complete = Boolean(data.complete);
                        if (complete) {
                            clearInterval(iId);
                            $('#alert-progress').text($('#t-end-alert').text());
                        }
                        else {
                            userStartId = userDocumentId;
                            contentItemCounter = Number(data.contentItemCounter);
                            $('#alert-progress').text('Processing user ' + userDocumentId + ', content item ' + contentItemCounter);
                        }
                    },
                    fail: function(result) {
                        console.log("An error occured: " + result);
                    }
                });

            }, 100);
                
        });
    });
    </script>

