@using OrchardCore.Mvc.Utilities;
@{
    var tabs = ((IEnumerable<dynamic>)Model.Tabs).ToArray();
}
@if (tabs.Any())
{
    var tabIndex = 0;
    //<div class="nav nav-tabs" id="nav-tab" role="tablist">
    @*<div id="local-navigation" class="nav-tab">*@
    <ul class="nav nav-tabs" id="pills-tab" role="tablist">
        @foreach (var tab in tabs)
        {
            var tabText = tab is string ? (string)tab : (string)(tab.Text);// is LocalizedString ? tab.Text.ToString() : tab.Text);
            var defaultTabId = string.Format("tab-{0}", tabText).HtmlClassify();
            var tabId = tab is string ? defaultTabId : (string)(tab.TabName ?? defaultTabId);
            var tabCssClass = tabIndex == 0 ? "nav-item nav-link active" : "nav-item nav-link";
            <li class="nav-item pr-2">
                <a class="@tabCssClass" href="#@tabId" data-toggle="pill" role="tab" aria-controls="@tabId" aria-selected="false">@tabText</a>
            </li>
            <li class="nav-item pr-2">
                <a class="nav-item nav-link" href="#@tabId" data-toggle="pill" role="tab" aria-controls="@tabId" aria-selected="false">@tabText</a>
            </li>
            <li class="nav-item pr-2">
                <a class="nav-item nav-link" href="#@tabId" data-toggle="pill" role="tab" aria-controls="@tabId" aria-selected="false">@tabText</a>
            </li>
            <li class="nav-item pr-2">
                <a class="nav-item nav-link" href="#@tabId" data-toggle="pill" role="tab" aria-controls="@tabId" aria-selected="false">@tabText</a>
            </li>
            @*<li class="@tabCssClass">
                <a href="#@tabId">@tabText</a>
            </li>*@
            tabIndex++;
        }
    </ul>
    @*</div>*@

    @*<div id="local-navigation" class="nav-tab">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            >
            @foreach (var tab in tabs)
            {
                var tabText = tab is string ? (string)tab : (string)(tab.Text);// is LocalizedString ? tab.Text.ToString() : tab.Text);
                var defaultTabId = string.Format("tab-{0}", tabText);//.HtmlClassify());
                var tabId = tab is string ? defaultTabId : (string)(tab.TabName ?? defaultTabId);
                var tabCssClass = tabIndex == 0 ? "first selected" : tabIndex <= tabs.Count() - 1 ? "last" : "middle";
                <li class="@tabCssClass">
                    <a href="#@tabId">@tabText</a>
                </li>
                tabIndex++;
            }
        </ul>
        </div>*@
}