@using OrchardCore.Contents.ViewModels
@using OrchardCore
@model DateEditorViewModel

<div class="@Orchard.GetWrapperCssClasses()" asp-validation-class-for="LocalDateTime">
    <label asp-for="LocalDateTime" class="@Orchard.GetLabelCssClasses()">@T["Created"]</label>
    <div class="@Orchard.GetEndCssClasses()">
        <div class="@Orchard.GetLimitedWidthWrapperCssClasses()">
            <div class="@Orchard.GetLimitedWidthCssClasses()">
                <input asp-for="LocalDateTime" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control" type="datetime-local" />
                <span asp-validation-for="LocalDateTime"></span>
            </div>
        </div>
        <span class="hint">@T["The date when the content item was created or first published."]</span>
    </div>
</div>
