@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.ContentManagement.Metadata.Settings
@using OrchardCore.ContentManagement
@using OrchardCore

@{
    ContentPart contentPart = Model.ContentPart;
    ContentTypePartDefinition typePartDefinition = Model.ContentTypePartDefinition;
    var description = typePartDefinition.Description();
}

@if (typePartDefinition.IsNamedPart())
{
    <div class="@Orchard.GetPartWrapperCssClasses(typePartDefinition)">
        <div class="@Orchard.GetLabelCssClasses()">
            @typePartDefinition.DisplayName()

            @if (!string.IsNullOrEmpty(description))
            {
                <small class="form-text text-muted">@description</small>
            }
        </div>

        <div class="@Orchard.GetEndCssClasses()">
            @foreach (var shape in Model)
            {
                @await DisplayAsync(shape)
            }
        </div>
    </div>
}
else
{
    <div class="@Orchard.GetPartWrapperCssClasses(typePartDefinition)">
        @foreach (var shape in Model)
        {
            @await DisplayAsync(shape)
        }
    </div>
}
