@model ContentOptionsViewModel
<div class="form-group ">
    <div class="input-group input-group-sm filter-options">
        <div class="input-group-prepend">
            <button class="btn btn-light btn-sm dropdown-toggle" style="border:1px solid lightgrey" type="button" data-toggle="dropdown" id="filter-dropdown" aria-haspopup="true" aria-expanded="false">
                @T["Filters"]
            </button>
            <div class="dropdown-menu" aria-labelledby="filter-dropdown">
                <a class="dropdown-item" href="?Options.ContentsStatus=Draft">@T["Only draft items"]</a>
                <a class="dropdown-item" href="?Options.ContentsStatus=Published">@T["Only published items"]</a>
                <a class="dropdown-item" href="?Options.ContentsStatus=Owner">@T["Owned by me"]</a>
            </div>
        </div>
        <input asp-for="DisplayText" class="form-control" placeholder="@T["Search all content items"]" type="search" />
    </div>
</div>
