@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.ContentManagement.Metadata.Settings
@using OrchardCore.ContentManagement
@using OrchardCore

@{
    ContentPart contentPart = Model.ContentPart;
    ContentTypePartDefinition typePartDefinition = Model.ContentTypePartDefinition;
    var description = typePartDefinition.Description();
    var isNamedPart = typePartDefinition.IsNamedPart();
    var additionalClasses = typePartDefinition.GetAdditionalClasses("content-part-wrapper", t => t.HtmlClassify());
}

@if (isNamedPart)
{
    <div class="@Orchard.GetWrapperCssClasses(additionalClasses.ToArray())">
        <div class="@Orchard.GetLabelCssClasses()">
            @typePartDefinition.DisplayName()

            @if (!string.IsNullOrEmpty(description))
            {
                <small class="form-text text-muted">@description</small>
            }
        </div>

        <div class="@Orchard.GetEndCssClasses()">
            @foreach (var shape in Model)
            {
                @await DisplayAsync(shape)
            }
        </div>
    </div>
}
else
{
    <div class="@string.Join(' ', additionalClasses)">
        @foreach (var shape in Model)
        {
            @await DisplayAsync(shape)

        }
    </div>
}
