@model ContentOptionsViewModel
<div class="input-group input-group-sm w-50 d-inline-flex has-filter">
    <div class="input-group-prepend">
        <button class="btn btn-sm dropdown-toggle" style="border:1px solid lightgrey" type="button" data-toggle="dropdown" id="filter-dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-filter" title="@T["Filters"]"></i>
        </button>
        <div class="dropdown-menu @if(CultureInfo.CurrentUICulture.IsRightToLeft()){<text>dropdown-menu-right</text>}" aria-labelledby="filter-dropdown">
            <a class="dropdown-item" href="?Options.ContentsStatus=Draft">@T["Only draft items"]</a>
            <a class="dropdown-item" href="?Options.ContentsStatus=Published">@T["Only published items"]</a>
            <a class="dropdown-item" href="?Options.ContentsStatus=Owner">@T["Owned by me"]</a>
        </div>
    </div>
    <label asp-for="DisplayText" class="sr-only">@T["Search"]</label>
    <i class="fa fa-search form-control-feedback"></i>
    <input asp-for="DisplayText" class="form-control" placeholder="@T["Search"]" inputmode="search" type="search" autofocus />
</div>
