@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Metadata
@inject IContentManager ContentManager

@{
    ContentItem contentItem = Model.ContentItem;
    var hasPublished = await ContentManager.HasPublishedVersionAsync(contentItem);
    var hasDraft = contentItem.HasDraft();
}

<div class="action-buttons-in-list">
    <a href="javascript();" class="action-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
        <i class="fa fa-ellipsis-h"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a edit-for="@contentItem" asp-route-returnUrl="@FullRequestPath" class="dropdown-item btn-sm">@T["Edit"]</a>

        @if (hasPublished)
        {
            <a display-for="@contentItem" itemprop="" class="dropdown-item btn-sm">@T["View"]</a>
            <div class="dropdown-divider"></div>
        }
        @if (hasDraft)
        {
            <a asp-action="Publish" asp-controller="Admin" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" itemprop="UnsafeUrl" class="dropdown-item btn-sm">@T["Publish Draft"]</a>
            <a asp-action="Preview" asp-controller="Item" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" class="dropdown-item btn-sm">@T["Preview Draft"]</a>

            <div class="dropdown-divider"></div>
        }

        @if (hasDraft && hasPublished)
        {
            <a asp-action="DiscardDraft" asp-controller="Admin" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" itemprop="UnsafeUrl RemoveUrl" class="dropdown-item btn-sm">@T["Discard Draft"]</a>
        }

        @if (hasPublished)
        {
            <a asp-action="Unpublish" asp-controller="Admin" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" itemprop="UnsafeUrl RemoveUrl" class="dropdown-item btn-sm">@T["Unpublish"]</a>
        }

        @if (hasDraft || hasPublished)
        {
            <a remove-for="@contentItem" class="dropdown-item btn-sm" asp-route-returnUrl="@FullRequestPath" itemprop="RemoveUrl UnsafeUrl">@T["Delete"]</a>
        }

    </div>
</div>