@using Microsoft.AspNetCore.Html
@using OrchardCore.Admin.Models
@using OrchardCore.DisplayManagement.Zones
@using OrchardCore

@{
    var adminSettings = Site.As<AdminSettings>();
    var returnUrl = (string)Context.Request.Query["returnUrl"];
    var hasReturnUrl = !string.IsNullOrWhiteSpace(returnUrl) && Url.IsLocalUrl(returnUrl);
}

<style asp-src="~/OrchardCore.Contents/Styles/Contents.min.css" debug-src="~/OrchardCore.Contents/Styles/Contents.css"></style>

@if (adminSettings.DisplayStickyButtons && Model.Actions != null)
{
    <div class="card text-bg-theme mb-3 position-sticky action-bar d-none d-md-block">
        <div class="card-body p-3 text-end">
            @await DisplayAsync(Model.Actions)

            @if (hasReturnUrl)
            {
                <a class="btn btn-secondary cancel mb-1" role="button" href="@returnUrl">@T["Cancel"]</a>
            }

        </div>
    </div>
}

<div class="edit-container action-bar-mobile-content @(Model.Sidebar != null ? "sidebar" : "")">
    <div class="edit-body">
        <div class="edit-item-primary">
            @if (Model.Content != null)
            {
                <div class="edit-item-content">
                    @await DisplayAsync(Model.Content)
                </div>
            }
        </div>
        <div class="edit-item-parts">
            @if (Model.Parts != null)
            {
                @await DisplayAsync(Model.Parts)
            }
        </div>

        @if (!adminSettings.DisplayStickyButtons && Model.Actions)
        {
            <div class="@Orchard.GetWrapperClasses("edit-item-secondary", "group") d-none d-md-block">
                <div class="@Orchard.GetEndClasses(true, "edit-item-actions")">
                    @await DisplayAsync(Model.Actions)

                    @if (hasReturnUrl)
                    {
                        <a class="btn btn-secondary cancel mb-1" role="button" href="@returnUrl">@T["Cancel"]</a>
                    }
                </div>
            </div>
        }
    </div>
    @if (Model.Sidebar != null)
    {
        <div class="edit-sidebar-handler"></div>
        <div class="edit-sidebar group">
            @await DisplayAsync(Model.Sidebar)
        </div>
    }
</div>

@if (Model.MobileActions != null)
{
    <div class="card text-bg-theme action-bar-mobile">
        <div class="card-body p-2">
            @await DisplayAsync(Model.MobileActions)

            @if (hasReturnUrl)
            {
                <a class="btn btn-secondary cancel mb-1" role="button" href="@returnUrl">@T["Cancel"]</a>
            }
        </div>
    </div>
}
