@model ContentItemViewModel
@using OrchardCore.Contents
@using OrchardCore.ContentManagement
@{
    var nextVersionId = Model.GetProperty<string>("NextVersionId");
        var contentItem = Model.ContentItem;

    var modifiedUtc = contentItem.ModifiedUtc?.ToString("yyyy-MM-ddTHH:mm:sszzz", CultureInfo.InvariantCulture);
}

<time datetime="@modifiedUtc">@await DisplayAsync(await New.Timespan(Utc: contentItem.ModifiedUtc))</time>
@if (!String.IsNullOrEmpty(nextVersionId))
{
    <a asp-action="Index" asp-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-oldItemVersionId="@nextVersionId" asp-route-newItemVersionId="@contentItem.ContentItemVersionId">@contentItem.DisplayText - @contentItem.ContentItemVersionId</a>

}
else
{
   <a asp-action="Index" asp-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId">@contentItem.DisplayText - @contentItem.ContentItemVersionId</a>

}

