@using Microsoft.AspNetCore.Authorization
@model ContentOptionsViewModel
@inject IContentManager ContentManager
@inject IAuthorizationService AuthorizationService

<div class="form-group">
    <div class="btn-group">
        @if (Model.CreatableTypes.Any())
        {
            ContentItem contentItem = await ContentManager.NewAsync(Model.CreatableTypes?.First().Value);
            var hasEditContentPermission = await AuthorizationService.AuthorizeAsync(User, OrchardCore.Contents.Permissions.EditContent, contentItem);
            @if (Model.CreatableTypes.Count == 1)
            {
                <a class="btn btn-sm btn-success" href="@Url.RouteUrl(new { area = "OrchardCore.Contents", controller = "Admin", action = "Create", id = Model.CreatableTypes.First().Value })">@T["New {0}", Model.CreatableTypes.First().Text]</a>
            }
            else
            {
                <button class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" id="new-dropdown" type="button" aria-haspopup="true" aria-expanded="false">@T["New"]</button>
                <div class="dropdown-menu dropdown-menu-right scrollable" aria-labelledby="new-dropdown">
                    @foreach (var item in Model.CreatableTypes)
                    {
                        if(hasEditContentPermission)
                        {
                            <a class="dropdown-item" href="@Url.RouteUrl(new { area = "OrchardCore.Contents", controller = "Admin", action = "Create", id = @item.Value })">@T[item.Text]</a>
                        }
                    }
                </div>
            }
        }
    </div>
</div>
