@model dynamic
@foreach (var item in Model.BulkActions)
{
    <li><a class="dropdown-item" href="javascript:void(0)" data-action="@item.Value" data-title="@T["Bulk Action"]" data-message="@T["Are you sure you want to {0} these items?", @item.Text.ToLower()]">@item.Text</a></li>
}
@if ((bool)Model.HasItems)
{
    <div class="dropdown-divider"></div>
    foreach (var item in Model.Items)
    {
        @await DisplayAsync(item)
    }
}

<script at="Foot">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll(".dropdown-menu .dropdown-item").forEach(function (item) {
            if (!item.dataset.action) {
                return;
            }

            item.addEventListener("click", function () {
                if (document.querySelectorAll("input[type='checkbox'][name='itemIds']:checked").length > 1) {
                    var data = { ...this.dataset };
                    confirmDialog({
                        ...data, callback: function (r) {
                            if (r) {
                                var bulkAction = document.querySelector("[name='Options.BulkAction']");
                                if (bulkAction) {
                                    bulkAction.value = data.action;
                                }

                                document.querySelector("[name='submit.BulkAction']")?.click();
                            }
                        }
                    });
                }
            });
        });
    });
</script>
