@using OrchardCore.Contents
@using OrchardCore.ContentManagement
@inject IAuthorizationService AuthorizationService
@inject IContentManager ContentManager

@{
    ContentItem contentItem = Model.ContentItem;
    var hasPublished = await ContentManager.HasPublishedVersionAsync(contentItem);
    var hasDraft = contentItem.HasDraft();
    var hasEditPermission = await AuthorizationService.AuthorizeAsync(User, CommonPermissions.EditContent, contentItem);
    var hasViewPermission = await AuthorizationService.AuthorizeAsync(User, CommonPermissions.ViewContent, contentItem);
    var hasPreviewPermission = await AuthorizationService.AuthorizeAsync(User, CommonPermissions.PreviewContent, contentItem);
}

@if (hasEditPermission)
{
    <a edit-for="@contentItem" asp-route-returnUrl="@FullRequestPath" class="btn btn-sm btn-primary edit"><i class="fa fa-edit"></i> <span>@T["Edit"]</span></a>
}

@if (hasPublished && hasViewPermission)
{
    <a display-for="@contentItem" target="_blank" class="btn btn-sm btn-success view"><i class="fas fa-external-link-alt"></i> <span>@T["View"]</span></a>
}

@if (hasDraft && hasPreviewPermission)
{
    <a asp-action="Preview" asp-controller="Item" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" target="_blank" class="btn btn-sm btn-primary preview"><i class="fas fa-external-link-alt"></i> <span>@T["Preview Draft"]</span></a>
}
