@using System.Collections
@using System.Collections.Generic
@using OrchardCore
@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.ContentManagement.Metadata.Settings
@using OrchardCore.ContentTypes
@using OrchardCore.Localization.Data

@inject IDataLocalizer D

@{
    var shapes = Model as IEnumerable<IShape>;

    if (shapes is null || !shapes.Any())
    {
        return;
    }

    ContentTypePartDefinition typePartDefinition = Model.ContentTypePartDefinition;
    var description = typePartDefinition.Description();
}
<div class="@Orchard.GetPartWrapperClasses(typePartDefinition)">
    <div class="@Orchard.GetLabelClasses()">
        @D[typePartDefinition.DisplayName(), DataLocalizationContext.ContentType]

        @if (!string.IsNullOrEmpty(description))
        {
            <small class="form-text text-muted">@description</small>
        }
    </div>

    <div class="@Orchard.GetEndClasses()">
        @foreach (var shape in shapes)
        {
            @await DisplayAsync(shape)
        }
    </div>
</div>
