@model ContentOptionsViewModel
<div class="d-inline-flex float-end mb-0">
    <div class="btn-group">
        @if (Model.CreatableTypes.Any())
        {
            @if (Model.CreatableTypes.Count == 1)
            {
                <a class="btn btn-sm btn-secondary" href="@Url.RouteUrl(new { area = "OrchardCore.Contents", controller = "Admin", action = "Create", id = Model.CreatableTypes.First().Value, returnUrl = FullRequestPath })">@T["New {0}", Model.CreatableTypes.First().Text]</a>
            }
            else
            {
                <div class="dropdown order-md-1">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="new-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @T["New"]
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end scrollable" aria-labelledby="bulk-action-menu-button">
                        @foreach (var item in Model.CreatableTypes)
                        {
                            <li><a class="dropdown-item" href="@Url.RouteUrl(new { area = "OrchardCore.Contents", controller = "Admin", action = "Create", id = @item.Value, returnUrl = FullRequestPath })">@T[Html.Encode(item.Text)]</a></li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>
