@model ContentOptionsViewModel
<div class="input-group input-group-sm w-50 d-inline-flex has-filter">
    <div class="input-group-prepend">
        <button class="btn btn-sm dropdown-toggle" style="border:1px solid lightgrey" type="button" data-toggle="dropdown" id="filter-dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-filter" title="@T[" Filters"]"></i>
        </button>
        <div class="dropdown-menu @if(CultureInfo.CurrentUICulture.IsRightToLeft()){<text>dropdown-menu-right</text>}"
            aria-labelledby="filter-dropdown">
            <a class="dropdown-item" href="?Options.ContentsStatus=Draft">@T["Only draft items"]</a>
            <a class="dropdown-item" href="?Options.ContentsStatus=Published">@T["Only published items"]</a>
            <a class="dropdown-item" href="?Options.ContentsStatus=Owner">@T["Owned by me"]</a>
        </div>
    </div>
    <input asp-for="DisplayText" class="form-control" placeholder="@T[" Search"]" type="search" autofocus />
    <div id="filter-clear-cnt" class="input-group-append d-none">
        <button class="btn btn-sm" style="border:1px solid lightgrey" type="button" id="filter-clear-btn" aria-haspopup="true" data-toggle="tooltip" data-placement="top" title="@T["Reset"]">
            <i class="fas fa-times" title="@T["Reset"]"></i>
        </button>
    </div>
    <script at="Foot">
        $(function () {
            if ($("#@Html.IdFor(m => m.DisplayText)").val() !== "")
                $("#filter-clear-cnt").removeClass("d-none");

            $("#filter-clear-btn").on("click", function (e) {
                e.preventDefault();

                $("#@Html.IdFor(m => m.DisplayText)").val("");
                $("[name='submit.Filter']").click();
            });
        });
    </script>
</div>