@model SiteSettingsDeploymentStepViewModel
@using System.Reflection
@{
    var settings = Model.Settings;
}
<h5>@T["Site Settings"]</h5>

<div class="form-group">
    <span class="hint">@T["The site settings to add as part of the plan."]</span>
    <ul class="list-group w-md-50">
        @foreach (var setting in typeof(ISite).GetProperties(BindingFlags.Public | BindingFlags.Instance))
        {
            var name = setting.Name;
            var checkd = settings?.Contains(name);

            <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="@(Html.IdFor(m => m.Settings) + "-" + @name)" name="@Html.NameFor(m => m.Settings)" value="@name" checked="@checkd">
                    <label class="custom-control-label" for="@(Html.IdFor(m => m.Settings) + "-" + @name)">@name</label>
                </div>
            </li>
        }
    </ul>
</div>
