@model WorkflowTypeViewModel
@using OrchardCore.Workflows.ViewModels;

<zone Name="Title"><h1>@RenderTitleSegments(Model.WorkflowType.Name)</h1></zone>

<zone name="Breadcrumbs">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">@T["Workflows"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.WorkflowType.Name</li>
        </ol>
    </nav>
</zone>
<div class="card mb-3">
    <div class="card-body bg-primary p-3">
        <div class="input-group input-group-sm w-lg-50 d-inline-flex">
            <button type="button" class="btn btn-primary btn-sm mr-2" data-toggle="modal" data-target="#activity-picker" data-picker-title="@T["Available Events"]" data-activity-type="Event">
                @T["Add Event"]
            </button>
            <button type="button" id="add-task-button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#activity-picker" data-picker-title="@T["Available Tasks"]" data-activity-type="Task">
                @T["Add Task"]
            </button>
        </div>
        <div class="btn-group float-right">
            <a class="btn btn-secondary btn-sm" asp-action="EditProperties" asp-route-id="@Model.WorkflowType.Id" asp-route-returnUrl="@FullRequestPath">@T["Properties"]</a>
            <a class="btn btn-secondary btn-sm" asp-action="Index" asp-controller="Workflow" asp-route-workflowtypeid="@Model.WorkflowType.Id" asp-route-returnUrl="@FullRequestPath">@T["Instances"] <span class="badge ta-badge">@Model.WorkflowCount</span></a>
        </div>
    </div>
</div>

<div asp-validation-summary="ModelOnly"></div>

<form asp-action="Edit" method="post" id="workflowEditorForm" class="no-multisubmit">
    <div class="form-group">
        <div class="workflow-container">
            <div class="workflow-canvas-container">
                <div class="workflow-canvas" data-workflow-type="@Model.WorkflowTypeJson" data-workflow-delete-activity-prompt="@T["Are you sure you want to delete this activity?"]" data-workflow-local-id="@Model.LocalId" data-workflow-load-local-state="@Model.LoadLocalState.ToString().ToLower()">
                    @foreach (var activityShape in Model.ActivityDesignShapes)
                    {
                        @await DisplayAsync(activityShape)
                    }
                </div>
            </div>
        </div>
        <input asp-for="State" id="workflowStateInput" type="hidden" />
    </div>
    <div class="form-group">
        <div class="form-group">
            <button class="btn btn-primary save" type="submit">@T["Save"]</button>
            <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
        </div>
    </div>
</form>

<!-- Activity Picker Modal -->
<div class="modal fade modal-activities" id="activity-picker" tabindex="-1" role="dialog" aria-labelledby="activity-picker-label" aria-hidden="true" data-activity-type="Event|Task">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activity-picker-label">@T["Available Activities"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="form-group">
                            <input class="form-control" type="search" placeholder="@T["Filter"]" aria-label="@T["Filter"]" autofocus />
                        </div>
                        <ul class="nav nav-pills flex-column activity-picker-categories">
                            <li class="nav-item">
                                <a class="nav-link active" href="#all" data-toggle="pill">All</a>
                            </li>
                            @foreach (var category in Model.ActivityCategories)
                            {
                                <li class="nav-item" data-category="@category.Name.HtmlClassify()">
                                    <a class="nav-link" href="#@category.Name.HtmlClassify()" data-toggle="pill">@category</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-10">
                        <div class="card-columns tab-content">
                            @foreach (var activityShape in Model.ActivityThumbnailShapes)
                            {
                                @await DisplayAsync(activityShape)
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@T["Cancel"]</button>
            </div>
        </div>
    </div>
</div>

<style asp-name="jsplumbtoolkit-defaults"></style>
<style asp-src="~/OrchardCore.Workflows/Styles/orchard.workflows-editor.min.css" debug-src="~/OrchardCore.Workflows/Styles/orchard.workflows-editor.css"></style>
<script depends-on="jsplumb" asp-src="~/OrchardCore.Workflows/Scripts/orchard.workflows-editor.min.js" debug-src="~/OrchardCore.Workflows/Scripts/orchard.workflows-editor.js" at="Foot"></script>
