@model WorkflowTypeIndexViewModel
@using OrchardCore.Workflows.ViewModels

@{
    int startIndex = (Model.Pager.Page - 1) * (Model.Pager.PageSize) + 1;
    int endIndex = startIndex + Model.WorkflowTypes.Count - 1;
}
<zone Name="Title"><h1>@RenderTitleSegments(T["Manage Workflows"])</h1></zone>

<form asp-action="Index" id="workflows-types-form" method="post" class="no-multisubmit">
    <input type="submit" name="submit.Filter" id="submitFilter" class="visually-hidden" />
    <input type="submit" name="submit.BulkAction" class="visually-hidden" />
    <input asp-for="Options.BulkAction" type="hidden" />

    <div class="card text-bg-theme mb-3 position-sticky action-bar">
        <div class="card-body">
            <div class="row gx-3">
                <div class="col">
                    <div class="has-search">
                        <i class="fa-solid fa-search form-control-feedback" aria-hidden="true"></i>
                        <input asp-for="Options.Search" class="form-control" placeholder="@T["Search"]" type="search" autofocus />
                    </div>
                </div>
                <div class="col-auto">
                    <a asp-action="EditProperties" asp-route-returnUrl="@FullRequestPath" class="btn btn-secondary create" role="button">@T["Create Workflow"]</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group with-checkbox">
        @if (Model.WorkflowTypes.Count > 0)
        {
            <li class="list-group-item text-bg-theme">
                <div class="row gx-3">
                    <div class="col text-nowrap">
                        <div class="form-check my-1">
                            <input type="checkbox" class="form-check-input" id="select-all">
                            <label class="form-check-label" for="select-all" id="select-all-label" title="@T["Select All"]"></label>
                            <label id="items" for="select-all">@T.Plural(Model.WorkflowTypes.Count, "{0} item", "{0} items")<span class="text-muted" title="@T["Items {0} to {1}", startIndex, endIndex]">@T.Plural((int)Model.Pager.TotalItemCount, " / {0} item in total", " / {0} items in total")</span></label>
                            <label id="selected-items" class="text-muted" for="select-all"></label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="dropdown" style="display:none" id="actions">
                            <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="bulk-action-menu-button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @T["Actions"]
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="javascript:void(0)" data-action="Export" data-title="@T["Bulk Action"]">Export</a></li>
                                @foreach (var item in Model.Options.WorkflowTypesBulkAction)
                                {
                                    <li><a class="dropdown-item" href="javascript:void(0)" data-action="@item.Value" data-title="@T["Bulk Action"]" data-message="@T["Are you sure you want to {0} these items?", @item.Text.ToLower()]">@item.Text</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            @for (var i = 0; i < Model.WorkflowTypes.Count; i++)
            {
                var entry = Model.WorkflowTypes[i];
                <li class="list-group-item">
                    <div class="properties">
                        <div class="float-end">
                            <a asp-action="Export" data-url-af="UnsafeUrl" asp-route-id="@entry.WorkflowType.Id" asp-route-returnUrl="@FullRequestPath" class="btn btn-sm btn-secondary">@T["Export"]</a>
                            <a asp-action="Edit" asp-route-id="@entry.WorkflowType.Id" asp-route-returnUrl="@FullRequestPath" class="btn btn-primary btn-sm">@T["Edit"]</a>
                            <a asp-action="EditProperties" asp-route-id="@entry.WorkflowType.Id" asp-route-returnUrl="@FullRequestPath" class="btn btn-success btn-sm">@T["Properties"]</a>
                            <a asp-action="Delete" asp-route-id="@entry.WorkflowType.Id" class="btn btn-danger btn-sm" data-url-af="RemoveUrl UnsafeUrl">@T["Delete"]</a>
                            <a asp-action="Duplicate" asp-route-id="@entry.WorkflowType.Id" asp-route-returnUrl="@FullRequestPath" class="btn btn-warning btn-sm">@T["Duplicate"]</a>
                        </div>

                        <div class="form-check float-start">
                            <input type="checkbox" class="form-check-input" value="@entry.Id" name="itemIds" id="itemIds-@entry.Id">
                            <label class="form-check-label" for="itemIds-@entry.Id"></label>
                        </div>
                        <a asp-action="Edit" asp-route-id="@entry.WorkflowType.Id" asp-route-returnUrl="@FullRequestPath">@entry.Name</a>
                        @if (!entry.WorkflowType.IsEnabled)
                        {
                            <span class="badge text-danger"><i class="fa-solid fa-power-off" aria-hidden="true"></i> @T["Disabled"]</span>
                        }
                        @if (entry.HasInstances)
                        {
                            <a asp-action="Index" asp-controller="Workflow" asp-route-workflowtypeid="@entry.WorkflowType.Id" class="badge ta-badge"><i class="fa-solid fa-list-ol" aria-hidden="true"></i> @T["Instances"]</a>
                        }

                        <div class="metadata">
                        </div>
                    </div>
                </li>
            }
        }
        else
        {
            <li class="list-group-item">
                <div class="alert alert-info mb-0" role="alert">
                    @T["<strong>Nothing here!</strong> There are no workflows for the moment."]
                </div>
            </li>
        }
    </ul>
</form>
@await DisplayAsync(Model.Pager)

<script at="Foot" type="module">
    var actions = document.getElementById("actions");
    var items = document.getElementById("items");
    var filters = document.querySelectorAll(".filter");
    var selectAllCtrl = document.getElementById("select-all");
    var selectedItems = document.getElementById("selected-items");
    var itemsCheckboxes = document.querySelectorAll("input[type='checkbox'][name='itemIds']");
    var submitFilterButton = document.querySelector("[name='submit.Filter']");
    var bulkActionInput = document.querySelector("[name='Options.BulkAction']");
    var submitBulkActionButton = document.querySelector("[name='submit.BulkAction']");

    function show(element) {
        if (element) {
            element.style.display = '';
        }
    }

    function hide(element) {
        if (element) {
            element.style.display = 'none';
        }
    }

    function selectedItemsCount() {
        return document.querySelectorAll("input[type='checkbox'][name='itemIds']:checked").length;
    }

    function setBulkAction(action) {
        if (bulkActionInput && submitBulkActionButton) {
            bulkActionInput.value = action;
            submitBulkActionButton.click();
        }
    }

    document.querySelectorAll(".filter-options input").forEach(function (input) {
        input.addEventListener("change", function () {
            submitFilterButton?.click();
        });
    });

    document.querySelectorAll(".dropdown-menu .dropdown-item").forEach(function (item) {
        if (!item.dataset.action) {
            return;
        }

        item.addEventListener("click", function () {
            if (selectedItemsCount() > 1) {
                switch (item.dataset.action) {
                    case "Delete":
                        confirmDialog({
                            title: item.dataset.title, message: item.dataset.message, callback: function (r) {
                                if (r) {
                                    setBulkAction(item.dataset.action);
                                }
                            }
                        });
                        break;
                    case "Export":
                        setBulkAction(item.dataset.action);
                        break;
                }
            }
        });
    });

    function displayActionsOrFilters() {
        if (selectedItemsCount() > 1) {
            show(actions);
            filters.forEach(function (filter) {
                hide(filter);
            });
            show(selectedItems);
            hide(items);
        }
        else {
            hide(actions);
            filters.forEach(function (filter) {
                show(filter);
            });
            hide(selectedItems);
            show(items);
        }
    }

    if (selectAllCtrl) {
        selectAllCtrl.addEventListener("click", function () {
            itemsCheckboxes.forEach(function (checkbox) {
                checkbox.checked = selectAllCtrl.checked;
            });
            if (selectedItems) {
                selectedItems.textContent = selectedItemsCount() + ' @T["selected"]';
            }
            displayActionsOrFilters();
        });
    }

    itemsCheckboxes.forEach(function (checkbox) {
        checkbox.addEventListener("click", function () {
            var itemsCount = document.querySelectorAll("input[type='checkbox'][name='itemIds']").length;
            var selectedCount = selectedItemsCount();

            if (selectAllCtrl) {
                selectAllCtrl.checked = selectedCount == itemsCount;
                selectAllCtrl.indeterminate = selectedCount > 0 && selectedCount < itemsCount;
            }

            if (selectedItems) {
                selectedItems.textContent = selectedCount + ' @T["selected"]';
            }
            displayActionsOrFilters();
        });
    });
</script>
