@model Orchard.Workflows.ViewModels.AdminEditViewModel
@using Orchard.Workflows.Models;
@using Orchard.Workflows.ViewModels;

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()

    <fieldset>
        <div>
            <label for="name">@T("Name")</label>
            @Html.TextBoxFor(m => m.WorkflowDefinition.Name, new { @class = "text medium" })
            <span class="hint">@T("The name of the Workflow.")</span>
        </div>
    </fieldset>
    
    <fieldset>
        <button class="primaryAction" type="submit">@T("Save")</button>
    </fieldset>
}