<h1>@RenderTitleSegments(T["Edit Activity"])</h1>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="EditActivity" method="post">

    @* Render the dynamic form *@
    @*if (Model.Form != null) {
    <fieldset>
        @DisplayChildren(Model.Form)
    </fieldset>
    }*@

    <fieldset>
        <button class="primaryAction" type="submit" name="_submit.Save" value="@T["Save"]">@T["Save"]</button>
        <button class="cancel" type="submit" name="_submit.Cancel" value="@T["Cancel"]">@T["Cancel"]</button>
    </fieldset>
</form>

<script asp-name="orchard-workflows-serialize" depends-on="admin" asp-src="/Orchard.Workflows/Scripts/orchard-workflows-serialize.min.js" debug-src="/Orchard.Workflows/Scripts/orchard-workflows-serialize.js" type="text/javascript" at="Foot"></script>

<script type="text/javascript" at="Head">
//<![CDATA[
var requestAntiForgeryToken = '''' + $("[name='__RequestVerificationToken']")["value"] + '''';
var localId = '@Model.LocalId';
//]]>
</script>

<script type="text/javascript" at="Foot">
loadForm('@Model.LocalId', '@Model.ClientId');
</script>