@model AdminIndexViewModel
@using Orchard.Workflows.ViewModels;

<h1>@RenderTitleSegments(T["Manage Workflow Definitions"])</h1>

@using (Html.BeginForm())
{
    <ul class="list-group">
        @foreach (var entry in Model.WorkflowDefinitions)
        {
            <li class="list-group-item">
                <div class="properties">
                    <div class="related">
                        <a asp-action="EditProperties" asp-route-id="@entry.Definition.Id" class="btn btn-primary btn-sm">@T["Edit Properties"]</a>
                        <a asp-action="Edit" asp-route-id="@entry.Definition.Id" class="btn btn-primary btn-sm">@T["Edit"]</a>
                        <a asp-action="Delete" asp-route-id="@entry.Definition.Id" class="btn btn-danger btn-sm" itemprop="RemoveUrl UnsafeUrl">@T["Delete"]</a>
                    </div>

                    @entry.User.UserName
                </div>
            </li>
        }
    </ul>
}

@await DisplayAsync(Model.Pager)