@using Orchard.ContentTypes.ViewModels;
@model EditPartViewModel
@{
    //Style.Require("ContentTypesAdmin");
    //Script.Require("jQuery");
}

<h1>@RenderTitlePart(T["Edit Part"])</h1>

<form asp-action="EditPart">
    @Html.ValidationSummary()
    <fieldset>
        <label asp-for="Name">@T["Name"]</label>
        <input asp-for="Name" class="form-control" disabled />
        <input asp-for="Name" type="hidden" />
    </fieldset>

    <div class="manage-part">
        <div class="settings">
            @{ await Html.RenderTemplatesAsync(Model.Templates); }
        </div>
        <h2>@T["Fields"]</h2>
        <div class="manage add-to-type">
            <a asp-for-action="AddFieldTo" asp-route-id="@Model.Name" class="btn btn-primary">@T["Add"]</a>
        </div>
        @Html.EditorFor(m => m.Fields, "Fields", "")
    </div>
    <fieldset class="action">
        <button class="btn btn-primary" type="submit" name="submit.Save" value="Save">@T["Save"]</button>
        <button class="btn btn-danger" type="submit" name="submit.Delete" value="Delete" itemprop="RemoveUrl">@T["Delete"]</button>
    </fieldset>
</form>    

@*@using(Script.Foot()){
<script type="text/javascript">
//<![CDATA[
    (function ($) {
        $(".manage-field h3,.manage-part h3").expandoControl(function (controller) { return controller.nextAll(".details"); }, { collapse: true, remember: false });
        $(".manage-field h4").expandoControl(function (controller) { return controller.nextAll(".settings"); }, { collapse: true, remember: false });
    })(jQuery);
//]]>
</script>
}*@