@using Orchard.Utility
@model Orchard.ContentTypes.ViewModels.EditFieldNameViewModel
@{
//Style.Require("ContentTypesAdmin");
}

@RenderTitlePart(T["Edit Field \"{0}\"", Html.Raw(Model.DisplayName)]);

<form asp-action="EditField"></form>
    @Html.ValidationSummary()
    <fieldset class="form-group">
        <label asp-for="DisplayName">@T["Display Name"]</label>
        <input asp-for="DisplayName" autofocus class="form-control" />
        <span class="hint">@T["Name of the field as it will be displayed in screens."]</span>
        <input asp-for="Name" type="hidden" />
    </fieldset>

    <fieldset class="form-group">
        <button class="btn btn-primary" type="submit" name="submit.Save" value="Save">@T["Save"]</button>
    </fieldset>
}
