@using Orchard.ContentTypes.ViewModels;
@model EditTypeViewModel

@{
//Style.Require("ContentTypesAdmin");
//Script.Require("jQuery");

}
<h1>@RenderTitlePart(T["Edit Content Type - {0}", Model.DisplayName])</h1>


<form asp-action="Edit">
    @Html.ValidationSummary()

    <fieldset class="form-group row">
        <div class="col-xs-6 ">
            <label asp-for="DisplayName">@T["Display Name"]</label>
            <input asp-for="DisplayName" class="form-control" />
            <input asp-for="Name" type="hidden" />
            <span class="hint">@T["Name of the type as it will be displayed in screens."]</span>
    @{ await Html.RenderTemplatesAsync(Model.Templates); }

    <fieldset class="form-group">
        </div>
    </fieldset>

    @{ await Html.RenderTemplatesAsync(Model.Templates); }

    <fieldset class="form-group">
        <h3>@T["Fields"]</h3>
        @Html.EditorFor(m => m.Fields, "Fields", "")
        <a asp-route-action="AddFieldTo" asp-route-id="@Model.Name" class="btn btn-info btn-sm" role="button">@T["Add Field"]</a>
    </fieldset>
    <fieldset class="form-group">
        <h3>@T["Parts"]</h3>
        @Html.EditorFor(m => m.Parts, "TypeParts", "")
        <a asp-route-action="AddPartsTo" asp-route-id="@Model.Name" class="btn btn-info btn-sm" role="button">@T["Add Parts"]</a>
    </fieldset>
    
    <fieldset class="form-group">
        <button class="btn btn-primary" type="submit" name="submit.Save" value="Save">@T["Save"]</button>
        <button class="btn btn-danger" type="submit" name="submit.Delete" value="Delete" itemprop="RemoveUrl">@T["Delete"]</button>
    </fieldset>
</form>

@*@using (Script.Foot())
    {
        <script type="text/javascript">
            //<![CDATA[
            (function ($) {
                $(".manage-field h3,.manage-part h3").expandoControl(function (controller) { return controller.nextAll(".details"); }, { collapse: true, remember: false });
                $(".manage-field h4").expandoControl(function (controller) { return controller.nextAll(".settings"); }, { collapse: true, remember: false });
            })(jQuery);
            //]]>
        </script>
    }*@
