@model OrchardCore.Flows.ViewModels.BagPartSettingsViewModel
@using OrchardCore.Flows.Settings
@using OrchardCore.Flows.Models

<div class="ocat-wrapper">
    <label asp-for="Source" class="ocat-label">@T["Contained Content Types"]</label>
    <div class="ocat-end w-sm-50" id="@Html.IdFor(x => x.Source)">
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Source" id="SourceContentTypes" value="@(BagPartSettingType.ContentTypes)" checked="@(Model.Source == BagPartSettingType.ContentTypes)">
            <label for="SourceContentTypes" class="form-check-label">
                @T["Content Types"]
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Source" id="SourceStereotype" value="@(BagPartSettingType.Stereotypes)" checked="@(Model.Source == BagPartSettingType.Stereotypes)">
            <label for="SourceStereotype" class="form-check-label">
                @T["Stereotype"] <span class="hint">@T["All content types of these Stereotypes"]</span>
            </label>
        </div>
    </div>
</div>

<div class="ocat-wrapper" id="ContentTypesContainer">
    <label asp-for="ContainedContentTypes" class="ocat-label">@T["Contained Content Types"]</label>
    <div class="ocat-end">
        <span class="hint">@T["The content types that this bag can contain, e.g. Slide for a Slide Show."]</span>
        @await Component.InvokeAsync("SelectContentTypes", new { selectedContentTypes = Model.ContainedContentTypes, htmlName = Html.NameFor(m => m.ContainedContentTypes) })
    </div>
</div>

<div class="ocat-wrapper" id="StereotypesContainer">
    <label asp-for="Stereotypes" class="ocat-label">@T["Stereotypes"]</label>
    <div class="ocat-end w-sm-50" id="@Html.IdFor(x => x.Source)">
        <input asp-for="Stereotypes" class="form-control medium" />
        <span class="hint">@T["The Stereotypes of the content types that this bag can contain. You may define multiple Stereotypes using the comma (,) as a separator"]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="DisplayType" class="ocat-label">@T["Display Type"]</label>
    <div class="ocat-end w-sm-50">
        <input asp-for="DisplayType" placeholder="Summary" class="form-control medium" />
        <span class="hint">@T["The display type to use when rendering the content items. Default is Summary."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="CollapseContainedItems">
            <label class="form-check-label" asp-for="CollapseContainedItems">@T["Collapse Contained Items"]</label>
            <span class="hint">@T["When checked, the contained items will be collapsed when the edit form is loaded."]</span>
        </div>
    </div>
</div>

<script asp-src="~/OrchardCore.Flows/Scripts/bag-part-settings/bag-part-settings.min.js" debug-src="~/OrchardCore.Flows/Scripts/bag-part-settings/bag-part-settings.js" at="Foot" type="module"></script>
