@using OrchardCore.Workflows.ViewModels
@model CorrelateTaskViewModel

<div class="mb-3" asp-validation-class-for="Value">
    <label asp-for="Value">@T["Value"]</label>
    <input  type="hidden" asp-for="Value" class="form-control "/>
    <div id="@Html.IdFor(x => x.Value)_editor" asp-for="Text" class="form-control"></div>
    <span asp-validation-for="Value"></span>
    <span class="hint">@T["The value to correlate workflow instances with. With Javascript support."]</span>
</div> 
<script asp-name="monaco" depends-on="admin" at="Foot"></script>
<script at="Foot" depends-on="monaco">
    $(document).ready(function () {
        require(['vs/editor/editor.main'], function () {
            var settings=  {
                  "automaticLayout": true,
                  "language": "javascript"
                };

            var html = document.getElementsByTagName("html")[0];
            const mutationObserver = new MutationObserver(setTheme);
            mutationObserver.observe(html, { attributes: true });

            function setTheme() {
                var theme = html.dataset.theme;
                if (theme === "darkmode") {
                    monaco.editor.setTheme('vs-dark')
                } else {
                    monaco.editor.setTheme('vs')
                }
            }

            setTheme();

            var editor = monaco.editor.create(document.getElementById('@Html.IdFor(x => x.Value)_editor'), settings);
            var textArea = document.getElementById('@Html.IdFor(x => x.Value)');

            editor.getModel().setValue(textArea.value);

            window.addEventListener("submit", function () {
                textArea.value = editor.getValue();
            });
        });
    });
</script>