@using Microsoft.AspNetCore.Antiforgery
@using OrchardCore.Workflows.Http.ViewModels
@using OrchardCore.Mvc.Core.Utilities
@model HttpRequestEventSecretViewModel
@inject IAntiforgery Antiforgery

<div>
    @{
        var url = Url.Action("Invoke", "HttpWorkflow", new { token = Model.Token });
        var antiforgeryTokenSet = Antiforgery.GetTokens(Context);
    }
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">@Url.GetBaseUrl()</span>
        </div>
        <input value="@url" type="text" id="workflow-url-text" class="form-control" readonly />
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="generate-url-button" title="@T["Generate a new URL"]" data-generate-url="@Url.Action("GenerateUrl", "HttpWorkflow")" data-antiforgery-token="@antiforgeryTokenSet.RequestToken" data-antiforgery-header-name="@antiforgeryTokenSet.HeaderName">@T["Regenerate"]</button>
        </div>
        <div class="input-group-append">
            <span class="btn btn-secondary" onclick="select_all_and_copy(document.getElementById('workflow-url-text'))"><i class="fas fa-copy"></i> @T["Copy"]</span>
        </div>
    </div>
    <span class="hint"><i class="fa fa-exclamation-triangle"></i> @T["Anyone that invokes this URL will trigger this workflow. Keep it in a safe place."]</span>
</div>


<div class="form-group">
    <label asp-for="WorkflowTypeId">@T["Workflow Type"]</label>
    @await Component.InvokeAsync("SelectWorkflowType", new { selectedWorkflowTypeId = Model.WorkflowTypeId, htmlName = Html.NameFor(m => m.WorkflowTypeId) })
    <span class="hint">@T["Select a workflow with an http workflow activity."]</span>
</div>

<div class="form-group" asp-validation-class-for="ActivityId">
    <label asp-for="ActivityId">@T["ActivityId"]</label>
    <div class="input-group mb-2 mb-sm-0">
        <input asp-for="ActivityId" class="form-control " type="text"/>
    </div>    
    <span asp-validation-for="ActivityId"></span>
    <span class="hint">@T["The value for the activity id secret."]</span>
</div>

<div class="form-group">
    <input type="number" asp-for="TokenLifeSpan" id="token-lifespan" class="form-control" />
    <label asp-for="TokenLifeSpan">@T["Token Life Span"]</label>
    <span class="hint"><i class="fa fa-exclamation-triangle"></i> @T["Hit the <b>Regenerate</b> button after changing this value."]</span>
    <span class="hint">@T["Number of days to expire the token. 0 for the token to never expire"]</span>
</div>