@using OrchardCore.Workflows.Http.ViewModels;
@model HttpRequestFilterEventViewModel

<fieldset class="form-group" asp-validation-class-for="HttpMethod">
    <label asp-for="HttpMethod">@T["HTTP Method"] <span asp-validation-for="HttpMethod"></span></label>
    <select asp-for="HttpMethod" class="form-control" asp-items="Model.AvailableHttpMethods"></select>
    <span class="hint">@T["The HTTP method to match."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="ControllerName">
    <label asp-for="ControllerName">@T["Controller"] <span asp-validation-for="ControllerName"></span></label>
    <input asp-for="ControllerName" type="text" class="form-control" />
    <span class="hint">@T["The controller name to match."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="ActionName">
    <label asp-for="ActionName">@T["Action"] <span asp-validation-for="ActionName"></span></label>
    <input asp-for="ActionName" type="text" class="form-control" />
    <span class="hint">@T["The action name to match."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="AreaName">
    <label asp-for="AreaName">@T["Area"] <span asp-validation-for="AreaName"></span></label>
    <input asp-for="AreaName" type="text" class="form-control" />
    <span class="hint">@T["The area name to match."]</span>
</fieldset>