@using OrchardCore.Workflows.Http.ViewModels
@using OrchardCore.Workflows.Models
@model HttpRequestEventSecretViewModel

<div class="form-group">
    <div class="w-100 w-md-50">
        <label asp-for="WorkflowTypeId">@T["Workflow Type"]</label>
        <select asp-for="WorkflowTypeId" asp-items="Model.WorkflowTypes" class="form-control" asp-validation-class-for="WorkflowTypeId">
        </select>          
        <span asp-validation-for="WorkflowTypeId"></span>
    </div>
    <span class="hint">@T["The workflow containing a http request activity."]</span>
</div>


<div class="form-group">
    <div class="w-md-50 w-lg-25">
        <label asp-for="TokenLifeSpan">@T["Token Life Span"]</label>
        <input type="number" asp-for="TokenLifeSpan" class="form-control" />
    </div>
    <span class="hint">@T["Number of days to expire the token. 0 for the token to never expire. From the time of dynamic generation."]</span>
</div>

<span class="hint mb-3 d-block"><i class="fa fa-exclamation-triangle"></i> @T["The url for this secret will be generated dynamically at runtime."]</span>
