@using OrchardCore.Workflows.ViewModels
@model ScriptTaskViewModel

<div class="ocat-wrapper" asp-validation-class-for="AvailableOutcomes">
    <label asp-for="AvailableOutcomes" class="ocat-label">@T["Available Outcomes"]</label>
    <div class="ocat-end">
        <input asp-for="AvailableOutcomes" class="form-control" />
        <span asp-validation-for="AvailableOutcomes"></span>
        <span class="hint">@T["A comma-separated list of available outcomes."]</span>
    </div>
</div>

<div class="ocat-wrapper monaco-text-editor" asp-validation-class-for="Script" data-language="javascript">
    <label asp-for="Script" class="ocat-label">@T["Script"]</label>
    <div class="ocat-end">
        <div id="@Html.IdFor(x => x.Script)_editor" asp-for="Text" style="min-height: 400px;" class="form-control monaco-text-editor-container"></div>
        <textarea asp-for="Script" hidden class="monaco-text-editor-value">@Html.Raw(Model.Script)</textarea>
        <span asp-validation-for="Script"></span>
        <span class="hint">@T["The script to execute. Make sure to call `setOutcome` with any of the specified available outcomes at least once."]</span>
    </div>
</div>

<script asp-name="monaco" at="Foot"></script>
<script asp-name="workflow-monaco-text-editor" at="Foot" type="module"></script>
