@using System.Text.Json
@using OrchardCore.Workflows.Models
@using OrchardCore.Workflows.ViewModels
@model SetPropertyTaskViewModel

@{
    var javaScriptGroupIds = new[] { $"{Html.IdFor(m => m.Value)}_group" };
    var liquidGroupIds = new[] { $"{Html.IdFor(m => m.LiquidValue)}_group" };
}

<div class="ocat-wrapper" asp-validation-class-for="PropertyName">
    <label asp-for="PropertyName" class="ocat-label">@T["Name"]</label>
    <div class="ocat-end">
        <input asp-for="PropertyName" class="form-control" autofocus="autofocus" />
        <span asp-validation-for="PropertyName"></span>
        <span class="hint">@T["The property to set. If the specified property doesn't exist yet, it will be added."]</span>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="Syntax">
    <label asp-for="Syntax" class="ocat-label">@T["Syntax"]</label>
    <div class="ocat-end">
        <select asp-for="Syntax" class="form-select" data-syntax-toggle data-javascript-group-ids="@JsonSerializer.Serialize(javaScriptGroupIds)" data-liquid-group-ids="@JsonSerializer.Serialize(liquidGroupIds)">
            <option value="@nameof(WorkflowScriptSyntax.JavaScript)">@T["JavaScript"]</option>
            <option value="@nameof(WorkflowScriptSyntax.Liquid)">@T["Liquid"]</option>
        </select>
        <span asp-validation-for="Syntax"></span>
    </div>
</div>

<div id="@(Html.IdFor(m => m.Value))_group" class="ocat-wrapper @(Model.Syntax == WorkflowScriptSyntax.JavaScript ? "" : "d-none")" asp-validation-class-for="Value">
    <label asp-for="Value" class="ocat-label">@T["Value"]</label>
    <div class="ocat-end">
        <input type="text" asp-for="Value" class="form-control code" />
        <span asp-validation-for="Value"></span>
        <span class="hint">@T["The JavaScript value to store in the specified property."]</span>
    </div>
</div>

<div id="@(Html.IdFor(m => m.LiquidValue))_group" class="ocat-wrapper @(Model.Syntax == WorkflowScriptSyntax.Liquid ? "" : "d-none")" asp-validation-class-for="LiquidValue">
    <label asp-for="LiquidValue" class="ocat-label">@T["Value"]</label>
    <div class="ocat-end">
        <input type="text" asp-for="LiquidValue" class="form-control code" />
        <span asp-validation-for="LiquidValue"></span>
        <span class="hint">@T["The Liquid value to store in the specified property."]</span>
    </div>
</div>

<script asp-name="workflow-syntax-toggle" at="Foot" type="module"></script>
