@using OrchardCore.Workflows.Models
@using OrchardCore.Workflows.ViewModels
@model SetPropertyTaskViewModel

<div class="mb-3" asp-validation-class-for="PropertyName">
    <label asp-for="PropertyName" class="form-label">@T["Name"]</label>
    <input asp-for="PropertyName" class="form-control" autofocus="autofocus" />
    <span asp-validation-for="PropertyName"></span>
    <span class="hint">@T["The property to set. If the specified property doesn't exist yet, it will be added."]</span>
</div>

<div class="mb-3" asp-validation-class-for="Syntax">
    <label asp-for="Syntax" class="form-label">@T["Syntax"]</label>
    <select asp-for="Syntax" class="form-select">
        <option value="@nameof(WorkflowScriptSyntax.JavaScript)">@T["JavaScript"]</option>
        <option value="@nameof(WorkflowScriptSyntax.Liquid)">@T["Liquid"]</option>
    </select>
    <span asp-validation-for="Syntax"></span>
</div>

<div id="@(Html.IdFor(m => m.Value))_group" class="mb-3 @(Model.Syntax == WorkflowScriptSyntax.JavaScript ? "" : "d-none")" asp-validation-class-for="Value">
    <label asp-for="Value" class="form-label">@T["Value"]</label>
    <input type="text" asp-for="Value" class="form-control code" />
    <span asp-validation-for="Value"></span>
    <span class="hint">@T["The JavaScript value to store in the specified property."]</span>
</div>

<div id="@(Html.IdFor(m => m.LiquidValue))_group" class="mb-3 @(Model.Syntax == WorkflowScriptSyntax.Liquid ? "" : "d-none")" asp-validation-class-for="LiquidValue">
    <label asp-for="LiquidValue" class="form-label">@T["Value"]</label>
    <input type="text" asp-for="LiquidValue" class="form-control code" />
    <span asp-validation-for="LiquidValue"></span>
    <span class="hint">@T["The Liquid value to store in the specified property."]</span>
</div>

<script at="Foot">
    document.addEventListener('DOMContentLoaded', () => {
        const syntaxElement = document.getElementById('@Html.IdFor(m => m.Syntax)');
        const javaScriptGroup = document.getElementById('@($"{Html.IdFor(m => m.Value)}_group")');
        const liquidGroup = document.getElementById('@($"{Html.IdFor(m => m.LiquidValue)}_group")');

        const toggleEditors = () => {
            const useLiquid = syntaxElement.value === '@nameof(WorkflowScriptSyntax.Liquid)';
            javaScriptGroup.classList.toggle('d-none', useLiquid);
            liquidGroup.classList.toggle('d-none', !useLiquid);
        };

        syntaxElement.addEventListener('change', toggleEditors);
        toggleEditors();
    });
</script>
