@using OrchardCore.Workflows.Timers
@model TimerEventViewModel

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="CronExpression">
    <label asp-for="CronExpression" class="@Orchard.GetLabelClasses()">@T["CRON Expression"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" asp-for="CronExpression" class="form-control" autofocus />
        <span asp-validation-for="CronExpression"></span>
        <span class="hint">@T["The CRON expression."]</span>
    </div>
</div>
<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="UseLocalTime">
    <div class="@Orchard.GetEndClasses(true)">
        <div class="form-check">
            <input type="checkbox" asp-for="UseLocalTime" class="form-check-input" />
            <label asp-for="UseLocalTime" class="form-check-label">@T["Use site time zone"]</label>
        </div>
        <span asp-validation-for="UseLocalTime"></span>
        <span class="hint dashed">@T["The CRON expression uses UTC by default. Check this box to use the site's time zone instead."]</span>
    </div>
</div>
