@model CreateDeploymentPlanViewModel

<h1>@RenderTitleSegments(T["Create Deployment Plan"])</h1>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Create" method="post">
    <div class="form-group" asp-validation-class-for="Name">
        <label asp-for="Name">@T["Name"]</label>
        <span asp-validation-for="Name" class="text-danger">@T["The name is required."]</span>
        <input asp-for="Name" class="form-control" autofocus/>
    </div>

    <fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">@T["Create"]</button>
            <a class="btn btn-secondary" asp-route-action="Index">@T["Cancel"]</a>
        </div>
    </fieldset>
</form>
