@using Microsoft.AspNetCore.Html
@using OrchardCore.Features
@using OrchardCore.Modules

@model FeaturesViewModel
@{
    var title = T["Features"];
    if (!string.IsNullOrEmpty(Model.Name))
    {
        title = T["Features for {0} tenant", Model.Name];
    }
}

<zone Name="Title"><h1>@RenderTitleSegments(title)</h1></zone>

<script asp-name="bootstrap-select" at="Foot"></script>

<div data-list-management
     data-client-side-search="true"
     data-min-selected-items="1"
     data-filter-selector=".list-management-unused"
     >
<form autocomplete="off" class="position-sticky action-bar">
    <div class="card text-bg-theme mb-3">
        <div class="card-body">

            <div class="row gx-3">
                <div class="col">
                    <div class="has-search">
                        <i class="fa-solid fa-search form-control-feedback" aria-hidden="true"></i>
                        <input id="search-box" class="form-control" placeholder="@T["Search"]" type="search" autofocus />
                    </div>
                </div>
                <div class="col-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="bulk-action-menu-button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @T["Bulk Actions"]
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#" data-action="@nameof(FeaturesBulkAction.Disable)">@T["Disable"]</a></li>
                            <li><a class="dropdown-item" href="#" data-action="@nameof(FeaturesBulkAction.Enable)">@T["Enable"]</a></li>
                            <li><a class="dropdown-item" href="#" data-action="@nameof(FeaturesBulkAction.Toggle)">@T["Toggle"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<form asp-action="Features" method="post" class="no-multisubmit">
    <input name="BulkAction" type="hidden" />
    <input name="Force" type="hidden" value="true" />
    <input type="submit" name="submit.BulkAction" class="d-none" />
    <ul class="list-group with-checkbox mb-3">
        <li class="list-group-item text-bg-theme">
            <div class="row gx-3">
                <div class="col">
                    @{
                        var totalFeatures = Model.Features.Count();
                    }
                    <span id="list-summary"
                          data-summary-text="@T["Showing {0} of {1} features", "__VISIBLE__", "__TOTAL__"]"
                          data-total-count="@totalFeatures">
                        @T["Showing {0} of {1} features", totalFeatures, totalFeatures]
                    </span>
                </div>
                <div class="col col-md-auto text-end">
                    <div class="btn-group filter">
                        <select id="visibility-filter" class="selectpicker show-tick nosubmit me-2" multiple data-list-filter data-header="@T["Filter by visibility"]" data-selected-text-format="static" data-width="fit" title="@T["Visibility"]" data-style="btn-sm">
                            <option value="true" data-list-filter-attribute="data-is-on-demand" data-list-filter-mode="exclude" selected>@T["Hide on demand"]</option>
                            <option value="true" data-list-filter-attribute="data-is-always-enabled" data-list-filter-mode="exclude" selected>@T["Hide always enabled"]</option>
                        </select>
                        <select id="status-filter" class="selectpicker show-tick nosubmit" data-list-filter data-list-filter-attribute="data-is-enabled" data-header="@T["Filter by status"]" data-selected-text-format="static" data-width="fit" title="@T["Status"]" data-style="btn-sm">
                            <option value="" selected>@T["Any status"]</option>
                            <option value="true">@T["Enabled only"]</option>
                            <option value="false">@T["Disabled only"]</option>
                        </select>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    @{
        var featureGroups = Model.Features.GroupBy(f => f.Descriptor.Category).OrderBy(o => o.Key).ToArray();
        foreach (var featureGroup in featureGroups)
        {
            var categoryName = featureGroup.FirstOrDefault()?.Descriptor.Category ?? T["Uncategorized"].Value;
            var features = featureGroup.OrderBy(f => f.Descriptor.Name);
            var categoryCheckboxId = Html.GenerateIdFromName($"select-all-{categoryName}");

            <div class="feature-group list-management-group">
                <h4 class="mb-1 mt-3">@categoryName</h4>
                <ul class="list-group with-checkbox">
                    <li class="list-group-item text-bg-theme list-group-select-all-container">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input list-group-select-all" id="@categoryCheckboxId">
                            <label class="form-check-label list-group-select-all-label" for="@categoryCheckboxId" data-select-all-text="@T["Select all {0} features grouped under {1} category", "__COUNT__", categoryName]">
                                <span class="list-group-select-all-text">@T["Select all {0} features grouped under {1} category", 0, categoryName]</span>
                            </label>
                        </div>
                    </li>
                    @foreach (var feature in features)
                    {
                        //var lifecycleStatus = feature.Descriptor.Extension.LifecycleStatus;
                        var featureId = feature.Descriptor.Id;
                        var featureName = feature.Descriptor.Name;
                        var isAlwaysEnabled = feature.IsAlwaysEnabled;

                        if (Model.IsProxy && featureId == FeaturesConstants.FeatureId)
                        {
                            isAlwaysEnabled = false;
                        }

                        var dependencies = (from d in feature.FeatureDependencies
                                            select (from f in Model.Features where f.Descriptor.Id == d.Id select f).SingleOrDefault()).Where(f => f != null).OrderBy(f => f.Descriptor.Name);

                        var dependenciesNames = string.Join(" ", dependencies.Select(d => d.Descriptor.Name));

                        var missingDependencies = feature.FeatureDependencies
                            .Where(d => !Model.Features.Any(f => f.Descriptor.Id == d.Id));
                        var showDisable = !feature.Descriptor.EnabledByDependencyOnly && !isAlwaysEnabled && categoryName != "Core" && featureName != Application.ModuleName;
                        var showEnable = !feature.Descriptor.EnabledByDependencyOnly && !missingDependencies.Any() && featureId != "OrchardCore.Setup" && featureId != "OrchardCore.AutoSetup";
                        var featureSearchText = string.Join(" ", [
                            categoryName,
                            featureName,
                            featureId,
                            feature.Descriptor.Description ?? string.Empty,
                            dependenciesNames,
                            string.Join(" ", missingDependencies.Select(d => d.Id)),
                        ]);

                        <li class="list-group-item"
                            data-filter-value="@featureSearchText"
                            data-is-on-demand="@feature.Descriptor.EnabledByDependencyOnly.ToString().ToLowerInvariant()"
                            data-is-always-enabled="@isAlwaysEnabled.ToString().ToLowerInvariant()"
                            data-is-enabled="@feature.IsEnabled.ToString().ToLowerInvariant()">
                            <div class="row g-0 d-flex align-items-center">
                                <div class="col overflow-hidden">
                                    @if ((showEnable && !feature.IsEnabled) || (showDisable && feature.IsEnabled))
                                    {
                                        <div class="form-check mb-1">
                                            <input type="checkbox" class="form-check-input" name="featureIds" id="@featureId" value="@featureId">
                                            <label class="form-check-label fw-semibold" for="@featureId">@featureName (<code>@featureId</code>)</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="fw-semibold mb-1">@featureName (<code>@featureId</code>)</div>
                                    }

                                    <p class="text-muted mb-1">@feature.Descriptor.Description</p>

                                    @if (feature.FeatureDependencies != null && feature.FeatureDependencies.Any())
                                    {
                                        <div class="mb-1">
                                            <div class="d-inline direct-dependencies">
                                                @foreach (var dependencyId in feature.Descriptor.Dependencies)
                                                {
                                                    var dependencyName = Model.Features
                                                        .Where(f => f.Descriptor.Id == dependencyId)
                                                        .OrderBy(f => f.Descriptor.Name)
                                                        .Select(f => f.Descriptor.Name)
                                                        .FirstOrDefault() ?? string.Empty;

                                                    <span class="badge ta-badge fw-normal">
                                                        @dependencyName
                                                    </span>
                                                }
                                            </div>
                                            @if (!feature.Descriptor.Dependencies.SequenceEqual(dependencies.Select(d => d.Descriptor.Id)))
                                            {
                                                <div class="d-inline transitive-dependencies d-none">
                                                    <span class="d-none d-md-inline fw-light">|</span>
                                                    @foreach (var d in dependencies.Where(d => !feature.Descriptor.Dependencies.Contains(d.Descriptor.Id)))
                                                    {
                                                        <span class="badge ta-badge fw-normal">
                                                            @(string.IsNullOrEmpty(d.Descriptor.Name) ? d.Descriptor.Id : d.Descriptor.Name)
                                                        </span>
                                                    }
                                                </div>

                                                <button class="btn btn-sm btn-outline-secondary badge-show-more"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom"
                                                        data-bs-title="@T["Show indirect dependencies"]">
                                                    <i class="fa-solid fa-ellipsis"></i>
                                                    <span class="visually-hidden">@T["Show indirect dependencies"]</span>
                                                </button>
                                            }

                                            @foreach (var d in missingDependencies)
                                            {
                                                <span class="badge text-bg-warning fw-normal">
                                                    @d.Name
                                                </span>
                                            }
                                        </div>
                                    }
                                </div>
                                <div class="col-auto text-end ms-2">
                                    @if (feature.Descriptor.EnabledByDependencyOnly)
                                    {
                                        @if (feature.IsEnabled)
                                        {
                                            <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@T["This feature is automatically enabled based on dependency and cannot be manually disabled."]">
                                                <button class="btn btn-danger btn-sm" disabled>@T["Disable"]</button>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@T["This feature is automatically disabled based on dependency and cannot be manually enabled."]">
                                                <button class="btn btn-primary btn-sm" disabled>@T["Enable"]</button>
                                            </span>
                                        }
                                    }
                                    else if (feature.IsEnabled && isAlwaysEnabled)
                                    {
                                        <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@T["This feature is always enabled and cannot be manually disabled."]">
                                            <button class="btn btn-danger btn-sm" disabled>@T["Disable"]</button>
                                        </span>
                                    }
                                    else
                                    {
                                        if (showEnable && !feature.IsEnabled)
                                        {
                                            <a id="btn-enable-@Html.GenerateIdFromName(featureId)" asp-action="Enable" asp-route-id="@featureId" asp-route-tenant="@Model.Name" class="btn btn-primary btn-sm" data-url-af="UnsafeUrl">@T["Enable"]</a>
                                        }
                                        @if (showDisable && feature.IsEnabled)
                                        {
                                            var confirmationMessage = T["Are you sure you want to disable the {0} feature? Continue?", featureName];
                                            if (feature.EnabledDependentFeatures.Any())
                                            {
                                                var enabledDependentFeatures = new HtmlString($"<ul>{string.Join("", feature.EnabledDependentFeatures.Select(f => $"<li>{f.Name}</li>"))}</ul>");
                                                confirmationMessage = T["Disabling the {0} feature will also disable the following dependent features:{1}Continue?", featureName, enabledDependentFeatures];
                                            }
                                            <a id="btn-disable-@Html.GenerateIdFromName(featureId)" asp-action="Disable" asp-route-id="@featureId" asp-route-tenant="@Model.Name" class="btn btn-danger btn-sm" data-title="@T["Disable Feature"]" data-message="@confirmationMessage" data-ok-text="@T["Yes"]" data-cancel-text="@T["No"]" data-url-af="UnsafeUrl RemoveUrl">@T["Disable"]</a>
                                        }
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    }
    <div id="list-alert" class="alert alert-info d-none" role="alert">
        @T["<strong>Nothing here!</strong> Your search or filters returned no results."]
    </div>
</form>
</div>
<script asp-name="list-management" at="Foot"></script>
<script at="Foot">
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.badge-show-more').forEach((button) => {
            button.addEventListener('click', (e) => {
                e.preventDefault();

                const transitiveDependencies = button.previousElementSibling;

                if (!transitiveDependencies?.classList.contains('transitive-dependencies')) {
                    return;
                }

                transitiveDependencies.classList.toggle('d-none');
                button.classList.toggle('d-none');

                const tooltip = bootstrap.Tooltip.getInstance(button);

                if (tooltip) {
                    tooltip.dispose();
                }
            });
        });
    });
</script>