@model SelectRolesViewModel

<div class="mb-3">
    @for (var i = 0; i < Model.RoleSelections.Count; i++)
    {
        var role = Model.RoleSelections[i];
        <div class="form-check">
            <label for="@Html.IdFor(m => m.RoleSelections[i])">
                <input id="@Html.IdFor(m => m.RoleSelections[i])" name="@Model.HtmlName" type="checkbox" checked="@role.IsSelected" value="@role.Item" />
                @role.Item
            </label>
        </div>
    }
</div>
