@model CreateRoleViewModel
@using OrchardCore.Roles.ViewModels

<zone Name="Title"><h1>@RenderTitleSegments(T["Create Role"])</h1></zone>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Create" method="post" class="no-multisubmit">
    <div class="mb-3" asp-validation-class-for="RoleName">
        <label asp-for="RoleName">@T["Role name"]</label>
        <input asp-for="RoleName" class="form-control" autofocus />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

    <div class="mb-3" asp-validation-class-for="RoleDescription">
        <label asp-for="RoleDescription">@T["Role description"]</label>
        <input asp-for="RoleDescription" class="form-control" autofocus />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary create" type="submit">@T["Create"]</button>
        <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
    </div>
</form>
