@using System.Linq

@model OrchardCore.Roles.ViewModels.RolesViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Roles"])</h1></zone>

<div class="card mb-3 bg-primary position-sticky action-bar">
    <div class="card-body">
        <div class="row gx-3">
            <div class="col">
                <div class="has-search">
                    <i class="fa-solid fa-search form-control-feedback" aria-hidden="true"></i>
                    <input id="search-box" class="form-control" placeholder="@T["Search"]" type="search" autofocus />
                </div>
            </div>
            <div class="col-auto">
                <a asp-route-action="Create" class="btn btn-secondary create" role="button">@T["Add Role"]</a>
            </div>
        </div>
    </div>
</div>

<form asp-action="Index" class="roles">
    <ul class="list-group">
        @for (var i = 0; i < Model.RoleEntries.Count; i++)
        {
            var message = T["Are you sure you want to delete this role?"];

            <li class="list-group-item" data-filter-value="@Model.RoleEntries[i].Name">
                <div class="w-100">
                    <div class="float-end">
                        <a class="edit btn btn-primary btn-sm" role="button" asp-action="Edit" asp-route-id="@Model.RoleEntries[i].Name">@T["Edit"]</a>
                        <a class="delete btn btn-danger btn-sm" asp-route-id="@Model.RoleEntries[i].Name" role="button" asp-action="Delete" data-url-af="UnsafeUrl RemoveUrl" data-title="@T["Delete Role"]" data-message="@message">@T["Delete"]</a>
                    </div>
                    @*<input asp-for="RoleEntries[i].Selected" type="checkbox">*@
                    @Model.RoleEntries[i].Name
                    <p class="text-muted">@Model.RoleEntries[i].Description</p>
                </div>
            </li>
        }
    </ul>
    <div id="list-alert" class="alert alert-info d-none" role="alert">
        @T["<strong>Nothing here!</strong> Your search returned no results."]
    </div>
</form>

<script at="Foot">
    $(function () {
        var searchBox = $('#search-box');

        // On Enter, edit the role if there is a single one
        searchBox.keypress(function (event) {
            if (event.which == 13) {

                // Edit the role if there is a single filtered element
                var visible = $('.roles > ul > li:visible');
                if (visible.length == 1) {
                    window.location = visible.find('.edit').attr('href');
                }
                return false;
            }
        });

        // On each keypress filter the list of roles
        searchBox.keyup(function (e) {
            var search = $(this).val().toLowerCase();
            var elementsToFilter = $("[data-filter-value]");

            // On ESC, clear the search box and display all roles
            if (e.keyCode == 27 || search == '') {
                searchBox.val('');
                elementsToFilter.removeClass("d-none first-child-visible last-child-visible");
            }
            else {
                elementsToFilter.each(function () {
                    var text = $(this).data('filter-value').toLowerCase();
                    var found = text.indexOf(search) > -1;

                    if (found) {
                        $(this).removeClass("d-none first-child-visible last-child-visible");
                    }
                    else {
                        $(this).addClass("d-none");
                    }
                });

                elementsToFilter.filter(":not(.d-none)").first().addClass("first-child-visible");
                elementsToFilter.filter(":not(.d-none)").last().addClass("last-child-visible");

                // We display an alert if a search is not found
                var visible = $('.roles > ul > li:visible');
                if (visible.length == 0) {
                    $('#list-alert').removeClass("d-none");
                }
                else {
                    $('#list-alert').addClass("d-none");
                }
            }
        });
    })
</script>
