@model AuditTrailEventViewModel
@using System.Globalization

@{
    var createdUtc = Model.AuditTrailEvent.CreatedUtc.ToString("yyyy-MM-ddTHH:mm:sszzz", CultureInfo.InvariantCulture);
}


@* TODO move to content event*@
@if (!String.IsNullOrEmpty(Model.AuditTrailEvent.Comment))
{
    @* TODO this needs to be sanitized, or we need to drop the weird htmlization of it and use a proper editor*@
    @Html.Raw(Model.AuditTrailEvent.Comment)
}


<span class="badge ta-badge font-weight-normal" data-toggle="tooltip" title="@await DisplayAsync(await New.DateTime(Utc: Model.AuditTrailEvent.CreatedUtc, Format: "g"))">
    <i class="fa fa-calendar text-secondary"></i> <time datetime="@createdUtc">@await DisplayAsync(await New.Timespan(Utc: Model.AuditTrailEvent.CreatedUtc))</time>
</span>

<span class="badge ta-badge font-weight-normal" data-toggle="tooltip" title="@T["User Name"]">
    <i class="fa fa-user text-secondary mr-1"></i>@Model.AuditTrailEvent.UserName
</span>


@if (!String.IsNullOrEmpty(Model.AuditTrailEvent.ClientIpAddress))
{
    <span class="badge ta-badge font-weight-normal" data-toggle="tooltip" title="@T["Client IP Address"]">
        <i class="fas fa-wifi text-secondary mr-1"></i>@Model.AuditTrailEvent.ClientIpAddress
    </span>
}

