@model AuditTrailEventViewModel

<span class="badge ta-badge font-weight-normal">
    <i class="fas fa-history text-secondary"></i> 
        @* TODO update controller to accept category as a value. gives us a link from the contents list as well.*@
    <a href="@Model.Descriptor.Category" data-toggle="tooltip" title="@T["Category"]">@Model.Descriptor.LocalizedCategory</a></span>
</span>

<span class="badge ta-badge font-weight-normal">
    <i class="fas fa-bolt text-secondary"></i> 
        @* TODO update controller to accept category as a value. gives us a link from the contents list as well.*@
    <a href="@Model.Descriptor.Name" data-toggle="tooltip" title="@T["Event Name"]">@Model.Descriptor.LocalizedName</a></span>
</span>

