@model AuditTrailEventViewModel

<h2 class="h3">@T["Event Info"]</h2>

<table class="table table-sm table-hover">
    <tbody>
        <tr>
            <th class="border-top-0 w-25">@T["Category"]</th>
            <td class="border-top-0">@Model.Descriptor.LocalizedCategory(Context.RequestServices)</td>
        </tr>
        <tr>
            <th>@T["Event name"]</th>
            <td>@Model.Descriptor.LocalizedName(Context.RequestServices)</td>
        </tr>
        <tr>
            <th>@T["Triggered by username"]</th>
            <td>@Model.AuditTrailEvent.UserName</td>
        </tr>
        <tr>
            <th>@T["Triggered by user ID"]</th>
            <td>@Model.AuditTrailEvent.UserId</td>
        </tr>
        <tr>
            <th>@T["Triggered at timestamp"]</th>
            <td>@await DisplayAsync(await New.DateTime(Utc: Model.AuditTrailEvent.CreatedUtc, Format: "g"))</td>
        </tr>
        <tr class="border-bottom">
            <th>@T["Client IP address"]</th>
            <td>@Model.AuditTrailEvent.ClientIpAddress</td>
        </tr>
    </tbody>
</table>
