@using OrchardCore.ContentManagement

@{
    var auditTrailEvent = (AuditTrailEvent)Model.AuditTrailEvent;
    var versionNumber = (int)Model.VersionNumber;
    var contentItem = (ContentItem)Model.ContentItem;
    var availableVersionsCount = (int)Model.AvailableVersionsCount;
}

<a asp-action="Detail" asp-controller="Admin" asp-route-auditTrailEventId="@auditTrailEvent.Id">@T["Details"]</a>
@if (contentItem != null) 
{
    if (availableVersionsCount != versionNumber) 
    {
        @T["|"]
        <form method="post">
            <a asp-controller="Content"
               asp-action="Restore"
               asp-route-auditTrailEventId="@auditTrailEvent.Id"
               data-title="@T["Restore to Version"]"
               data-message="@T["Are you sure you want to restore to version {0}?", versionNumber]"
               data-ok-text="@T["Yes"]"
               data-cancel-text="@T["No"]"
               itemprop="UnsafeUrl RemoveUrl">
                @T["Restore"]
            </a>
        </form>
    }
}
