@model AuditTrailSettingsViewModel

<section>
    <div class="form-group">
        <h5>@T["Audit trail events to record"]</h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">@T["Event"]</th>
                    <th scope="col">@T["Description"]</th>
                    <th scope="col">@T["Enabled"]</th>
                </tr>
            </thead>
            @{
                var categoriesIndex = 0;
                foreach (var category in Model.Categories)
                {
                    <tbody class="check-all-container">
                        <tr class="table-secondary">
                            <td colspan="2">
                                <strong>@category.Name</strong>
                            </td>
                            <td class="custom-checkbox">
                                <input type="checkbox" class="custom-control-input check-all-master" id="@category.Name" />
                                <label class="custom-control-label" for="@category.Name">@T["Select all"]</label>
                            </td>
                        </tr>
                        @{
                            var eventsIndex = 0;
                            foreach (var e in category.Events)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" asp-for="Categories[categoriesIndex].Events[eventsIndex].Event">
                                        <input type="hidden" asp-for="Categories[categoriesIndex].Events[eventsIndex].Name">
                                        @e.Name
                                    </td>
                                    <td>@e.Description</td>
                                    <td class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input check-all-slave" asp-for="Categories[categoriesIndex].Events[eventsIndex].IsEnabled" />
                                        <label class="custom-control-label" asp-for="Categories[categoriesIndex].Events[eventsIndex].IsEnabled">@e.Name</label>
                                        <input asp-for="Categories[categoriesIndex].Events[eventsIndex].Name" type="hidden">
                                    </td>
                                </tr>
                                eventsIndex++;
                            }
                        }
                    </tbody>
                    categoriesIndex++;
                }
            }
        </table>
    </div>

    <div class="form-group" asp-validation-class-for="EnableClientIpAddressLogging">
        <h5>@T["Client IP address logging"]</h5>
        <div class="custom-control custom-checkbox">
            <input asp-for="EnableClientIpAddressLogging" class="custom-control-input" type="checkbox" />
            <label asp-for="EnableClientIpAddressLogging" class="custom-control-label">@T["Enable client IP address logging"]</label>
        </div>
        <span class="hint">@T["Whether the client IP address is recorded."]</span>
    </div>

    <div class="form-group" asp-validation-class-for="IgnoredContentTypeNames">
        <h5>@T["Ignored content types"]</h5>
        @await Component.InvokeAsync("SelectContentTypes", new { selectedContentTypes = Model.IgnoredContentTypeNames, htmlName = Html.NameFor(m => m.IgnoredContentTypeNames) })
        <span asp-validation-for="IgnoredContentTypeNames"></span>
        <span class="hint">@T["Select any content type to be ignored."]</span>
</div>
</section>

<script at="Foot" type="text/javascript">
    $(function () {
        $('.check-all-container').each(function () {
            var container = $(this);
            var master = container.find('input[type="checkbox"].check-all-master');
            var slaves = container.find('input[type="checkbox"]:not(:disabled).check-all-slave');

            var updateMaster = function () {
                var allChecked = slaves.filter(':not(:checked)').length == 0;
                master.prop('checked', allChecked);
            }

            master.on('change', function () {
                var isChecked = $(this).is(':checked');
                slaves.prop('checked', isChecked);
            });

            slaves.on('change', function () {
                updateMaster();
            });

            updateMaster();
        });
    });
</script>
