@model AuditTrailIndexOptions

<div class="form-group mb-n1 filter">
    <div class="btn-group mt-1">
        <select asp-for="Category" asp-items="Model.Categories" class="selectpicker categories-selectpicker show-tick mr-2" data-header="@T["Filter by category"]" data-live-search="true" data-selected-text-format="static" data-width="fit" title="@T["Category"]" data-style="btn-sm" data-dropdown-align-right="auto"></select>
         @* <select asp-for="Filter" asp-items="@Model.UserFilters" class="selectpicker userstatuses-selectpicker show-tick mr-2" data-header="@T["Filter by status"]" data-selected-text-format="static" data-width="fit" data-dropdown-align-right="auto" title="@T["Show"]" data-style="btn-sm"></select> *@
        <select asp-for="Sort" asp-items="@Model.AuditTrailSorts" class="selectpicker sorts-selectpicker show-tick" data-header="@T["Sort by"]" data-width="fit" data-selected-text-format="static" data-dropdown-align-right="true" title="@T["Sort"]" data-style="btn-sm"></select>
    </div>
</div>
