@using OrchardCore.Exam.Models
@model dynamic

<div class="question question-multiple-choice">
    <p class="stem">@Model.QuestionPart.Stem <span class="badge">(@Model.QuestionPart.Score pts)</span></p>
    <ul class="options">
        @for (var i = 0; i < Model.QuestionPart.Options.Count; i++)
        {
            <li><label><input type="checkbox" name="q-@Model.ContentItem.ContentItemId" value="@i" /> @((char)('A' + i)). @Model.QuestionPart.Options[i]</label></li>
        }
    </ul>
</div>
