@using OrchardCore.Users.Workflows.ViewModels
@model AssignUserRoleTaskViewModel

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="UserName">
    <label asp-for="UserName" class="@Orchard.GetLabelClasses()">@T["UserName"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" asp-for="UserName" class="form-control code" />
        <span asp-validation-for="UserName"></span>
        <span class="hint">@T["The User to assign. With Liquid support."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="RoleName">
    <label asp-for="RoleName" class="@Orchard.GetLabelClasses()">@T["RoleName"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" asp-for="RoleName" class="form-control code" />
        <span asp-validation-for="RoleName"></span>
        <span class="hint">@T["The Role to assign. With Liquid support."]</span>
    </div>
</div>
