@using System.Text.Json
@using System.Text.Json.Nodes
@model AuditTrailUserEventDetailViewModel

<h2 class="h3">@T["User Info"]</h2>

<table class="table table-sm table-hover">
    <tbody>
        <tr>
            <th class="w-25">@T["User ID"]</th>
            <td>@Model.UserEvent.UserId</td>
        </tr>
        <tr>
            <th>@T["Username"]</th>
            <td>@Model.UserEvent.UserName</td>
    </tr>
    @if (Model.UserEvent.User is { } user && JObject.FromObject(user) is { } userJson)
    {
        <tr>
            <th>@T["User Snapshot"]</th>
            <td><pre><code>@userJson.ToJsonString(JOptions.Indented)</code></pre></td>
        </tr>
    }
    </tbody>
</table>
