@using OrchardCore.DisplayManagement.Notify
@using OrchardCore.Users.Workflows.ViewModels

@model RegisterUserTaskViewModel

<div class="mb-3 form-check" asp-validation-class-for="SendConfirmationEmail">
    <input type="checkbox" asp-for="SendConfirmationEmail" class="form-check-input" />
    <span asp-validation-for="SendConfirmationEmail"></span>
    <label asp-for="SendConfirmationEmail" class="form-check-label">@T["Send confirmation email"]</label>
</div>

<div class="mb-3" asp-validation-class-for="ConfirmationEmailSubject">
    <label asp-for="ConfirmationEmailSubject">@T["Subject for confirmation email"]</label>
    <input type="text" asp-for="ConfirmationEmailSubject" class="form-control code" />
    <span asp-validation-for="ConfirmationEmailSubject"></span>
    <span class="hint">@T["The subject of the message. Supports Liquid syntax."]</span>
</div>

<div class="mb-3" asp-validation-class-for="ConfirmationEmailTemplate">
    <label asp-for="ConfirmationEmailTemplate">@T["Template for confirmation email"]</label>
    <input type="text" asp-for="ConfirmationEmailTemplate" class="form-control code" />
    <span asp-validation-for="ConfirmationEmailTemplate"></span>
    <span class="hint">@T["The message to send. Access email confirmation url with Workflow.Properties.EmailConfirmationUrl liquid property."]</span>
</div>

<div class="form-check" asp-validation-class-for="RequireModeration">
    <input type="checkbox" asp-for="RequireModeration" class="form-check-input" />
    <span asp-validation-for="RequireModeration"></span>
    <label asp-for="RequireModeration" class="form-check-label">@T["Users must be approved before they can log in"]</label>
</div>
