@using OrchardCore.DisplayManagement.Notify
@using OrchardCore.Users.Workflows.ViewModels;

@model ResetUserPasswordTaskViewModel

<div class="form-group" asp-validation-class-for="UserName">
    <label asp-for="UserName">@T["UserName"]</label>
    <input type="text" asp-for="UserName" class="form-control code" />
    <span asp-validation-for="UserName"></span>
    <span class="hint">@T["The User to reset password for. With Liquid support."]</span>
</div>

<div class="form-group" asp-validation-class-for="ResetPasswordEmailSubject">
    <label asp-for="ResetPasswordEmailSubject">@T["Subject"]</label>
    <input type="text" asp-for="ResetPasswordEmailSubject" class="form-control code" />
    <span asp-validation-for="ResetPasswordEmailSubject"></span>
</div>

<div class="form-group" asp-validation-class-for="ResetPasswordEmailTemplate">
    <label asp-for="ResetPasswordEmailTemplate">@T["Template for reset password email"]</label>
    <input type="text" asp-for="ResetPasswordEmailTemplate" class="form-control code" />
    <span asp-validation-for="ResetPasswordEmailTemplate"></span>
    <span class="hint">@T["The message to send in HTML. Access reset url with Workflow.Properties.ResetPasswordUrl liquid property."]</span>
</div>
