@model ShapeViewModel<UserIndexOptions>
@{
    var term = Model.Value.FilterResult.FirstOrDefault(x => x.TermName == "sort");
}

<h4 class="card-title">@T["Sort"]</h4>
<div class="@Orchard.GetWrapperClasses()">
    <div class="@Orchard.GetEndClasses(true)">
        <pre class="mb-0">@(term?.ToString() ?? "sort:...")</pre>
    </div>
</div>
<p>@T["Orders by a user value."]</p>
<div class="d-block text-end">
    <span>
        <i class="fa-solid fa-sm fa-minus text-primary" aria-hidden="true"></i>
    </span>
</div>
