@model EditQueryViewModel

<div class="mb-3" asp-validation-class-for="Name">
    <label asp-for="Name">@T["Name"]</label>
    <input asp-for="Name" class="form-control text-muted" autofocus />
    <span asp-validation-for="Name"></span>
    <span class="hint">@T["The technical name of the query."]</span>
    <input asp-for="Source" type="hidden" />
</div>

<div class="mb-3">
    <label asp-for="Schema">@T["Schema"]</label>
    <textarea asp-for="Schema" rows="12" class="form-control" style="text-align:left"></textarea>
    <span class="hint">@T["The schema the GraphQL API will use to return results."] <a class="seedoc" href="@(OrchardCore.Admin.Constants.DocsUrl)reference/modules/Queries/#graphql" target="_blank">@T["See documentation"]</a></span>
</div>
