@model EtlActivityEditorViewModel

<zone Name="Title"><h1>@(string.IsNullOrEmpty(Model.ActivityId) ? T["Add Activity"] : T["Edit Activity"])</h1></zone>

<form asp-action="@(string.IsNullOrEmpty(Model.ActivityId) ? "CreateActivity" : "EditActivity")" method="post" enctype="multipart/form-data" class="no-multisubmit">
    <input type="hidden" name="PipelineId" value="@Model.PipelineId" />
    <input type="hidden" name="ActivityId" value="@Model.ActivityId" />
    <input type="hidden" name="ActivityName" value="@Model.ActivityName" />
    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

    <div asp-validation-summary="ModelOnly"></div>

    @await DisplayAsync(Model.Editor)

    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <button class="btn btn-primary save" type="submit">@T["Save"]</button>
            @if (Url.IsLocalUrl(Model.ReturnUrl))
            {
                <a class="btn btn-secondary cancel" href="@Model.ReturnUrl">@T["Cancel"]</a>
            }
            else
            {
                <a class="btn btn-secondary cancel" asp-action="Edit" asp-route-id="@Model.PipelineId">@T["Cancel"]</a>
            }
        </div>
    </div>
</form>
