@model Orchard.Themes.Models.SelectThemesViewModel

<div class="alert alert-warning">
    <h4>Changing default themes</h4>
    <p>This page lets you change the site's themes. Try <code>SafeMode</code> and <code>TheTheme</code> for the front-end or <code>TheAdmin</code> for the admin</p>
</div>

<form asp-action="Index" method="post">
    <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">@Model.CurrentSiteTheme.Name</h4>
                        <p>@Model.CurrentSiteTheme.Extension.Manifest.Description</p>
                    </div>
                    <div class="card-footer text-muted text-xs-right">
                        @T["This is the current front-end theme"]
                    </div>
                </div>
            </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">@Model.CurrentAdminTheme.Name</h4>
                    <p>@Model.CurrentAdminTheme.Extension.Manifest.Description</p>
                </div>
                <div class="card-footer text-muted text-xs-right">
                    @T["This is the current admin theme"]
                </div>
            </div>
        </div>
    </div>
    <hr>
    @if (!Model.Themes.Any())
    {
        <p>@T["There are no themes installed."]</p>
    }
    else
    {
        <div class="row">
            @foreach (var themeEntry in Model.Themes)
            {
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">@themeEntry.Name</h4>
                            @*@T["By"] @themeEntry.Extension.Manifest.Author*@
                            <p>@themeEntry.Extension.Manifest.Description</p>
                        </div>
                        <div class="card-footer text-muted text-xs-right">
                            <div class="btn-group">
                                <a class="btn btn-primary btn-sm" asp-route-action="SetCurrentSiteTheme" asp-route-id="@themeEntry.Extension.Id">
                                    @T["Set Current"]
                                </a>
                                <a class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-route-action="SetCurrentSiteTheme" asp-route-id="@themeEntry.Extension.Id">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-route-action="SetCurrentSiteTheme" asp-route-id="@themeEntry.Extension.Id">@T["Site Theme"]</a></li>
                                    <li><a class="dropdown-item" asp-route-action="SetCurrentAdminTheme" asp-route-id="@themeEntry.Extension.Id">@T["Admin Theme"]</a></li>
                                </ul>
                            </div>
                            @if (themeEntry.Enabled)
                            {
                                <a asp-route-action="Disable" asp-route-id="@themeEntry.Extension.Id">@T["Disable"]</a> }
                            else
                            {
                                <a asp-route-action="Enable" asp-route-id="@themeEntry.Extension.Id">@T["Enable"]</a> 
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</form>