@model OrchardCore.ContentFields.ViewModels.EditBooleanFieldViewModel
@using OrchardCore.Mvc.Utilities

@{
    var settings = Model.PartFieldDefinition.GetSettings<BooleanFieldSettings>();
    var uniqueName = $"{Model.PartFieldDefinition.PartDefinition.Name}-{Model.PartFieldDefinition.Name}";
}

<div class="@Orchard.GetWrapperCssClasses("field-wrapper", $"field-wrapper-{uniqueName.HtmlClassify()}")" id="@Html.IdFor(x => x.Value)_FieldWrapper">
    <div class="@Orchard.GetEndCssClasses(true)">
        <div class="form-check">
            <input asp-for="Value" type="checkbox" class="form-check-input content-preview-select" checked="@Model.Value" />
            <label class="form-check-label" asp-for="Value">
                @(string.IsNullOrEmpty(settings.Label) ? Model.PartFieldDefinition.DisplayName() : settings.Label)
                @if (!String.IsNullOrEmpty(settings.Hint))
                {
                    <span class="hint dashed">@settings.Hint</span>
                }
            </label>
        </div>
    </div>
</div>
