@model OrchardCore.ContentFields.Settings.ContentPickerFieldSettings
@using OrchardCore.ContentManagement;

@inject IEnumerable<IContentPickerResultProvider> ResultProviders

@{
    var resultProviderItems = ResultProviders.Select(p => new SelectListItem
    {
        Text = p.Name,
        Value = p.Name
    });
}

<fieldset class="form-group">
    <div class="custom-control custom-checkbox">
        <input asp-for="Required" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" asp-for="Required">@T["Check if the field is required."]</label>
    </div>
</fieldset>

<fieldset class="form-group">
    <div class="custom-control custom-checkbox">
        <input asp-for="Multiple" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" asp-for="Multiple">@T["Check to allow the user to select multiple content items."]</label>
    </div>
</fieldset>

<fieldset class="form-group">
    <label asp-for="DisplayedContentTypes">@T["Content Types"]</label>
    <span class="hint">@T["The content types to display. Choose at least one."]</span>
    @await Component.InvokeAsync("SelectContentTypes", new { selectedContentTypes = Model.DisplayedContentTypes, htmlName = Html.NameFor(m => m.DisplayedContentTypes) })
</fieldset>

<fieldset class="form-group">
    <div class="row col-sm-6">
        <label asp-for="Hint">@T["Hint"]</label>
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
        <span class="hint">@T["The hint text to display for this field on the editor."]</span>
    </div>
</fieldset>

@*<fieldset class="form-group">
        <div class="row col-sm-6">
            <label asp-for="SearchResultProvider">@T["Search Result Provider"]</label>
            <select asp-for="SearchResultProvider" asp-items="resultProviderItems" class="form-control"></select>
            <span class="hint">@T["The search result provider to use when selecting content items."]</span>
        </div>
    </fieldset>*@
