@model OrchardCore.ContentFields.Settings.ContentPickerFieldSettings
@using OrchardCore.ContentManagement;

@inject IEnumerable<IContentPickerResultProvider> ResultProviders

@{
    var resultProviderItems = ResultProviders.Select(p => new SelectListItem
    {
        Text = p.Name,
        Value = p.Name
    });
}


<script asp-name="vuejs" at="Foot"></script>

<div class="mb-3">
    <div class="form-check">
        <input asp-for="Required" type="checkbox" class="form-check-input">
        <label class="form-check-label" asp-for="Required">@T["Required"]</label>
        <span class="hint dashed">@T["Whether to ensure at least one element is selected."]</span>
    </div>
</div>

<div class="mb-3">
    <div class="form-check">
        <input asp-for="Multiple" type="checkbox" class="form-check-input">
        <label class="form-check-label" asp-for="Multiple">@T["Allow multiple"]</label>
        <span class="hint dashed">@T["Whether to allow multiple elements to be selected."]</span>
    </div>
</div>

<div id="contentTypesVue" class="mb-3">
    <label asp-for="DisplayedContentTypes">@T["Content Types"]</label>
    <span class="hint">@T["The content types to display. Choose at least one."]</span>

    <div class="form-check">
        <input asp-for="DisplayAllContentTypes" type="checkbox" class="form-check-input" v-model="displayAllContentTypes">
        <label class="form-check-label" asp-for="DisplayAllContentTypes">@T["Display All Content Types"]</label>
        <span class="hint dashed">@T["Whether to allow picker to display all content types."]</span>
    </div>

    <div v-show="!displayAllContentTypes">
        @await Component.InvokeAsync("SelectContentTypes", new { selectedContentTypes = Model.DisplayedContentTypes, htmlName = Html.NameFor(m => m.DisplayedContentTypes) })
    </div>
</div>

<div class="mb-3">
    <div class="w-md-75 w-xl-50 pe-md-3">
        <label asp-for="Hint">@T["Hint"]</label>
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
    </div>
    <span class="hint">@T["The hint text to display for this field on the editor."]</span>
</div>

@*<div class="mb-3">
        <div class="w-sm-50">
            <label asp-for="SearchResultProvider">@T["Search Result Provider"]</label>
            <select asp-for="SearchResultProvider" asp-items="resultProviderItems" class="form-select"></select>
        </div>
        <span class="hint">@T["The search result provider to use when selecting content items."]</span>
    </div>*@

<script at="Foot" depends-on="vuejs">
    var app = new Vue({
        el: "#contentTypesVue",
        data: {
            displayAllContentTypes: @Model.DisplayAllContentTypes.ToString().ToLower()
        }
    });
</script>
