@model OrchardCore.ContentFields.Settings.ContentPickerFieldSettings
@using OrchardCore.ContentManagement;

@inject IEnumerable<IContentPickerResultProvider> ResultProviders

@{
    var resultProviderItems = ResultProviders.Select(p => new SelectListItem
    {
        Text = p.Name,
        Value = p.Name
    });
}

<style asp-name="codemirror"></style>
<script asp-name="codemirror" depends-on="admin" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<script asp-name="codemirror-addon-display-autorefresh" at="Foot"></script>
<script asp-name="codemirror-addon-mode-simple" at="Foot"></script>
<script asp-name="codemirror-addon-mode-multiplex" at="Foot"></script>
<script asp-name="codemirror-mode-xml" at="Foot"></script>

<script asp-src="~/OrchardCore.Liquid/codemirror/liquid.js" at="Foot"></script>
<script asp-name="vuejs" at="Foot"></script>

<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input asp-for="Required" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" asp-for="Required">@T["Required"]</label>
        <span class="hint dashed">@T["Whether to ensure at least one element is selected."]</span>
    </div>
</div>

<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input asp-for="Multiple" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" asp-for="Multiple">@T["Allow multiple"]</label>
        <span class="hint dashed">@T["Whether to allow multiple elements to be selected."]</span>
    </div>
</div>

<div id="contentTypesVue" class="form-group">
    <label asp-for="DisplayedContentTypes">@T["Content Types"]</label>
    <span class="hint">@T["The content types to display. Choose at least one."]</span>

    <div class="custom-control custom-checkbox">
        <input asp-for="DisplayAllContentTypes" type="checkbox" class="custom-control-input" v-model="displayAllContentTypes">
        <label class="custom-control-label" asp-for="DisplayAllContentTypes">@T["Display All Content Types"]</label>
        <span class="hint dashed">@T["Whether to allow picker to display all content types."]</span>
    </div>

    <div v-show="!displayAllContentTypes">
        @await Component.InvokeAsync("SelectContentTypes", new { selectedContentTypes = Model.DisplayedContentTypes, htmlName = Html.NameFor(m => m.DisplayedContentTypes) })
    </div>
</div>

<div class="form-group">
    <div class="w-md-75 w-xl-50 pr-md-3">
        <label asp-for="Hint">@T["Hint"]</label>
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
    </div>
    <span class="hint">@T["The hint text to display for this field on the editor."]</span>
</div>

<div class="form-group">
    <div class="-md-75 w-xl-50 pr-md-3">
        <label asp-for="TitlePattern">@T["Title Pattern"]</label>
        <textarea asp-for="TitlePattern" rows="5" class="form-control"></textarea>
    </div>
    <span class="hint">@T["The pattern used to render the custom content item title in content picker. DisplayText is used when empty is empty. With Liquid support."]</span>
</div>

<div class="form-group">
    <div class="-md-75 w-xl-50 pr-md-3">
        <label asp-for="DescriptionPattern">@T["Description Pattern"]</label>
        <textarea asp-for="DescriptionPattern" rows="5" class="form-control"></textarea>
    </div>
    <span class="hint">@T["The pattern used to render the custom description in content picker. With Liquid support."]</span>
</div>

@*<div class="form-group">
        <div class="w-sm-50">
            <label asp-for="SearchResultProvider">@T["Search Result Provider"]</label>
            <select asp-for="SearchResultProvider" asp-items="resultProviderItems" class="form-control"></select>
        </div>
        <span class="hint">@T["The search result provider to use when selecting content items."]</span>
    </div>*@

<script at="Foot" depends-on="vuejs">
    var app = new Vue({
        el: "#contentTypesVue",
        data: {
            displayAllContentTypes: @Model.DisplayAllContentTypes.ToString().ToLower()
        }
    });
</script>

<script at="Foot" depends-on="jquery">
    //<![CDATA[
    $(function () {
        editor = CodeMirror.fromTextArea(document.getElementById('@Html.IdFor(x => x.TitlePattern)'), {
            autoRefresh: true,
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true,
            mode: { name: "liquid" },
        });
    });

     $(function () {
        editor = CodeMirror.fromTextArea(document.getElementById('@Html.IdFor(x => x.DescriptionPattern)'), {
            autoRefresh: true,
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true,
            mode: { name: "liquid" },
        });
    });
    //]]>
</script>
