@model OrchardCore.ContentFields.Settings.DateTimeFieldSettings

<div class="@Orchard.GetWrapperClasses()">
    <div class="@Orchard.GetEndClasses(true)">
        <div class="form-check">
            <input asp-for="Required" type="checkbox" class="form-check-input">
            <label class="form-check-label" asp-for="Required">@T["Required"]</label>
            <span class="hint dashed">@T["Whether a value is required."]</span>
        </div>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Hint" class="@Orchard.GetLabelClasses()">@T["Hint"]</label>
    <div class="@Orchard.GetEndClasses()">
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
        <span class="hint">@T["The hint text to display for this field on the editor."]</span>
    </div>
</div>
