@model OrchardCore.ContentFields.ViewModels.EditDateFieldViewModel

@{
    var settings = Model.PartFieldDefinition.GetSettings<DateFieldSettings>();
    var language = Orchard.CultureName().Split('-')[0];
    var datepickerId = Html.IdFor(m => m.Value);
}

<div class="@Orchard.GetWrapperCssClasses()">
    <label asp-for="Value" class="@Orchard.GetLabelCssClasses()">@Model.PartFieldDefinition.DisplayName()</label>
    <div class="@Orchard.GetEndCssClasses()">
        <div class="@Orchard.GetLimitedWidthWrapperCssClasses()">
            <div class="@Orchard.GetLimitedWidthCssClasses()">
                <input asp-for="Value" type="text" class="form-control content-preview-select datepicker" required="@settings.Required" />
            </div>
        </div>
        @if (!String.IsNullOrEmpty(settings.Hint))
        {
            <span class="hint">@settings.Hint</span>
        }
    </div>
</div>

<style asp-name="jQuery-ui" at="Head"></style>
<script asp-name="jQuery-ui-i18n" at="Foot"></script>
<script at="Foot">
    $(function () {
        $('#@datepickerId').datepicker($.datepicker.regional['@language']);
    });
</script>
