@model OrchardCore.ContentFields.ViewModels.EditHtmlFieldViewModel
@using OrchardCore.ContentFields
@using OrchardCore.Mvc.Utilities
@using OrchardCore.Localization.Data
@inject IDataLocalizer D
@{
    var settings = Model.PartFieldDefinition.GetSettings<HtmlFieldSettings>();
    var monacoSettings = Model.PartFieldDefinition.GetSettings<HtmlFieldMonacoEditorSettings>();
    var culture = await Orchard.GetContentCultureAsync(Model.Field.ContentItem);
    string localizedFieldName = D[Model.PartFieldDefinition.DisplayName(), DataLocalizationContext.ContentField(Model.PartFieldDefinition.PartDefinition.Name)];
}

<div class="ocat-wrapper field-wrapper @($"field-wrapper-{Model.PartFieldDefinition.PartDefinition.Name.HtmlClassify()}-{Model.PartFieldDefinition.Name.HtmlClassify()}" + (Model.PartFieldDefinition.IsNamedPart() ? $" field-wrapper-{Model.PartFieldDefinition.ContentTypePartDefinition.Name.HtmlClassify()}-{Model.PartFieldDefinition.Name.HtmlClassify()}" : string.Empty)) html-monaco-editor" id="@Html.IdFor(x => x.Html)_FieldWrapper" data-options="@(string.IsNullOrWhiteSpace(monacoSettings.Options) ? "{}" : monacoSettings.Options)">
    <label asp-for="Html" class="ocat-label">@localizedFieldName</label>
    <div class="ocat-end">
        @await DisplayAsync(await New.ShortcodeModal())
        <div id="@Html.IdFor(x => x.Html)_editor" asp-for="Text" style="min-height: 400px;" class="form-control html-monaco-editor-container" dir="@culture.GetLanguageDirection()"></div>
        <textarea asp-for="Html" hidden class="html-monaco-editor-value">@Html.Raw(Model.Html)</textarea>
        @if (!string.IsNullOrEmpty(settings.Hint))
        {
            <span class="hint">@settings.Hint</span>
        }
    </div>
</div>

<style asp-name="monaco"></style>
<script asp-name="monaco" at="Foot"></script>
<script asp-src="~/OrchardCore.ContentFields/Scripts/text-field-editors/html-field-monaco.min.js" debug-src="~/OrchardCore.ContentFields/Scripts/text-field-editors/html-field-monaco.js" depends-on="monaco" at="Foot" type="module"></script>
