@model OrchardCore.ContentFields.ViewModels.HtmlSettingsViewModel

<div class="mb-3">
    <div class="w-md-50 pe-md-3">
        <label asp-for="Hint">@T["Hint"]</label>
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
    </div>
    <span class="hint">@T["The hint text to display for this field on the editor."]</span>
</div>

<div class="mb-3">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="SanitizeHtml" checked="@Model.SanitizeHtml" />
        <label class="form-check-label" asp-for="SanitizeHtml">@T["Sanitize Html"]</label>
        <span class="hint dashed">
            @T["Whether the Html is sanitized to prevent custom scripts."]
            <a class="seedoc" href="@(OrchardCore.Admin.Constants.DocsUrl)reference/core/Sanitizer" target="_blank">@T["See documentation"]</a>
        </span>
    </div>
</div>
