@model OrchardCore.ContentFields.Settings.LocalizationSetContentPickerFieldSettings
@using OrchardCore.ContentManagement

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <div class="form-check">
            <input asp-for="Required" type="checkbox" class="form-check-input">
            <label class="form-check-label" asp-for="Required">@T["Required"]</label>
            <span class="hint dashed">@T["Whether to ensure at least one element is selected."]</span>
        </div>
    </div>
</div>

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <div class="form-check">
            <input asp-for="Multiple" type="checkbox" class="form-check-input">
            <label class="form-check-label" asp-for="Multiple">@T["Allow multiple"]</label>
            <span class="hint dashed">@T["Whether to allow multiple elements to be selected."]</span>
        </div>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="DisplayedContentTypes" class="ocat-label">@T["Content Types"]</label>
    <div class="ocat-end">
        <span class="hint">@T["The content types to display. Choose at least one."]</span>
        @await Component.InvokeAsync("SelectContentTypes", new { selectedContentTypes = Model.DisplayedContentTypes, htmlName = Html.NameFor(m => m.DisplayedContentTypes) })
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Hint" class="ocat-label">@T["Hint"]</label>
    <div class="ocat-end">
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
        <span class="hint">@T["The hint text to display for this field on the editor."]</span>
    </div>
</div>
