@using OrchardCore.ContentFields.Settings
@model OrchardCore.ContentFields.ViewModels.CheckboxListSettingsViewModel

<div id="@Html.IdFor(m => m)" class="field-editor field-editor-checkboxlist">
    <div class="row">
        <div class="form-group col-sm-6">
            <label asp-for="Direction">@T["Direction"]</label>
            <select asp-for="Direction" class="form-control">
                <option value="@nameof(CheckboxDirection.Vertical)">@T["Vertical"]</option>
                <option value="@nameof(CheckboxDirection.Horizontal)">@T["Horizontal"]</option>
            </select>
            <span class="hint">@T["The direction with which the checkboxes are displayed."]</span>
        </div>
    </div>
</div>
