@model OrchardCore.ContentFields.ViewModels.EditMultiTextFieldViewModel
@using OrchardCore.Mvc.Utilities
@{
    var settings = Model.PartFieldDefinition.GetSettings<MultiTextFieldSettings>();
    var options = new List<SelectListItem>();

    foreach (var option in settings.Options)
    {
        bool isSelected = Model.Values.Contains(option.Value) ? true : false;

        options.Add(new SelectListItem { Text = option.Name, Value = option.Value, Selected = isSelected });
    }
    var uniqueName = $"{Model.PartFieldDefinition.PartDefinition.Name}-{Model.PartFieldDefinition.Name}";
}

<div class="@Orchard.GetWrapperCssClasses("field-wrapper", $"field-wrapper-{uniqueName.HtmlClassify()}")" id="@Html.IdFor(x => x.Values)_FieldWrapper">
    <label asp-for="Values" class="@Orchard.GetLabelCssClasses()">@Model.PartFieldDefinition.DisplayName()</label>
    <div class="@Orchard.GetEndCssClasses()">
        <select class="form-select content-preview-select" asp-for="Values" asp-items="options" multiple></select>
        @if (!String.IsNullOrEmpty(settings.Hint))
        {
            <span class="hint">@settings.Hint</span>
        }
    </div>
</div>
