@model OrchardCore.ContentFields.ViewModels.EditMultiTextFieldViewModel

@using System.Text.Json

<script asp-src="~/OrchardCore.ContentFields/Scripts/optionsEditor.min.js"
    debug-src="~/OrchardCore.ContentFields/Scripts/optionsEditor.js" asp-name="optionsEditor" at="Foot"
    depends-on="vuejs, vuedraggable"></script>
<style asp-src="~/OrchardCore.ContentFields/Styles/optionsEditor.min.css"
    debug-src="~/OrchardCore.ContentFields/Styles/optionsEditor.css"></style>

<script at="Foot">
    initializeItemsEditor(document.getElementById('@Html.IdFor(m => m)'), @Html.Raw(JConvert.SerializeObject(Model.Values)), document.getElementsByClassName('@Html.IdFor(m => m)-ModalBody'));
</script>

<script type="text/x-template" id="items-table">
    <table class="table table-bordered table-sm values-table">
        <thead class="thead-light">
            <tr>
                <th scope="col">@T["Item"]</th>
            </tr>
        </thead>
        <draggable v-model="data.items" :element="'tbody'">
            <tr v-for="(item, index) in data.items" :key="index">
                <td>
                    <input type="text" class="form-control courrier" v-model="data.items[index]" placeholder="Enter a value" />
                </td>
                <td class="text-center">
                    <a v-on:click="remove(index)" href="javascript:void(0)" title="@T["Remove element from list"]" class="btn">
                        <i class="fa-solid fa-times" aria-hidden="true"></i>
                    </a>
                </td>
                <td class="text-center"><div class="btn cursor-move"><i class="fa-solid fa-arrows-alt" aria-hidden="true"></i></div></td>
            </tr>
        </draggable>
        <tfoot>
            <tr>
                <td class="col-sm-12 text-center" colspan="5">
                    <a v-on:click="add()" class="btn btn-light w-100 btn-sm"><i class="fa-solid fa-plus small" aria-hidden="true"></i> @T["Add an option"]</a>
                    <input v-for="(item, index) in data.items" class="form-control" v-bind:id="`@Html.IdFor(m => m.Values)_${index}`" name="@Html.NameFor(m => m.Values)" type="hidden" v-bind:value="item" />
                </td>
            </tr>
        </tfoot>
    </table>
</script>

<div id="@Html.IdFor(m => m)">
    <div class="row">
        <div class="col-sm-6">
            <label asp-for="Values" class="form-label">@T["Items"]</label>
            <items-table :data="sharedState"></items-table>
        </div>
    </div>
</div>