@model OrchardCore.ContentFields.ViewModels.EditNumericFieldViewModel

@{
    var settings = Model.PartFieldDefinition.GetSettings<NumericFieldSettings>();
    string name = Model.PartFieldDefinition.DisplayName();
    decimal min = settings.Minimum.HasValue ? settings.Minimum.Value : 0;
    decimal max = settings.Maximum.HasValue ? settings.Maximum.Value : 10000;
}

<div class="mb-3">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <label asp-for="Value">@name</label>
            <div class="input-group">
                @if (settings.Minimum.HasValue)
                {
                    <span class="input-group-text">@min</span>
                }
                <input asp-for="Value" class="form-control content-preview-select" placeholder="@settings.Placeholder" required="@settings.Required" />
                @if (settings.Maximum.HasValue)
                {
                    <span class="input-group-text">@max</span>
                }
            </div>
        </div>
    </div>
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</div>
