@model OrchardCore.ContentFields.Settings.TextFieldPredefinedListEditorSettings

@inject OrchardCore.DisplayManagement.Theming.IThemeManager ThemeManager
@inject OrchardCore.DisplayManagement.Descriptors.IShapeTableManager ShapeTableManager

@{
    var theme = await ThemeManager.GetThemeAsync();
    var shapeTable = ShapeTableManager.GetShapeTable(theme?.Id);
    var editorShapes = shapeTable.ShapeBindings.Keys.Where(x => x.StartsWith("TextField_ListOption__PredefinedList_", StringComparison.OrdinalIgnoreCase));
}

<div class="field-editor field-editor-predefinedlist">
    <div class="row">
        <fieldset class="form-group col-sm-6">
            <label asp-for="Editor">@T["What type of list editor should be used?"]</label>
            <select asp-for="Editor" class="form-control">
                @foreach (var editorShape in editorShapes)
                {
                    dynamic shape = await Factory.CreateAsync(editorShape);
                    shape.Editor = Model.Editor;
                    @await DisplayAsync(shape)
                }
            </select>
        </fieldset>
    </div>

    <fieldset class="form-group">
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="Required" type="checkbox" class="form-check-input" />
                <span class="hint">@T["Check to ensure the user is providing an option for this field."]</span>
            </label>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <div class="row col-md">
            <label asp-for="Options">@T["Options"]</label>
            <textarea asp-for="Options" rows="5" class="form-control"></textarea>
            <span class="hint">@T["Enter an option per line. Examples :  MyOptionValue, MyOption | MyValue, #Group"]</span>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <div class="row col">
            <label for="DefaultValue">@T["Default value"]</label>
            <input asp-for="DefaultValue" class="form-control" type="text" />
            <span class="hint">@T["The default option proposed when creating a content item. If there is no equivalent choice among Options, it will not be used. (optional) When using the Listbox or Checkbox List mode, you can define multiple options separated by a semicolon."]</span>
        </div>
    </fieldset>
</div>