@model OrchardCore.ContentFields.ViewModels.EditTimeFieldViewModel
@using OrchardCore.Mvc.Utilities
@{
    var settings = Model.PartFieldDefinition.GetSettings<TimeFieldSettings>();
    var uniqueName = $"{Model.PartFieldDefinition.PartDefinition.Name}-{Model.PartFieldDefinition.Name}";
}

<div class="@Orchard.GetWrapperCssClasses("field-wrapper", $"field-wrapper-{uniqueName.HtmlClassify()}")" id="@Html.IdFor(x => x.Value)_FieldWrapper">
    <label asp-for="Value" class="@Orchard.GetLabelCssClasses()">@Model.PartFieldDefinition.DisplayName()</label>
    <div class="@Orchard.GetEndCssClasses()">
        <div class="@Orchard.GetLimitedWidthWrapperCssClasses()">
            <div class="@Orchard.GetLimitedWidthCssClasses()">
                <input asp-for="Value" type="time" class="form-control content-preview-select" step="@settings.Step" required="@settings.Required" />
            </div>
        </div>
        @if (!String.IsNullOrEmpty(settings.Hint))
        {
            <span class="hint">@settings.Hint</span>
        }
    </div>
</div>
