@model OrchardCore.ContentFields.Settings.UserPickerFieldSettingsViewModel

<script asp-name="vuejs" at="Foot"></script>

<div class="mb-3">
    <div class="form-check">
        <input asp-for="Required" type="checkbox" class="form-check-input">
        <label class="form-check-label" asp-for="Required">@T["Required"]</label>
        <span class="hint dashed">@T["Whether to ensure at least one element is selected."]</span>
    </div>
</div>

<div class="mb-3">
    <div class="form-check">
        <input asp-for="Multiple" type="checkbox" class="form-check-input">
        <label class="form-check-label" asp-for="Multiple">@T["Allow multiple"]</label>
        <span class="hint dashed">@T["Whether to allow multiple elements to be selected."]</span>
    </div>
</div>

<div id="userRolesVue" class="mb-3" data-display-all-users="@Model.DisplayAllUsers.ToString().ToLowerInvariant()">
    <label asp-for="Roles">@T["Roles"]</label>
    <span class="hint">@T["The roles that a user must belong to. Choose at least one."]</span>

    <div class="form-check">
        <input asp-for="DisplayAllUsers" type="checkbox" class="form-check-input" v-model="displayAllUsers">
        <label class="form-check-label" asp-for="DisplayAllUsers">@T["Display All Users"]</label>
        <span class="hint dashed">@T["Whether to allow picker to display users from all roles."]</span>
    </div>

    <div v-show="!displayAllUsers">
        <div class="mb-3">
            @for (var i = 0; i < Model.Roles.Length; i++)
            {
                <div class="form-check">
                    <input asp-for="Roles[i].IsSelected" type="checkbox" class="form-check-input">
                    <input type="hidden" asp-for="Roles[i].Role" />
                    <label class="form-check-label cursor-pointer" asp-for="Roles[i].IsSelected">@Model.Roles[i].Role</label>
                </div>
            }
        </div>        
    </div>
</div>

<div class="mb-3">
    <div class="w-md-75 w-xl-50 pe-md-3">
        <label asp-for="Hint">@T["Hint"]</label>
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
    </div>
    <span class="hint">@T["The hint text to display for this field on the editor."]</span>
</div>

<script at="Foot" depends-on="vuejs">
    var app = new Vue({
        el: "#userRolesVue",
        data: {
            displayAllUsers: false
        },
        mounted() {
            this.displayAllUsers = (this.$el.dataset.displayAllUsers === 'true'); 
        }
    });
</script>
