@model YoutubeFieldSettings

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <div class="form-check">
            <input asp-for="Required" type="checkbox" class="form-check-input">
            <label class="form-check-label" asp-for="Required">@T["Required"]</label>
            <span class="hint dashed">@T["Whether a value is required."]</span>
        </div>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Placeholder" class="ocat-label">@T["Placeholder"]</label>
    <div class="ocat-end">
        <input asp-for="Placeholder" class="form-control" />
        <span class="hint">@T["The placeholder text to display for this field on the editor."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Hint" class="ocat-label">@T["Hint"]</label>
    <div class="ocat-end">
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
        <span class="hint">@T["The hint text to display for this field on the editor."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Width" class="ocat-label">@T["Width"]</label>
    <div class="ocat-end">
        <input type="number" asp-for="Width" class="form-control" />
        <span class="hint">@T["The width of the Videobox"]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Height" class="ocat-label">@T["Height"]</label>
    <div class="ocat-end">
        <input type="number" asp-for="Height" class="form-control" />
        <span class="hint">@T["The height of the Videobox"]</span>
    </div>
</div>
