@model OrchardCore.ContentFields.Settings.YoutubeFieldSettings
@using OrchardCore.ContentFields.Settings;

@inject OrchardCore.DisplayManagement.Theming.IThemeManager ThemeManager
@inject OrchardCore.DisplayManagement.Descriptors.IShapeTableManager ShapeTableManager
@{

}
<div class="mb-3">
    <div class="form-check">
        <input asp-for="Required" type="checkbox" class="form-check-input">
        <label class="form-check-label" asp-for="Required">@T["Required"]</label>
        <span class="hint dashed">@T["Whether a value is required."]</span>
    </div>
</div>

<div class="mb-3">
    <div class="w-md-75 w-xl-50 pe-md-3">
        <label asp-for="Hint">@T["Hint"]</label>
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
    </div>
    <span class="hint">@T["The hint text to display for this field on the editor."]</span>
</div>

<div class="mb-3">
    <div class="w-sm-50 pe-md-3">
        <label asp-for="Width">@T["Width"]</label>
        <input type="number" asp-for="Width" class="form-control" />
    </div>
    <span class="hint">@T["The width of the Videobox"]</span>
</div>

<div class="mb-3">
    <div class="w-sm-50 pe-md-3">
        <label asp-for="Height">@T["Height"]</label>
        <input type="number" asp-for="Height" class="form-control" />
    </div>
    <span class="hint">@T["The height of the Videobox"]</span>
</div>
