@using OrchardCore.Google.Analytics.ViewModels;
@model GoogleAnalyticsSettingsViewModel;

<p class="alert alert-secondary">
    <a class="seedoc" href="@(OrchardCore.Admin.Constants.DocsUrl)reference/modules/Google/#google-analytics" target="_blank">@T["See documentation"]</a>
</p>

<h3>@T["Google Analytics Settings"]</h3>

<div class="mb-3 row" asp-validation-class-for="TrackingID">
    <div class="col-large">
        <label asp-for="TrackingID">@T["Tracking ID"]</label>
        <input asp-for="TrackingID" class="form-control" autocomplete="off" />
        <span asp-validation-for="TrackingID"></span>
        <span class="hint">@T["The tracking ID defined in your Google Analytics account."]</span>
    </div>
</div>
