@using OrchardCore.Google.Authentication.ViewModels;
@model GoogleAuthenticationSettingsViewModel;

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]</p>

<h3>@T["Google Authentication Settings"]</h3>

<div class="form-group row" asp-validation-class-for="ClientID">
    <div class="col-lg">
        <label asp-for="ClientID">@T["Client ID"]</label>
        <input asp-for="ClientID" class="form-control" autocomplete="off" />
        <span asp-validation-for="ClientID"></span>
        <span class="hint">@T["The client id defined in Google API console for the application."]</span>
    </div>
</div>

<div class="form-group row" asp-validation-class-for="ClientSecret">
    <div class="col-lg">
        <label asp-for="ClientSecret">@T["API secret key"]</label>
        <input asp-for="ClientSecret" class="form-control" type="password" value="@Model.ClientSecret" autocomplete="off" />
        <span asp-validation-for="ClientSecret"></span>
        <span class="hint">@T["The client secret defined in Google API console for the application."]</span>
    </div>
</div>

<div class="form-group row" asp-validation-class-for="CallbackPath">
    <div class="col-lg">
        <label asp-for="CallbackPath">@T["CallbackPath"]</label>
        <input asp-for="CallbackPath" class="form-control" placeholder="/signin-google" />
        <span asp-validation-for="CallbackPath"></span>
        <span class="hint">@T["The request path within the application's base path where the user-agent will be returned. The middleware will process this request when it arrives."]</span>
    </div>
</div>
