@using OrchardCore.Google.Authentication.ViewModels;
@model GoogleAuthenticationSettingsViewModel;

<p class="alert alert-warning">
    @T["The current tenant will be reloaded when the settings are saved."]
    <a class="seedoc" href="@(OrchardCore.Admin.Constants.DocsUrl)reference/modules/Google/#google-authentication" target="_blank">@T["See documentation"]</a>
</p>

@if (Model.HasDecryptionError)
{
    <p class="alert alert-danger">@T["An error occurred while decrypting a setting. Please apply and save."]</p>
}

<h3>@T["Google Authentication Settings"]</h3>

<div class="mb-3 row" asp-validation-class-for="ClientID">
    <div class="col-large">
        <label asp-for="ClientID">@T["Client ID"]</label>
        <input asp-for="ClientID" class="form-control" autocomplete="off" />
        <span asp-validation-for="ClientID"></span>
        <span class="hint">@T["The client id defined in Google API console for the application."]</span>
    </div>
</div>

<div class="mb-3 row" asp-validation-class-for="ClientSecret">
    <div class="col-large">
        <label asp-for="ClientSecret">@T["API secret key"]</label>
        <input asp-for="ClientSecret" class="form-control" type="password" value="@Model.ClientSecret" autocomplete="off" />
        <span asp-validation-for="ClientSecret"></span>
        <span class="hint">@T["The client secret defined in Google API console for the application."]</span>
    </div>
</div>

<div class="mb-3 row" asp-validation-class-for="CallbackPath">
    <div class="col-large">
        <label asp-for="CallbackPath">@T["CallbackPath"]</label>
        <input asp-for="CallbackPath" class="form-control" placeholder="/signin-google" />
        <span asp-validation-for="CallbackPath"></span>
        <span class="hint">@T["The request path within the application's base path where the user-agent will be returned. The middleware will process this request when it arrives."]</span>
    </div>
</div>

<div class="mb-3" asp-validation-class-for="SaveTokens">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="SaveTokens">
        <label class="form-check-label" asp-for="SaveTokens">@T["Store tokens"]</label>
        <span class="hint dashed">@T["Store external authentication tokens for reuse"]</span>
    </div>
</div>
