@model AuditTrailDetailViewModel

@{
    var auditTrailEvent = Model.AuditTrailEvent;
    var eventDescriptor = Model.Descriptor;
    var category = eventDescriptor.CategoryDescriptor.LocalizedName;
    var eventName = eventDescriptor.LocalizedName;
}

<zone name="Title"><h1>@RenderTitleSegments(T["Audit Trail Event"])</h1></zone>

<div class="form-group border rounded pl-2 pt-2 pr-2 mt-3">
    <table class="table table-sm table-hover">
        <tbody>
            <tr>
                <th class="border-top-0 w-25">@T["Category"]</th>
                <td class="border-top-0">@category</td>
            </tr>
            <tr>
                <th>@T["Event"]</th>
                <td>@eventName</td>
            </tr>
            <tr>
                <th>@T["User"]</th>
                <td>@auditTrailEvent.UserName</td>
            </tr>
            <tr>
                <th>@T["Timestamp"]</th>
                <td>@await DisplayAsync(await New.DateTime(Utc: auditTrailEvent.CreatedUtc, Format: "g"))</td>
            </tr>
            <tr>
                <th>@T["Client IP"]</th>
                <td>@auditTrailEvent.ClientIpAddress</td>
            </tr>
        </tbody>
    </table>
</div>

@await DisplayAsync(Model.DetailsShape)
