@model AuditTrailDetailsViewModel
@using System.Globalization

@{
    var auditTrailEvent = Model.AuditTrailEvent;
    var eventDescriptor = Model.Descriptor;
    var category = eventDescriptor.CategoryDescriptor.LocalizedName;
    var eventName = eventDescriptor.LocalizedName;
}

<zone name="Title"><h1>@RenderTitleSegments(T["Audit Trail Event"])</h1></zone>

<div class="form-group">
    <div>
        @T["<strong>Event:</strong> {0}", eventName]
    </div>
    <div>
        @T["<strong>Category:</strong> {0}", category]
    </div>
    <div>
        @T["<strong>Timestamp:</strong> {0}", await DisplayAsync(await New.DateTime(Utc: auditTrailEvent.CreatedUtc, Format: "g"))]
    </div>
    <div>
        @T["<strong>User name:</strong> {0}", auditTrailEvent.UserName]
    </div>
    <div>
        @T["<strong>Client IP address:</strong> {0}", auditTrailEvent.ClientIpAddress]
    </div>
</div>

@await DisplayAsync(Model.DetailsShape)
