@model BackgroundTaskStateViewModel

<h1>@RenderTitleSegments(T["Task State"])</h1>

<h3>@Model.Name</h3>
<h2>Enable: @Model.State.Enable</h2>
<h2>ReferenceTime: @Model.State.ReferenceTime</h2>
<h2>LastStartTime: @Model.State.LastStartTime</h2>
<h2>NextStartTime: @Model.State.NextStartTime</h2>
<h2>RunningTime: @Model.State.RunningTime</h2>
<h2>TotalTime: @Model.State.TotalTime</h2>
<h2>StartCount: @Model.State.StartCount</h2>
<h2>Status: @Model.State.Status</h2>
<h2>FaultMessage: @Model.State.FaultMessage</h2>
