@model RsaSecretViewModel

<div class="form-group" asp-validation-class-for="KeyType">
    <div class="w-100 w-md-50">
        <label asp-for="KeyType">@T["Key Type"]</label>
        <select asp-for="KeyType" asp-items="@Model.KeyTypes" class="form-control" asp-validation-class-for="KeyType"></select>
        <span asp-validation-for="KeyType"></span>
    </div>
    <div class="w-100">
        <span class="hint">@T["Select the rsa key type. A public key can only be used for decryption."]</span>
    </div>
</div>

<div id="currentKeyPair" data-isnew="@Model.Context.IsNew">
    <div class="form-group" asp-validation-class-for="PublicKey">
        <label asp-for="PublicKey">@T["Public Key"]</label>
        @if (Model.Context.IsNew || Model.KeyType == RsaSecretType.Public)
        {
            <textarea asp-for="PublicKey" class="form-control" rows="5"></textarea>  
        }
        else
        {
            <textarea asp-for="PublicKey" class="form-control" rows="5" readonly></textarea>  
        }
        <span asp-validation-for="PublicKey"></span>
        <span class="hint">@T["The public key in base64 url encoded format."]</span>

    </div>
    @if (!String.IsNullOrEmpty(Model.PrivateKey))
    {
        <div class="form-group" asp-validation-class-for="PrivateKey">
            <label asp-for="PrivateKey">@T["Private Key"]</label>
            <textarea asp-for="PrivateKey" class="form-control" rows="10"></textarea>    
            <span asp-validation-for="PrivateKey"></span>
            <span class="hint">@T["The private key in base64 url encoded format. Once created this key will never be displayed again."]</span>
        </div>
    }
    @if (!Model.Context.IsNew)
    {
        <button class="btn btn-secondary float-right" id="regenerateKeyPair" type="button">@T["Regenerate Key Pair"]</button>
    }
    
</div>

@if (!Model.Context.IsNew)
{
    <div id="newKeyPair" style="display: none">
        <input  asp-for="CycleKey"/>
        <div class="form-group" asp-validation-class-for="NewPublicKey">
            <label asp-for="NewPublicKey">@T["Public Key"]</label>
            <textarea asp-for="NewPublicKey" class="form-control" rows="5"></textarea>  
            <span asp-validation-for="NewPublicKey"></span>
            <span class="hint">@T["The public key in base64 url encoded format."]</span>

        </div>
        <div class="form-group" asp-validation-class-for="NewPrivateKey">
            <label asp-for="NewPrivateKey">@T["Private Key"]</label>
            <textarea asp-for="NewPrivateKey" class="form-control" rows="10"></textarea>    
            <span asp-validation-for="NewPrivateKey"></span>
            <span class="hint">@T["The private key in base64 url encoded format. Once created this key will never be displayed again."]</span>
        </div>   
    </div>
}

<script at="Foot">
    $(function (){
        var isNew = $('#currentKeyPair').data('isnew') == 'True';
        $('#regenerateKeyPair').click(function (){
             $('#@Html.IdFor(x => x.CycleKey)').prop('checked', true);
            $('#currentKeyPair').hide();
            $('#newKeyPair').show();
        });

        $('#@Html.IdFor(x => x.KeyType)').on('change', function() {
            if (this.value === '@((int)RsaSecretType.PublicPrivatePair)') {
                if (isNew) {
                    $('#@Html.IdFor(x => x.PrivateKey)').closest('.form-group').show();
                } else {
                    $('#regenerateKeyPair').show();
                    $('#@Html.IdFor(x => x.PublicKey)').attr('readonly', true);
                }
            } else {
                $('#regenerateKeyPair').hide();
                if (isNew) {
                    $('#@Html.IdFor(x => x.PrivateKey)').closest('.form-group').hide();
                }
                $('#@Html.IdFor(x => x.PublicKey)').closest('.form-group').show();
                $('#@Html.IdFor(x => x.PublicKey)').attr('readonly', false);
            }
        });      
    });
</script>
