@model RsaSecretViewModel

<div id="currentKeyPair">
    <div class="form-group" asp-validation-class-for="PublicKey">
        <label asp-for="PublicKey">@T["Public Key"]</label>
        @if (Model.Context.IsNew)
        {
            <textarea asp-for="PublicKey" class="form-control" rows="5"></textarea>  
        }
        else
        {
            <textarea asp-for="PublicKey" class="form-control" rows="5" readonly></textarea>  
        }
        <span asp-validation-for="PublicKey"></span>
        <span class="hint">@T["The public key in base64 url encoded format."]</span>

    </div>
    @if (!String.IsNullOrEmpty(Model.PrivateKey))
    {
        <div class="form-group" asp-validation-class-for="PrivateKey">
            <label asp-for="PrivateKey">@T["Private Key"]</label>
            <textarea asp-for="PrivateKey" class="form-control" rows="10"></textarea>    
            <span asp-validation-for="PrivateKey"></span>
            <span class="hint">@T["The private key in base64 url encoded format. Once created this key will never be displayed again."]</span>
        </div>
    }
    @if (!Model.Context.IsNew)
    { 
        <button class="btn btn-secondary float-right" id="regenerateKeyPair" type="button">@T["Regenerate Key Pair"]</button>
    }
</div>

@if (!Model.Context.IsNew)
{
    <div id="newKeyPair" style="display: none">
        <input  asp-for="CycleKey"/>
        <div class="form-group" asp-validation-class-for="NewPublicKey">
            <label asp-for="NewPublicKey">@T["Public Key"]</label>
            <textarea asp-for="NewPublicKey" class="form-control" rows="5"></textarea>  
            <span asp-validation-for="NewPublicKey"></span>
            <span class="hint">@T["The public key in base64 url encoded format."]</span>

        </div>
        <div class="form-group" asp-validation-class-for="NewPrivateKey">
            <label asp-for="NewPrivateKey">@T["Private Key"]</label>
            <textarea asp-for="NewPrivateKey" class="form-control" rows="10"></textarea>    
            <span asp-validation-for="NewPrivateKey"></span>
            <span class="hint">@T["The private key in base64 url encoded format. Once created this key will never be displayed again."]</span>
        </div>   
    </div>

    
    <script at="Foot">
        $(function (){
            $('#regenerateKeyPair').click(function (){
                $('#@Html.IdFor(x => x.CycleKey)').prop('checked', true);
                $('#currentKeyPair').hide();
                $('#newKeyPair').show();
            });

        });
    </script>
}