@using OrchardCore.Mvc.Utilities
@using OrchardCore.ContentManagement.Metadata.Settings;

@model AddFieldViewModel

@{
    var returnUrl = ViewData["returnUrl"]?.ToString();
}

<zone Name="Title"><h1>@RenderTitleSegments(T["Add New Field To \"{0}\"", Model.Part.DisplayName()])</h1></zone>

<form asp-action="AddFieldTo" asp-route-returnUrl="@ViewData["returnUrl"]">
    @Html.ValidationSummary()
    <div class="mb-3">
        <div class="w-md-75 w-xl-50">
            <label for="DisplayName">@T["Display Name"]</label>
            <input asp-for="DisplayName" class="form-control" autofocus />
        </div>
        <span class="hint">@T["Name of the field as it will be displayed in screens."]</span>
    </div>

    <div class="mb-3">
        <div class="w-sm-75 w-md-50 w-lg-25">
            <label for="Name">@T["Technical Name"]</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <span class="hint">@T["Technical name of the field."]</span>
    </div>

    <div class="mb-3">
        <label for="DisplayName">@T["Field Type"]</label>
        <ul class="list-group w-md-50">
            @for (var i = 0; i < Model.Fields.Count; i++)
            {
                <li class="list-group-item">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" asp-for="FieldTypeName" id="@Html.IdFor(m => m.Fields[i])" value="@Model.Fields[i]" checked="@(i == 0)">
                        <label class="form-check-label" asp-for="Fields[i]">@Model.Fields[i].CamelFriendly()</label>
                    </div>
                </li>
            }
        </ul>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary save" type="submit">@T["Save"]</button>
        @if (Url.IsLocalUrl(returnUrl))
        {
            <a class="btn btn-secondary cancel" role="button" href="@returnUrl">@T["Cancel"]</a>
        }
    </div>
</form>

<script at="Foot">
//<![CDATA[
    $(function(){
        var $name = $("#@Html.IdFor(m => m.Name)");
        var $displayName = $("#@Html.IdFor(m => m.DisplayName)");

        var nameAltered;
        $name.keypress(function() {
            nameAltered = true;
        });

        var compute = function() {
            // stop processing automatically if altered by the user
            if (nameAltered) {
                return true;
            }

            $name.val(getTechnicalName($displayName.val()));
        };

        $displayName.keyup(compute);
        $displayName.blur(compute);
    })
//]]>
</script>
