@model AddPartsViewModel
@using OrchardCore.Localization.Data
@inject IDataLocalizer D
@{
    int i = 0;
    var hasSelectedParts = Model.PartSelections.Any(x => x.IsSelected);
    string localizedTypeName = D[Model.Type.DisplayName, "Content Types"];
}
<zone Name="Title"><h1>@T["Add Parts To \"{0}\"", localizedTypeName]</h1></zone>

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        @T["Choose the Parts to add to this Content Type."]
    </div>
</div>

<form asp-action="AddPartsTo">
    @Html.ValidationSummary()
    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <ul class="list-group">
                @foreach (var partSelection in Model.PartSelections)
                {
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-start justify-content-between gap-3">
                            <div class="form-check flex-grow-1">
                                <input type="checkbox" class="form-check-input" asp-for="PartSelections[i].IsSelected">
                                <label class="form-check-label" asp-for="PartSelections[i].IsSelected">@partSelection.PartDisplayName</label>
                                <span class="hint dashed">@partSelection.PartDescription</span>
                            </div>
                            <button class="btn btn-secondary btn-sm" type="submit" name="submit.AddAndConfigure" value="@partSelection.PartName">@T["Add &amp; Configure"]</button>
                        </div>
                        <input asp-for="PartSelections[i].IsSelected" type="hidden" />
                        <input asp-for="PartSelections[i].PartName" type="hidden" />
                    </li>
                    i++;
                }
            </ul>
        </div>
    </div>
    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <button id="add-selected-parts-button" class="btn btn-primary save" type="submit" name="submit.Save" value="Save" hidden="@(!hasSelectedParts)">@T["Add Selected Parts"]</button>
            <a class="btn btn-secondary cancel" role="button" asp-route-action="Edit" asp-route-id="@Model.Type.Name">@T["Cancel"]</a>
        </div>
    </div>
</form>

<script asp-src="~/OrchardCore.ContentTypes/Scripts/content-type-editors/add-parts-to.min.js" debug-src="~/OrchardCore.ContentTypes/Scripts/content-type-editors/add-parts-to.js" at="Foot" type="module"></script>
