@model AddReusablePartViewModel
@using OrchardCore.Localization.Data
@inject IDataLocalizer D
@{
    int i = 0;
    string localizedTypeName = D[Model.Type.DisplayName, "Content Types"];
}

<script asp-src="~/OrchardCore.ContentTypes/Scripts/autocomplete/autocomplete.js" at="Foot"></script>
<zone Name="Title"><h1>@T["Add Named Part To \"{0}\"", localizedTypeName]</h1></zone>

<form asp-action="AddReusablePartTo">
    @Html.ValidationSummary()

    @if (Model.PartSelections.Any())
    {
        <div class="ocat-limited-wrapper">
            <label asp-for="DisplayName" class="ocat-label">@T["Display Name"]</label>
            <div class="ocat-limited">
                <input data-displayname="@Html.IdFor(m => m.DisplayName)" asp-for="DisplayName" class="form-control" autofocus />
                <span class="hint">@T["Name of the reusable part as it will be displayed in screens."]</span>
            </div>
        </div>

        <div class="ocat-limited-wrapper">
            <label asp-for="Name" class="ocat-label">@T["Technical Name"]</label>
            <div class="ocat-limited">
                <input data-name="@Html.IdFor(m => m.DisplayName)" asp-for="Name" class="form-control" />
                <span class="hint">@T["Technical name of the reusable part."]</span>
            </div>
        </div>

        <div class="ocat-limited-wrapper">
            <label asp-for="Description" class="ocat-label">@T["Description"]</label>
            <div class="ocat-limited">
                <input asp-for="Description" class="form-control" />
                <span class="hint">@T["Description of the reusable part."]</span>
            </div>
        </div>

        <div class="ocat-limited-wrapper">
            <div class="ocat-limited">
                <ul class="list-group">
                    @foreach (var partSelection in Model.PartSelections)
                    {
                        <li class="list-group-item list-group-item-action">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" asp-for="SelectedPartName" id="@Html.IdFor(m => m.PartSelections[i].PartName)" value="@Model.PartSelections[i].PartName">
                                <label class="form-check-label" asp-for="PartSelections[i].PartName">@partSelection.PartDisplayName</label>
                                @if (!string.IsNullOrEmpty(partSelection.PartDescription))
                                {
                                    <span class="hint dashed">@partSelection.PartDescription</span>
                                }
                            </div>
                        </li>
                        i++;
                    }
                </ul>
            </div>
        </div>
    }
    else
    {
        <p class="alert alert-warning">@T["There are no available named parts."]</p>
    }

    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            @if (Model.PartSelections.Any())
            {
                <button class="btn btn-primary save" type="submit" name="submit.Save" value="Save">@T["Save"]</button>
                <button class="btn btn-secondary" type="submit" name="submit.Save" value="SaveAndConfigure">@T["Save &amp; Configure"]</button>
            }
            <a class="btn btn-secondary cancel" role="button" asp-route-action="Edit" asp-route-id="@Model.Type.Name">@T["Cancel"]</a>
        </div>
    </div>
</form>
