@model CreatePartViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["New Content Part"])</h1></zone>

<form asp-action="CreatePart">
    @Html.ValidationSummary()
    <div class="mb-3">
        <label for="Name">@T["Name"]</label>
        <input asp-for="Name" class="form-control w-md-25" autofocus="autofocus" />
        <span class="hint">@T["Use no spaces or special characters. For example, \"MyCustomPart\""]</span>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary create" type="submit">@T["Create"]</button>
    </div>
</form>
