@model CreateTypeViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["New Content Type"])</h1></zone>

<form asp-action="Create">
    @Html.ValidationSummary()

    <div class="mb-3">
        <label asp-for="DisplayName">@T["Display Name"]</label>
        <input asp-for="DisplayName" class="form-control w-md-25" autofocus />
        <span class="hint">@T["Name of the type as it will be displayed on screens."]</span>
    </div>

    <div class="mb-3">
        <label asp-for="Name">@T["Technical Name"]</label>
        <input asp-for="Name" class="form-control w-md-25" />
        <span class="hint">@T["Technical name of the type."]</span>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary create" type="submit">@T["Create"]</button>
    </div>
</form>

<script at="Foot">
//<![CDATA[
    $(function(){
        var $name = $("#@Html.IdFor(m => m.Name)");
        var $displayName = $("#@Html.IdFor(m => m.DisplayName)");

        var nameAltered;
        $name.keypress(function() {
            nameAltered = true;
        });

        var compute = function() {
            // stop processing automatically if altered by the user
            if (nameAltered) {
                return true;
            }

            $name.val(getTechnicalName($displayName.val()));
        };

        $displayName.keyup(compute);
        $displayName.blur(compute);
    })
//]]>
</script>
