@model CreateTypeViewModel

<script asp-src="~/OrchardCore.ContentTypes/Scripts/autocomplete/autocomplete.js" at="Foot" depends-on="jQuery"></script>
<zone Name="Title"><h1>@RenderTitleSegments(T["New Content Type"])</h1></zone>

<form asp-action="Create">
    @Html.ValidationSummary()

    <div class="mb-3">
        <label asp-for="DisplayName" class="form-label">@T["Display Name"]</label>
        <input data-displayname="@Html.IdFor(m => m.DisplayName)" asp-for="DisplayName" class="form-control w-md-75 w-xl-50" autofocus />
        <span class="hint">@T["Name of the type as it will be displayed on screens."]</span>
    </div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label">@T["Technical Name"]</label>
        <input data-name="@Html.IdFor(m => m.DisplayName)" asp-for="Name" class="form-control w-md-75 w-xl-50" />
        <span class="hint">@T["Technical name of the type."]</span>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary create" type="submit">@T["Create"]</button>
    </div>
</form>


