@model CreateTypeViewModel

<script asp-src="~/OrchardCore.ContentTypes/Scripts/autocomplete/autocomplete.js" at="Foot"></script>
<zone Name="Title"><h1>@RenderTitleSegments(T["New Content Type"])</h1></zone>

<form asp-action="Create">
    @Html.ValidationSummary()

    <div class="ocat-limited-wrapper">
        <label asp-for="DisplayName" class="ocat-label">@T["Display Name"]</label>
        <div class="ocat-limited">
            <input data-displayname="@Html.IdFor(m => m.DisplayName)" asp-for="DisplayName" class="form-control" autofocus />
            <span class="hint">@T["Name of the type as it will be displayed on screens."]</span>
        </div>
    </div>

    <div class="ocat-limited-wrapper">
        <label asp-for="Name" class="ocat-label">@T["Technical Name"]</label>
        <div class="ocat-limited">
            <input data-name="@Html.IdFor(m => m.DisplayName)" asp-for="Name" class="form-control" />
            <span class="hint">@T["Technical name of the type."]</span>
        </div>
    </div>

    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <button class="btn btn-primary create" type="submit">@T["Create"]</button>
        </div>
    </div>
</form>


