@model EditTypePartViewModel
@using OrchardCore.ContentManagement.Metadata.Settings
@using OrchardCore.DisplayManagement
@using OrchardCore.DisplayManagement.Theming
@using OrchardCore.Localization.Data

@inject IThemeManager ThemeManager
@inject OrchardCore.DisplayManagement.Descriptors.IShapeTableManager ShapeTableManager
@inject IDataLocalizer D

@{
    var typePart = Model.TypePartDefinition;
    var shapeTable = await ThemeManager.GetShapeTableAsync(ShapeTableManager);
    var displayShapes = shapeTable.Bindings.Keys.Where(x => x.StartsWith(Model.TypePartDefinition.PartDefinition.Name + "_DisplayOption__", StringComparison.OrdinalIgnoreCase) || x.Equals(Model.TypePartDefinition.PartDefinition.Name + "_DisplayOption", StringComparison.OrdinalIgnoreCase));
    var editorShapes = shapeTable.Bindings.Keys.Where(x => x.StartsWith(Model.TypePartDefinition.PartDefinition.Name + "_Option__", StringComparison.OrdinalIgnoreCase) || x.Equals(Model.TypePartDefinition.PartDefinition.Name + "_Option", StringComparison.OrdinalIgnoreCase));
    string localizedDisplayName = D[Model.DisplayName, "Content Types"];
}

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Part - {0}", localizedDisplayName])</h1></zone>

<div class="alert alert-success" role="alert">
    @T["Some part settings common to all types can also be defined at the <a href=\"{0}\">Part Definition</a> level.", Url.Action("EditPart", new { id = typePart.PartDefinition.Name })]
</div>

<form asp-action="EditTypePart">
    @Html.ValidationSummary()

    @if (typePart.PartDefinition.IsReusable())
    {
        <div class="ocat-limited-wrapper">
            <label asp-for="DisplayName" class="ocat-label">@T["Display Name"]</label>
            <div class="ocat-limited">
                <input asp-for="DisplayName" class="form-control" />
                <span class="hint">@T["Name of the part as it will be displayed in screens."]</span>
            </div>
        </div>

        <div class="ocat-limited-wrapper">
            <label asp-for="Description" class="ocat-label">@T["Description"]</label>
            <div class="ocat-limited">
                <input asp-for="Description" class="form-control" />
                <span class="hint">@T["The description of the part as it will be displayed in screens."]</span>
            </div>
        </div>
    }

    @if (Model.Shape.Content != null)
    {
        @if (Model.Shape.Shortcuts != null)
        {
            <div class="ocat-wrapper">
                <div class="ocat-end-offset">
                    @await DisplayAsync(Model.Shape.Shortcuts)
                </div>
            </div>
        }

        @await DisplayAsync(Model.Shape.Content)

        @if (editorShapes.Any())
        {
            <div class="ocat-wrapper">
                <label asp-for="Editor" class="ocat-label">@T["What type of editor should be used?"]</label>
                <div class="ocat-end">
                    <select asp-for="Editor" class="form-select" id="type-part-editor-select">
                        @foreach (var editorShape in editorShapes)
                        {
                            var shape = await Factory.CreateAsync(editorShape);
                            shape.Properties["Editor"] = Model.Editor;
                            @await DisplayAsync(shape)
                        }
                    </select>
                </div>
            </div>
        }

        <div id="type-part-editor-container" style="display: none">
            @await DisplayAsync(Model.Shape.Editor)
        </div>

        @if (displayShapes.Any())
        {
            <div class="ocat-wrapper">
                <label asp-for="DisplayMode" class="ocat-label">@T["What type of display mode should be used?"]</label>
                <div class="ocat-end">
                    <select asp-for="DisplayMode" class="form-select" id="type-part-display-select">
                        @foreach (var displayShape in displayShapes)
                        {
                            var shape = await Factory.CreateAsync(displayShape);
                            shape.Properties["DisplayMode"] = Model.DisplayMode;
                            @await DisplayAsync(shape)
                        }
                    </select>
                </div>
            </div>
        }

        <div id="type-part-display-container" style="display: none">
            @await DisplayAsync(Model.Shape.DisplayMode)
        </div>
    }

    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <button class="btn btn-primary save" type="submit" name="submit.Save" value="Save">@T["Save"]</button>
            <a class="btn btn-secondary cancel" role="button" asp-route-action="Edit" asp-route-id="@Model.TypePartDefinition.ContentTypeDefinition.Name">@T["Cancel"]</a>
        </div>
    </div>
</form>

<script at="Foot">
    //<![CDATA[
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.type-part-editor').forEach(function (element) {
            element.style.display = 'none';
        });
        var typePartEditorContainer = document.getElementById('type-part-editor-container');
        if (typePartEditorContainer) {
            typePartEditorContainer.style.display = '';
        }

        var typePartEditorSelect = document.getElementById('type-part-editor-select');
        if (typePartEditorSelect) {
            document.querySelectorAll('.type-part-editor-' + typePartEditorSelect.value.toLowerCase()).forEach(function (element) {
                element.style.display = '';
            });

            typePartEditorSelect.addEventListener('change', function () {
                document.querySelectorAll('.type-part-editor').forEach(function (element) {
                    element.style.display = 'none';
                });
                document.querySelectorAll('.type-part-editor-' + typePartEditorSelect.value.toLowerCase()).forEach(function (element) {
                    element.style.display = '';
                });
            });
        }

        document.querySelectorAll('.type-part-display').forEach(function (element) {
            element.style.display = 'none';
        });
        var typePartDisplayContainer = document.getElementById('type-part-display-container');
        if (typePartDisplayContainer) {
            typePartDisplayContainer.style.display = '';
        }

        var typePartDisplaySelect = document.getElementById('type-part-display-select');
        if (typePartDisplaySelect) {
            document.querySelectorAll('.type-part-display-' + typePartDisplaySelect.value.toLowerCase()).forEach(function (element) {
                element.style.display = '';
            });

            typePartDisplaySelect.addEventListener('change', function () {
                document.querySelectorAll('.type-part-display').forEach(function (element) {
                    element.style.display = 'none';
                });
                document.querySelectorAll('.type-part-display-' + typePartDisplaySelect.value.toLowerCase()).forEach(function (element) {
                    element.style.display = '';
                });
            });
        }
    });
    //]]>
</script>
