@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.ContentManagement.Metadata.Settings
@using OrchardCore.Mvc.Utilities
@using System.Linq

@model EditTypeViewModel

@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager
@inject OrchardCore.ContentTypes.Services.IContentDefinitionService ContentDefinitionService

@{
    var contentSettings = Model.TypeDefinition.GetSettings<ContentSettings>();

    var typePart = Model.TypeDefinition.Parts.FirstOrDefault(x => string.Equals(x.Name, Model.TypeDefinition.Name, StringComparison.OrdinalIgnoreCase));

    var sorted = new List<dynamic>();

    foreach (var part in Model.TypeDefinition.Parts)
    {
        var partDefinition = await ContentDefinitionManager.GetPartDefinitionAsync(part.PartDefinition.Name);

        if (partDefinition == null)
        {
            continue;
        }

        var defaultPosition = partDefinition.DefaultPosition() ?? "5";

        sorted.Add(
            new
            {
                Part = part,
                Order = int.Parse(part.GetSettings<ContentTypePartSettings>().Position ?? defaultPosition)
            });
    }

    var partDefinitions = sorted.OrderBy(x => x.Order).Select(x => (ContentTypePartDefinition)x.Part).ToList();

    var fieldDefinitions = new List<ContentPartFieldDefinition>();

    if (typePart?.PartDefinition?.Fields != null)
    {
        fieldDefinitions = typePart.PartDefinition.Fields
        .Select(field => new
        {
            Field = field,
            Order = int.Parse(field.GetSettings<ContentPartFieldSettings>().Position ?? "0"),
        }).OrderBy(x => x.Order)
        .Select(x => x.Field)
        .ToList();
    }

    var fields = (await ContentDefinitionService.GetFieldsAsync()).ToList();
}

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Content Type - {0}", Model.TypeDefinition.DisplayName])</h1></zone>

<form asp-action="Edit">
    @Html.ValidationSummary()

    <input type="hidden" asp-for="Name" />

    @if (Model.Editor.Shortcuts != null)
    {
        <div class="mb-3">
            @await DisplayAsync(Model.Editor.Shortcuts)
        </div>
    }

    @await DisplayAsync(Model.Editor)

    @if (fieldDefinitions.Count > 0 || fields.Count > 0)
    {
        <div class="mb-3">
            <h3>@T["Fields"]</h3>

            <ul class="list-group sortable" id="fields">
                @foreach (var fieldDefinition in fieldDefinitions)
                {
                    var settings = fieldDefinition.GetSettings<ContentSettings>();

                    <li class="list-group-item" style="cursor: move;">
                        <div class="w-100">
                            <div class="float-end">
                                @if (fields.Any(field => string.Equals(field.Name, fieldDefinition.FieldDefinition.Name, StringComparison.OrdinalIgnoreCase)))
                                {
                                    <a asp-route-action="EditField" asp-route-id="@Model.TypeDefinition.Name" asp-route-name="@fieldDefinition.Name" asp-route-returnUrl="@FullRequestPath" class="btn btn-primary btn-sm" role="button">@T["Edit"]</a>
                                }
                                @if (settings.IsSystemDefined)
                                {
                                    <div class="d-inline" data-bs-toggle="tooltip" data-bs-title="@T["System-defined fields are integral components of the system and cannot be removed."]">
                                        <button type="button" class="btn btn-danger btn-sm" disabled>
                                            @T["Remove"]
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <a asp-route-action="RemoveFieldFrom" asp-route-id="@Model.TypeDefinition.Name" asp-route-name="@fieldDefinition.Name" class="btn btn-danger btn-sm" role="button" data-url-af="UnsafeUrl RemoveUrl">@T["Remove"]</a>
                                }
                            </div>
                            @fieldDefinition.DisplayName() <span class="hint dashed">@fieldDefinition.FieldDefinition.Name.CamelFriendly()</span>

                            @if (!string.IsNullOrEmpty(fieldDefinition.DisplayMode()))
                            {
                                <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Display mode"]"><i class="fa-solid fa-tv text-info" aria-hidden="true"></i> @fieldDefinition.DisplayMode()</span>
                            }
                            @if (!string.IsNullOrEmpty(fieldDefinition.Editor()))
                            {
                                <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Editor"]"><i class="fa-solid fa-edit text-info" aria-hidden="true"></i> @fieldDefinition.Editor()</span>
                            }
                        </div>
                        <input type="hidden" asp-for="OrderedFieldNames" value="@fieldDefinition.Name" />
                    </li>
                }
            </ul>
        </div>

        @if (fields.Count > 0)
        {
            <div class="mb-3">
                <a asp-route-action="AddFieldTo" asp-route-id="@Model.TypeDefinition.Name" asp-route-returnUrl="@FullRequestPath" class="btn btn-info btn-sm" role="button">@T["Add Field"]</a>
            </div>
        }
    }
    <div class="mb-3">
        <h3>@T["Parts"]</h3>

        <ul class="list-group sortable" id="parts">
            @foreach (var partDefinition in partDefinitions)
            {
                var settings = partDefinition.GetSettings<ContentSettings>();

                <li class="list-group-item@(partDefinition == typePart ? " bg-faded" : string.Empty)" style="cursor: move;">
                    <div class="w-100">
                        @partDefinition.DisplayName()

                        @if (partDefinition != typePart)
                        {
                            @if (!string.IsNullOrEmpty(partDefinition.Description()))
                            {
                                <span class="hint dashed">@partDefinition.Description()</span>
                            }

                            <div class="float-end">
                                <a asp-route-action="EditTypePart" asp-route-id="@Model.TypeDefinition.Name" asp-route-name="@partDefinition.Name" class="btn btn-primary btn-sm" role="button">@T["Edit"]</a>
                                @if (settings.IsSystemDefined)
                                {
                                    <div class="d-inline" data-bs-toggle="tooltip" data-bs-title="@T["System-defined parts are integral components of the system and cannot be removed."]">
                                        <button type="button" class="btn btn-danger btn-sm" disabled>
                                            @T["Remove"]
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <a asp-route-action="RemovePart" asp-route-id="@Model.TypeDefinition.Name" asp-route-name="@partDefinition.Name" class="btn btn-danger btn-sm" role="button" data-url-af="UnsafeUrl RemoveUrl">@T["Remove"]</a>
                                }
                            </div>
                        }
                        else
                        {
                            <span class="hint dashed">@T["Contains the fields for the current type"]</span>
                        }

                        @if (!string.IsNullOrEmpty(partDefinition.DisplayMode()))
                        {
                            <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Display mode"]"><i class="fa-solid fa-tv text-info" aria-hidden="true"></i> @partDefinition.DisplayMode()</span>
                        }
                        @if (!string.IsNullOrEmpty(partDefinition.Editor()))
                        {
                            <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Editor"]"><i class="fa-solid fa-edit text-info" aria-hidden="true"></i> @partDefinition.Editor()</span>
                        }
                    </div>
                    <input type="hidden" asp-for="OrderedPartNames" value="@partDefinition.Name" />
                </li>
            }
        </ul>
    </div>

    <div class="mb-3">
        <a asp-route-action="AddPartsTo" asp-route-id="@Model.TypeDefinition.Name" class="btn btn-info btn-sm" role="button">@T["Add Parts"]</a>
        <a asp-route-action="AddReusablePartTo" asp-route-id="@Model.TypeDefinition.Name" class="btn btn-info btn-sm" role="button">@T["Add Named Part"]</a>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary save" type="submit" name="submit.Save" value="Save">@T["Save"]</button>

        @if (contentSettings.IsSystemDefined)
        {
            <div class="d-inline" data-bs-toggle="tooltip" data-bs-title="@T["System-defined types are integral components of the system and cannot be removed."]">
                <button type="button" class="btn btn-danger" disabled>
                    @T["Remove"]
                </button>
            </div>
        }
        else
        {
            <button class="btn btn-danger delete" type="submit" name="submit.Delete" value="Delete" data-url-af="RemoveUrl">@T["Delete"]</button>
        }
    </div>
</form>
<script asp-name="Sortable" at="Foot"></script>
<script at="Foot" depends-on="jquery-resizable,Sortable">
    document.addEventListener('DOMContentLoaded', function () {
        const fields = document.getElementById("fields");

        if (fields) {
            Sortable.create(document.getElementById("fields"));
        }

        const parts = document.getElementById("parts");

        if (parts) {
            Sortable.create(document.getElementById("parts"));
        }
    });
</script>
