@model OpenIdApplicationsIndexViewModel
@using OrchardCore.OpenId.ViewModels;

<h1>@RenderTitleSegments(T["Applications"])</h1>

<nav class="admin-toolbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a asp-route-action="Create" class="btn btn-primary" role="button">@T["Add an application"]</a>
        </li>
    </ul>
</nav>

@using (Html.BeginForm())
{
    <ul class="list-group">
        @foreach (var entry in Model.Applications)
        {
            <li class="list-group-item">
                <div class="properties">
                    <div class="related float-xs-right">
                        <a asp-action="Edit" asp-route-id="@entry.Id" class="btn btn-primary btn-sm">@T["Edit"]</a>
                        <a class="delete btn btn-danger btn-sm" asp-route-id="@entry.Id" role="button" asp-action="Delete" itemprop="UnsafeUrl RemoveUrl">@T["Delete"]</a>
                    </div>
                    @entry.DisplayName
                </div>
            </li>
        }
    </ul>
}

@await DisplayAsync(Model.Pager)
