@model OpenIdApplicationsIndexViewModel
@using OrchardCore.OpenId.ViewModels;

<zone Name="Title"><h1>@RenderTitleSegments(T["Applications"])</h1></zone>

<div class="card mb-3">
    <div class="card-body bg-primary p-3">
        <a asp-route-action="Create" class="btn btn-primary" role="button">@T["Add an application"]</a>
    </div>
</div>

@using (Html.BeginForm())
{
    <ul class="list-group">
        @foreach (var entry in Model.Applications)
        {
            <li class="list-group-item">
                <div class="w-100">
                    <div class="float-end float-sm-end">
                        <a asp-action="Edit" asp-route-id="@entry.Id" class="btn btn-primary btn-sm">@T["Edit"]</a>
                        <a class="delete btn btn-danger btn-sm" asp-route-id="@entry.Id" role="button" asp-action="Delete" data-url-af="UnsafeUrl RemoveUrl">@T["Delete"]</a>
                    </div>
                    @entry.DisplayName
                </div>
            </li>
        }
    </ul>
}

<div id="footer-pager" class="fade-in-pager">
    @await DisplayAsync(Model.Pager)
</div>
