@model SiteSettingsViewModel
@inject OrchardCore.Modules.IClock Clock
@using System.Globalization

<fieldset class="form-group" asp-validation-class-for="SiteName">
    <label asp-for="SiteName">@T["Site name"]</label>
    <input asp-for="SiteName" class="form-control" />
    <span asp-validation-for="SiteName"></span>
    <span class="hint">@T["The site name."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="BaseUrl">
    <label asp-for="BaseUrl">@T["Base url"]</label>
    <input asp-for="BaseUrl" class="form-control" />
    <span asp-validation-for="BaseUrl"></span>
    <span class="hint">@T["Enter the fully qualified base URL of the web site."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UseCdn">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="@Model.UseCdn" />
        <label class="custom-control-label" asp-for="@Model.UseCdn">@T["Use CDN (Content Delivery Network)"]</label>
        <span class="hint">@T[" — Whether the defined CDN value is used for scripts and stylesheets, or their local version"]</span>
    </div>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="CdnBaseUrl">
        <label asp-for="CdnBaseUrl">@T["CDN Base url"]</label>
        <input asp-for="CdnBaseUrl" class="form-control" />
        <span asp-validation-for="CdnBaseUrl"></span>
        <span class="hint">@T["A CDN Base url applied to locally hosted scripts and stylesheets, if empty no CDN Base url is applied, and is disabled in Resource Debug Mode"]</span>
</fieldset>

<div class="row">
    <fieldset class="from-group col-xl-6" asp-validation-class-for="ResourceDebugMode">
        <label asp-for="ResourceDebugMode">@T["Resource Debug Mode"]</label>
        <select asp-for="ResourceDebugMode" class="form-control">
            <option value="@ResourceDebugMode.FromConfiguration.ToString()">@T["From environment — enabled in <em>Production</em>, disabled otherwise)"]</option>
            <option value="@ResourceDebugMode.Enabled.ToString()">@T["Enabled — use debuggable version of resources"]</option>
            <option value="@ResourceDebugMode.Disabled.ToString()">@T["Disabled — use minified version of resources"]</option>
        </select>
        <span class="hint">@T["Determines whether scripts and stylesheets load in their debuggable or minified form."]</span>
    </fieldset>
</div>

<div class="row">
    <fieldset class="form-group col-xl-6" asp-validation-class-for="TimeZone">
        <label asp-for="TimeZone">@T["Default Time Zone"]</label>
        <select asp-for="TimeZone" class="form-control">
            <option value="">@T["Local to server"]</option>
            @foreach (var timezone in Clock.GetTimeZones().OrderBy(t => t.ToString()))
            {
                <option value="@timezone.TimeZoneId" selected="@(Model.TimeZone == timezone.TimeZoneId)">
                    @timezone
                </option>
            }
        </select>
        <span asp-validation-for="TimeZone"></span>
        <span class="hint">@T["Determines the default time zone used when displaying and editing dates and times. DST (daylight saving time) will be applied automatically per time zone if available."]</span>
    </fieldset>

</div>