@model SiteSettingsViewModel
@inject OrchardCore.Modules.ITimeZoneSelectListProvider TimeZoneSelectListProvider
@{
    var timeZoneSelectList = await TimeZoneSelectListProvider.GetTimeZoneSelectListAsync();
}

<div class="ocat-wrapper" asp-validation-class-for="SiteName">
    <label asp-for="SiteName" class="ocat-label">@T["Site name"]</label>
    <div class="ocat-end">
        <input asp-for="SiteName" class="form-control" />
        <span asp-validation-for="SiteName"></span>
        <span class="hint">@T["The site name."]</span>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="PageTitleFormat">
    <label asp-for="PageTitleFormat" class="ocat-label">@T["Page title format"]</label>
    <div class="ocat-end">
        <input asp-for="PageTitleFormat" class="form-control" />
        <span asp-validation-for="PageTitleFormat"></span>
        <span class="hint">@T["The default format of page titles."]</span>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="BaseUrl">
    <label asp-for="BaseUrl" class="ocat-label">@T["Base url"]</label>
    <div class="ocat-end">
        <input asp-for="BaseUrl" class="form-control" />
        <span asp-validation-for="BaseUrl"></span>
        <span class="hint">@T["Enter the fully qualified base URL of the web site."]</span>
    </div>
</div>

<div class="ocat-limited-wrapper" asp-validation-class-for="TimeZone">
    <label asp-for="TimeZone" class="ocat-label">@T["Default Time Zone"]</label>
    <div class="ocat-limited">
        <select asp-for="TimeZone" class="form-select" asp-items="timeZoneSelectList">
            <option value="">@T["Local to server"]</option>
        </select>
        <span asp-validation-for="TimeZone"></span>
        <span class="hint">@T["Determines the default time zone used when displaying and editing dates and times. DST (daylight saving time) will be applied automatically per time zone if available."]</span>
    </div>
</div>

<div class="ocat-limited-wrapper" asp-validation-class-for="PageSize">
    <label asp-for="PageSize" class="ocat-label">@T["Page size"]</label>
    <div class="ocat-limited">
        <input asp-for="PageSize" type="number" class="form-control" />
        <span asp-validation-for="PageSize"></span>
        <span class="hint">@T["The default page size."]</span>
    </div>
</div>
