@model SiteSettingsViewModel
@inject OrchardCore.Modules.IClock Clock

<fieldset class="form-group" asp-validation-class-for="SiteName">
    <label asp-for="SiteName">@T["Site name"] <span asp-validation-for="SiteName"></span></label>
    <input asp-for="SiteName" class="form-control" />
    <span class="hint">@T["The site name."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="BaseUrl">
    <label asp-for="BaseUrl">@T["Base url"] <span asp-validation-for="BaseUrl"></span></label>
    <input asp-for="BaseUrl" class="form-control" />
    <span class="hint">@T["Enter the fully qualified base URL of the web site."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="TimeZone">
    <label asp-for="TimeZone">@T["Default Time Zone"] <span asp-validation-for="TimeZone"></span></label>
    <select asp-for="TimeZone" class="form-control">
        <option value="">@T["Local to server"]</option>
        @foreach (var timezone in Clock.GetTimeZones())
        {
            <option value="@timezone.TimeZoneId" selected="@(Model.TimeZone == timezone.TimeZoneId)">
                @timezone
            </option>
        }
    </select>
    <span class="hint">@T["Determines the default time zone used when displaying and editing dates and times."]</span>
</fieldset>
