@model OrchardCore.Users.ViewModels.ResetPasswordViewModel

<h1>@RenderTitleSegments(T["Edit Password"])</h1>

<form asp-controller="Admin" asp-action="EditPassword" method="post" class="form-horizontal">

    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Email" type="hidden" class="form-control" />
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-3 control-label">@T["New password"]</label>
        <div class="col-md-9">
            <input asp-for="NewPassword" class="form-control" />
            <div id="passwordStrength"></div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirmation" class="col-md-3 control-label">@T["New password confirmation"]</label>
        <div class="col-md-9">
            <input asp-for="PasswordConfirmation" class="form-control" />
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">@T["Submit"]</button>
            <a class="btn btn-secondary" asp-route-action="Index">@T["Cancel"]</a>
        </div>
    </div>
</form> 