@model OrchardCore.Users.ViewModels.ResetPasswordViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Password"])</h1></zone>

<form asp-controller="Admin" asp-action="EditPassword" method="post" class="form-horizontal no-multisubmit">
    <div asp-validation-summary="All"></div>
    <input asp-for="Email" type="hidden" class="form-control" />
    <div class="mb-3">
        <label asp-for="NewPassword" class="w-md-50 control-label">@T["New password"]</label>
        <div class="w-md-50">
            <input asp-for="NewPassword" class="form-control" />
            <div id="passwordStrength"></div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="PasswordConfirmation" class="w-md-50 control-label">@T["New password confirmation"]</label>
        <div class="w-md-50">
            <input asp-for="PasswordConfirmation" class="form-control" />
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-offset-3 w-md-50">
            <button class="btn btn-primary submit" type="submit">@T["Submit"]</button>
            <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
        </div>
    </div>
</form> 
