@using OrchardCore.Tenants.Workflows.ViewModels
@model EnableTenantTaskViewModel

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="TenantNameExpression">
    <label asp-for="TenantNameExpression" class="@Orchard.GetLabelClasses()">@T["Tenant name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" asp-for="TenantNameExpression" class="form-control code" autofocus />
        <span asp-validation-for="TenantNameExpression"></span>
        <span class="hint">@T["Select the name of the tenant to enable."]</span>
    </div>
</div>
