@model DeploymentPlanDeploymentStepViewModel

@{
    var deploymentPlanNames = Model.DeploymentPlanNames;
    var allDeploymentPlanNames = Model.AllDeploymentPlanNames;
}

<h5>@T["Deployment Plans"]</h5>

<div class="mb-3 mt-4 mb-5">
    <div class="row">
        <div class="col">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeAll"
                           data-reverseToggle=".dpsel" />
                    @T["Include all deployment plans."]
                </label>
            </div>
        </div>
    </div>
</div>

<div class="dpsel mt-4 mb-5 @(Model.IncludeAll ? "collapse" : "show")">
    <div class="row">
        <div class="col-small">
            <span class="hint">@T["The deployment plans to add as part of the plan."]</span>
        </div>
    </div>
    <div class="row">
        <div class="col-small">
            <ul class="list-group">
                @foreach (var deploymentPlanName in allDeploymentPlanNames)
                {
                    var checkd = deploymentPlanNames?.Contains(deploymentPlanName);

                    <li class="list-group-item">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="@Html.NameFor(m => m.DeploymentPlanNames)" value="@deploymentPlanName" checked="@checkd">
                                @deploymentPlanName
                            </label>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script at="Foot">
    $(function () {
        $("[data-reversetoggle]").on("click", function () {
            var state = this.checked;
            if (state) {
                $($(this).attr("data-reversetoggle")).collapse('hide');
            } else {
                $($(this).attr("data-reversetoggle")).collapse('show');
            }
        });
    });
</script>
