@model FileDownloadDeploymentTargetSettingsViewModel

<div class="mb-3" asp-validation-class-for="RsaEncryptionSecret">
    <label asp-for="RsaEncryptionSecret">@T["RSA encryption secret"]</label>
    @await Component.InvokeAsync(
            "SelectSecret",
            new
            {
                secretType = "RsaSecret",
                selectedSecret = Model.RsaEncryptionSecret,
                htmlId = Html.IdFor(m => m.RsaEncryptionSecret),
                htmlName = Html.NameFor(m => m.RsaEncryptionSecret),
                required = false,
            })
    <span asp-validation-for="RsaEncryptionSecret"></span>
    <span class="hint">@T["The secret to use when a deployment step encrypts data to a file export."]</span>
    <span class="hint">@T["Note: The public key is used for encryption, the importer must have the matching private key."]</span>
</div>

<div class="mb-3" asp-validation-class-for="RsaSigningSecret">
    <label asp-for="RsaSigningSecret">@T["RSA signing secret"]</label>
    @await Component.InvokeAsync(
            "SelectSecret",
            new
            {
                secretType = "RsaSecret",
                selectedSecret = Model.RsaSigningSecret,
                htmlId = Html.IdFor(m => m.RsaSigningSecret),
                htmlName = Html.NameFor(m => m.RsaSigningSecret),
                required = false,
            })
    <span asp-validation-for="RsaEncryptionSecret"></span>
    <span class="hint">@T["The secret to use when a deployment step signs encrypted data to a file export."]</span>
    <span class="hint">@T["Note: The private key is used for signing, the importer must have the matching public key."]</span>
</div>
