@model JsonRecipeDeploymentStepViewModel

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <h5>@T["JSON Recipe"]</h5>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="Json">
    <label asp-for="Json" class="ocat-label">@T["Recipe"]</label>
    <div class="ocat-end">
        <div class="form-control" style="min-height: 400px;">
            <div id="@Html.IdFor(x => x.Json)_editor" style="min-height: 385px;" dir="@Orchard.CultureDir()" class="json-recipe-editor" data-schema='@Model.Schema'></div>
        </div>
        <textarea asp-for="Json" hidden class="json-recipe-editor-value"></textarea>
        <span class="hint">@T["The json recipe."]</span>
        <span asp-validation-for="Json"></span>
    </div>
</div>

<script asp-name="monaco" at="Foot"></script>
<script asp-src="~/OrchardCore.Deployment/Scripts/deployment-step-editors/json-recipe-deployment-step.min.js" debug-src="~/OrchardCore.Deployment/Scripts/deployment-step-editors/json-recipe-deployment-step.js" depends-on="monaco, admin" at="Foot" type="module"></script>
