@model JsonRecipeDeploymentStepViewModel

<h5>@T["JSON Recipe"]</h5>

<div class="row">
    <div class="col">
        <div class="form-group" asp-validation-class-for="Json">
            <label asp-for="Json">@T["Recipe"]</label>
            <div class="form-control" data-monaco-oc="true" data-textarea-id="@Html.IdFor(x => x.Json)" dir="@Orchard.CultureDir()" data-language="json" data-schema='@Model.Schema' data-schema-name="orchardcore.deployments.steps.jsonrecipe"></div>
            <textarea asp-for="Json" hidden></textarea>
            <span class="hint">@T["The json recipe."]</span>
            <span asp-validation-for="Json"></span>
        </div>
    </div>
</div>
<script asp-name="monaco-oc-editor" depends-on="admin" at="Foot"></script>
