@model RecipeFileDeploymentStepViewModel

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <h5>@T["Recipe File"]</h5>
    </div>
</div>

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <span class="hint">@T["The recipe file to add as part of the plan."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="RecipeName" class="ocat-label">@T["Recipe Name"]</label>
    <div class="ocat-end">
        <input asp-for="RecipeName" class="form-control" />
        <span class="hint">@T["The recipe name."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="DisplayName" class="ocat-label">@T["Display Name"]</label>
    <div class="ocat-end">
        <input asp-for="DisplayName" class="form-control" />
        <span class="hint">@T["The recipe display name."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Description" class="ocat-label">@T["Description"]</label>
    <div class="ocat-end">
        <input asp-for="Description" class="form-control" />
        <span class="hint">@T["The recipe description."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Author" class="ocat-label">@T["Author"]</label>
    <div class="ocat-end">
        <input asp-for="Author" class="form-control" />
        <span class="hint">@T["The recipe author."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="WebSite" class="ocat-label">@T["WebSite"]</label>
    <div class="ocat-end">
        <input asp-for="WebSite" class="form-control" type="url" />
        <span class="hint">@T["The recipe web site."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Version" class="ocat-label">@T["Version"]</label>
    <div class="ocat-end">
        <input asp-for="Version" class="form-control" />
        <span class="hint">@T["The recipe version."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Categories" class="ocat-label">@T["Categories"]</label>
    <div class="ocat-end">
        <input asp-for="Categories" class="form-control" />
        <span class="hint">@T["The recipe categories (comma separated values)."]</span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Tags" class="ocat-label">@T["Tags"]</label>
    <div class="ocat-end">
        <input asp-for="Tags" class="form-control" />
        <span class="hint">@T["The recipe tags (comma separated values)."]</span>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="IsSetupRecipe">
    <div class="ocat-end-offset">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="IsSetupRecipe" />
            <label class="form-check-label" asp-for="IsSetupRecipe">@T["Setup recipe"]</label>
        </div>
        <span class="hint">@T["Check if the recipe is for setup."]</span>
    </div>
</div>
