@model RecipeFileDeploymentStepViewModel

<h5>@T["Recipe File"]</h5>

<div class="mb-3">
    <div class="row">
        <div class="col-small">
            <span class="hint">@T["The recipe file to add as part of the plan."]</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="mb-3 col-md-6">
        <label asp-for="RecipeName">@T["Recipe Name"]</label>
        <input asp-for="RecipeName" class="form-control" />
        <span class="hint">@T["The recipe name."]</span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="DisplayName">@T["Display Name"]</label>
        <input asp-for="DisplayName" class="form-control" />
        <span class="hint">@T["The recipe display name."]</span>
    </div>
</div>

<div class="row">
    <div class="mb-3 col-md-6">
        <label asp-for="Description">@T["Description"]</label>
        <input asp-for="Description" class="form-control" />
        <span class="hint">@T["The recipe description."]</span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="Author">@T["Author"]</label>
        <input asp-for="Author" class="form-control" />
        <span class="hint">@T["The recipe author."]</span>
    </div>
</div>

<div class="row">
    <div class="mb-3 col-md-6">
        <label asp-for="WebSite">@T["WebSite"]</label>
        <input asp-for="WebSite" class="form-control" type="url" />
        <span class="hint">@T["The recipe web site."]</span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="Version">@T["Version"]</label>
        <input asp-for="Version" class="form-control" />
        <span class="hint">@T["The recipe version."]</span>
    </div>
</div>

<div class="row">
    <div class="mb-3 col-md-6">
        <label asp-for="Categories">@T["Categories"]</label>
        <input asp-for="Categories" class="form-control" />
        <span class="hint">@T["The recipe categories (comma separated values)."]</span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="Tags">@T["Tags"]</label>
        <input asp-for="Tags" class="form-control" />
        <span class="hint">@T["The recipe tags (comma separated values)."]</span>
    </div>
</div>

<div class="mb-3">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="IsSetupRecipe" />
        <label class="form-check-label" asp-for="IsSetupRecipe">@T["Setup recipe"]</label>
        <span class="hint">@T["Check if the recipe is for setup."]</span>
    </div>
</div>
