@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer T
@inject OrchardCore.IOrchardHelper Orchard
@inject IOptions<RequestLocalizationOptions> LocOptions

<!DOCTYPE html>
<html lang="@Orchard.CultureName()" dir="@Orchard.CultureDir()">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Orchard Setup</title>
    <link type="text/css" rel="stylesheet" href="~/OrchardCore.Setup/Styles/setup.min.css" />
    <link type="text/css" rel="stylesheet" href="~/OrchardCore.Resources/Styles/font-awesome.min.css" />
    @await RenderSectionAsync("Header", required: false)
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="form-group col mt-2">
                @if (LocOptions.Value.SupportedUICultures.Count() > 1)
                {
                    <div class="float-right form-inline">
                        <label for="culturesList" class="mr-2">@T["Change setup culture"]: </label>
                        <select id="culturesList" class="form-control" onchange="setLocalizationUrl()">
                            @foreach (var culture in LocOptions.Value.SupportedUICultures)
                            {
                                <option value="@culture" selected="@(culture.Name == Orchard.CultureName())">@(culture.DisplayName ?? culture.Name)</option>
                            }
                        </select>
                    </div>
                }
            </div>
        </div>

        @RenderBody()

        <hr />
        <footer>
            @await RenderSectionAsync("Footer", required: false)
        </footer>
    </div>
    <script>
        function setLocalizationUrl() {
            var culturesList = document.getElementById('culturesList');
            var culture = culturesList.options[culturesList.selectedIndex].value
            var queryString = window.location.search;
            var searchParams = new URLSearchParams(queryString);

            searchParams.set("ui-culture", culture);
            window.location = window.location.origin + '?' + searchParams.toString();
        }
    </script>
</body>
</html>
