@using Microsoft.Extensions.Configuration
@using System.Globalization
@using OrchardCore.Environment.Shell.Configuration

@inject OrchardCore.IOrchardHelper Orchard
@inject IShellConfiguration ShellConfiguration

@{
    var configurationSection = ShellConfiguration.GetSection("OrchardCore.Setup");
    var currentCulture = Orchard.HttpContext.Request.Query.ContainsKey("ui-culture")
        ? Orchard.HttpContext.Request.Query["ui-culture"].ToString()
        : configurationSection["DefaultCulture"];
    var supportedCultures = configurationSection.GetSection("SupportedCultures").Get<string[]>();
}
<!DOCTYPE html>
<html lang="@Orchard.CultureName()" dir="@Orchard.CultureDir()">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Orchard Setup</title>
    <link type="text/css" rel="stylesheet" href="~/OrchardCore.Setup/Styles/setup.min.css" />
    <link type="text/css" rel="stylesheet" href="~/OrchardCore.Resources/Styles/font-awesome.min.css" />
    @await RenderSectionAsync("Header", required: false)
</head>
<body>
    <div class="container">
        @if (supportedCultures.Length > 1)
        {
            <select id="culturesList" class="form-control col-md-3 mt-2 mr-2 float-right" onchange="setLocalizationCookie()">
                @foreach (var culture in supportedCultures)
                {
                    @if (culture == currentCulture)
                    {
                        <option value="@culture" selected>@CultureInfo.GetCultureInfo(culture).DisplayName</option>
                    }
                    else
                    {
                        <option value="@culture">@CultureInfo.GetCultureInfo(culture).DisplayName</option>
                    }
                }
            </select>
        }

        @RenderBody()

        <hr />
        <footer>
            @await RenderSectionAsync("Footer", required: false)
        </footer>
    </div>
    <script>
        function setLocalizationCookie() {
            var culturesList = document.getElementById('culturesList');
            var culture = culturesList.options[culturesList.selectedIndex].value
            var url = window.location.href;

            if (url.indexOf('?')) {
                url = url.split('&culture=')[0] + '&';
            }
            else {
                url += '?';
            }

            url += 'culture=' + culture + '&ui-culture=' + culture;
            window.location =  url;
        }
    </script>
</body>
</html>
