@model OrchardCore.Users.ViewModels.ResetPasswordViewModel

@{
    ViewLayout = "Layout__Login";
}

<form asp-controller="ResetPassword" asp-action="ResetPassword" method="post" class="form-horizontal no-multisubmit">
    <h4>@T["Reset password"]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-3 control-label">@T["Email"]</label>
        <div class="col-md-9">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-3 control-label">@T["New password"]</label>
        <div class="col-md-9">
            <input asp-for="NewPassword" class="form-control" />
            <div id="passwordStrength"></div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirmation" class="col-md-3 control-label">@T["New password confirmation"]</label>
        <div class="col-md-9">
            <input asp-for="PasswordConfirmation" class="form-control" />
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>
    </div>
    @await RenderSectionAsync("AfterResetPassword", required: false)
    <input asp-for="ResetToken" type="hidden" />
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">@T["Reset password"]</button>
        </div>
    </div>
</form> 
