﻿@inject Orchard.Settings.ISiteService SiteService
@{
    var site = await SiteService.GetSiteSettingsAsync();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@RenderTitleSegments(T[site.SiteName], "before")</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link type="image/x-icon" rel="shortcut icon" href="/TheAdmin/favicon.ico" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/TheAdmin/Styles/TheAdmin.min.css">
    <style asp-name="font-awesome" use-cdn="true"></style>

    <script asp-name="admin" asp-src="/TheAdmin/Scripts/TheAdmin.js" at="Foot"></script>

    <resources type="Header" />

    @await RenderSectionAsync("Header", required: false)
</head>
<body>
    <div class="ta-wrapper">
        <div class="ta-navbar-top">
            <a class="navbar-brand" href="~/">@site.SiteName</a>
            <button id="navbar-toggler" type="button" aria-controls="ta-left-sidebar" aria-expanded="false" aria-label="Toggle navigation"></button>

            <div id="navbar-content">
                @await RenderSectionAsync("NavbarTop", required: false)

                <form asp-route-area="Orchard.Users" asp-controller="Account" asp-action="LogOff" method="post">
                    <ul class="nav navbar-nav navbar-ri float-xs-right">
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-user"></i> @User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <button type="submit" class="btn btn-link nav-link"><i class="fa fa-sign-out"></i> @T["Log off"]</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

        <div id="ta-left-sidebar">
            @await RenderSectionAsync("Navigation", required: false)
        </div>

        <div class="ta-content">
            @await RenderSectionAsync("Messages", required: false)

            @await RenderBodyAsync()
        </div>

    </div><!-- /.ta-wrapper -->

    @await RenderSectionAsync("Footer", required: false)

    <div id="confirmRemoveMessage" data-value="@T["Are you sure you want to remove this element?"]" />

    <resources type="Footer" />
</body>
</html>