@model LuceneQueryViewModel

<script asp-src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/codemirror.js" depends-on="admin" at="Foot"></script>
<script asp-src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/mode/javascript/javascript.js" at="Foot"></script>
<style asp-src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/codemirror.css"></style>

<fieldset class="form-group">
    <select asp-for="Index" class="form-control">
        @foreach(var index in Model.Indices)
        {
            <option value="@index">@index</option>
        }
    </select>
    <span class="hint">@T["The lucene index to search on"]</span>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Query">@T["Query"]</label>
    <textarea asp-for="Query" rows="12" class="form-control"></textarea>
</fieldset>

<script at="Foot">
$(function() {
    var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('@Html.IdFor(x => x.Query)'));
});
</script>
