<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/x-icon" rel="shortcut icon" href="~/TheTheme/Content/favicon.ico" />

    <script asp-name="bootstrap" use-cdn="true" at="Foot"></script>

    <style asp-name="bootstrap"></style>
    <style asp-name="bootstrap-theme"></style>
    <style asp-src="https://getbootstrap.com/examples/theme/theme.css"></style>

    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />

    @{
        Title.AddSegment(T["Orchard"], "before");
    }

    <title>@Title.GenerateTitle()</title>

    @await RenderSectionAsync("Header", required: false)
</head>
<body >

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>


                <form asp-route-area="Orchard.Users" asp-controller="Account" asp-action="LogOff" method="post">
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-route-area="Orchard.Admin" asp-controller="Admin" asp-action="Index">@T["Dashboard"]</a></li>
                                    <li class="divider"></li>
                                    <li><a asp-route-area="Orchard.Users" asp-controller="Account" asp-action="ChangePassword">@T["Change Password"]</a></li>
                                    <li>
                                        <button type="submit" class="btn btn-link navbar-btn navbar-link">@T["Log off"]</button>
                                    </li>
                                </ul>
                            </li>

                        }
                        else
                        {
                            <li><a asp-route-area="Orchard.Users" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">@T["Log in"]</a></li>
                        }
                    </ul>
                </form>

</div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div><!-- /.container -->

    <div class="container">
        @await RenderSectionAsync("Footer", required: false)
    </div>

    <resources type="FootScript" />

</body>
</html>