{{ClearAlternates}}
{{SetMetadataType "MenuItemLink"}}

{{#if Model.HasItems}}
    <li  class="dropdown">
        {{Display Model}}
    </li>
{{else}}
    <li>
        {{Display Model}}
    </li>
{{/if}}