@model Orchard.ContentFields.Settings.TextFieldSettings

TEXT FIELD SETTINGS

<!--<fieldset class="form-group">
    <label asp-for="Description">@T["Description"]</label>
    @Html.ValidationMessageFor(m => m.Description)
    <input asp-for="Description" class="form-control" />
    <span class="hint">@T["Optionally provide a description for this part"]</span>
</fieldset>
<fieldset class="form-group">
    <div>
        <label asp-for="Attachable">
            <input asp-for="Attachable" type="checkbox">
            @T["Attachable"]
        </label>
    </div>
    <span class="hint">@T["Check to allow this part to be attached to other content types."]</span>
</fieldset>-->