<!DOCTYPE html>
<html lang="{{ Culture.Name }}">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% render_section "HeadMeta", required:false %}

    <title>{% page_title Site.SiteName %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "~/TheComingSoonTheme/vendor/bootstrap/css/bootstrap.min.css" | href }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    {% comment %}<link href="{{ ~/TheComingSoonTheme/vendor/fontawesome-free/css/all.min.css | href }}" rel="stylesheet">{% endcomment %}
    {% style name:"font-awesome", version:"5" %}

    <!-- Custom styles for this template -->
    <link href="{{ "~/TheComingSoonTheme/css/coming-soon.min.css" | href }}" rel="stylesheet">
    {% resources type: "Meta" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}
  </head>

  <body dir={{ Culture.Dir }}>

    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{{ "~/TheComingSoonTheme/mp4/bg.mp4" | href }}" type="video/mp4">
    </video>

    {% render_section "Header", required: false %}
    {% render_section "Content" %}
    {% render_section "Footer", required: false %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ "~/TheComingSoonTheme/vendor/jquery/jquery.min.js" | href }}"></script>
    <script src="{{ "~/TheComingSoonTheme/vendor/bootstrap/js/bootstrap.bundle.min.js" | href }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ "~/TheComingSoonTheme/js/coming-soon.min.js" | href }}"></script>

    {% resources type: "FootScript" %}
  </body>

</html>
