@using OrchardCore.Security
@using OrchardCore.Security.ViewModels
@model SecuritySettingsViewModel

<p class="alert alert-warning">
    @T["The current tenant will be reloaded when the settings are saved."]
</p>

<div class="form-group" asp-validation-class-for="ReferrerPolicy">
    <label asp-for="ReferrerPolicy">@T["Referrer Policy"]</label>
    <select asp-for="ReferrerPolicy" class="form-control">
        <option value="@ReferrerPolicyOptions.NoReferrer" selected="@(Model.ReferrerPolicy == ReferrerPolicyOptions.NoReferrer)">
            @T["No referrer"]
        </option>
        <option value="@ReferrerPolicyOptions.NoReferrerWhenDowngrade" selected="@(Model.ReferrerPolicy == ReferrerPolicyOptions.NoReferrerWhenDowngrade)">
            @T["No referrer when downgrade"]
        </option>
        <option value="@ReferrerPolicyOptions.Origin" selected="@(Model.ReferrerPolicy == ReferrerPolicyOptions.Origin)">
            @T["Origin"]
        </option>
        <option value="@ReferrerPolicyOptions.OriginWhenCrossOrigin" selected="@(Model.ReferrerPolicy == ReferrerPolicyOptions.OriginWhenCrossOrigin)">
            @T["Origin when cross origin"]
        </option>
        <option value="@ReferrerPolicyOptions.SameOrigin" selected="@(Model.ReferrerPolicy == ReferrerPolicyOptions.SameOrigin)">
            @T["Same origin"]
        </option>
        <option value="@ReferrerPolicyOptions.StrictOrigin" selected="@(Model.ReferrerPolicy == ReferrerPolicyOptions.StrictOrigin)">
            @T["Strict origin"]
        </option>
        <option value="@ReferrerPolicyOptions.StrictOriginWhenCrossOrigin" selected="@(Model.ReferrerPolicy == ReferrerPolicyOptions.StrictOriginWhenCrossOrigin)">
            @T["Strict origin when cross origin"]
        </option>
        <option value="@ReferrerPolicyOptions.UnsafeUrl" selected="@(Model.ReferrerPolicy == ReferrerPolicyOptions.UnsafeUrl)">
            @T["Unsafe URL"]
        </option>
    </select>
    <span asp-validation-for="ReferrerPolicy"></span>
    <span class="hint">@T["The option that will be used for Referrer-Policy header."]</span>
</div>
