<!DOCTYPE html>
<html lang="@Orchard.CultureName()" dir="@Orchard.CultureDir()">
<head>
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link type="image/x-icon" rel="shortcut icon" href="~/TheAdmin/favicon.ico" asp-append-version="true" />

    <!-- Bootstrap CSS -->
    <style asp-src="~/TheAdmin/Styles/TheAdmin.min.css" debug-src="~/TheAdmin/Styles/TheAdmin.css" asp-append-version="true" ></style>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script asp-name="font-awesome" at="Foot" version="5"></script>
    <script asp-name="font-awesome-v4-shims" at="Foot" version="5"></script>
    <script asp-name="admin" asp-src="~/TheAdmin/Scripts/TheAdmin.min.js" debug-src="~/TheAdmin/Scripts/TheAdmin.js" depends-on="jQuery, jQuery-ui" at="Foot" asp-append-version="true"></script>
    <script asp-name="jQuery-ui-i18n" at="Foot"></script>
    <resources type="Header" />

    <!-- This script can't wait to the footer -->
    <script type="text/javascript" asp-src="~/TheAdmin/Scripts/userPreferencesLoader.min.js" debug-src="~/TheAdmin/Scripts/userPreferencesLoader.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Header", required: false)
</head>
<body class="preload">
    <div class="ta-wrapper">
        <div class="ta-navbar-top">
            <a class="ta-navbar-brand" href="@Url.Content("~/")"><span>@Site.SiteName</span></a>
            <div class="collapse navbar-collapse" id="navbar-links">
                <div class="mr-auto">
                    @await RenderSectionAsync("NavbarTop", required: false)
                </div>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"><span><i class="fa fa-user" aria-hidden="true"></i></span><span> @User.Identity.Name</span></a>
                    </li>
                </ul>
                <form asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="LogOff" method="post" class="form-inline">
                    <button type="submit" class="btn btn-link nav-link" role="button"><i class="fa fa-sign-out" aria-hidden="true"></i> @T["Log off"]</button>
                </form>
            </div>
        </div>

        <div id="ta-left-sidebar" class="d-flex flex-column justify-content-between align-items-stretch">
            @await RenderSectionAsync("Navigation", required: false)
            <div class="footer">
                <button class="leftbar-compactor" type="button" title="@T["Collapse / expand menu"]"></button>
            </div>
        </div>

        <div class="ta-content">
            @await RenderSectionAsync("Messages", required: false)

            @await RenderBodyAsync()
        </div>
    </div><!-- /.ta-wrapper -->

    @await RenderSectionAsync("Footer", required: false)

    <div id="confirmRemoveModalMetadata" data-title="@T["Delete"]" data-message="@T["Are you sure you want to remove this element?"]" data-ok="@T["Ok"]" data-cancel="@T["Cancel"]"></div>

    <resources type="Footer" />
</body>
</html>
