<!DOCTYPE html>
<html lang="@Orchard.CultureName()" dir="@Orchard.CultureDir()">
<head>
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link type="image/x-icon" rel="shortcut icon" href="~/TheAdmin/favicon.ico" />

    <!-- Bootstrap CSS -->
    <style asp-name="admin" asp-src="~/TheAdmin/Styles/TheAdmin.min.css" debug-src="~/TheAdmin/Styles/TheAdmin.css" depends-on="jQuery-ui"></style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script asp-name="font-awesome" at="Foot" version="5"></script>
    <script asp-name="font-awesome-v4-shims" at="Foot" version="5"></script>
    <script asp-name="admin" asp-src="~/TheAdmin/Scripts/TheAdmin.min.js" debug-src="~/TheAdmin/Scripts/TheAdmin.js" depends-on="jQuery, jQuery-ui, jQuery-ui-i18n" at="Foot"></script>
    <resources type="Header" />

    <!-- This script can't wait to the footer -->
    <script type="text/javascript" asp-src="~/TheAdmin/Scripts/userPreferencesLoader.min.js" debug-src="~/TheAdmin/Scripts/userPreferencesLoader.js"></script>

    @await RenderSectionAsync("Header", required: false)
</head>
<body class="preload">
    <div class="ta-wrapper">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <a class="p-2 text-dark brand-logo my-0 mr-md-auto font-weight-normal" href="@Url.Content("~/")"><h5 class="my-0 mr-md-auto font-weight-normal brand-name">Orchard Core</h5></a>
            <nav class="my-2 my-md-0 mr-md-3">
                @await RenderSectionAsync("NavbarTop", required: false)
                <a class="p-2 text-dark"><i class="fa fa-user" aria-hidden="true"></i> @User.Identity.Name</a>
                <form asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="LogOff" method="post" style="display:inline">
                    <a class="p-2 text-dark" href="#" onclick="this.parentElement.submit();"><i class="fa fa-sign-out" aria-hidden="true"></i> @T["Log off"]</a>
                </form>
            </nav>
        </div>

        <div id="ta-left-sidebar" class="d-flex flex-column justify-content-between align-items-stretch">
            @await RenderSectionAsync("Navigation", required: false)
            <div class="footer">
                <button class="leftbar-compactor" type="button" title="@T["Collapse / expand menu"]"></button>
            </div>
        </div>

        <div class="ta-content">
            @await RenderSectionAsync("Messages", required: false)

            @await RenderBodyAsync()
        </div>
    </div><!-- /.ta-wrapper -->

    @await RenderSectionAsync("Footer", required: false)

    <div id="confirmRemoveModalMetadata" data-title="@T["Delete"]" data-message="@T["Are you sure you want to remove this element?"]" data-ok="@T["Ok"]" data-cancel="@T["Cancel"]"></div>

    <resources type="Footer" />
</body>
</html>
