@using OrchardCore.DisplayManagement
@using OrchardCore.DisplayManagement.ModelBinding
@using OrchardCore.Environment.Shell
@using OrchardCore.Themes.Services
@using OrchardCore.Users.Models

@inject ThemeTogglerService ThemeTogglerService
@inject IDisplayManager<Navbar> DisplayManager
@inject IUpdateModelAccessor UpdateModelAccessor
@{
    var adminSettings = Site.As<AdminSettings>();

    // Branding and Navbar are pre-rendered to allow resource injection.
    var brandingHtml = await DisplayAsync(await New.AdminBranding());
    var navbar = await DisplayAsync(await DisplayManager.BuildDisplayAsync(UpdateModelAccessor.ModelUpdater, "DetailAdmin"));
}
<!DOCTYPE html>
<html lang="@Orchard.CultureName()" dir="@Orchard.CultureDir()" data-bs-theme="@await ThemeTogglerService.CurrentTheme()" data-tenant="@ThemeTogglerService.CurrentTenant">
<head>
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- This script can't wait till the footer -->
    <script asp-name="admin-main" version="1" at="Head"></script>

    <style asp-name="TheAdminLayout" asp-src="~/TheAdmin/css/admin-layout.min.css" debug-src="~/TheAdmin/css/admin-layout.css" at="Head"></style>

    @if (Orchard.IsRightToLeft())
    {
        <style asp-name="bootstrap-rtl" version="5" at="Head"></style>
        <style media="all" asp-name="admin" version="1" depends-on="bootstrap-rtl,TheAdminLayout" at="Head"></style>
    }
    else
    {
        <style asp-name="bootstrap" version="5" at="Head"></style>
        <style media="all" asp-name="admin" version="1" depends-on="bootstrap,TheAdminLayout" at="Head"></style>
    }
    <script asp-name="font-awesome" at="Foot" version="6"></script>
    <script asp-name="admin" version="1" at="Foot"></script>

    <resources type="Header" />

    @await RenderSectionAsync("HeadMeta", required: false)
</head>
<body class="preload">
    <div class="ta-wrapper">
        <nav class="ta-navbar-top navbar text-bg-theme fixed-top">
            <div class="container-fluid">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <div class="brand-wrapper">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            @brandingHtml

                            @if (adminSettings.DisplayTitlesInTopbar)
                            {
                                <div class="brand-wrapper-title">
                                    @await RenderSectionAsync("Title", required: false)
                                </div>
                            }
                        </div>
                    </div>
                    @navbar
                </div>
            </div>
        </nav>

        <div id="ta-left-sidebar" class="d-flex flex-column justify-content-between align-items-stretch">
            @await RenderSectionAsync("Navigation", required: false)
            <div class="footer">
                <button type="button" class="leftbar-compactor" title="@T["Collapse / expand menu"]">
                    <span class="d-none">@T["Collapse / expand menu"]</span>
                </button>
            </div>
        </div>

        <div class="ta-content">
            @await RenderSectionAsync("Header", required: false)
            @await RenderSectionAsync("Messages", required: false)
            @await RenderSectionAsync("Breadcrumbs", required: false)
            @if (!adminSettings.DisplayTitlesInTopbar)
            {
                @await RenderSectionAsync("Title", required: false)
            }
            @await RenderBodyAsync()
        </div>

        @await RenderSectionAsync("Footer", required: false)

    </div>
    <div id="confirmRemoveModalMetadata" data-title="@T["Delete"]" data-message="@T["Are you sure you want to remove this element?"]" data-ok-text="@T["Ok"]" data-cancel-text="@T["Cancel"]" data-ok-class="btn-danger" data-cancel-class="btn-secondary"></div>
    <resources type="Footer" />
</body>
</html>
