@using System.Globalization
@using OrchardCore.ContentLocalization;
@using OrchardCore.ContentLocalization.Models;
@using OrchardCore.ContentManagement

@inject OrchardCore.Localization.ILocalizationService LocalizationService
@inject IContentCulturePickerService ContentCulturePickerService
@inject IContentManager ContentManager

@{
    CultureInfo currentCulture = null;
    IEnumerable<CultureInfo> supportedCultures = null;

    var contentItemId = await ContentCulturePickerService.GetContentItemIdFromRouteAsync(Context.Request.Path);

    if (contentItemId != null)
    {
        // Retrieve the content item cached by the content manager.
        var contentItem = await ContentManager.GetAsync(contentItemId);

        if (contentItem?.Has<LocalizationPart>() ?? false)
        {
            var culture = contentItem.As<LocalizationPart>().Culture;

            if (culture != null)
            {
                currentCulture = CultureInfo.GetCultureInfo(contentItem.As<LocalizationPart>().Culture);
                supportedCultures = (await LocalizationService.GetSupportedCulturesAsync()).Select(c => CultureInfo.GetCultureInfo(c));
            }
        }
    }
}

@if (currentCulture != null)
{
    <ul>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="oc-culture-picker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@currentCulture.DisplayName</a>
            <div class="dropdown-menu" aria-labelledby="oc-culture-picker">
                @foreach (var culture in supportedCultures.Where(c => c != currentCulture))
                {
                    <a asp-action="RedirectToLocalizedContent"
                       asp-controller="ContentCulturePicker"
                       asp-route-area="OrchardCore.ContentLocalization"
                       asp-route-contentItemUrl="@Context.Request.Path"
                       asp-route-QueryString="@Context.Request.QueryString"
                       asp-route-targetCulture="@culture.Name"
                       class="dropdown-item">@culture.DisplayName</a>
                }
            </div>
        </li>
    </ul>
}
