@using System.Globalization
@using OrchardCore.Settings
@model LocalizationPartViewModel
@inject ISiteService SiteService

@{
    var siteSettings = await SiteService.GetSiteSettingsAsync();
}

@if (!Model.ContentItemCultures.Any())
{
    <p>@T["Your site does not have any cultures. Current System culture is {1} | {0}", CultureInfo.InstalledUICulture.Name, CultureInfo.InstalledUICulture.DisplayName]</p>
    <p>@Html.ActionLink(T["Add or remove supported cultures for the site"].Value, "Culture", "Admin", new { area = "OrchardCore.Settings" })</p>
}
else
{
    if (!string.IsNullOrEmpty(Model.LocalizationSet))
    {
        foreach (var culture in siteSettings.SupportedCultures)
        {
            var currentCulture = Model.ContentItemCultures.SingleOrDefault(c => c.Culture.Name == culture);
            if(currentCulture != null)
            {
                if (!string.IsNullOrEmpty(currentCulture.ContentItemId))
                {
                    <a asp-action="Edit" asp-controller="Admin" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@currentCulture.ContentItemId" asp-route-targetCulture="@culture" title="@currentCulture.Culture.DisplayName" class="badge badge-info"><i class=" fa fa-globe"></i> @culture</a>
                }
                else
                {
                    <a itemprop="UnsafeUrl" asp-action="Localize" asp-controller="Admin" asp-route-area="OrchardCore.ContentLocalization" asp-route-contentItemId="@Model.LocalizationPart.ContentItem.ContentItemId" asp-route-targetCulture="@culture" title="@currentCulture.Culture.DisplayName" class="badge badge-info"><i class=" fa fa-globe"></i> @culture</a>
                }
            }
            else
            {
                <span class="badge badge-info" style="opacity:0.5"><i class=" fa fa-globe"></i> @culture</span>
            }
        }
    }
    else
    {
        <div class="alert alert-info"> @T["Please save your content item before creating localizations"]</div>
    }
}
