@model LocalizationPartViewModel

@if (Model.ContentItemCultures.Any())
{
    <div class="dropdown mt-2 mb-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @Model.CultureInfo.DisplayName
        </button>
        @if (!string.IsNullOrEmpty(Model.LocalizationSet))
        {
            <ul class="dropdown-menu">
                @foreach (var culture in Model.ContentItemCultures)
                {
                    if (!string.IsNullOrEmpty(culture.ContentItemId))
                    {
                        <a class="dropdown-item" asp-action="Edit" asp-controller="Admin" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@culture.ContentItemId" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">@culture.Culture.DisplayName</a>
                    }
                    else
                    {
                        <a class="dropdown-item" data-url-af="UnsafeUrl" asp-action="Localize" asp-controller="Admin" asp-route-area="OrchardCore.ContentLocalization" asp-route-contentItemId="@Model.LocalizationPart.ContentItem.ContentItemId" asp-route-targetCulture="@culture.Culture.Name" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">@culture.Culture.DisplayName</a>
                    }
                }
            </ul>
        }
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        @T["Your site does not have any cultures, "] <a class="alert-link" asp-route-area="OrchardCore.Settings" asp-controller="Admin" asp-action="Index" asp-route-groupId="localization">@T["add supported cultures for the site"]</a>
    </div>
}
