@using Orchard.Setup.Controllers
@model Orchard.Setup.ViewModels.SetupViewModel
@{
    var groupedRecipes = Model.Recipes.Where(x => !string.IsNullOrWhiteSpace(x.Category)).GroupBy(x => x.Category);
    var unspecifiedCategoryRecipes = Model.Recipes.Where(x => string.IsNullOrWhiteSpace(x.Category)).ToList();
    var groupCount = groupedRecipes.Count() + unspecifiedCategoryRecipes.Count;
}
<html>
<head>
    <title>Get Started</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        Model.DatabaseProvider = "SqlConnection";

        <h2>Please answer a few questions to configure your site.</h2>
        <fieldset class="site">
            <div>
                <label for="SiteName">What is the name of your site?</label>
                @Html.TextBoxFor(svm => svm.SiteName, new { autofocus = "autofocus" })
            </div>
            <div>
                <label for="DatabaseProvider">What type of database to use?</label>
                @Html.TextBoxFor(svm => svm.DatabaseProvider)
            </div>
            <div>
                <label for="ConnectionString">Connection string</label>
                @Html.TextBoxFor(svm => svm.ConnectionString)
            </div>
            <div>
                <label for="TablePrefix">Table Prefix</label>
                @Html.TextBoxFor(svm => svm.TablePrefix)
            </div>
            <div>
                <label for="AdminUserName">Super user</label>
                @Html.TextBoxFor(svm => svm.AdminUserName)
            </div>
            <div>
                <label for="AdminUserName">Super user email</label>
                @Html.TextBoxFor(svm => svm.AdminEmail)
            </div>
            <div>
                <label for="Password">Password</label>
                @Html.PasswordFor(svm => svm.Password)
            </div>
            <div>
                <label for="Password">Password Confirmation</label>
                @Html.PasswordFor(svm => svm.PasswordConfirmation)
            </div>
        </fieldset>
        <fieldset>
            <legend>Choose an Orchard Recipe</legend>
            <div>
                Orchard Recipes allow you to setup your site with additional pre-configured options,
                features and settings out of the box.
            </div>
            <div>
                <select id="Recipe" name="Recipe" class="recipe">
                    @foreach (var recipeGroup in groupedRecipes.OrderBy(x => x.Key))
                    {
                        if (groupCount > 1)
                        {
                            <optgroup label="@recipeGroup.Key"></optgroup>
                        }
                        foreach (var recipe in recipeGroup.OrderBy(x => x.Name))
                        {
                            <option value="@recipe.Name" selected="@(Model.RecipeName == null && recipe.Name == "Default")">@recipe.Name</option>
                        }
                    }
                    @if (unspecifiedCategoryRecipes.Count() > 0)
                    {
                        if (groupCount > 1)
                        {
                            <optgroup label="Unspecified"></optgroup>
                        }
                        foreach (var recipe in unspecifiedCategoryRecipes.OrderBy(x => x.Name))
                        {
                            <option value="@recipe.Name" selected="@(Model.RecipeName == null && recipe.Name == "Default")">@recipe.Name</option>
                        }
                    }
                </select>
            </div>
            <div id="recipedescription">@Model.RecipeDescription</div>
        </fieldset>
        <fieldset>
            <button class="primaryAction setupButton" type="submit">Finish Setup</button>
        </fieldset>
    }
</body>
</html>