@using OrchardCore
@using OrchardCore.Forms.ViewModels

@model FormInputElementVisibilityViewModel

@{
    var idPrefix = Html.IdForModel();
}

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Action" class="@Orchard.GetLabelClasses()">@T["Action"]</label>
    <div class="@Orchard.GetEndClasses()">
        <select asp-for="Action" asp-items="Model.Actions" class="form-select"></select>
        <span class="hint">@T["The action to take when the condition is met."]</span>
    </div>
</div>

<div class="input-visibility-settings">
    <div id="@(idPrefix)_groupsContainerId" data-groups='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Groups))'></div>
</div>

<div id="operatorData" style="display:none;"
     data-operators='@Html.Raw(Json.Serialize(Model.Groups.First().Rules.First().Operators))'>
</div>

<script asp-name="form-visibility" asp-src="/OrchardCore.Forms/Scripts/form-visibility.min.js" src-debug="/OrchardCore.Forms/Scripts/form-visibility.js" at="Foot" depends-on="vuejs:2"></script>

<script at="Foot">
    document.addEventListener('DOMContentLoaded', function () {
        formVisibilityGroups.initialize({
        appElementSelector: '#@(idPrefix)_groupsContainerId',
        prefix: '@Html.NameForModel()',
        widgetId: '@Html.NameForModel()'
        });
    });
</script>
