@inject OrchardCore.Secrets.ISecretService<HttpRequestEventSecret> HttpRequestEventSecretService
@using OrchardCore.ContentManagement
@using OrchardCore.Forms.Models
@using OrchardCore.Mvc.Utilities
@using OrchardCore.Workflows.Models

@{
    var formPart = ((ContentItem)Model.ContentItem).As<FormPart>();
    string encType = formPart.Method == "POST" ? formPart.EncType : string.Empty;
    var formContentTypeClassName = "form-" + ((string)Model.ContentItem.ContentType).HtmlClassify();

    var elementId =  ((ContentItem)Model.ContentItem).As<FormElementPart>()?.Id;
    string formId =  string.IsNullOrWhiteSpace(elementId) ?  $"form_{Model.ContentItem.ContentItemId}" : elementId;
    var action = formPart.Action;
    if (!String.IsNullOrEmpty(formPart.HttpWorkflowSecret))
    {
        var secret = await HttpRequestEventSecretService.GetSecretAsync(formPart.HttpWorkflowSecret);
        action = Url.Action("Invoke", "HttpWorkflow", new { area = "OrchardCore.Workflows", token = secret.GeneratedToken });
    }
}

<form id="@formId" action="@action" method="@formPart.Method"  enctype="@encType" class="form-content @formContentTypeClassName">
    @if (formPart.EnableAntiForgeryToken)
    {
        @Html.AntiForgeryToken()
    }

    @await DisplayAsync(Model.Metadata.ChildContent)
</form>
