@using OrchardCore.Forms.Models
@using OrchardCore.Forms.ViewModels
@using System.Text.Json

@model FormInputElementVisibilityViewModel

<div class="ocat-wrapper">
    <label asp-for="Action" class="ocat-label">@T["Action"]</label>
    <div class="ocat-end">
        <select asp-for="Action" asp-items="Model.Actions" class="form-select"></select>
        <span class="hint">@T["The action to take when the condition is met."]</span>
    </div>
</div>

<div class="input-visibility-settings d-none" data-prefix="@Html.NameForModel()">
    <div class="main-group-container"
         data-prefix="@Html.NameForModel()"
         data-model="@JsonSerializer.Serialize(Model, JOptions.CamelCase)">
    </div>
</div>

<script asp-name="form-visibility" asp-src="~/OrchardCore.Forms/Scripts/form-visibility.min.js" debug-src="~/OrchardCore.Forms/Scripts/form-visibility.js" at="Foot" depends-on="vuejs:2"> </script>

<script asp-src="~/OrchardCore.Forms/Scripts/form-input-element-visibility/form-input-element-visibility.min.js" debug-src="~/OrchardCore.Forms/Scripts/form-input-element-visibility/form-input-element-visibility.js" depends-on="vuejs:2, form-visibility" at="Foot" type="module"></script>
