@using Microsoft.AspNetCore.Html
@using OrchardCore.ContentManagement
@using OrchardCore.Forms.Models
@using OrchardCore.Mvc.Utilities
@using OrchardCore.Workflows
@using OrchardCore.Workflows.Http
@using OrchardCore.Workflows.Http.Models

@{
    var formPart = ((ContentItem)Model.ContentItem).As<FormPart>();
    var encType = formPart.Method == "POST" ? formPart.EncType : string.Empty;
    var formContentTypeClassName = "form-" + ((string)Model.ContentItem.ContentType).HtmlClassify();

    var elementId = ((ContentItem)Model.ContentItem).As<FormElementPart>()?.Id;
    var formId = string.IsNullOrWhiteSpace(elementId) ? $"form_{Model.ContentItem.ContentItemId}" : elementId;

    var action = formPart.Action;
    var payload = formPart.WorkflowPayload;
    if (!String.IsNullOrEmpty(payload.WorkflowId) && !String.IsNullOrEmpty(payload.ActivityId))
    {
        action = Url.GenerateHttpRequestEventUrl(payload);
    }
}

<form id="@formId" action="@action" method="@formPart.Method" enctype="@encType" class="form-content @formContentTypeClassName">
    @if (formPart.EnableAntiForgeryToken)
    {
        @Html.AntiForgeryToken()
    }

    @if (formPart.SaveFormLocation)
    {
        <input type="hidden" name="@WorkflowConstants.FormLocationKeyInputName" value="@ViewContext.HttpContext.Request.Path" />
    }

    @await DisplayAsync((IHtmlContent)Model.Metadata.ChildContent)
</form>
