@using OrchardCore.Forms.ViewModels;
@model TextAreaPartEditViewModel

<fieldset class="form-group">
    <label asp-for="Name">@T["Name"]</label>
    <input type="text" asp-for="Name" class="form-control"></input>
    <span class="hint">@T["Optionally provide the name of the textarea."]</span>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Placeholder">@T["Placeholder Text"]</label>
    <input type="text" asp-for="Placeholder" class="form-control"></input>
    <span class="hint">@T["The text to display when the textarea has no value."]</span>
</fieldset>

<fieldset class="form-group">
    <label asp-for="DefaultValue">@T["Default Value"]</label>
    <input type="text" asp-for="DefaultValue" class="form-control"></input>
    <span class="hint">@T["The default value for this textarea."]</span>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Label">@T["Label"]</label>
    <input type="text" asp-for="Label" class="form-control"></input>
    <span class="hint">@T["The label text to display. Leave blank to not render a label."]</span>
</fieldset>