@model OrchardCore.Lucene.Settings.ContentPickerFieldLuceneEditorSettings

<div class="field-editor field-editor-lucene">
    <div class="@Orchard.GetWrapperClasses()">
        <label asp-for="Index" class="@Orchard.GetLabelClasses()">@T["Index"]</label>
        <div class="@Orchard.GetEndClasses("w-sm-50")">
            <select asp-for="Index" class="form-select">
                @foreach (var index in Model.Indices)
                {
                    <option value="@index">@index</option>
                }
            </select>
            <span class="hint">@T["The Lucene index to query for content items"]</span>
        </div>
    </div>
</div>
