@model dynamic
@using OrchardCore.Lucene
@inject LuceneIndexManager LuceneIndexManager

@{ 
    var disabled = !LuceneIndexManager.List().Any();
}
<div class="card">
    <div class="card-body">
        <h4>@T["Lucene"]</h4>
        <p class="hint">@T["Queries a Lucene index."]</p>    
    </div>
    <div class="card-footer text-muted text-xs-right">
        <a disabled="@disabled" class="btn btn-primary btn-sm" asp-route-action="Create" asp-route-controller="Admin" asp-route-id="@Model.Name" asp-area="OrchardCore.Queries">@T["Add"]</a>
    </div>
</div>