@model dynamic
@using OrchardCore.Lucene
@inject LuceneIndexSettingsService LuceneIndexSettingsService

@{
    var disabled = !(await LuceneIndexSettingsService.GetSettingsAsync()).Any();
}
<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <h4>@T["Lucene"]</h4>
            <p class="hint">@T["Queries a Lucene index."]</p>
        </div>
        <div class="card-footer text-muted text-xs-end">
            <a disabled="@disabled" class="btn btn-primary btn-sm" asp-route-action="Create" asp-route-controller="Admin" asp-route-id="@Model.Name" asp-area="OrchardCore.Queries">@T["Add"]</a>
        </div>
    </div>
</div>
