@model SearchFormViewModel

<form action="@Url.Action("Search", "Search")" method="get">
    <div class="input-group mb-3 mt-5">
        <input name="Index" type="hidden" value="@Model.Index" />
        <input name="Terms" type="text" value="@Model.Terms" class="form-control form-control-lg" placeholder="@T["Enter your search term(s)"]" autofocus />
        <button type="submit" class="btn btn-primary btn-sm">@T["Search"]</button>
    </div>
</form>
