<div class="{{ Model.Classes | join: ' ' }}">
    {{ Model.ContentItem.Content.HtmlBodyPart.Html | raw }}
    <div class="input-group input-group-newsletter mb-1">
        <input name="{{ Model.ContentItem.Content.Register.InputFieldName.Text }}" class="form-control" aria-describedby="basic-addon" aria-label="{{ Model.ContentItem.Content.Register.Placeholder.Text }}" type="email" placeholder="{{ Model.ContentItem.Content.Register.Placeholder.Text }}"/>
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">{{ Model.ContentItem.Content.Register.Button.Text }}</button>
        </div>
    </div>
</div>