@model dynamic

<div class="@Orchard.GetWrapperClasses()">
    <label for="Line" class="@Orchard.GetLabelClasses()">Value @Html.ValidationMessage("Line")</label>
    <div class="@Orchard.GetEndClasses()">
        <input name="Line" id="Line" value="@Model.Line" class="form-control" />
        <span class="hint">The value of the property.</span>
    </div>
</div>
