@model OrchardCore.Demo.ViewModels.EditUserProfileViewModel

<div class="mb-3">
    <label asp-for="FirstName">@T["First Name"]</label>
    <input asp-for="FirstName" type="text" class="form-control" placeholder="@T["First Name"]" />
</div>

<div class="mb-3">
    <label asp-for="LastName">@T["Last Name"]</label>
    <input asp-for="LastName" type="text" class="form-control" placeholder="@T["Last Name"]" />
</div>

<div class="mb-3">
    <label asp-for="Age">@T["Age"]</label>
    <input asp-for="Age" type="text" class="form-control" placeholder="@T["Age"]" />
</div>
