@model OrchardCore.Demo.ViewModels.EditUserProfileViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="FirstName" class="@Orchard.GetLabelClasses()">@T["First Name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="FirstName" type="text" class="form-control" placeholder="@T["First Name"]" />
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="LastName" class="@Orchard.GetLabelClasses()">@T["Last Name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="LastName" type="text" class="form-control" placeholder="@T["Last Name"]" />
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Age" class="@Orchard.GetLabelClasses()">@T["Age"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="Age" type="text" class="form-control" placeholder="@T["Age"]" />
    </div>
</div>
