@model OrchardCore.Demo.ViewModels.EditUserProfileViewModel

<div class="ocat-wrapper">
    <label asp-for="FirstName" class="ocat-label">@T["First Name"]</label>
    <div class="ocat-end">
        <input asp-for="FirstName" type="text" class="form-control" placeholder="@T["First Name"]" />
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="LastName" class="ocat-label">@T["Last Name"]</label>
    <div class="ocat-end">
        <input asp-for="LastName" type="text" class="form-control" placeholder="@T["Last Name"]" />
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Age" class="ocat-label">@T["Age"]</label>
    <div class="ocat-end">
        <input asp-for="Age" type="text" class="form-control" placeholder="@T["Age"]" />
    </div>
</div>
