{% zone "Header" %}
{% assign imagePath = Model.ContentItem.Content.Facility.Image.Paths.first %}
{% if imagePath %}
<header class="masthead" style="background-image: url('{{ imagePath | asset_url | resize_url: profile: "hero" }}')">
{% else %}
<header class="masthead" style="background-image: url('{{ "~/TheCommunityTheme/assets/img/hero/community-center.svg" | href }}')">
{% endif %}
    <div class="container">
        <div class="masthead-heading">{{ Model.ContentItem | display_text }}</div>
    </div>
</header>
{% endzone %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ Model.Content.HtmlBodyPart | shape_render }}
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ "Facility Info" | t }}</h5>
                        {% assign capacity = Model.ContentItem.Content.Facility.Capacity.Value %}
                        {% if capacity %}
                        <p><strong>{{ "Capacity" | t }}:</strong> {{ capacity }}</p>
                        {% endif %}
                        {% assign amenities = Model.ContentItem.Content.Facility.Amenities.Text %}
                        {% if amenities and amenities != "" %}
                        <p><strong>{{ "Amenities" | t }}:</strong><br>{{ amenities }}</p>
                        {% endif %}
                        {% assign booking = Model.ContentItem.Content.Facility.BookingInfo %}
                        {% if booking.Url and booking.Url != "" %}
                        <a href="{{ booking.Url }}" class="btn btn-primary w-100">{{ booking.Text | default: "Book This Facility" | t }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
