<div class="col-md-6 col-lg-4 mb-4">
    {% assign highlight = Model.ContentItem.Content.Membership.Highlight.Value %}
    <div class="pricing-card {% if highlight %}featured{% endif %}">
        {% if highlight %}
        <span class="featured-badge">{{ "Most Popular" | t }}</span>
        {% endif %}
        <h4 class="mt-3 mb-3">{{ Model.ContentItem | display_text }}</h4>
        {% assign price = Model.ContentItem.Content.Membership.Price.Text %}
        {% if price and price != "" %}
        <div class="price mb-3">{{ price }}<span>/{{ "month" | t }}</span></div>
        {% endif %}
        {{ Model.ContentItem.Content.Membership.Features.Html | raw }}
        {% assign cta = Model.ContentItem.Content.Membership.CtaLink %}
        {% if cta.Url and cta.Url != "" %}
        <a href="{{ cta.Url }}" class="btn {% if highlight %}btn-primary{% else %}btn-outline-primary{% endif %} w-100 mt-3">{{ cta.Text | default: "Get Started" | t }}</a>
        {% endif %}
    </div>
</div>
