@model ListSitemapIndexViewModel

<h1>@RenderTitleSegments(T["Sitemap Indexes"])</h1>

@if (String.IsNullOrEmpty(Site.BaseUrl))
{
    <p class="alert alert-warning">@T["The site settings 'Base url' property is empty, but is required to generate sitemaps."]</p>
}

<nav class="admin-toolbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a asp-route-action="Create" class="btn btn-primary" role="button">@T["Add Sitemap Index"]</a>
        </li>
    </ul>
    <form asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
        <input id="search-box" asp-for="Options.Search" class="form-control mr-sm-2" type="text" placeholder="@T["Search"]" autofocus="autofocus">
        <button type="submit" class="btn btn-secondary">@T["Search"]</button>
    </form>
</nav>

<form asp-action="Index">
    @* the form is necessary to generate and antiforgery token for the delete action *@

    @if (Model.SitemapIndexes.Any())
    {
        <ul class="list-group">
            @foreach (var entry in Model.SitemapIndexes)
            {
                <li class="list-group-item">
                    <div class="properties">
                        <div class="related">
                            @if (entry.Enabled)
                            {
                                <a asp-action="Index" asp-controller="Sitemap" asp-area="OrchardCore.Sitemaps" asp-route-sitemapId="@entry.SitemapId" class="btn btn-success btn-sm" itemprop="">@T["View"]</a>
                            }
                            <a asp-action="Edit" asp-route-sitemapId="@entry.SitemapId" class="btn btn-primary btn-sm">@T["Edit"]</a>
                            <div class="btn-group btn-group-sm">
                                <a asp-action="Delete"
                                   asp-route-sitemapId="@entry.SitemapId"
                                   class="btn btn-danger" itemprop="RemoveUrl UnsafeUrl">@T["Delete"]</a>
                                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-reference="parent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">@T["Toggle Dropdown"]</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a asp-action="Toggle"
                                       asp-route-sitemapId="@entry.SitemapId"
                                       class="dropdown-item btn-sm" itemprop="UnsafeUrl">@(entry.Enabled ? T["Disable"] : T["Enable"])</a>
                                </div>
                            </div>
                        </div>
                        <a class="@(entry.Enabled ? "": "text-muted")" asp-action="Edit" asp-route-sitemapId="@entry.SitemapId">@entry.Name</a>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            @T["<strong>Nothing here!</strong> There are no sitemaps indexes for the moment."]
        </div>
    }
</form>

@await DisplayAsync(Model.Pager)
