@using Orchard.ContentManagement.Metadata.Models;

@{
    IEnumerable<dynamic> contentItems = Model.ContentItems;
    ContentTypeDefinition containedContentTypeDefinition = Model.ContainedContentTypeDefinition;
}
<p>
    <a class="btn btn-primary" role="button" asp-action="Create" asp-controller="Admin" asp-route-id="@containedContentTypeDefinition.Name" asp-route-area="Orchard.Contents" asp-route-ListPart.ContainerId="@Model.ContentItem.ContentItemId">@T["Create new {0}", containedContentTypeDefinition.DisplayName]</a>
</p>

@if (contentItems.Any())
{
<ul class="list-group">
    @foreach (var contentItemSummary in contentItems)
    {
        <li class="list-group-item">
            @Display(contentItemSummary)
        </li>
    }
</ul>
}
else
{
    <p class="alert alert-warning">@T["The list is empty"]</p>
}