@model OrchardCore.Email.ViewModels.SmtpSettingsViewModel


<script asp-name="bootstrap" version="4.0.0" use-cdn="true" at="Foot"></script>
<style asp-name="font-awesome" use-cdn="true"></style>
<style>
    .card-header i {
        transition: transform 0.3s;
    }

    .card-header.on i {
        transform: rotate(90deg);
    }
</style>


<fieldset class="form-group" asp-validation-class-for="DefaultSender">
    <label asp-for="DefaultSender">@T["Sender email address"] <span asp-validation-for="DefaultSender"></span></label>
    <input asp-for="DefaultSender" class="form-control" type="email" />
    <span class="hint">@T["The default email address to use as a sender."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Host">
    <label asp-for="Host">@T["Host name"] <span asp-validation-for="Host"></span></label>
    <input asp-for="Host" class="form-control" type="text" />
    <span class="hint">@T["The SMTP server domain, e.g. <i>smtp.mailprovider.com</i>."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Port">
    <label asp-for="Port">@T["Port number"] <span asp-validation-for="Port"></span></label>
    <input asp-for="Port" class="form-control" type="number" step="any" min="0" max="65535" />
    <span class="hint">@T["The SMTP server port, usually 25."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="EnableSsl">
    <input asp-for="EnableSsl" type="checkbox" />
    <label asp-for="EnableSsl">@T["Enable SSL communications"] <span asp-validation-for="EnableSsl"></span></label>
    <span class="hint d-block">@T["Check if the SMTP server requires SSL communications."]</span>
</fieldset>

<fieldset class="form-group clearfix" asp-validation-class-for="RequireCredentials">
    <input asp-for="RequireCredentials" type="checkbox" data-toggle="collapse" data-target=".requireCredential" />
    <label asp-for="RequireCredentials">@T["Require credentials"] <span asp-validation-for="RequireCredentials"></span></label>
</fieldset>

<div class="requireCredential collapse @(Model.RequireCredentials ? "show" : "")">
    <fieldset class="form-group" asp-validation-class-for="UseDefaultCredentials">
        <input asp-for="UseDefaultCredentials" type="checkbox" data-toggle="collapse-toggle" data-target=".useCustomCredential" />
        <label asp-for="UseDefaultCredentials">@T["Use Windows authentication"] <span asp-validation-for="UseDefaultCredentials"></span></label>
        <span class="hint">@T["When this option is selected, the aplication pool or host-process identity is used to authenticate with the mail server."]</span>
    </fieldset>

    <div class="useCustomCredential collapse @(Model.UseDefaultCredentials? "": "show")">
        <fieldset class="form-group" asp-validation-class-for="UserName">
            <label asp-for="UserName">@T["User name"] <span asp-validation-for="UserName"></span></label>
            <input asp-for="UserName" class="form-control" type="text" />
            <span class="hint">@T["The username for authentication."]</span>
        </fieldset>

        <fieldset class="form-group" asp-validation-class-for="Password">
            <label asp-for="Password">@T["Password"] <span asp-validation-for="Password"></span></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span class="hint">@T["The password for authentication."]</span>
        </fieldset>
    </div>
</div>



<div class="card mb-5">
    <div class="card-header" data-toggle="collapse" data-target=".card-block">
        <i class="fa fa-chevron-right" aria-hidden="true"></i> @T["Test Settings"]
    </div>
    <div class="card-block collapse">
        <div class="form-group">
            <fieldset class="form-group" asp-validation-class-for="To">
                <label asp-for="To">@T["To"] <span asp-validation-for="To"></span></label>
                <input asp-for="To" class="form-control" type="text" />
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset class="form-group" asp-validation-class-for="Bcc">
                <label asp-for="Bcc">@T["Bcc"] <span asp-validation-for="Bcc"></span></label>
                <input asp-for="Bcc" class="form-control" type="text" />
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset class="form-group" asp-validation-class-for="Cc">
                <label asp-for="Cc">@T["Cc"] <span asp-validation-for="Cc"></span></label>
                <input asp-for="Cc" class="form-control" type="text" />
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset class="form-group" asp-validation-class-for="ReplyTo">
                <label asp-for="ReplyTo">@T["Reply To"] <span asp-validation-for="ReplyTo"></span></label>
                <input asp-for="ReplyTo" class="form-control" type="text" />
            </fieldset>
        </div>
        <div class="form-group">
             <fieldset class="form-group" asp-validation-class-for="Subject">
                <label asp-for="Subject">@T["Subject"] <span asp-validation-for="Subject"></span></label>
                <input asp-for="Subject" class="form-control" type="text" />
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset class="form-group" asp-validation-class-for="Body">
                <label asp-for="Body">@T["Body"] <span asp-validation-for="Body"></span></label>
                <textarea asp-for="Body" class="form-control" rows="5"></textarea>
            </fieldset>
        </div>
        <div>
            <button type="button" id="emailtestsend" class="button grey">@T["Test with Above Settings"]</button>
            <button type="button" id="emailtestsavedsend" class="button grey">@T["Test with Saved Settings"]</button>
        </div>
        <div id="emailtesterror" class="message-Error" style="display:none;"></div>
        <div id="emailtestinfo" class="message-Information" style="display:none;"></div>
    </div>
</div>

<script type="text/javascript" at="Foot">
    $(function() {
        var url = "@Url.Action( "SmtpSettingsTest", "Admin", new {area = "OrchardCore.Email"})",
            urlsaved = "@Url.Action( "SmtpSavedSettingsTest", "Admin", new {area = "OrchardCore.Email"})"
            ;
                    
        $("#emailtestsend").click(function () {
            $(this).parents("form").attr("action", url).submit();
        });

        $("#emailtestsavedsend").click(function () {
            $(this).parents("form").attr("action", urlsaved).submit();
        });

        // this is used in place of data-toggle=collapse because collpase take the
        // value of checkbox as show/hide, instead of just toggle.
        $(document).on("click", "[data-toggle='collapse-toggle']", function(event) {
            var target = $($(this).data("target"));
            target.hasClass("show") ? target.collapse("hide") : target.collapse("show");
        });

        $(".card-block")
            .on("show.bs.collapse", function() {
                $(this).siblings(".card-header").addClass("on");
            })
            .on("hide.bs.collapse", function() {
                $(this).siblings(".card-header").removeClass("on");
            })
        ;
    });
</script>

