@model FeatureProfileViewModel
@inject OrchardCore.Tenants.Services.IFeatureProfilesSchemaService SchemaService

@{
    var schema = SchemaService.GetJsonSchema();
}

<input type="hidden" asp-for="Id" />
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group" asp-validation-class-for="Name">
            <label asp-for="Name">@T["Name"]</label>
            <input asp-for="Name" class="form-control" autofocus />
            <span asp-validation-for="Name"></span>
            <span class="hint">@T["The name of the feature profile."]</span>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group" asp-validation-class-for="FeatureRules">
            <label asp-for="FeatureRules">@T["Rules"]</label>
            <div class="form-control" style="min-height: 25rem;">
                <div id="@Html.IdFor(x => x.FeatureRules)_editor" asp-for="FeatureRules" class="h-100"  dir="@Orchard.CultureDir()" data-schema="@schema"></div>
            </div>
            <textarea asp-for="FeatureRules" hidden></textarea>
            <span asp-validation-for="FeatureRules"></span>
            <span class="hint">@T["The feature rules."]</span>
        </div>
    </div>
</div>



<script at="Foot" asp-name="profile-editor" depends-on="monaco, admin">
    $(document).ready(function () {
        require(['vs/editor/editor.main'], function () {

            var html = document.getElementsByTagName("html")[0];
            const mutationObserver = new MutationObserver(setTheme);
            mutationObserver.observe(html, { attributes: true });

            function setTheme() {
                var theme = html.dataset.theme;
                if (theme === "darkmode") {
                    monaco.editor.setTheme('vs-dark')
                } else {
                    monaco.editor.setTheme('vs')
                }
            }

            setTheme();

            var modelUri = monaco.Uri.parse("x://orchardcore.tenants.featureprofiles.json");
            var editor = document.getElementById('@Html.IdFor(x => x.FeatureRules)_editor');
            var textArea = document.getElementById('@Html.IdFor(x => x.FeatureRules)');
            var schema = JSON.parse(editor.dataset.schema)
            var model = monaco.editor.createModel(textArea.value, "json", modelUri);

            monaco.languages.json.jsonDefaults.setDiagnosticsOptions({
                validate: true,
                schemas: [{
                    uri: "x://orchardcore.tenants.featureprofiles.schema.json",
                    fileMatch: [modelUri.toString()],
                    schema: schema
                }]
            });

            var editor = monaco.editor.create(editor, {
                model: model
            });

            window.addEventListener("submit", function () {
                textArea.value = editor.getValue();
            });
        });
    });
</script>