@model LayerEditViewModel
@{
    var routeValues = new RouteValueDictionary
    {
        { "area", "OrchardCore.Layers" },
        { "controller", "LayerRule" },
        { "name", Model.Name }
    };
    ViewData["ConditionRouteValues"] = routeValues;

    var orderUrl = Url.Action("UpdateOrder", "LayerRule");
}

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Layer - {0}", Model.Name])</h1></zone>

<form asp-action="Edit" method="post" class="no-multisubmit">
    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Name">
        <label asp-for="Name" class="@Orchard.GetLabelClasses()">@T["Name"]</label>
        <div class="@Orchard.GetEndClasses()">
        <input readonly="readonly" asp-for="Name" class="form-control" type="text" />
        <span asp-validation-for="Name"></span>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Description">
        <label asp-for="Description" class="@Orchard.GetLabelClasses()">@T["Description"]</label>
        <div class="@Orchard.GetEndClasses()">
        <textarea asp-for="Description" class="form-control" rows="3" type="text"></textarea>
        <span asp-validation-for="Description"></span>
        </div>
    </div>

    <div class="d-none" id="ruleOrderUrl" data-url="@orderUrl"></div>
    <div class="d-none ruleorderparameters" data-param="name" data-value="@Model.Name"></div>
    <div class="d-none" id="ruleOrderErrorMessage" data-message="@T["Error updating rule order"]"></div>

    @await DisplayAsync(Model.LayerRule)

    <input class="btn btn-primary mt-3" type="submit" value="@T["Save"]" />
</form>

@await DisplayAsync(await New.ConditionsModal(Thumbnails: Model.Thumbnails, Name: Model.Name))
