@model Orchard.Core.Contents.Settings.ContentPartSettings
<fieldset>
    <label for="@Html.FieldIdFor(m => m.Description)">@T("Description")</label>
    @Html.TextBoxFor(m => m.Description, new { @class = "text large"})
    <span class="hint">@T("Optionally provide a description for this part")</span>
    @Html.ValidationMessageFor(m => m.Description)
</fieldset>
<fieldset>
    @Html.EditorFor(m => m.Attachable)
    <label for="@Html.FieldIdFor(m => m.Attachable)" class="forcheckbox">@T("Attachable")</label>
    <span class="hint">@T("Check to allow this part to be attached to other content types.")</span> 
    @Html.ValidationMessageFor(m => m.Attachable)
</fieldset>