@model SelectContentTypesViewModel

<script asp-src="~/OrchardCore.Contents/Scripts/content-type-check-all.min.js" debug-src="~/OrchardCore.Contents/Scripts/content-type-check-all.js" at="Foot"></script>
<div class="check-all content-types row">
    <div class="col">
        <div class="form-check">
            <input type="checkbox" class="form-check-input master" id="@(Model.HtmlName)-select-all" />
            <label class="form-check-label" for="@(Model.HtmlName)-select-all">@T["Select all"]</label>
        </div>
    </div>
    <div class="slaves row">
    @for (var i = 0; i < Model.ContentTypeSelections.Length; i++)
    {
        var contentType = Model.ContentTypeSelections[i];
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="@Html.IdFor(m => m.ContentTypeSelections[i])"
                    name="@Model.HtmlName" checked="@contentType.IsSelected"
                    value="@contentType.ContentTypeDefinition.Name">
                <label class="form-check-label"
                    for="@Html.IdFor(m => m.ContentTypeSelections[i])">@contentType.ContentTypeDefinition.DisplayName</label>
            </div>
        </div>
    }
    </div>
</div>
