@using OrchardCore.Liquid.ViewModels;
@model LiquidPartViewModel

<style asp-name="codemirror"></style>
<script asp-name="codemirror" depends-on="admin" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<script asp-name="codemirror-addon-display-autorefresh" at="Foot"></script>
<script asp-name="codemirror-addon-mode-simple" at="Foot"></script>
<script asp-name="codemirror-addon-mode-multiplex" at="Foot"></script>
<script asp-name="codemirror-mode-xml" at="Foot"></script>
<script asp-src="~/OrchardCore.Liquid/codemirror/liquid.js" at="Foot"></script>

<div class="mb-3">
    <label asp-for="Liquid">@T["Body"]</label>
    <textarea asp-for="Liquid" rows="5" class="form-control content-preview-text"></textarea>
    <span class="hint">
        @T["The body of the content item, in Liquid format."]
        <a class="seedoc" href="@(OrchardCore.Admin.Constants.DocsUrl)reference/modules/Liquid" target="_blank">@T["See documentation"]</a>
    </span>
</div>

<script at="Foot">
    $(function () {
        var textArea = document.getElementById('@Html.IdFor(x => x.Liquid)');

        if (textArea == null) {
            return;
        }

        var editor = CodeMirror.fromTextArea(textArea, {
            autoRefresh: true,
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true,
            mode: { name: "liquid" },
        });

        editor.on('change', function(cmEditor){
            cmEditor.save();
            $(document).trigger('contentpreview:render');
        });
    });
</script>
