@using OrchardCore
@model NotifyUserTaskActivityViewModel

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Subject">
    <label asp-for="Subject" class="@Orchard.GetLabelClasses()">@T["Subject"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input type="text" asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject"></span>
        <span class="hint">@T["You may use Liquid syntax."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Summary">
    <label asp-for="Summary" class="@Orchard.GetLabelClasses()">@T["Summary"]</label>
    <div class="@Orchard.GetEndClasses()">
        <textarea asp-for="Summary" rows="3" class="form-control"></textarea>
        <span asp-validation-for="Summary"></span>
        <span class="hint">@T["HTML summary for the notification. You may use Liquid syntax."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="TextBody">
    <label asp-for="TextBody" class="@Orchard.GetLabelClasses()">@T["Text Body"]</label>
    <div class="@Orchard.GetEndClasses()">
        <textarea asp-for="TextBody" rows="5" class="form-control"></textarea>
        <span class="hint">@T["This optional text body does not support HTML. You may use Liquid syntax."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="HtmlBody">
    <label asp-for="HtmlBody" class="@Orchard.GetLabelClasses()">@T["HTML Body"]</label>
    <div class="@Orchard.GetEndClasses()">
        <textarea asp-for="HtmlBody" rows="10" class="form-control"></textarea>
        <span class="hint">@T["HTML message will only be sent if the notification provider supports it. You may use Liquid syntax."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <div class="@Orchard.GetEndClasses(true)">
        <div class="form-check">
            <input asp-for="IsHtmlPreferred" type="checkbox" class="form-check-input" />
            <label class="form-check-label" asp-for="IsHtmlPreferred">@T["Use HTML Body when possible"]</label>
        </div>
        <span class="hint">@T["When checked, the notification provider will use the HTML body if it supports HTML."]</span>
    </div>
</div>

<style asp-name="codemirror"></style>
<script asp-name="codemirror" at="Foot"></script>
<script asp-name="codemirror-addon-display-autorefresh" at="Foot"></script>
<script asp-name="codemirror-addon-edit-closetag" at="Foot"></script>
<script asp-name="codemirror-addon-selection-active-line" at="Foot"></script>
<script asp-name="codemirror-mode-css" at="Foot"></script>
<script asp-name="codemirror-mode-htmlmixed" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<script asp-name="codemirror-mode-xml" at="Foot"></script>
<script at="Foot" depends-on="codemirror">

    const initializeEditor = (textArea) => {
        textArea.CoreMirrorEditor = CodeMirror.fromTextArea(textArea, {
            autoCloseTags: true,
            autoRefresh: true,
            lineNumbers: true,
            lineWrapping: true,
            matchBrackets: true,
            styleActiveLine: true,
            mode: { name: "htmlmixed" }
        });
    };

    document.addEventListener('DOMContentLoaded', () => {
        initializeEditor(document.getElementById('@Html.IdFor(x => x.Summary)'));
        initializeEditor(document.getElementById('@Html.IdFor(x => x.HtmlBody)'));
    });

</script>
