@model ReCaptchaV3SettingsViewModel

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]</p>

<div class="mb-3" asp-validation-class-for="SiteKey">
    <label asp-for="SiteKey">@T["Site Key"]</label>
    <input asp-for="SiteKey" class="form-control" type="text" />
    <span asp-validation-for="SiteKey"></span>
    <span class="hint">@T["Your Google's reCaptchaV3 Site Key."]</span>
</div>

<div class="mb-3" asp-validation-class-for="SecretKey">
    <label asp-for="SecretKey">@T["Secret Key"]</label>
    <input asp-for="SecretKey" class="form-control" type="text" autocomplete="off" />
    <span asp-validation-for="SecretKey"></span>
    <span class="hint">@T["Your Google's reCaptchaV3 Secret Key."]</span>
</div>

<div class="mb-3" asp-validation-class-for="Threshold">
    <label asp-for="Threshold">@T["Threshold"]</label>
    <input asp-for="Threshold" class="form-control" type="number" step="any" min="0" max="1" autocomplete="off" />
    <span asp-validation-for="Threshold"></span>
    <span class="hint">@T["Threshold value between 0.0 - 1.0 which stops ReCaptchaV3 protected action."]</span>
</div>

<div class="mb-3">
    <span class="hint">@T["Get your reCaptchaV3 at"] <a href="https://developers.google.com/recaptcha/" target="_blank">https://developers.google.com/recaptcha/</a></span>
</div>
