@model SitemapSetEditViewModel
@inject OrchardCore.Settings.ISiteService SiteService
@{
    var site = await SiteService.GetSiteSettingsAsync();
}
<style asp-src="~/OrchardCore.Sitemaps/Styles/sitemaps.min.css" debug-src="~/OrchardCore.Sitemaps/Styles/sitemaps.css" at="Head" depends-on="admin"></style>

<h1>@RenderTitleSegments(T["Edit Sitemap Set: {0}", Model.Name])</h1>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Edit" method="post">
    <fieldset>
        <div class="form-group" asp-validation-class-for="Name">
            <label asp-for="Name">@T["Name"]</label>
            <input asp-for="Name" class="form-control" autofocus />
            <span asp-validation-for="Name" class="text-danger">@T["The name is required"]</span>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group" asp-validation-class-for="RootPath">
            <label asp-for="RootPath">@T["Root Path"]</label>
            <div class="input-group">
                @if (!String.IsNullOrWhiteSpace(site.BaseUrl))
                {
                    <div class="input-group-prepend">
                        <div class="input-group-text">@site.BaseUrl</div>
                    </div>
                }
                <input asp-for="RootPath" class="form-control"/>
                <span asp-validation-for="RootPath"></span>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
            <a class="btn btn-primary" asp-route-controller="Node" asp-route-action="List" asp-route-id="@Model.Id">@T["Edit Sitemaps Nodes"] </a>
            <a class="btn btn-secondary" asp-route-action="List">@T["Cancel"]</a>
        </div>
    </fieldset>
</form>