@{
    Layout = "_Layout";
    Title.AddSegment(T["Template Preview"]);
}

<script asp-name="js-cookie" at="Foot"></script>

<iframe id="iframe" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden;z-index:999990;">
    Your browser doesn't support iframes
</iframe>

<div id="notConnectedWarning" class="alert alert-info alert-dismissible fade show collapse" role="alert" style="position:fixed; height:60px; top:10px; right:40px; display:none; z-index:999999;">
    <button type="button" id="close-warning" class="close" aria-label="Close" style="position: relative; padding: 0 0 0 1rem; margin-top: -0.2rem;">
        <span aria-hidden="true">&times;</span>
    </button>
    <span>@T["Preview Disconnected"] </span>
</div>

<div id="serverErrorWarning" class="alert alert-warning alert-dismissible fade show" role="alert" style="position:fixed; top:10px; right:40px; display:none; z-index:999999;">
    <button type="button" id="close-server-warning" class="close" aria-label="Close" style="position: relative; padding: 0 0 0 1rem; margin-top: -0.2rem;">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>@T["Preview Error"] </p>
    <ul></ul>
</div>

<div id="indexPreviewUrl" style="display:none" data-value="@Url.Action("Index", "Preview" , new { area="OrchardCore.Templates" })"></div>
<div id="renderPreviewUrl" style="display:none" data-value="@Url.Action("Render", "Preview" , new { area="OrchardCore.Templates" })"></div>
<div id="contentPreviewUrl" style="display:none" data-value="@Url.Content("~/")"></div>

<resources type="Footer" />

<script>
    var indexPreviewUrl = $(document.getElementById('indexPreviewUrl')).data('value');
    var renderPreviewUrl = $(document.getElementById('renderPreviewUrl')).data('value');
    var contentPreviewUrl = $(document.getElementById('contentPreviewUrl')).data('value');
    var iframe = document.getElementById('iframe');
    var previewEventTimer = null;
    var previewRenderTimer = null;
    var previewRendering;
    var previewRenderData;
    var initialized;

    $(function () {
        $(window).on('storage', function (ev) {
            if (ev.key == 'OrchardCore.templates:not-connected') {
                $(notConnectedWarning).show();
            }
            else if (ev.key == 'OrchardCore.templates') {
                if (ev.originalEvent.newValue != null) {
                    // Smooth event cascading
                    clearTimeout(previewEventTimer);
                    previewEventTimer = setTimeout(function () { renderPreview(ev.originalEvent.newValue); }, 150);
                    $(notConnectedWarning).hide();
                }
            }
        });

        // override default behavior of Bootstrap's. We only hide, not remove the alert.
        $('#close-warning').on('click', function () {
            $('#notConnectedWarning').hide();
        });

        $('#close-server-warning').on('click', function () {
            $('#serverErrorWarning').hide();
        });

        var preview = localStorage.getItem('OrchardCore.templates');

        if (preview == null) {
            // notify the editor to render the preview
            localStorage.setItem('OrchardCore.templates:ready', '');
            localStorage.removeItem('OrchardCore.templates:ready');
        }
        else {
            renderPreview(preview);
        }
    });

    iframe.onload = function () {
        // The iframe may not be well setup after the first loading and then on the first editor update
        // we may lose the scrolling position. A workaround is to refrech the page once after or to add
        // here a delay that really block the thread before exiting. Here, we just rewrite the document.
        if (!initialized) {
            if (this.contentWindow) {
                iframe.contentWindow.document.open();
                iframe.contentWindow.document.write(previewRenderData);
                iframe.contentWindow.document.close();
            }
            initialized = true;
        }
        previewRendering = false;

        if (this.contentWindow && this.contentWindow.location.pathname != indexPreviewUrl) {
            contentPreviewUrl = this.contentWindow.location.pathname;
        }
    }

    function renderPreview(value) {
        if (previewRendering) {
            // Defer the last rendering
            clearTimeout(previewRenderTimer);
            previewRenderTimer = setTimeout(function () { renderPreview(value); }, 100);
        }

        previewRendering = true;
        clearTimeout(previewRenderTimer);

        try {
            var formData = JSON.parse(value);
            if (!formData) {
                previewRendering = false;
                return;
            }
            formData += '&' + $.param({ 'Handle': contentPreviewUrl || "" });

            $.post(renderPreviewUrl, formData)
                .done(function (data) {
                    if (iframe && iframe.contentWindow) {
                        iframe.contentWindow.document.open();
                        iframe.contentWindow.document.write(data);
                        iframe.contentWindow.document.close();
                        previewRenderData = data;
                    }
                    $(serverErrorWarning).hide();
                })
                .fail(function (data) {
                    if (data.status) {
                        var ul = $('#serverErrorWarning ul').empty();
                        var error = 'Status code ' + data.status;
                        console.error(error);
                        $('<li />').text(error).appendTo(ul);
                        $(serverErrorWarning).show();
                    }
                    previewRendering = false;
                });
        }
        catch (e) {
            previewRendering = false;
            console.log('Error while previewing: ' + e);
        }
    }
</script>
