@{
    Layout = "_Layout";
    Title.AddSegment(T["Template Preview"]);
}

<script asp-name="js-cookie" at="Foot"></script>

<iframe id="iframe" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden;z-index:999990;">
    Your browser doesn't support iframes
</iframe>

<div id="notConnectedWarning" class="alert alert-info alert-dismissible fade show collapse" role="alert" style="position:fixed; height:60px; top:10px; right:40px; display:none; z-index:999999;">
    <button type="button" id="close-warning" class="btn-close" aria-label="Close" style="position: relative; padding: 0 0 0 1rem; margin-top: -0.2rem;"></button>
    <span>@T["Preview Disconnected"] </span>
</div>

<div id="serverErrorWarning" class="alert alert-warning alert-dismissible fade show" role="alert" style="position:fixed; top:10px; right:40px; display:none; z-index:999999;">
    <button type="button" id="close-server-warning" class="btn-close" aria-label="Close" style="position: relative; padding: 0 0 0 1rem; margin-top: -0.2rem;"></button>
    <p>@T["Preview Error"] </p>
    <ul></ul>
</div>

<div id="indexPreviewUrl" style="display:none" data-value="@Url.Action("Index", "Preview" , new { area="OrchardCore.Templates" })"></div>
<div id="renderPreviewUrl" style="display:none" data-value="@Url.Action("Render", "Preview" , new { area="OrchardCore.Templates" })"></div>
<div id="contentPreviewUrl" style="display:none" data-value="@Url.Content("~/").ToUriComponents()"></div>

<resources type="Footer" />

<script asp-src="~/OrchardCore.Templates/Scripts/template-editors/template-preview.min.js" debug-src="~/OrchardCore.Templates/Scripts/template-editors/template-preview.js" at="Foot" type="module"></script>
