@{
    Layout = "_Layout";
    Title.AddSegment(T["Template Preview"]);
}

<script asp-name="js-cookie" at="Foot"></script>

<iframe id="iframe" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden;z-index:999990;">
    Your browser doesn't support iframes
</iframe>

<div id="notConnectedWarning" class="alert alert-info alert-dismissible fade show collapse" role="alert" style="position:fixed; height:60px; top:10px; right:40px; display:none; z-index:999999;">
    <button type="button" id="close-warning" class="btn-close" aria-label="Close" style="position: relative; padding: 0 0 0 1rem; margin-top: -0.2rem;"></button>
    <span>@T["Preview Disconnected"] </span>
</div>

<div id="serverErrorWarning" class="alert alert-warning alert-dismissible fade show" role="alert" style="position:fixed; top:10px; right:40px; display:none; z-index:999999;">
    <button type="button" id="close-server-warning" class="btn-close" aria-label="Close" style="position: relative; padding: 0 0 0 1rem; margin-top: -0.2rem;"></button>
    <p>@T["Preview Error"] </p>
    <ul></ul>
</div>

<div id="indexPreviewUrl" style="display:none" data-value="@Url.Action("Index", "Preview" , new { area="OrchardCore.Templates" })"></div>
<div id="renderPreviewUrl" style="display:none" data-value="@Url.Action("Render", "Preview" , new { area="OrchardCore.Templates" })"></div>
<div id="contentPreviewUrl" style="display:none" data-value="@Url.Content("~/").ToUriComponents()"></div>

<resources type="Footer" />

<script>
    var indexPreviewUrl = document.getElementById('indexPreviewUrl').dataset.value;
    var renderPreviewUrl = document.getElementById('renderPreviewUrl').dataset.value;
    var contentPreviewUrl = document.getElementById('contentPreviewUrl').dataset.value;
    var iframe = document.getElementById('iframe');
    var notConnectedWarning = document.getElementById('notConnectedWarning');
    var serverErrorWarning = document.getElementById('serverErrorWarning');
    var previewEventTimer = null;
    var previewRenderTimer = null;
    var previewRendering;
    var previewRenderData;
    var initialized;

    document.addEventListener('DOMContentLoaded', function () {
        window.addEventListener('storage', function (ev) {
            if (ev.key == 'OrchardCore.templates:not-connected') {
                notConnectedWarning.style.display = 'block';
            }
            else if (ev.key == 'OrchardCore.templates') {
                if (ev.newValue != null) {
                    // Smooth event cascading
                    clearTimeout(previewEventTimer);
                    previewEventTimer = setTimeout(function () { renderPreview(ev.newValue); }, 150);
                    notConnectedWarning.style.display = 'none';
                }
            }
        });

        // override default behavior of Bootstrap's. We only hide, not remove the alert.
        document.getElementById('close-warning').addEventListener('click', function () {
            notConnectedWarning.style.display = 'none';
        });

        document.getElementById('close-server-warning').addEventListener('click', function () {
            serverErrorWarning.style.display = 'none';
        });

        var preview = localStorage.getItem('OrchardCore.templates');

        if (preview == null) {
            // notify the editor to render the preview
            localStorage.setItem('OrchardCore.templates:ready', '');
            localStorage.removeItem('OrchardCore.templates:ready');
        }
        else {
            renderPreview(preview);
        }
    });

    iframe.onload = function () {
        // The iframe may not be well setup after the first loading and then on the first editor update
        // we may lose the scrolling position. A workaround is to refrech the page once after or to add
        // here a delay that really block the thread before exiting. Here, we just rewrite the document.
        if (!initialized) {
            if (this.contentWindow) {
                iframe.contentWindow.document.open();
                iframe.contentWindow.document.write(previewRenderData);
                iframe.contentWindow.document.close();
            }
            initialized = true;
        }
        previewRendering = false;

        if (this.contentWindow && this.contentWindow.location.pathname != indexPreviewUrl) {
            contentPreviewUrl = this.contentWindow.location.pathname;
        }
    }

    function toQueryString(data) {
        return Object.keys(data).map(function (key) {
            return encodeURIComponent(key) + '=' + encodeURIComponent(data[key]);
        }).join('&');
    }

    function renderPreview(value) {
        if (previewRendering) {
            // Defer the last rendering
            clearTimeout(previewRenderTimer);
            previewRenderTimer = setTimeout(function () { renderPreview(value); }, 100);
        }

        previewRendering = true;
        clearTimeout(previewRenderTimer);

        try {
            var formData = JSON.parse(value);
            if (!formData) {
                previewRendering = false;
                return;
            }
            formData += '&' + toQueryString({ 'Handle': contentPreviewUrl || "" });

            fetch(renderPreviewUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                body: formData
            }).then(function (response) {
                if (!response.ok) {
                    throw response;
                }

                return response.text();
            }).then(function (data) {
                if (iframe && iframe.contentWindow) {
                    iframe.contentWindow.document.open();
                    iframe.contentWindow.document.write(data);
                    iframe.contentWindow.document.close();
                    previewRenderData = data;
                }
                serverErrorWarning.style.display = 'none';
            }).catch(function (data) {
                if (data.status) {
                    var ul = document.querySelector('#serverErrorWarning ul');
                    ul.innerHTML = '';
                    var error = 'Status code ' + data.status;
                    console.error(error);
                    var li = document.createElement('li');
                    li.textContent = error;
                    ul.appendChild(li);
                    serverErrorWarning.style.display = 'block';
                }
                previewRendering = false;
            });
        }
        catch (e) {
            previewRendering = false;
            console.log('Error while previewing: ' + e);
        }
    }
</script>
