@model WorkflowInstanceIndexViewModel
@using OrchardCore.Workflows.ViewModels;

<h1>@RenderTitleSegments(T["{0} Instances", Model.WorkflowDefinition.Name])</h1>

@if (Model.WorkflowInstances.Any())
{
    using (Html.BeginForm())
    {
        <ul class="list-group">
            @foreach (var entry in Model.WorkflowInstances)
            {
                <li class="list-group-item">
                    <div class="properties">
                        <div class="related">
                            <a asp-action="Delete" asp-route-id="@entry.WorkflowInstance.Id" class="btn btn-danger btn-sm" itemprop="RemoveUrl UnsafeUrl">@T["Delete"]</a>
                        </div>

                        <a asp-action="Details" asp-route-id="@entry.WorkflowInstance.Id">@entry.WorkflowInstance.Uid</a>
                        <div>
                            <span class="hint">@T["Created {0}", (object)(await DisplayAsync(await New.TimeSpan(Utc: entry.WorkflowInstance.CreatedUtc)))]</span>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
    @await DisplayAsync(Model.Pager)
}
else
{
    <p>@T["There are no running instances."]</p>
}