@using OrchardCore.OpenIdConnect.ViewModels
@model OpenIdConnectSettingsViewModel


<fieldset class="form-group" asp-validation-class-for="DisplayName">
    <label asp-for="DisplayName">@T["Display Name"] <span asp-validation-for="DisplayName"></span></label>
    <input asp-for="DisplayName" class="form-control" />
    <span class="hint">@T["Display name of the IdP"]</span>
</fieldset>


<fieldset class="form-group">
    <div class="form-check">
        <label class="form-check-label">
            <input asp-for="TestingModeEnabled" type="checkbox" data-toggle="collapse active" data-target="#certArea" class="form-check-input" checked="@Model.TestingModeEnabled" />
            @T["Enable Testing Mode"]
        </label>
    </div>
    <span class="hint">@T["Disables https requirement and uses an ephemeral signing key."]</span>
</fieldset>


<fieldset class="form-group" asp-validation-class-for="Authority">
    <label asp-for="Authority">@T["Authority"] <span asp-validation-for="Authority"></span></label>
    <input asp-for="Authority" class="form-control" />
    <span class="hint">@T["Authority to use when making OpenIdConnect calls"]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="ClientId">
    <label asp-for="ClientId">@T["ClientId"] <span asp-validation-for="ClientId"></span></label>
    <input asp-for="ClientId" class="form-control" />
    <span class="hint">@T["the 'client_id'"]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="ClientSecret">
    <label asp-for="ClientSecret">@T["Client Secret"] <span asp-validation-for="ClientSecret"></span></label>
    <input asp-for="ClientSecret" class="form-control" type="password" />
    <span class="hint">@T["the 'client_secret'"]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="CallbackPath">
    <label asp-for="CallbackPath">@T["CallbackPath"] <span asp-validation-for="CallbackPath"></span></label>
    <input asp-for="CallbackPath" class="form-control" />
    <span class="hint">@T["The request path within the application's base path where the user-agent will be returned.\r\nThe middleware will process this request when it arrives."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="AllowedScopes">
    <label asp-for="AllowedScopes">@T["Allowed Scopes"] <span asp-validation-for="AllowedScopes"></span></label>
    <input asp-for="AllowedScopes" class="form-control" />
    <span class="hint">@T["Scopes to request from IdP"]</span>
</fieldset>