@using System.Globalization
@{
    var culture = Model != null ? CultureInfo.GetCultureInfo(Model) : CultureInfo.InvariantCulture;
}
<tr>
    <form name="delete-culture" asp-action="DeleteCulture" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" enctype="multipart/form-data" class="no-multisubmit">
        <td class="align-middle">@culture.Name</td>
        <td class="align-middle">
            @if (!String.IsNullOrEmpty(culture.DisplayName))
            {
                <text>@culture.DisplayName</text>
            }
            else
            {
                <text>@culture.NativeName</text>
            }
        </td>
        <td class="align-middle">@Model</td>
        <td class="align-middle text-center">
            @Html.Hidden("cultureName", (string)Model, new { id = "" })
            <button type="submit" class="btn btn-link" title="@T["Delete"]">
                <i class="fa-solid fa-times" aria-hidden="true"></i>
            </button>
        </td>
    </form>
</tr>
