{% if Model.Content.LandingHeader %}
	{{ Model.Content.LandingHeader | shape_render }}
{% endif %}

<div class="main main-raised" id="main">
	<div class="container-fluid p-5">
		<div class="text-center pt-5">
			<h2 class="mth-section-title">{{ Model.ContentItem.Content.MainContent.ContentItems[0].TitlePart.Title }}</h2>
		</div>
		<div class="w-90 mx-auto">
			<p class="mth-text-base">{{ Model.ContentItem.Content.MainContent.ContentItems[0].ContentHeader.Description.Text }}</p>
		</div>
		<div class="col-md-10 ml-auto mr-auto">
			<ul class="timeline">
				{% for step in Model.ContentItem.Content.MainContent.ContentItems %}
					{% if step.ContentType == "TimelineCard" %}
						{% if step.TimelineCard.LeftText.Value %}
							<li>
								<div class="timeline-image">
									<img class="rounded-circle img-fluid" src="{{step.TimelineCard.Image.Paths.first | asset_url }}" alt="{{step.TitlePart.Title}}">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4>{{step.TimelineCard.Date.Text}}</h4>
										<h4 class="subheading">{{ step.TitlePart.Title}}</h4>
									</div>
									<div class="timeline-body">
										<p class="mth-text-base">{{ step.TimelineCard.Description.Text}}</p>
									</div>
								</div>
							</li>
						{% else %}
							<li class="timeline-inverted">
								<div class="timeline-image">
									<img class="rounded-circle img-fluid" src="{{step.TimelineCard.Image.Paths.first | asset_url }}" alt="{{step.TitlePart.Title}}">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4>{{step.TimelineCard.Date.Text}}</h4>
										<h4 class="subheading">{{ step.TitlePart.Title}}</h4>
									</div>
									<div class="timeline-body">
										<p class="mth-text-base">{{ step.TimelineCard.Description.Text}}</p>
									</div>
								</div>
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>