{% zone "TitleBar" %}
	<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg bg-primary" color-on-scroll="100">
		<div class="container">
			<div class="navbar-translate">
				<a class="navbar-brand" href="{{ "home" | haref }}">
					Mathesis
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="navbar-toggler-icon"></span>
					<span class="navbar-toggler-icon"></span>
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			{% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_tag: "alias:main-menu" %}
		</div>
	</nav>
{% endzone %}

{% zone "Header" %}
	<div class="page-header header-filter" data-parallax="true" style="background-image: url('{{ Model.ContentItem.Content.LandingHeader.BackgroundImage.Paths.first | asset_url }}')">
		<div class="container">
			<div class="row">
				<div class="col-md-10 ml-auto mr-auto">
					<div class="text-center">
						<h1 class="mth-brand">{{ Model.ContentItem.Content.LandingHeader.Title.Text }}</h1>
						<h3 class="mth-brand-payload">{{ Model.ContentItem.Content.LandingHeader.Subtitle.Text }}</h3>
						<a class="btn btn-primary btn-lg text-uppercase js-scroll-trigger" href="#main">{{ Model.ContentItem.Content.LandingHeader.Button.Text }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endzone %}

{% zone "Content" %}
	<div class="container-fluid p-5">
		<div class="text-center pt-5">
			<h2 class="mth-section-title">{{ Model.ContentItem.Content.Projects.SectionsTitle.Text }}</h2>
		</div>
		<div class="w-90 mx-auto">
			<p class="mth-text-base">{{ Model.ContentItem.Content.Projects.SectionsDescription.Text }}</p>
		</div>
		<div class="card-deck py-5">
			{% assign items = Model.ContentItem.Content.Projects.ContentItems %}
			{% assign righe = items.size | divided_by:3 %}

			{% for index in (0..righe) %}
				<div class="d-flex justify-content-around row w-90 mx-auto {% if righe > 0 and index < righe %}pb-5{% endif %}">
					{% if index < righe %}
						{% assign maxoffset = 2 %}
					{% else %}
						{% assign maxoffset = items.size % 3 - 1 %}
					{% endif %}
					{% for offset in (0..maxoffset) %}
						<div class="card card-blog col-4">
							<div class="card-header card-header-image">
								<img class="img" src="{{ items[index * 3 + offset].LandingProject.TopImage.Paths.first | asset_url }}">
									<h4 class="card-title" style="font-size: 1.6rem;">Diffie-Hellman Sharp</h4>
									<div class="colored-shadow" style="background-image: url('{{ items[index * 3 + offset].LandingProject.TopImage.Paths.first | asset_url }}'); opacity: 1;">
									</div>
							</div>
							<div class="card-body">
								<h6 class="card-category text-info">{{ items[index * 3 + offset].LandingProject.Category.Text }}</h6>
								<p class="card-description mth-text-base">{{ items[index * 3 + offset].LandingProject.Description.Text }}</p>
							</div>
							<hr>
								<div class="card-footer">
									<div class="card-stats justify-content-left">
										<a href="{{items[index * 3 + offset].LandingProject.Url.Text | href}}" class="btn btn-warning btn-round">Accedi</a>
									</div>
									<div class="stats ml-auto">
										<i class="material-icons">update</i> 31/12/19
									</div>
								</div>    
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endzone %}