{% if Model.ContentItem.Content.TimelineCard.LeftText.Value %}
<li>
	<div class="timeline-image">
		<img class="rounded-circle img-fluid" src="{{Model.ContentItem.Content.TimelineCard.Image.Paths.first | asset_url }}" alt="{{Model.ContentItem.Content.TitlePart.Title}}">
										</div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4>{{Model.ContentItem.Content.TimelineCard.Date.Text}}</h4>
			<h4 class="subheading">{{ Model.ContentItem.Content.TitlePart.Title}}</h4>
		</div>
		<div class="timeline-body">
			<p class="mth-text-base">{{ Model.ContentItem.Content.TimelineCard.Description.Text}}</p>
		</div>
	</div>
</li>
{% else %}
<li class="timeline-inverted">
	<div class="timeline-image">
		<img class="rounded-circle img-fluid" src="{{Model.ContentItem.Content.TimelineCard.Image.Paths.first | asset_url }}" alt="{{Model.ContentItem.Content.TitlePart.Title}}">
										</div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4>{{Model.ContentItem.Content.TimelineCard.Date.Text}}</h4>
			<h4 class="subheading">{{ Model.ContentItem.Content.TitlePart.Title}}</h4>
		</div>
		<div class="timeline-body">
			<p class="mth-text-base">{{ Model.ContentItem.Content.TimelineCard.Description.Text}}</p>
		</div>
	</div>
</li>
{% endif %}