@model AdminMenuListViewModel

<style asp-src="~/OrchardCore.AdminMenu/Styles/admin-menu.min.css" debug-src="~/OrchardCore.AdminMenu/Styles/admin-menu.css" at="Head" depends-on="admin"></style>
<script asp-src="~/OrchardCore.AdminMenu/Scripts/admin-menu.min.js" debug-src="~/OrchardCore.AdminMenu/Scripts/admin-menu.js" at="Foot" depends-on="admin"></script>

<h1>@RenderTitleSegments(T["Admin Menus"])</h1>

<nav class="admin-toolbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a asp-route-action="Create" class="btn btn-primary" role="button">
                @T["Add Admin Menu"]
            </a>
        </li>
    </ul>
    <form asp-action="List" method="get" class="form-inline my-2 my-lg-0">
        <input id="search-box" asp-for="Options.Search" class="form-control mr-sm-2" type="text" placeholder="@T["Search"]" autofocus="autofocus">
        <button type="submit" class="btn btn-secondary">@T["Search"]</button>
    </form>
</nav>

<form asp-action="Index">
    @* the form is necessary to generate an antiforgery token for the delete and toggle actions *@

    @if (Model.AdminMenu.Any())
    {
        <ul id="content-items-list-body" class="list-group">
            @foreach (var entry in Model.AdminMenu)
            {
                <li class="list-group-item @(entry.AdminMenu.Enabled ? "" : "disabled-tree")">
                    <div class="related">
                        <a asp-controller="Node" asp-action="List" asp-route-id="@entry.AdminMenu.Id" class="btn btn-secondary btn-sm">@T["Edit Nodes"]</a>
                        <a asp-action="Edit" asp-route-id="@entry.AdminMenu.Id" class="btn btn-primary btn-sm">@T["Edit"]</a>
                        <div class="btn-group btn-group-sm">
                            <a asp-action="Delete"
                               asp-route-id="@entry.AdminMenu.Id"
                               class="btn btn-danger" itemprop="RemoveUrl UnsafeUrl">@T["Delete"]</a>
                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-reference="parent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">@T["Toggle Dropdown"]</span>
                            </button>
                            <div class="dropdown-menu">
                                <a asp-action="Toggle"
                                   asp-route-id="@entry.AdminMenu.Id"
                                   class="dropdown-item btn-sm" itemprop="UnsafeUrl">@(entry.AdminMenu.Enabled ? T["Disable"] : T["Enable"])</a>
                            </div>
                        </div>
                    </div>
                    <a asp-controller="Node" asp-action="List" asp-route-id="@entry.AdminMenu.Id" class="tree-name-link">@entry.AdminMenu.Name</a>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="no-results alert alert-info" role="alert">
            @T["<strong>Nothing here!</strong>"]
        </div>
    }
</form>

<div id="footer-pager" class="fade-in-pager">
    @await DisplayAsync(Model.Pager)
</div>
