@model CreateSitemapViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Create Sitemap"])</h1></zone>

@if (String.IsNullOrEmpty(Site.BaseUrl))
{
    <p class="alert alert-warning">@T["The site settings 'Base url' property is empty, but is required to generate sitemaps."]</p>
}

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Create" method="post" class="no-multisubmit">
    <div class="mb-3" asp-validation-class-for="Name">
        <label asp-for="Name">@T["Name"]</label>
        <input asp-for="Name" class="form-control" autofocus />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3" asp-validation-class-for="Path">
        <label asp-for="Path">@T["Permalink"]</label>
        <div class="input-group">
            @if (!String.IsNullOrWhiteSpace(Site.BaseUrl))
            {
                <span class="input-group-text">@Site.BaseUrl</span>
            }
            <input asp-for="Path" class="form-control" />
        </div>
        <span class="hint d-block">@T["The url of the sitemap. Leave empty to auto-generate it."]</span>
        <span asp-validation-for="Path" class="text-danger d-block"></span>
    </div>

    <div class="mb-3 form-check">
        <input asp-for="Enabled" class="form-check-input" />
        <label asp-for="Enabled" class="form-check-label">@T["Enabled"]</label>
        <span class="hint">@T["Uncheck to disable routing to this sitemap."]</span>
    </div>

    <fieldset>
        <div class="mb-3">
            <button class="btn btn-primary create" type="submit">@T["Create"]</button>
            <a class="btn btn-secondary cancel" role="button" asp-route-action="List">@T["Cancel"]</a>
        </div>
    </fieldset>
</form>
