@model DisplaySitemapViewModel

<h1>@RenderTitleSegments(T["Sitemap"])</h1>

@if (String.IsNullOrEmpty(Site.BaseUrl))
{
    <p class="alert alert-warning">@T["The site settings 'Base url' property is empty, but is required to generate sitemaps."]</p>
}
<div class="card mb-3">
    <div class="card-body bg-primary p-3">
        <div class="input-group input-group-sm w-lg-50 d-inline-flex">
            @if (Model.Sitemap.Enabled)
            {
                <a asp-action="Index" asp-controller="Sitemap" asp-area="OrchardCore.Sitemaps" asp-route-sitemapId="@Model.Sitemap.SitemapId" class="btn btn-success btn-sm" target="_blank">@T["View"]</a>
            }
        </div>
        <div class="btn-group float-right">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalSources">
                @T["Add Source"]
            </button>
        </div>
    </div>
</div>
@* do we need antiforgery here ?*@
<form>
    @if (Model.Items.Any())
    {
        <ul class="list-group">
            @foreach (var item in Model.Items)
            {
                item.SitemapPlanId = Model.Sitemap.SitemapId;

                <li class="list-group-item">
                    @await DisplayAsync(item)
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            @T["<strong>Nothing here!</strong> There are no sources on this sitemap for the moment."]
        </div>
    }
</form>

<!-- Modal -->
<div class="modal fade" id="modalSources" tabindex="-1" role="dialog" aria-labelledby="available-sources-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="available-sources-title">@T["Available Sources"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-columns">
                    @foreach (var thumbnail in Model.Thumbnails)
                    {
                        @await DisplayAsync(thumbnail.Value)
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@T["Cancel"]</button>
            </div>
        </div>
    </div>
</div>
