@model EditSitemapViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Sitemap"])</h1></zone>

@if (String.IsNullOrEmpty(Site.BaseUrl))
{
    <p class="alert alert-warning">@T["The site settings 'Base url' property is empty, but is required to generate sitemaps."]</p>
}

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Edit" method="post" class="no-multisubmit">
    <input type="hidden" asp-for="SitemapId" />
    <div class="form-group" asp-validation-class-for="Name">
        <label asp-for="Name">@T["Name"]</label>
        <input asp-for="Name" class="form-control" autofocus />
        <span asp-validation-for="Name" class="text-danger">@T["The name is required."]</span>
    </div>

    <div class="form-group" asp-validation-class-for="Path">
        <label asp-for="Path">@T["Permalink"]</label>
        <div class="input-group">
            @if (!String.IsNullOrWhiteSpace(Site.BaseUrl))
            {
                <div class="input-group-prepend">
                    <div class="input-group-text">@Site.BaseUrl</div>
                </div>
            }
            <input asp-for="Path" class="form-control" />
        </div>
        <span class="hint d-block">@T["The url of the sitemap. Leave empty to auto-generate it."]</span>
        <span asp-validation-for="Path" class="text-danger d-block"></span>
    </div>

    <div class="form-group custom-control custom-checkbox">
        <input asp-for="Enabled" class="custom-control-input" />
        <label asp-for="Enabled" class="custom-control-label">@T["Enabled"]</label>
        <span class="hint">@T["Uncheck to disable routing to this sitemap."]</span>
    </div>

    <div class="form-group">
        <button class="btn btn-primary save" type="submit">@T["Save"]</button>
        <a class="btn btn-secondary cancel" role="button" asp-route-action="List">@T["Cancel"]</a>
    </div>
</form>
