@model EditRewriteRuleViewModel

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Name">
    <label asp-for="Name" class="@Orchard.GetLabelClasses()">@T["Display Name"]</label>
    <div class="@Orchard.GetEndClasses()">
    <input type="text" asp-for="Name" class="form-control text-muted" autofocus />
    <span asp-validation-for="Name"></span>
    <span class="hint">@T["A display name for the rule."]</span>
    </div>
</div>
