@using OrchardCore.Twitter.ViewModels
@model TwitterSettingsViewModel

<p class="alert alert-warning" role="alert">
    @T["The website might be restarted upon saving the settings, potentially leading to temporary unresponsiveness during the process."]
    <a class="seedoc" href="@(OrchardCore.Admin.Constants.DocsUrl)reference/modules/X/#x-twitter-integration" target="_blank">@T["See documentation"]</a>
</p>

@if (Model.HasConsumerSecret || Model.HasAccessTokenSecret)
{
    <p class="alert alert-info">@T["Legacy secrets are configured. Please create new secrets using the Secrets module and select them below, then save to complete the migration."]</p>
}

<h3>@T["X (Twitter) Integration Settings"]</h3>

<div class="mb-3 row" asp-validation-class-for="APIKey">
    <div class="col-large col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
        <label asp-for="APIKey" class="form-label">@T["API key"]</label>
        <input asp-for="APIKey" class="form-control" autocomplete="off" />
        <span asp-validation-for="APIKey"></span>
        <span class="hint">@T["The API key defined in the Keys and tokens tab of X (Twitter) app dashboard."]</span>
    </div>
</div>

<div class="mb-3 row">
    <div class="col-large col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
        <label asp-for="ConsumerSecretSecretName" class="form-label">@T["API secret key"]</label>
        @await Component.InvokeAsync("SelectSecret", new
        {
            secretTypes = new[] { "TextSecret" },
            selectedSecret = Model.ConsumerSecretSecretName,
            htmlId = "ConsumerSecretSecretName",
            htmlName = Html.NameFor(m => m.ConsumerSecretSecretName).ToString(),
            required = false
        })
        <span class="hint">@T["Select a secret containing the API secret from the X (Twitter) app dashboard."]</span>
    </div>
</div>

<div class="mb-3 row" asp-validation-class-for="AccessToken">
    <div class="col-large col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
        <label asp-for="AccessToken" class="form-label">@T["Access Token"]</label>
        <input asp-for="AccessToken" class="form-control" autocomplete="off" />
        <span asp-validation-for="AccessToken"></span>
        <span class="hint">@T["The Access Token defined in the Keys and tokens tab of X (Twitter) app dashboard."]</span>
    </div>
</div>

<div class="mb-3 row">
    <div class="col-large col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
        <label asp-for="AccessTokenSecretSecretName" class="form-label">@T["Access Token Secret"]</label>
        @await Component.InvokeAsync("SelectSecret", new
        {
            secretTypes = new[] { "TextSecret" },
            selectedSecret = Model.AccessTokenSecretSecretName,
            htmlId = "AccessTokenSecretSecretName",
            htmlName = Html.NameFor(m => m.AccessTokenSecretSecretName).ToString(),
            required = false
        })
        <span class="hint">@T["Select a secret containing the Access Token Secret from the X (Twitter) app dashboard."]</span>
    </div>
</div>
