@using OrchardCore.Twitter.ViewModels;
@model TwitterSigninSettingsViewModel;

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]</p>

<h3>@T["Sign in with Twitter Settings"]</h3>

<fieldset class="form-group" asp-validation-class-for="ConsumerKey">
    <label asp-for="ConsumerKey">@T["ConsumerKey"] <span asp-validation-for="ConsumerKey"></span></label>
    <input asp-for="ConsumerKey" class="form-control" />
    <span class="hint">@T["The Consumer Key defined in the Keys and tokens tab of twitter app dashboard."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="ConsumerSecret">
    <label asp-for="ConsumerSecret">@T["Secret Key"] <span asp-validation-for="ConsumerSecret"></span></label>
    <input asp-for="ConsumerSecret" class="form-control" type="password" value="@Model.ConsumerSecret" />
    <span class="hint">@T["The Consumer Secret defined in the Keys and tokens tab of twitter app dashboard."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="CallbackPath">
    <label  asp-for="CallbackPath" >@T["CallbackPath"] <span asp-validation-for="CallbackPath"></span></label>
    <input asp-for="CallbackPath" class="form-control" placeholder="/signin-twitter" />
    <span class="hint">@T["The request path within the application's base path where the user-agent will be returned. The middleware will process this request when it arrives."]</span>
</fieldset>
