@using OrchardCore.Twitter.ViewModels;
@model TwitterSettingsViewModel;

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]
    <a class="seedoc" href="@(OrchardCore.Admin.Constants.DocsUrl)reference/modules/Twitter/#twitter-integration" target="_blank">@T["See documentation"]</a></p>

@if (Model.HasDecryptionError)
{
    <p class="alert alert-danger">@T["An error occurred while decrypting a setting. Please apply and save."]</p>
}

<h3>@T["Twitter Integration Settings"]</h3>

<div class="mb-3 row" asp-validation-class-for="APIKey">
    <div class="col-large">
        <label asp-for="APIKey">@T["API key"]</label>
        <input asp-for="APIKey" class="form-control" autocomplete="off" />
        <span asp-validation-for="APIKey"></span>
        <span class="hint">@T["The API key defined in the Keys and tokens tab of twitter app dashboard."]</span>
    </div>
</div>

<div class="mb-3 row" asp-validation-class-for="APISecretKey">
    <div class="col-large">
        <label asp-for="APISecretKey">@T["API secret key"]</label>
        <input asp-for="APISecretKey" class="form-control" type="password" value="@Model.APISecretKey" autocomplete="off" />
        <span asp-validation-for="APISecretKey"></span>
        <span class="hint">@T["The API secret defined in the Keys and tokens tab of twitter app dashboard."]</span>
    </div>
</div>

<div class="mb-3 row" asp-validation-class-for="AccessToken">
    <div class="col-large">
        <label asp-for="AccessToken">@T["Access Token"]</label>
        <input asp-for="AccessToken" class="form-control" autocomplete="off" />
        <span asp-validation-for="AccessToken"></span>
        <span class="hint">@T["The Access Token defined in the Keys and tokens tab of twitter app dashboard."]</span>
    </div>
</div>

<div class="mb-3 row" asp-validation-class-for="AccessTokenSecret">
    <div class="col-large">
        <label asp-for="AccessTokenSecret">@T["Access Token Secret"]</label>
        <input asp-for="AccessTokenSecret" class="form-control" type="password" value="@Model.AccessTokenSecret" autocomplete="off" />
        <span asp-validation-for="AccessTokenSecret"></span>
        <span class="hint">@T["The Access Token Secret in the Keys and tokens tab of twitter app dashboard."]</span>
    </div>
</div>
