@using OrchardCore.Sms.ViewModels

@model SmsSettingsViewModel

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="DefaultProvider">
    <label asp-for="DefaultProvider" class="@Orchard.GetLabelClasses()">@T["Default SMS provider"]</label>
    <div class="@Orchard.GetEndClasses()">
        <select asp-for="DefaultProvider" class="form-select" asp-items="Model.Providers">
            <option value="">@T["Select a provider"]</option>
        </select>
        <span asp-validation-for="DefaultProvider"></span>
    </div>
</div>
