@model MediaDeploymentStepViewModel

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <h5>@T["Media"]</h5>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="IncludeAll">
    <div class="ocat-end-offset">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IncludeAll"
                       data-reverseToggle=".media-sel" />
                @T["Include all media."]
            </label>
        </div>
    </div>
</div>

<div class="media-sel @(Model.IncludeAll ? "collapse" : "show")">
    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <span class="hint">@T["The media to add as part of the plan."]</span>
        </div>
    </div>
    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <partial name="../Shared/MediaStoreEntries.cshtml" model="@Model" />
        </div>
    </div>
</div>

<script asp-src="~/OrchardCore.Media/Scripts/media-editors/media-deployment-step.min.js" debug-src="~/OrchardCore.Media/Scripts/media-editors/media-deployment-step.js" at="Foot" type="module"></script>
