@using OrchardCore.Mvc.Utilities
@using OrchardCore.Workflows.Services
@using OrchardCore.Workflows.Helpers

@{
    IList<IActivity> allActivities = Model.Activities;
}
<div class="workflows-activity-toolbox">
    <fieldset class="workflows-activity-toolbox-filter">
        <input id="search-box" class="form-control" type="text" autocomplete="off" placeholder="@T["Filter:"]" />
    </fieldset>
    <!-- List of available activities -->
    <ul class="list-group">
        @foreach (var activity in allActivities)
        {
            <li class="activity-toolbox-item activity-toolbox-item-@(activity.IsEvent() ? "event" : "activity") activity-toolbox-item-@activity.Name.HtmlClassify() list-group-item list-group-item-action" data-activity-name="@activity.Name" title="@activity.Description">
                <div>
                    <h2>@activity.Name.CamelFriendly()</h2>
                    <span class="hint">@activity.Description</span>
                </div>
            </li>
        }
    </ul>
</div>