@using OrchardCore.Workflows.UserTasks.ViewModels
@model UserTaskEventContentViewModel
@{
    var actions = Model.Actions;
}
@if (actions.Count <= 2)
{
    @foreach (var action in actions)
    {
        <div class="btn-group" role="group">
            <button class="btn btn-warning" type="submit" name="submit.Save" value="user-task.@action">@T[action] @T["and Save"]</button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-reference="parent" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="visually-hidden">@T["Toggle Dropdown"]</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="userActionsButtonGroup">
                <button type="submit" name="submit.Publish" class="dropdown-item" value="user-task.@action">@T[Html.Encode(action)] @T["and Publish"]</button>
            </div>
        </div>
    }
}
else
{
    <div class="btn-group" role="group">
        <button id="userActionsButtonGroup" type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @T["User Actions"]
        </button>
        <div class="dropdown-menu" aria-labelledby="userActionsButtonGroup">
            @foreach (var action in actions)
            {
                <button type="submit" name="submit.Save" class="dropdown-item" value="user-task.@action">@T[Html.Encode(action)] @T["and Save"]</button>
                <button type="submit" name="submit.Publish" class="dropdown-item" value="user-task.@action">@T[Html.Encode(action)] @T["and Publish"]</button>
            }
        </div>
    </div>
}
