@using OrchardCore
@model LinkMenuItemPartEditViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Name" class="@Orchard.GetLabelClasses()">@T["Name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="Name" class="form-control" autofocus />
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="Url" class="@Orchard.GetLabelClasses()">@T["Url"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="Url" class="form-control" />
    </div>
</div>
