@using OrchardCore
@model LinkMenuItemPartEditViewModel

<div class="@Orchard.GetWrapperCssClasses()">
    <label asp-for="Name" class="@Orchard.GetLabelCssClasses()">@T["Name"]</label>
    <div class="@Orchard.GetEndCssClasses()">
        <input asp-for="Name" class="form-control" autofocus />
    </div>
</div>

<div class="@Orchard.GetWrapperCssClasses()">
    <label asp-for="Url" class="@Orchard.GetLabelCssClasses()">@T["Url"]</label>
    <div class="@Orchard.GetEndCssClasses()">
        <input asp-for="Url" class="form-control" />
    </div>
</div>
