{% zone "Header" %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="masthead" style="background-image: url('{{ "~/TheBlogTheme/img/post-bg.jpg" | href }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ Model.ContentItem.DisplayText }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endzone %}

<form action="{{ "~/OrchardCore.Lucene/Search/Index?id=" | append: Model.IndexName | href }}" method="get">
    <div class="input-group mb-3 mt-5">
        <input name="q" type="text" class="form-control form-control-lg" value="{{ Model.Query }}" placeholder="{{ "Enter your search term(s)" | t }}" autofocus />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary btn-sm">{{ "Search" | t }}</button>
        </div>
    </div>
</form>

{% if Model.ContentItems != null and Model.ContentItems.size > 0 %}
    <ul class="list-group">
        {% for item in Model.ContentItems %}
            <li class="list-group-item">
                {{ item | shape_build_display: "Summary" | shape_render }}
            </li>
        {% endfor %}
    </ul>
{% elsif Model.Query != null %}
    <p class="alert alert-warning">{{"There are no such results." | t }}</p>
{% endif %}

{{ Model.Pager | shape_render }}
