@model SearchIndexViewModel
@inject IContentItemDisplayManager DisplayManager

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<zone name="Header">
    <header class="masthead" style="background-image: url('/TheBlogTheme/img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>@T["Search"]</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
</zone>

<form action="@Url.Action("Index", "Search", new { area = "OrchardCore.Lucene", id = Model.IndexName })" method="get">
    <div class="input-group mb-3 mt-5">
        <input name="q" type="text" class="form-control form-control-lg" value="@Model.Query" autofocus />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary btn-sm">@T["Search"]</button>
        </div>
    </div>
</form>


@if (Model.ContentItems.Any())
{
    <ul class="list-group">
        @foreach (var contentItem in Model.ContentItems)
        {
            <li class="list-group-item">
                @await DisplayAsync(await DisplayManager.BuildDisplayAsync(contentItem, null, "Summary"))
            </li>
        }
    </ul>
}
else
{
    <p class="alert alert-warning">@T["There are no such results."]</p>
}

@{
    var pager = (await New.Pager(Model.Pager)).ShowNext(Model.HasMoreResults);
}

@await DisplayAsync(pager)
