@model OrchardCore.Users.ViewModels.RegisterViewModel

@{
    ViewLayout = "Layout__Login";
}

<h2>@T["Register"]</h2>
<form asp-controller="Registration" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal no-multisubmit">
    <h4>@T["Create a new account."]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-3 control-label">@T["Username"]</label>
        <div class="col-md-9">
            <input asp-for="UserName" class="form-control" autofocus />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-3 control-label">@T["Email"]</label>
        <div class="col-md-9">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-3 control-label">@T["Password"]</label>
        <div class="col-md-9">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-3 control-label">@T["Confirm password"]</label>
        <div class="col-md-9">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    @await RenderSectionAsync("AfterRegister", required: false)
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">@T["Register"]</button>
        </div>
    </div>
</form>
