@model ListNotificationOptions

@inject IDisplayManager<ListNotificationOptions> ContentOptionsDisplayManager
<div class="btn-group">
    <a class="btn btn-sm"
       asp-action="ReadAll" asp-controller="Admin" asp-area="OrchardCore.Notifications" asp-route-returnUrl="@FullRequestPath"
       data-url-af="RemoveUrl UnsafeUrl" data-title="@T["Delete"]" data-message="@T["Are you sure you to mark all notifications as read?"]"
       data-ok-text="@T["Ok"]" data-cancel-text="@T["Cancel"]">@T["Mark All As Read"]</a>

    <div class="dropdown" style="display: none" id="actions">
        <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="bulk-action-menu-button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @T["Actions"]
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bulk-action-menu-button">
            @{
                dynamic bulkActions = await ContentOptionsDisplayManager.BuildDisplayAsync(Model, null, "BulkActions");
                @await DisplayAsync(bulkActions.Content)
            }
        </ul>
    </div>
</div>
