@using Microsoft.AspNetCore.Mvc.Localization

@model ShapeViewModel<UserNotificationCollectionViewModel>
<li class="nav-item dropdown text-end">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        @if (Model.Value.TotalUnread > 0)
        {
            var notifications = T.Plural(Model.Value.TotalUnread, "notification", "notifications");
            LocalizedHtmlString title;
            if (Model.Value.TotalUnread > Model.Value.MaxVisibleNotifications)
            {
                title = T["You have more than {0} unread {1}", Model.Value.MaxVisibleNotifications, notifications];
            }
            else
            {
                title = T["You have {0} unread {1}", Model.Value.TotalUnread, notifications];
            }

            <i class="fa-solid fa-bell" aria-hidden="true" data-bs-toggle="tooltip" data-bs-original-title="@title"></i>
        }
        else
        {
            <i class="fa-regular fa-bell" aria-hidden="true" data-bs-toggle="tooltip" data-bs-original-title="@T["You have no unread notifications"]"></i>
        }
    </a>
    <div class="dropdown-menu dropdown-menu-end notification-navbar" style="max-width: 20rem;">
        @if (Model.Value.Notifications.Count > 0)
        {
            var maxCount = Math.Min(Model.Value.MaxVisibleNotifications, Model.Value.Notifications.Count);
            <div style="max-height: 30rem; overflow-y: auto;">
                @for (int i = 0; i < maxCount; i++)
                {
                    var notification = Model.Value.Notifications[i];

                    <div class="@(i == maxCount - 1 ? String.Empty : "border-bottom")">
                        @await DisplayAsync(notification)
                    </div>
                }
            </div>
            <div><hr class="dropdown-divider"></div>
        }
        <div><a class="dropdown-item fw-bold" asp-action="List" asp-controller="Admin" asp-area="OrchardCore.Notifications">@T["Notification Center"]</a></div>
    </div>
</li>

<script at="Foot" asp-name="notification-manager-initializes" depends-on="notification-manager">
    (function () {
        notificationManager.initializeContainer('@Url.Action("Read", "Api", new { area = "OrchardCore.Notifications" })')
    })();
</script>

<style at="Head">
    .notification-navbar .notification-is-unread {
        font-weight: 600 !important;
    }
</style>
