@using Microsoft.AspNetCore.Identity
@using OrchardCore.Entities
@using OrchardCore.Settings
@using OrchardCore.Users
@using OrchardCore.Users.Models
@inject ISiteService SiteService
@inject SignInManager<IUser> SignInManager

@{
    var allowChangeEmail = (await SiteService.GetSiteSettingsAsync()).As<ChangeEmailSettings>().AllowChangeEmail;
    var externalAuthenticationSchemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
}
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-user fa-fw" aria-hidden="true"></i> @User.Identity.Name<b class="caret"></b></a>
            <div class="dropdown-menu">
                @if (User.HasClaim("Permission", "AccessAdminPanel"))
                {
                    <a class="dropdown-item" asp-route-area="OrchardCore.Admin" asp-controller="Admin" asp-action="Index"><i class="fa fa-desktop fa-fw" aria-hidden="true"></i> @T["Dashboard"]</a>
                }
                @if (allowChangeEmail)
                {
                    <a class="dropdown-item" asp-route-area="OrchardCore.Users" asp-controller="ChangeEmail" asp-action="Index"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> @T["Change Email"]</a>
                }
                <a class="dropdown-item" asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="ChangePassword" asp-route-returnUrl="@FullRequestPath"><i class="fa fa-lock fa-fw" aria-hidden="true"></i> @T["Change Password"]</a>
                @if (externalAuthenticationSchemes.Count() > 0)
                {
                    <a class="dropdown-item" asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="ExternalLogins"><i class="fa fa-user-lock fa-fw" aria-hidden="true"></i> @T["External Logins"]</a>
                }
                <form asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="LogOff" method="post" class="no-multisubmit">
                    <button type="submit" class="btn btn-link navbar-btn dropdown-item"><i class="fa fa-sign-out-alt fa-fw" aria-hidden="true"></i> @T["Log off"]</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link" asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in-alt fa-fw" aria-hidden="true"></i> @T["Log in"]</a></li>
    }
</ul>