
@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Metadata
@using OrchardCore.Mvc.Utilities

@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager
@inject IContentDefinitionManager ContentDefinitionManager
@inject OrchardCore.DisplayManagement.ModelBinding.IUpdateModelAccessor ModelUpdaterAccessor

@{
    var termPartViewModel = (TermPartViewModel)Model.TermPartViewModel;

    var taxonomyItem = termPartViewModel.ContentItem;
    var updater = ModelUpdaterAccessor.ModelUpdater;

    <script asp-src="~/OrchardCore.Taxonomies/Scripts/ci-term-ordering.min.js" debug-src="~/OrchardCore.Taxonomies/Scripts/ci-term-ordering.js" asp-name="ci-term-ordering" at="Foot" depends-on="sortable, jQuery"></script>
}

<h1>@RenderTitleSegments(T["Order contained items for {0}", taxonomyItem.DisplayText])</h1>

<form asp-action="Edit" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" enctype="multipart/form-data">

    @Html.ValidationSummary()

    <ul class="list-group" id="ci-sortable">
        @foreach (var contentItem in termPartViewModel.ContentItems)
        {
            var contentItemSummary = (dynamic)await ContentItemDisplayManager.BuildDisplayAsync(contentItem, updater, "SummaryAdmin");
            contentItemSummary.Selectors.Add(await New.TaxonomyPart_Sortable());
            contentItemSummary.Selectors.Add(await New.TaxonomyPart_DraftVersionWarning(ContentItem: contentItem));
            <li class="list-group-item">
                @await DisplayAsync(contentItemSummary)
            </li>
        }
    </ul>

    @await DisplayAsync(termPartViewModel.Pager)

    <div id="ordering-url" class="d-none" data-url="@Url.Action("OrderCategorizedContentItemsPost", "Admin", new { area = "OrchardCore.Taxonomies" })" />
    <div id="taxonomy-id" class="d-none" data-id="@termPartViewModel.TaxonomyContentItemId" />
    <div id="term-id" class="d-none" data-id="@termPartViewModel.TermContentItemId" />
    <div id="pager-before" class="d-none" data-before="@Context.Request.Query["Before"]" />
    <div id="pager-after" class="d-none" data-after="@Context.Request.Query["After"]" />
    <div id="pager-pagesize" class="d-none" data-pagesize="@termPartViewModel.Pager.PageSize" />
    <div id="update-order-error-message" class="d-none" data-message="@T["There was an error when updating the order of the items."]" />

    <input type="hidden" name="TaxonomyContentItemId" value="@termPartViewModel.TaxonomyContentItemId" />
    <input type="hidden" name="TaxonomyItemId" value="@termPartViewModel.TermContentItemId" />

</form>