@model MarkdownBodyPartSettingsViewModel

<div class="mb-3">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="SanitizeHtml" checked="@Model.SanitizeHtml" />
        <label class="form-check-label" asp-for="SanitizeHtml">@T["Sanitize Html"]</label>
        <span class="hint dashed">
            @T["Whether the Html output from the Markdown is sanitized to prevent custom scripts."]
            <a class="seedoc" href="@(OrchardCore.Admin.Constants.DocsUrl)reference/core/Sanitizer" target="_blank">@T["See documentation"]</a>
        </span>
    </div>
</div>