@model MarkdownBodyPartViewModel
@using OrchardCore.ContentLocalization
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.Markdown.ViewModels
@using OrchardCore.Markdown.Settings
@using OrchardCore
@{
    var settings = Model.TypePartDefinition.GetSettings<MarkdownBodyPartSettings>();
    var culture = await Orchard.GetContentCultureAsync(Model.MarkdownBodyPart.ContentItem);
}

<div class="@Orchard.GetWrapperCssClasses()">
    <label asp-for="Markdown" class="@Orchard.GetLabelCssClasses()">@Model.TypePartDefinition.DisplayName()</label>
    <div class="@Orchard.GetEndCssClasses()">
        @await DisplayAsync(await New.ShortcodeModal())
        <textarea asp-for="Markdown" rows="5" class="form-control content-preview-text shortcode-modal-input" dir="@culture.GetLanguageDirection()"></textarea>
        <span class="hint">@T["The body of the content item, in Markdown format."]</span>
    </div>
</div>
