@model SitemapIndexNodeViewModel

<style asp-src="~/OrchardCore.Sitemaps/Styles/sitemaps.min.css" debug-src="~/OrchardCore.Sitemaps/Styles/sitemaps.css" at="Head" depends-on="admin"></style>
<script asp-src="~/OrchardCore.Sitemaps/Scripts/sitemaps.min.js" debug-src="~/OrchardCore.Sitemaps/Scripts/sitemaps.js" at="Foot" depends-on="admin"></script>

<h5>@T["Sitemap Index"]</h5>

<fieldset class="form-group" asp-validation-class-for="Description">
    <label asp-for="Description">@T["Description"]</label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description"></span>
    <span class="hint">@T["Description of the sitemap"]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Name">
    <label asp-for="Name">@T["Name"]</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>
    <span class="hint">@T["Filename the sitemap should be served as, e.g. sitemap-index.xml"]</span>
</fieldset>

