@model SitemapIndexViewModel

<h5>@T["Sitemap Index"]</h5>

<div class="form-group" asp-validation-class-for="Name">
    <label asp-for="Name">@T["Name"]</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>
    <span class="hint">@T["Name of the sitemap index"]</span>
</div>
<div class="form-group" asp-validation-class-for="Path">
    <label asp-for="Path">@T["Permalink"]</label>
    <div class="input-group">
        @if (!String.IsNullOrWhiteSpace(Site.BaseUrl))
        {
            <div class="input-group-prepend">
                <div class="input-group-text">@Site.BaseUrl</div>
            </div>
        }
        <input asp-for="Path" class="form-control" />
        <span asp-validation-for="Path"></span>
    </div>
    <span class="hint">@T["The url of the sitemap. Leave empty to auto-generate it."]</span>
</div>
<div class="form-group">
    <label asp-for="ContainableSitemaps">@T["Contained Sitemaps"]</label>
    <span class="hint">@T["The sitemaps this index contains."]</span>
    <div class="row">
        @for (int i = 0; i < Model.ContainableSitemaps.Length; i++)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <input hidden asp-for="@Model.ContainableSitemaps[i].Id" />
                <div class="custom-control custom-checkbox">
                    <input asp-for="@Model.ContainableSitemaps[i].IsChecked" class="custom-control-input" />
                    <label asp-for="@Model.ContainableSitemaps[i].IsChecked" class="custom-control-label">@Model.ContainableSitemaps[i].Name</label>
                </div>
            </div>
        }
    </div>
</div>

