@using OrchardCore.Media.Core.Processing
@model MediaProfileViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Create Media Profile"])</h1></zone>

<div asp-validation-summary="All"></div>
<form asp-action="Create" method="post" class="no-multisubmit">
    <div class="ocat-wrapper form-g" asp-validation-class-for="Name">
        <label asp-for="Name" class="ocat-label">@T["Name"]</label>
        <div class="ocat-end w-100">
            <div class="w-100 w-lg-75 w-xl-50">
                <input asp-for="Name" class="form-control" autofocus />
                <span asp-validation-for="Name"></span>
            </div>
            <span class="hint">@T["The name of the media profile."]</span>
        </div>
    </div>

    <div class="ocat-wrapper form-g" asp-validation-class-for="Hint">
        <label asp-for="Hint" class="ocat-label">@T["Hint"]</label>
        <div class="ocat-end w-100">
            <div class="w-100 w-lg-75 w-xl-50">
                <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Hint"></span>
            </div>
            <span class="hint">@T["The hint for the media profile."]</span>
        </div>
    </div>

    <div class="ocat-wrapper form-g" asp-validation-class-for="SelectedWidth">
        <label asp-for="SelectedWidth" class="ocat-label">@T["Width"]</label>
        <div class="ocat-end w-100">
            <div class="w-100 w-lg-75 w-xl-50">
                <select asp-for="SelectedWidth" asp-items="@Model.AvailableWidths" class="form-select content-preview-select" asp-validation-class-for="SelectedWidth"></select>
                <span asp-validation-for="SelectedWidth"></span>
                <input type="number" asp-for="CustomWidth" class="form-control mt-3" style="@(Model.CustomWidth != 0 ? "" : "display: none;")" />
                <span asp-validation-for="CustomWidth"></span>
            </div>
            <span class="hint">@T["Select the width for the processed image. A default value means a width command will not be applied."]</span>
        </div>
    </div>

    <div class="ocat-wrapper form-g" asp-validation-class-for="SelectedHeight">
        <label asp-for="SelectedHeight" class="ocat-label">@T["Height"]</label>
        <div class="ocat-end w-100">
            <div class="w-100 w-lg-75 w-xl-50">
                <select asp-for="SelectedHeight" asp-items="@Model.AvailableHeights" class="form-select content-preview-select" asp-validation-class-for="SelectedHeight"></select>
                <span asp-validation-for="SelectedHeight"></span>
                <input type="number" asp-for="CustomHeight" class="form-control mt-3" style="@(Model.CustomHeight != 0 ? "" : "display: none;")" />
                <span asp-validation-for="CustomHeight"></span>
            </div>
            <span class="hint">@T["Select the height for the processed image. A default value means a height command will not be applied."]</span>
        </div>
    </div>

    <div class="ocat-wrapper form-g" asp-validation-class-for="SelectedMode">
        <label asp-for="SelectedMode" class="ocat-label">@T["Resize Mode"]</label>
        <div class="ocat-end w-100">
            <div class="w-100 w-lg-75 w-xl-50">
                <select asp-for="SelectedMode" asp-items="Model.AvailableResizeModes" class="form-select content-preview-select" asp-validation-class-for="SelectedMode" data-pad-value="@((int)ResizeMode.Pad)" data-box-pad-value="@((int)ResizeMode.BoxPad)"></select>
                <span asp-validation-for="SelectedMode"></span>
            </div>
            <span class="hint">@T["Select the resize mode for the processed image."]</span>
        </div>
    </div>

    <div class="ocat-wrapper form-g media-profile-background-color-wrapper" asp-validation-class-for="BackgroundColor" style="@(Model.SelectedMode == ResizeMode.Pad || Model.SelectedMode == ResizeMode.BoxPad ? "" : "display: none;")">
        <label asp-for="BackgroundColor" class="ocat-label">@T["Background Color"]</label>
        <div class="ocat-end w-100">
            <div class="w-100 w-lg-75 w-xl-50">
                <input type="text" asp-for="BackgroundColor" class="form-control" />
                <span asp-validation-for="BackgroundColor"></span>
            </div>
            <span class="hint">@T["Select the background color for the processed image. An empty value means a bgcolor command will not be applied. Examples of valid values: 'white', 'ffff00', 'ffff0080', '128,64,32' and '128,64,32,80'."]</span>
        </div>
    </div>

    <div class="ocat-wrapper form-g" asp-validation-class-for="SelectedFormat">
        <label asp-for="SelectedFormat" class="ocat-label">@T["Format"]</label>
        <div class="ocat-end w-100">
            <div class="w-100 w-lg-75 w-xl-50">
                <select asp-for="SelectedFormat" asp-items="Model.AvailableFormats" class="form-select content-preview-select" asp-validation-class-for="SelectedFormat"></select>
                <span asp-validation-for="SelectedFormat"></span>
            </div>
            <span class="hint">@T["Select the format for the processed image. A default value means a format command will not be applied."]</span>
        </div>
    </div>

    <div class="ocat-wrapper form-g" asp-validation-class-for="Quality">
        <label asp-for="Quality" class="ocat-label">@T["Quality"]</label>
        <div class="ocat-end w-100">
            <div class="w-100 w-lg-75 w-xl-50">
                <input asp-for="Quality" class="form-control" min="1" max="100" />
                <span asp-validation-for="Quality"></span>
            </div>
            <span class="hint">@T["The quality percentage for the processed image. Only supported with the JPG and WebP format. A value of 100% means a quality command will not be applied."]</span>
        </div>
    </div>

    <div class="ocat-wrapper form-g">
        <div class="ocat-end-offset">
            <div class="form-check">
              <input asp-for="AutoOrient" class="form-check-input" />
              <label asp-for="AutoOrient" class="form-check-label">@T["Auto Orient"]</label>
            </div>
            <span class="hint">@T["Automatically orient the image based on EXIF metadata. Enabled by default."]</span>
        </div>
    </div>

    <div class="ocat-wrapper form-g">
        <div class="ocat-end-offset">
            <div class="btn-group">
                <button type="submit" name="submit" class="btn btn-success save">@T["Save"]</button>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-reference="parent" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="visually-hidden">@T["Toggle Dropdown"]</span>
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item save-continue" name="submit" type="submit" value="SaveAndContinue">@T["and continue"]</button>
                </div>
            </div>

            <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
        </div>
    </div>
</form>

<script asp-src="~/OrchardCore.Media/Scripts/media-profile-editor/media-profile-editor.min.js" debug-src="~/OrchardCore.Media/Scripts/media-profile-editor/media-profile-editor.js" at="Foot" type="module"></script>
