@model MediaProfileViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Media Profile"])</h1></zone>
@* TODO Trigger preview. *@
<div asp-validation-summary="All"></div>
<form asp-action="Edit" method="post" class="no-multisubmit">
    <input type="hidden" value="@Model.Name" name="sourceName" />
    <div class="form-g mb-3" asp-validation-class-for="Name">
        <div class="w-100 w-md-50">
            <label asp-for="Name">@T["Name"]</label>
            <input asp-for="Name" class="form-control" autofocus />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="w-100">
            <span class="hint">@T["The name of the media profile."]</span>
        </div>
    </div>

    <div class="form-g mb-3" asp-validation-class-for="Hint">
        <div class="w-100 w-md-50">
            <label asp-for="Hint">@T["Hint"]</label>
            <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
            <span asp-validation-for="Hint"></span>
        </div>
        <div class="w-100">
            <span class="hint">@T["The hint for the media profile."]</span>
        </div>
    </div>

    <div class="form-g mb-3" asp-validation-class-for="SelectedWidth">
        <div class="w-100 w-md-50">
            <label asp-for="SelectedWidth">@T["Width"]</label>
            <select asp-for="SelectedWidth" asp-items="@Model.AvailableWidths" class="form-select content-preview-select" asp-validation-class-for="SelectedWidth"></select>
            <span asp-validation-for="SelectedWidth"></span>
            <input type="number" asp-for="CustomWidth" class="form-control mt-3" style="@(Model.CustomWidth != 0 ? "" : "display: none;")" />
            <span asp-validation-for="CustomWidth"></span>
        </div>
        <div class="w-100">
            <span class="hint">@T["Select the width for the processed image. A default value means a width command will not be applied."]</span>
        </div>
    </div>

    <div class="form-g mb-3" asp-validation-class-for="SelectedHeight">
        <div class="w-100 w-md-50">
            <label asp-for="SelectedHeight">@T["Height"]</label>
            <select asp-for="SelectedHeight" asp-items="@Model.AvailableHeights" class="form-select content-preview-select" asp-validation-class-for="SelectedHeight"></select>
            <span asp-validation-for="SelectedHeight"></span>
            <input type="number" asp-for="CustomHeight" class="form-control mt-3" style="@(Model.CustomHeight != 0 ? "" : "display: none;")" />
            <span asp-validation-for="CustomHeight"></span>
        </div>
        <div class="w-100">
            <span class="hint">@T["Select the height for the processed image. A default value means a height command will not be applied."]</span>
        </div>
    </div>

    <div class="form-g mb-3" asp-validation-class-for="SelectedMode">
        <div class="w-100 w-md-50">
            <label asp-for="SelectedMode">@T["Resize Mode"]</label>
            <select asp-for="SelectedMode" asp-items="Model.AvailableResizeModes" class="form-select content-preview-select" asp-validation-class-for="SelectedMode"></select>
            <span asp-validation-for="SelectedMode"></span>
        </div>
        <div class="w-100">
            <span class="hint">@T["Select the resize mode for the processed image."]</span>
        </div>
    </div>

    <div class="form-g mb-3" asp-validation-class-for="BackgroundColor" style="@(Model.SelectedMode == ResizeMode.Pad || Model.SelectedMode == ResizeMode.BoxPad ? "" : "display: none;")">
        <div class="w-100 w-md-50">
            <label asp-for="BackgroundColor">@T["Background Color"]</label>
            <input type="text" asp-for="BackgroundColor" class="form-control" />
            <span asp-validation-for="BackgroundColor"></span>
        </div>
        <div class="w-100">
            <span class="hint">@T["Select the background color for the processed image. An empty value means a bgcolor command will not be applied. Examples of valid values: 'white', 'ffff00', 'ffff0080', '128,64,32' and '128,64,32,16'."]</span>
        </div>
    </div>

    <div class="form-g mb-3" asp-validation-class-for="SelectedFormat">
        <div class="w-100 w-md-50">
            <label asp-for="SelectedFormat">@T["Format"]</label>
            <select asp-for="SelectedFormat" asp-items="Model.AvailableFormats" class="form-select content-preview-select" asp-validation-class-for="SelectedFormat"></select>
            <span asp-validation-for="SelectedFormat"></span>
        </div>
        <div class="w-100">
            <span class="hint">@T["Select the format for the processed image. A default value means a format command will not be applied."]</span>
        </div>
    </div>

    <div class="form-g mb-3" asp-validation-class-for="Quality">
        <div class="w-100 w-md-50">
            <label asp-for="Quality">@T["Quality"]</label>
            <input asp-for="Quality" class="form-control" min="1" max="100" />
            <span asp-validation-for="Quality"></span>
        </div>
        <div class="w-100">
            <span class="hint">@T["The quality percentage for the processed image. Only supported with the JPG or WebP format. A value of 100% means a quality command will not be applied."]</span>
        </div>
    </div>

    <div class="form-g mb-3">
        <div class="btn-group">
            <button type="submit" name="submit" class="btn btn-success save">@T["Save"]</button>
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-reference="parent" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="visually-hidden">@T["Toggle Dropdown"]</span>
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item save-continue" name="submit" type="submit" value="SaveAndContinue">@T["and continue"]</button>
            </div>
        </div>

        <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
    </div>
</form>

<script at="Foot">
    $(function () {
        $('#@Html.IdFor(x => x.SelectedMode)').on('change', function() {
            if ((this.value === '@((int)ResizeMode.Pad)') || (this.value === '@((int)ResizeMode.BoxPad)')) {
                $('#@Html.IdFor(x => x.BackgroundColor)').closest('.form-g').show();
            } else {
                $('#@Html.IdFor(x => x.BackgroundColor)').closest('.form-g').hide();
                $('#@Html.IdFor(x => x.BackgroundColor)').val('');
            }
        });
        $('#@Html.IdFor(x => x.SelectedWidth)').on('change', function() {
            if (this.value === "-1") {
                $('#@Html.IdFor(x => x.CustomWidth)').show();
            } else {
                $('#@Html.IdFor(x => x.CustomWidth)').hide();
                $('#@Html.IdFor(x => x.CustomWidth)').val(0);
            }
        });
        $('#@Html.IdFor(x => x.SelectedHeight)').on('change', function() {
            if (this.value === "-1") {
                $('#@Html.IdFor(x => x.CustomHeight)').show();
            } else {
                $('#@Html.IdFor(x => x.CustomHeight)').hide();
                $('#@Html.IdFor(x => x.CustomHeight)').val(0);
            }
        });
    });
</script>
