@model OrchardCore.Users.ViewModels.ChangePasswordViewModel

@{
    ViewLayout = "Layout__Login";
}

<form asp-controller="Account" asp-action="ChangePassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" class="no-multisubmit">
    <h4>@T["Change password"]</h4>
    <hr />
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="CurrentPassword" class="col-md-4 control-label">@T["Current password"]</label>
        <div class="col-md-8">
            <input asp-for="CurrentPassword" class="form-control" autofocus />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="col-md-4 control-label">@T["New password"]</label>
        <div class="col-md-8">
            <input asp-for="Password" class="form-control" />
            <div id="passwordStrength"></div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="PasswordConfirmation" class="col-md-4 control-label">@T["New password confirmation"]</label>
        <div class="col-md-8">
            <input asp-for="PasswordConfirmation" class="form-control" />
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-primary">@T["Change password"]</button>
        </div>
    </div>
</form>
