@model OrchardCore.Users.ViewModels.ChangePasswordViewModel

@{ 
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}

<form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-horizontal">
    <h4>@T["Change password"]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CurrentPassword" class="col-md-3 control-label">@T["Current password"]</label>
        <div class="col-md-9">
            <input asp-for="CurrentPassword" class="form-control" autofocus />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-3 control-label">@T["New password"]</label>
        <div class="col-md-9">
            <input asp-for="Password" class="form-control" />
            <div id="passwordStrength"></div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirmation" class="col-md-3 control-label">@T["New password confirmation"]</label>
        <div class="col-md-9">
            <input asp-for="PasswordConfirmation" class="form-control" />
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-default">@T["Change password"]</button>
        </div>
    </div>
</form>