@model OrchardCore.Users.ViewModels.LinkExternalLoginViewModel

@{
    ViewLayout = "Layout__Login";
}

<form asp-controller="Account" asp-action="LinkExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal no-multisubmit">
    <h4>@T["Link your account."]</h4>
    <p class="text-info">
        @T["You've successfully authenticated with <strong>{0}</strong>. You already have an account with this email address. Enter your local account password and click the Register button to link the accounts and finish logging in.", ViewData["LoginProvider"]]
    </p>
    <hr />
    <div asp-validation-summary="All"></div>

    <div class="mb-3">
        <label for="UserName" class="col-md-3 control-label">@T["Username"]</label>
        <div class="col-md-9">
            <input id="UserName" value="@ViewData["UserName"]" class="form-control" disabled />
        </div>
    </div>

    <div class="mb-3">
        <label for="Email" class="col-md-3 control-label">@T["Email"]</label>
        <div class="col-md-9">
            <input id="Email" value="@ViewData["Email"]" class="form-control" disabled />
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="col-md-3 control-label">@T["Password"]</label>
        <div class="col-md-9">
            <input asp-for="Password" class="form-control" autofocus />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">@T["Register"]</button>
        </div>
    </div>
</form>
