@model EditRemoteClientViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Remote Client"])</h1></zone>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Edit" method="post" class="no-multisubmit">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3" asp-validation-class-for="ClientName">
        <label asp-for="ClientName">@T["Client Name"]</label>
        <input asp-for="ClientName" class="form-control" />
        <span asp-validation-for="ClientName" class="text-danger"></span>
    </div>

    <div class="mb-3" asp-validation-class-for="ApiKey">
        <label asp-for="ApiKey">@T["Api Key"]</label>
        <input asp-for="ApiKey" type="password" class="form-control" value="@Model.ApiKey" />
        <span asp-validation-for="ApiKey" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary save" type="submit">@T["Save"]</button>
        <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
    </div>
</form>
