@model HtmlBodyPartViewModel

@{
    var settings = Model.TypePartDefinition.GetSettings<HtmlBodyPartSettings>();
    var trumbowygSettings = Model.TypePartDefinition.GetSettings<HtmlBodyPartTrumbowygEditorSettings>();
    var culture = await Orchard.GetContentCultureAsync(Model.ContentItem) ?? CultureInfo.CurrentUICulture;
}

<script asp-name="trumbowyg-plugins" version="2" at="Foot"></script>
<style asp-name="trumbowyg-plugins" version="2"></style>
<script asp-name="trumbowyg-shortcodes" at="Foot"></script>

@if (trumbowygSettings.InsertMediaWithUrl)
{
    <script asp-src="~/OrchardCore.Html/Scripts/trumbowyg.media.url.min.js" debug-src="~/OrchardCore.Html/Scripts/trumbowyg.media.url.js" depends-on="trumbowyg" at="Foot"></script>
}
else
{
    <script asp-src="~/OrchardCore.Html/Scripts/trumbowyg.media.tag.min.js" debug-src="~/OrchardCore.Html/Scripts/trumbowyg.media.tag.js" depends-on="trumbowyg" at="Foot"></script>
}

@await DisplayAsync(await New.ShortcodeModal())

<div class="ocat-wrapper html-body-part-trumbowyg-editor" data-language-code="@culture.TwoLetterISOLanguageName" data-is-rtl="@(culture.GetLanguageDirection() == LanguageDirection.RTL ? "true" : "false")" data-language-direction="@culture.GetLanguageDirection()" data-options="@trumbowygSettings.Options">
    <label asp-for="Html" class="ocat-label">@Model.TypePartDefinition.DisplayName()</label>
    <div class="ocat-end">
        @if (culture.IsRightToLeft())
        {
            <div style="text-align:right">
                <textarea asp-for="Html"></textarea>
            </div>
        }
        else
        {
            <textarea asp-for="Html"></textarea>
        }
        <span class="hint">@T["The body of the content item."]</span>
    </div>
</div>

<script asp-src="~/OrchardCore.Html/Scripts/html-body-part-editors/html-body-part-trumbowyg-editor.min.js" debug-src="~/OrchardCore.Html/Scripts/html-body-part-editors/html-body-part-trumbowyg-editor.js" at="Foot" type="module"></script>
