@model OrchardCore.Queries.Sql.ViewModels.AdminQueryViewModel
@using OrchardCore.ContentManagement
@using OrchardCore.Infrastructure
@inject IContentManager ContentManager

@{
  var matchAllQuery = OrchardCore.Queries.Sql.ViewModels.AdminQueryViewModel.MatchAllQueryBase64;

  string sqlmode = MediaTypeNamesExtended.Text.SQL;

  if (Model.FactoryName.Contains("Sqlite"))
  {
      sqlmode = MediaTypeNamesExtended.Text.SQLite;
  }
  else if (Model.FactoryName.Contains("Mysql"))
  {
      sqlmode = MediaTypeNamesExtended.Text.MySQL;
  }
  else if (Model.FactoryName.Contains("Npgsql"))
  {
      sqlmode = MediaTypeNamesExtended.Text.PostgreSQL;
  }
  else if (Model.FactoryName.Contains("Sql"))
  {
      sqlmode = MediaTypeNamesExtended.Text.SqlServer;
  }
}

<style asp-name="codemirror"></style>
<script asp-name="codemirror" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<script asp-name="codemirror-mode-sql" at="Foot"></script>

<zone Name="Title"><h1>@RenderTitleSegments(T["SQL Query"])</h1></zone>

<div asp-validation-summary="All"></div>

<form asp-action="Query" method="post" class="no-multisubmit">
    <div class="ocat-wrapper">
        <label asp-for="DecodedQuery" class="ocat-label">@T["Template"]</label>
        <div class="ocat-end">
            <textarea asp-for="DecodedQuery" rows="12" class="form-control codemirror-query-editor" data-mode="@MediaTypeNamesExtended.Text.PostgreSQL"></textarea>
            <span class="hint">@T["You can <a href=\"{0}\">click here</a> to query all content items.", Html.Raw(Url.Action("Query", "Admin", new { area = "OrchardCore.Queries", Query = matchAllQuery }))]</span>
            <span class="hint">@T["The SQL query uses standard SQL92 syntax and is converted based on the actual database. Tables will be prefixed automatically."]</span>
        </div>
    </div>

    <div class="ocat-wrapper">
        <label asp-for="Parameters" class="ocat-label">@T["Parameters"]</label>
        <div class="ocat-end">
            <textarea asp-for="Parameters" rows="1" class="form-control codemirror-query-editor" data-options='{"json":true}'></textarea>
            <span class="hint">@T["An optional Json object containing the parameter values for this query."]</span>
        </div>
    </div>

    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <button type="submit" class="btn btn-primary">@T["Query"]</button>
        </div>
    </div>
</form>
@if (Model.Elapsed != TimeSpan.Zero)
{
    <div class="ocat-wrapper">
        <label asp-for="RawSql" class="ocat-label">@T["Final SQL Query"]</label>
        <div class="ocat-end">
            <textarea asp-for="RawSql" rows="12" class="form-control codemirror-query-editor" data-mode="@sqlmode" data-options='{"readonly":true}'></textarea>
            <span class="hint">@T["The query as it will be executed by the SQL database."]</span>
        </div>
    </div>

    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <a href="@Url.Action("Create", "Admin", new { area = "OrchardCore.Queries", id = "Sql", query = Model.DecodedQuery })" class="btn btn-success">@T["Create"]</a>
        </div>
    </div>
}

@if (Model.Documents.Any())
{
    <span class="text-muted">@T["Query executed in {0} ms", Model.Elapsed.TotalMilliseconds]</span>

    var json = "[";

    var i = 0;
    @foreach (var document in Model.Documents)
    {
        json += Json.Serialize(document);
        if (i < Model.Documents.Count() - 1)
        {
            json += ",";
        }
        i++;
    }

    json += "]";

    <div class="form-control" style="min-height: 400px;">
        <div id="monaco_editor" style="min-height: 385px;" dir="@Orchard.CultureDir()"></div>
    </div>
    <textarea id="monaco_textarea" hidden>@json</textarea>
}

<style asp-name="monaco"></style>
<script asp-name="monaco" at="Foot"></script>
<script asp-src="~/OrchardCore.Queries/Scripts/queries-admin-query/queries-admin-query.min.js" debug-src="~/OrchardCore.Queries/Scripts/queries-admin-query/queries-admin-query.js" depends-on="monaco, admin" at="Foot" type="module"></script>
