@model AddTenantViewModel

<h1>@T["Add Tenant"]</h1>

<form asp-action="Add" method="post">
    <div class="row">
        <div class="form-group col-md-6" asp-validation-class-for="Name">
            <label asp-for="Name">@T["Name"]</label>
            <input asp-for="Name" class="form-control" autofocus />
            <span asp-validation-for="Name" class="text-danger"></span>
            <span class="hint">@T["The name of the tenant."]</span>
        </div>
    </div>
    <fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">@T["Add"]</button>
            <a class="btn btn-secondary" asp-route-action="Index">@T["Cancel"]</a>
        </div>
    </fieldset>
</form>
