@using OrchardCore.Tenants.Controllers

@model EditTenantViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Create Tenant"])</h1></zone>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Create" method="post" class="no-multisubmit">

    <div class="ocat-wrapper" asp-validation-class-for="Name">
        <label asp-for="Name" class="ocat-label">@T["Name"]</label>
        <div class="ocat-end">
            <input asp-for="Name" class="form-control" autofocus />
            <span asp-validation-for="Name" class="text-danger"></span>
            <span class="hint">@T["The name of the tenant."]</span>
        </div>
    </div>

    <partial name="_TenantInfo" model="Model" />
    <partial name="_TenantRecipes" model="Model" />
    <partial name="_TenantDatabaseInfo" model="Model" />
    <partial name="_TenantFeatureProfile" model="Model" />

    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <button class="btn btn-primary create" type="submit" name="action" value="create">@T["Create"]</button>
            <button class="btn btn-primary" type="submit" name="action" value="@AdminController.CreateAndSetupValue">@T["Create &amp; Setup"]</button>
            <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
        </div>
    </div>
</form>

<script at="Foot" asp-src="~/OrchardCore.Tenants/Scripts/tenant.js"></script>
