@model AdminIndexViewModel

@using Microsoft.Extensions.Options

@inject IOptions<TenantsOptions> TenantsOptions

@{
    int startIndex = (Model.Pager.Page - 1) * (Model.Pager.PageSize) + 1;
    int endIndex = startIndex + Model.ShellSettingsEntries.Count - 1;
}

<script asp-name="bootstrap-select" depends-on="admin" at="Foot"></script>

<zone Name="Title"><h1>@RenderTitleSegments(T["Tenants"])</h1></zone>

<form asp-action="Index" method="post" class="no-multisubmit">
    <input type="submit" name="submit.Filter" id="submitFilter" class="visually-hidden" />
    <input type="submit" name="submit.BulkAction" class="visually-hidden" />
    <input name="BulkAction" type="hidden" />

    <div class="card bg-primary mb-3 position-sticky action-bar">
        <div class="card-body">
            <div class="row gx-3">
                <div class="col">
                    <div class="has-search">
                        <i class="fa-solid fa-search form-control-feedback" aria-hidden="true"></i>
                        <input id="search-box" asp-for="Options.Search" class="form-control" placeholder="@T["Search"]" type="search" autofocus />
                    </div>
                </div>
                <div class="col-auto">
                    <a asp-route-action="Create" class="btn btn-secondary create" role="button">@T["Add Tenant"]</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group with-checkbox">
        <li class="list-group-item bg-primary">
            <div class="row gx-3">
                <div class="col text-nowrap">
                    <div class="form-check my-1">
                        <input type="checkbox" class="form-check-input" id="select-all">
                        <label class="form-check-label" for="select-all" id="select-all-label" title="@T["Select All"]"></label>
                        <label id="items" for="select-all">@T.Plural(Model.ShellSettingsEntries.Count, "1 item", "{0} items")<span class="text-muted" title="@T["Items {0} to {1}", startIndex, endIndex]">@T.Plural((int)Model.Pager.TotalItemCount, " / {0} item in total", " / {0} items in total")</span></label>
                        <label id="selected-items" class="text-muted" for="select-all"></label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="dropdown" style="display:none" id="actions">
                        <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="bulk-action-menu-button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @T["Actions"]
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bulk-action-menu-button">
                            @foreach (var item in Model.Options.TenantsBulkAction)
                            {
                                @if (item.Value == nameof(TenantsBulkAction.Remove) && !TenantsOptions.Value.TenantRemovalAllowed)
                                {
                                    continue;
                                }

                                <li><a class="dropdown-item" href="javascript:void(0)" data-action="@item.Value" data-title="@T["Bulk Action"]" data-message="@T["Are you sure you want to {0} these items?", @item.Text.ToLower()]">@item.Text</a></li>
                            }
                        </ul>
                    </div>

                    <div class="btn-group filter">
                        <select asp-for="Options.Category" asp-items="@Model.Options.TenantsCategories" class="selectpicker show-tick me-2" data-header="@T["Filter by category"]" data-width="fit" data-selected-text-format="static" data-dropdown-align-right="true" title="@T["Category"]" data-style="btn-sm"></select>
                        <select asp-for="Options.Status" asp-items="@Model.Options.TenantsStates" class="selectpicker show-tick me-2" data-header="@T["Filter by state"]" data-width="fit" data-selected-text-format="static" data-dropdown-align-right="true" title="@T["State"]" data-style="btn-sm"></select>
                        <select asp-for="Options.OrderBy" asp-items="@Model.Options.TenantsSorts" class="selectpicker show-tick" data-header="@T["Sort by"]" data-width="fit" data-selected-text-format="static" data-dropdown-align-right="true" title="@T["Sort"]" data-style="btn-sm"></select>
                    </div>
                </div>
            </div>
        </li>
        @if (Model.ShellSettingsEntries.Count > 0)
        {
            @foreach (var entry in Model.ShellSettingsEntries)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 title d-flex">
                            <div class="form-check float-start flex-shrink-0">
                                <input type="checkbox" class="form-check-input" value="@entry.Name" name="tenantNames" id="tenantNames-@entry.Name">
                                <label class="form-check-label" for="tenantNames-@entry.Name"></label>
                            </div>
                            <div class="d-inline">
                                @await DisplayAsync(await New.TenantActionTags(ShellSettingsEntry: entry))
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 float-end">
                            <div class="float-end">
                                @await DisplayAsync(await New.TenantActionButtons(ShellSettingsEntry: entry))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @if (!string.IsNullOrEmpty(entry.Description))
                            {
                                <p class="mb-0"><small class="text-muted">@entry.Description</small></p>
                            }
                            @if (!string.IsNullOrEmpty(entry.ShellSettings.RequestUrlHost))
                            {
                                <p class="mb-0"><code class="text-break" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@T["Url host"]">@entry.ShellSettings.RequestUrlHost</code></p>
                            }
                        </div>
                    </div>
                </li>
            }
        }
        else
        {
            <li class="list-group-item">
                <div class="alert alert-info mb-0">
                    @T["<strong>Nothing here!</strong> Your search returned no results."]
                </div>
            </li>
        }
    </ul>
</form>

@await DisplayAsync(Model.Pager)

<script at="Foot">
    $(function() {
        $('.selectpicker').selectpicker();
        var actions = $("#actions");
        var items = $("#items");
        var filters = $(".filter");
        var selectAllCtrl = $("#select-all");
        var selectedItems = $("#selected-items");
        var itemsCheckboxes = $(":checkbox[name='tenantNames']");
        $(".filter-options select, .filter-options input").on("change", function() {
            $("[name='submit.Filter']").click();
        });
        $('.selectpicker').on('changed.bs.select', function(e, clickedIndex, isSelected, previousValue) {
            $("[name='submit.Filter']").click();
        });

        $(".dropdown-menu .dropdown-item").filter(function () {
            return $(this).data("action");
        }).on("click", function() {
            if ($(":checkbox[name='tenantNames']:checked").length > 1) {
                var $this = $(this);
                confirmDialog({
                    title: $this.data('title'), message: $this.data('message'), callback: function (r) {
                        if (r) {
                            $("[name='BulkAction']").val($this.data("action"));
                            $("[name='submit.BulkAction']").click();
                        }
                    }
                });
            }
        });
        function displayActionsOrFilters() {
            if ($(":checkbox[name='tenantNames']:checked").length > 1) {
                actions.show();
                filters.hide();
                selectedItems.show();
                items.hide();
            }
            else {
                actions.hide();
                filters.show();
                selectedItems.hide();
                items.show();
            }
        }
        selectAllCtrl.click(function () {

            itemsCheckboxes.not(this).prop("checked", this.checked);
            selectedItems.text($(":checkbox[name='tenantNames']:checked").length + ' @T["selected"]');
            displayActionsOrFilters();
        });
        itemsCheckboxes.on("click", function() {
            var itemsCount = $(":checkbox[name='tenantNames']").length;
            var selectedItemsCount = $(":checkbox[name='tenantNames']:checked").length;
            selectAllCtrl.prop("checked", selectedItemsCount == itemsCount);
            selectAllCtrl.prop("indeterminate", selectedItemsCount > 0 && selectedItemsCount < itemsCount);
            selectedItems.text(selectedItemsCount + ' @T["selected"]');
            displayActionsOrFilters();
        });
    });
</script>
