@using Microsoft.Extensions.Options

@model OrchardCore.Seo.RobotsSettings

@inject IOptions<OrchardCore.Admin.AdminOptions> AdminOptions

<div class="ocat-wrapper" asp-validation-class-for="AllowAllAgents">
    <div class="ocat-end-offset">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="AllowAllAgents">
            <label class="form-check-label" asp-for="AllowAllAgents">@T["Add a rule to allow all web robots."]</label>
            <span class="hint dashed">@T["Adds: <code>{0}</code>", "User-agent: *"]</span>
        </div>
        <span asp-validation-for="AllowAllAgents"></span>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="DisallowAdmin">
    <div class="ocat-end-offset">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="DisallowAdmin">
            <label class="form-check-label" asp-for="DisallowAdmin">@T["Add a rule to disallow web robots to the admin routes."]</label>
            <span class="hint dashed">@T["Adds: <code>{0}</code>", $"Disallow: /{AdminOptions.Value.AdminUrlPrefix}"]</span>
        </div>
        <span asp-validation-for="DisallowAdmin"></span>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="AdditionalRules">
    <label asp-for="AdditionalRules" class="ocat-label">@T["Additional rules"]</label>
    <div class="ocat-end">
        <textarea asp-for="AdditionalRules" rows="10" class="form-control"></textarea>
        <div class="hint">@T["Optionally, you can include any additional rules."]</div>
    </div>
</div>
