@using OrchardCore
@model OrchardCore.Seo.ViewModels.SeoMetaPartOpenGraphViewModel

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="OpenGraphType">
    <label asp-for="OpenGraphType" class="@Orchard.GetLabelClasses()">@T["Open Graph Type"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="OpenGraphType" class="form-control content-preview-text shortcode-modal-input" />
        <span class="hint">@T["The Social Meta Settings Open Graph Type is used by default, or can be overridden here."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="OpenGraphTitle">
    <label asp-for="OpenGraphTitle" class="@Orchard.GetLabelClasses()">@T["Open Graph Title"]</label>
    <div class="@Orchard.GetEndClasses()">
        <input asp-for="OpenGraphTitle" class="form-control content-preview-text shortcode-modal-input" />
        <span class="hint">@T["The Title is used by default, then the Page Title, or can be overridden here."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="OpenGraphDescription">
    <label asp-for="OpenGraphDescription" class="@Orchard.GetLabelClasses()">@T["Open Graph Description"]</label>
    <div class="@Orchard.GetEndClasses()">
        <textarea asp-for="OpenGraphDescription" class="form-control content-preview-text shortcode-modal-input"></textarea>
        <span class="hint">@T["The Meta Description is used by default, or can be overridden here."]</span>
    </div>
</div>
