@model OrchardCore.Seo.ViewModels.SeoMetaPartViewModel

@await DisplayAsync(await New.ShortcodeModal())

<div class="mb-3">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="Render" checked="@Model.Render" />
        <label class="form-check-label" asp-for="Render">@T["Render"]</label>
        <span class="hint">— @T["Whether to render metadata for this page."]</span>   
    </div> 
</div>

<div class="mb-3" asp-validation-class-for="PageTitle">
    <label asp-for="PageTitle">@T["Page Title"] </label>
    <input asp-for="PageTitle" class="form-control content-preview-text shortcode-modal-input" />
    <span class="hint">@T["Override the default generated web browser page title (recommended to keep under 70 characters)."]</span>
</div>  

<div class="mb-3" asp-validation-class-for="MetaDescription">
    <label asp-for="MetaDescription">@T["Meta Description"] </label>
    <textarea asp-for="MetaDescription" class="form-control content-preview-text shortcode-modal-input"></textarea>
    <span class="hint">@T["The meta description to render for this page."]</span>
</div>

@if (Model.Settings.DisplayKeywords)
{ 
<div class="mb-3" asp-validation-class-for="MetaKeywords">
    <label asp-for="MetaKeywords">@T["Meta Keywords"] </label>
    <input asp-for="MetaKeywords" class="form-control content-preview-text shortcode-modal-input" />
    <span class="hint">@T["The meta keywords to render for this page, comma separated."]</span>
</div>
}

<div class="mb-3" asp-validation-class-for="Canonical">
    <label asp-for="Canonical">@T["Canonical"] </label>
    <input asp-for="Canonical" class="form-control content-preview-text" />
    <span class="hint">@T["Override the default canonical url."]</span>
</div>  

<div class="mb-3" asp-validation-class-for="MetaRobots">
    <label asp-for="MetaRobots">@T["Meta Robots"] </label>
    <input asp-for="MetaRobots" class="form-control content-preview-text shortcode-modal-input" />
    <span class="hint">@T["The robots meta to render for this page."]</span>
</div>

@if (Model.Settings.DisplayCustomMetaTags)
{
<script asp-src="~/OrchardCore.Seo/Scripts/customMetaTagsEditor.min.js" debug-src="~/OrchardCore.Seo/Scripts/customMetaTagsEditor.js" asp-name="customMetaTagsEditor" at="Foot" depends-on="vuejs, vuedraggable"></script>
<style asp-src="~/OrchardCore.Seo/Styles/customMetaTagsEditor.min.css" debug-src="~/OrchardCore.Seo/Styles/customMetaTagsEditor.css"></style>

<script at="Foot">
    initializeCustomMetaTagsEditor(document.getElementById('@Html.IdFor(m => m)'), @Html.Raw(Model.CustomMetaTags), document.getElementsByClassName('@Html.IdFor(m => m)-ModalBody'));
</script>

<script type="text/x-template" id="meta-tags-table">
    <table class="table table-bordered table-sm meta-tags-table">
        <thead class="thead-light">
            <tr>
                <th scope="col">@T["Content"]</th>
                <th scope="col">@T["Name"]</th>
                <th scope="col">@T["Property"]</th>
                <th scope="col">@T["Http Equiv"]</th>
                <th scope="col">@T["Charset"]</th>
            </tr>
        </thead>
        <draggable v-model="data.metaTags" :tag="'tbody'">
            <tr v-for="(metaTag, index) in data.metaTags" :key="index">
                <td>
                    <input type="text" class="form-control" v-model="metaTag.content" placeholder="content" />
                </td>
                <td>
                    <input type="text" class="form-control courier" v-model="metaTag.name" placeholder="name" />
                </td>
                <td>
                    <input type="text" class="form-control courier" v-model="metaTag.property" placeholder="property" />
                </td>
                <td>
                    <input type="text" class="form-control courier" v-model="metaTag.httpEquiv" placeholder="http-equiv" />
                </td>
                <td>
                    <input type="text" class="form-control courier" v-model="metaTag.charset" placeholder="charset" />
                </td>                    
                <td class="text-center">
                    <a v-on:click="remove(index)" href="javascript:void(0)" title="@T["Remove element from list"]" class="btn">
                        <i class="fas fa-times" aria-hidden="true"></i>
                    </a>
                </td>
                <td class="text-center"><div class="btn cursor-move"><i class="fas fa-arrows-alt" aria-hidden="true"></i></div></td>
            </tr>
        </draggable>
        <tfoot>
            <tr>
                <td class="col-sm-12 text-center" colspan="7">
                    <a v-on:click="add()" class="btn btn-light w-100 btn-sm"><i class="fas fa-plus small" aria-hidden="true"></i> @T["Add a custom meta tag"]</a>
                    <input class="form-control content-preview-text" id="@Html.IdFor(m => m.CustomMetaTags)" name="@Html.NameFor(m => m.CustomMetaTags)" type="hidden" v-bind:value="getMetaTagsFormattedList()" />
                </td>
            </tr>
        </tfoot>
    </table>
</script>

<script type="text/x-template" id="meta-tags-modal">
    <div class="modal fade @Html.IdFor(m => m)-ModalBody text-start" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@T["Edit Data"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="meta-tags-textarea">@T["Custom Meta Tags"]</label>
                        <textarea id="meta-tags-textarea" name="meta-tags-textarea" rows="8" class="form-control" v-bind:value="JSON.stringify(data.metaTags)" v-on:input="data.metaTags = JSON.parse($event.target.value)"></textarea>
                        <span class="hint">@T["A JSON representation of the allowed values, e.g. {0}", "[ { content: 'First content', name: 'name1', property: 'prop1', httpEquiv: 'http-equiv1', charset: 'charset1' }, { content: 'Second content', name: 'name2', property: 'prop2', httpEquiv: 'http-equiv2', charset: 'charset2' } ]"]</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-submit" v-on:click="closeModal()">@T["OK"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@T["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>
</script>

<div id="@Html.IdFor(m => m)" class="mb-3">
    <label asp-for="CustomMetaTags">@T["Custom Meta Tags"]</label>
    <a href="javascript:void(0)" v-on:click="showModal" class="float-end" title="@T["Edit Data"]"><i class="fas fa-edit" aria-hidden="true"></i></a>
    <meta-tags-table :data="sharedState"></meta-tags-table>
    <meta-tags-modal :data="sharedState" v-on:reload-data="reloadData()"></meta-tags-modal>
</div>
}
