@using Orchard.Mvc.Utilities
@using Orchard.Workflows.Models
@using Orchard.Workflows.Services

@{
    IList<IActivity> allActivities = Model.AllActivities;
}
<fieldset class="bulk-actions">
    <label for="search-box">@T["Filter:"]</label>
    <input id="search-box" class="text" type="text" autocomplete="off" />
</fieldset>
<!-- List of available activities -->
<ul>
    @foreach (var activity in allActivities) {
        <li class="activity-toolbox-item toolbox-@(activity.IsEvent ? "event" : "task") toolbox-@activity.Name.HtmlClassify()" data-activity-name="@activity.Name" title="@activity.Description">
            <div>
                <h2>@activity.Name.CamelFriendly()</h2>
                <span class="hint">@activity.Description</span>
            </div>
        </li>
    }   
</ul> 