@using Orchard.ContentManagement.MetaData.Models;
@using Orchard.ContentManagement.Metadata.Settings;

@{
    ContentTypePartDefinition contentTypePartDefinition = Model.ContentPart;
    var contentPartSettings = contentTypePartDefinition.PartDefinition.Settings.ToObject<ContentPartSettings>();
    var description = contentTypePartDefinition.Description();
}

<h3 data-toggle="collapse" data-target="#collapseExample-@contentTypePartDefinition.PartDefinition.Name">@contentTypePartDefinition.DisplayName()
    @if (!String.IsNullOrEmpty(description))
    {
        <span class="hint">@T["— {0}", description]</span>
    }
</h3>

<div>
    @Display(Model.Content)

    @if (contentPartSettings.Attachable)
    {
        <fieldset class="form-group">
            <a asp-route-action="RemovePartFrom" asp-route-id="@contentTypePartDefinition.ContentTypeDefinition.Name" asp-route-name="@contentTypePartDefinition.Name" class="btn btn-warning btn-sm" itemprop="RemoveUrl UnsafeUrl">@T["Remove"]</a>
        </fieldset>
    }
</div>


