@model Orchard.ContentTypes.ViewModels.ContentPartDefinitionViewModel

@using Orchard.ContentManagement.MetaData.Models;
@using Orchard.Utility;

@{
    ContentPartDefinition contentPartDefinition = Model.ContentPartDefinition;
}

<h1>@RenderTitleSegments(T["Edit Content Part - {0}", contentPartDefinition.Name.TrimEnd("Part")])</h1>


<form asp-action="EditPart">
    @Html.ValidationSummary()

    @Display(Model.PartSettings)

    @if (Model.PartFieldSettings.Any())
    {
        <fieldset class="form-group">
            <h2>@T["Fields"]</h2>

            @{
                foreach (var field in Model.PartFieldSettings)
                {
                    @Display(field)
                }
            }

        </fieldset>
    }

    <fieldset class="form-group">
        <a asp-route-action="AddFieldTo" asp-route-id="@contentPartDefinition.Name" class="btn btn-info" role="button">@T["Add Field"]</a>
        <button class="btn btn-primary" type="submit" name="submit.Save" value="Save">@T["Save"]</button>
        <button class="btn btn-danger" type="submit" name="submit.Delete" value="Delete" itemprop="RemoveUrl">@T["Delete"]</button>
    </fieldset>
</form>