@using Orchard.ContentManagement.MetaData.Models;
@using Orchard.ContentManagement.Metadata.Settings;
@using Orchard.Utility;

@{
    ContentPartFieldDefinition contentPartFieldDefinition = Model.ContentField;
}


<fieldset class="form-group">
<h3>@contentPartFieldDefinition.DisplayName</h3>

@Display(Model.Content)

</fieldset>

<fieldset class="form-group">
    <a asp-route-action="RemoveFieldFrom" asp-route-id="@contentPartFieldDefinition.PartDefinition.Name" asp-route-name="@contentPartFieldDefinition.FieldDefinition.Name" class="btn btn-warning btn-sm" itemprop="RemoveUrl UnsafeUrl">@T["Remove"]</a>
</fieldset>
