@model Orchard.ContentTypes.ViewModels.ContentTypeDefinitionViewModel

@using Orchard.ContentManagement.MetaData.Models;

@{
    ContentTypeDefinition contentTypeDefinition = Model.ContentTypeDefinition;
}

<h1>@RenderTitleSegments(T["Edit Content Type - {0}", contentTypeDefinition.DisplayName])</h1>


<form asp-action="Edit">
    @Html.ValidationSummary()

    @Display(Model.TypeSettings)

    <fieldset class="form-group">
        <h2>@T["Fields"]</h2>

        <ul class="list-group">
            @foreach (var field in Model.TypeFieldSettings)
            {
                @Display(field)
            }
        </ul>

        <a asp-route-action="AddFieldTo" asp-route-id="@contentTypeDefinition.Name" class="btn btn-info btn-sm" role="button">@T["Add Field"]</a>
    </fieldset>

    <fieldset class="form-group">
        <h2>@T["Parts"]</h2>

        <ul class="list-group">
            @foreach (var part in Model.TypePartSettings)
            {
                <li class="list-group-item">
                    @Display(part)
                </li>
            }
        </ul>
    </fieldset>

    <fieldset class="form-group">
        <a asp-route-action="AddPartsTo" asp-route-id="@contentTypeDefinition.Name" class="btn btn-info btn-sm" role="button">@T["Add Parts"]</a>
    </fieldset>

    <fieldset class="form-group">
        <a asp-route-action="AddReusablePartTo" asp-route-id="@contentTypeDefinition.Name" class="btn btn-info btn-sm" role="button">@T["Add Reusable Part"]</a>
    </fieldset>

    <fieldset class="form-group">
        <button class="btn btn-primary" type="submit" name="submit.Save" value="Save">@T["Save"]</button>
        <button class="btn btn-danger" type="submit" name="submit.Delete" value="Delete" itemprop="RemoveUrl">@T["Delete"]</button>
    </fieldset>
</form>
