@model EditSourceViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Sitemap Source"])</h1></zone>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Edit" method="post">
    @await DisplayAsync(Model.Editor.Content)

    <input type="hidden" asp-for="SitemapId" />
    <input type="hidden" asp-for="SitemapSourceId" />

    <fieldset>
        <div class="form-group">
            <button class="btn btn-primary save" type="submit">@T["Save"]</button>

            <a class="btn btn-danger delete"
               role="button"
               asp-action="Delete"
               asp-controller="Source"
               asp-route-sitemapId="@Model.SitemapId"
               asp-route-sourceId="@Model.SitemapSourceId"
               itemprop="RemoveUrl UnsafeUrl">@T["Delete"]</a>

            <a class="btn btn-secondary cancel"
               role="button"
               asp-route-action="Display"
               asp-route-controller="Admin"
               asp-route-sitemapId="@Model.SitemapId">@T["Cancel"]</a>

        </div>
    </fieldset>
</form>
