@model OrchardCore.Media.Azure.ViewModels.OptionsViewModel
<h1>@RenderTitleSegments(T["Azure Blob storage options"])</h1>

<p class="alert alert-secondary">
    @T["Azure Blob storage is configured with appsettings.json."]
    <a class="seedoc" href="@(OrchardCore.Admin.Constants.DocsUrl)reference/modules/Media.Azure/#configuration" target="_blank">@T["See documentation"]</a>
</p>

<div class="mb-3 row">
    <label asp-for="ConnectionString" class="col-sm-2 col-form-label">@T["Connection String"]</label>
    <div class="col-sm-10">
        <code>
            @if (!String.IsNullOrEmpty(Model.ConnectionString))
            {
                @T["Configured"]
            }
            else
            {
                @T["Not Configured"]
            }
            </code>
        </div>
    </div>

    <div class="mb-3 row">
        <label asp-for="ContainerName" class="col-sm-2 col-form-label">@T["Container Name"]</label>
        <div class="col-sm-10">
            <code><input type="text" class="form-control-plaintext" value="@Model.ContainerName" readonly /></code>
        </div>
    </div>

    <div class="mb-3 row">
        <label asp-for="BasePath" class="col-sm-2 col-form-label">@T["Base Path"]</label>
        <div class="col-sm-10">
            <code><input type="text" class="form-control-plaintext" value="@Model.BasePath" readonly /></code>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="CreateContainer" checked="@Model.CreateContainer" disabled />
            <label class="form-check-label" asp-for="CreateContainer">@T["Create Container"]</label>
            <span class="hint">@T["Whether a blob container is created on startup if it does not exist."]</span>
        </div>
    </div>
