@model FeatureProfileViewModel
<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Feature Profile"])</h1></zone>

<div asp-validation-summary="All"></div>
<form asp-action="Edit" method="post" class="no-multisubmit">

    @Html.EditorForModel()

    <div class="form-group">
        <div class="btn-group">
            <button type="submit" name="submit" class="btn btn-primary save">@T["Save"]</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-reference="parent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">@T["Toggle Dropdown"]</span>
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item save-continue" name="submit" type="submit" value="SaveAndContinue">@T["and continue"]</button>
            </div>
        </div>

        <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
    </div>
</form>
