@model OrchardCore.Users.Models.LoginSettings

<style asp-name="codemirror"></style>
<script asp-name="codemirror" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<script asp-name="codemirror-addon-display-autorefresh" at="Foot"></script>
<script asp-name="codemirror-addon-mode-simple" at="Foot"></script>
<script asp-name="codemirror-addon-mode-multiplex" at="Foot"></script>
<script asp-name="codemirror-mode-xml" at="Foot"></script>

<div class="mb-3">
    <div class="form-check">
        <input asp-for="AllowChangingUsername" type="checkbox" class="form-check-input">
        <label class="form-check-label" asp-for="AllowChangingUsername">@T["Allow user to change their username"]</label>
    </div>
</div>

<div class="mb-3">
    <div class="form-check">
        <input asp-for="AllowChangingEmail" type="checkbox" class="form-check-input">
        <label class="form-check-label" asp-for="AllowChangingEmail">@T["Allow user to change their email address"]</label>
    </div>
</div>

<div class="mb-3">
    <div class="form-check">
        <input asp-for="AllowChangingPhoneNumber" type="checkbox" class="form-check-input">
        <label class="form-check-label" asp-for="AllowChangingPhoneNumber">@T["Allow user to change their phone number"]</label>
    </div>
</div>

<div class="mb-3" asp-validation-class-for="UseSiteTheme">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="UseSiteTheme" />
        <span asp-validation-for="UseSiteTheme"></span>
        <label class="form-check-label" asp-for="UseSiteTheme">@T["Use site theme for login page"]</label>
        <span class="hint dashed">@T["Requires an active site theme."]</span>
    </div>
</div>

<div class="mb-3" asp-validation-class-for="DisableLocalLogin">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="DisableLocalLogin" />
        <span asp-validation-for="DisableLocalLogin"></span>
        <label class="form-check-label" asp-for="DisableLocalLogin">@T["Disable local password login."]</label>
        <span class="hint dashed">@T["When selected, users are not allowed to login with username/password. Make sure there is at least one admin with linked account"]</span>
    </div>
</div>
