@model OrchardCore.Users.Models.LoginSettings

<fieldset class="form-group" asp-validation-class-for="UseSiteTheme">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="UseSiteTheme" />
        <span asp-validation-for="UseSiteTheme"></span>
        <label class="custom-control-label" asp-for="UseSiteTheme">@T["Use site theme for login page"]</label>
        <span class="hint">— @T["Requires an active site theme."]</span>
    </div>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UseExternalProviderIfOnlyOneDefined">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="UseExternalProviderIfOnlyOneDefined" />
        <span asp-validation-for="UseExternalProviderIfOnlyOneDefined"></span>
        <label class="custom-control-label" asp-for="UseExternalProviderIfOnlyOneDefined">@T["Use external provider for login."]</label>
        <span class="hint">— @T["Requires only one defined external provider. You should set optional registration options"]</span>
    </div>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="DisableLocalLogin">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="DisableLocalLogin" />
        <span asp-validation-for="DisableLocalLogin"></span>
        <label class="custom-control-label" asp-for="DisableLocalLogin">@T["Disable local password login."]</label>
        <span class="hint">— @T["Make sure there is at least one admin with linked account"]</span>
    </div>
</fieldset>