@model OrchardCore.Users.Models.LoginSettings

<div class="mb-3 two-fa-settings@(Model.EnableTwoFactorAuthentication ? " show": String.Empty)" asp-validation-class-for="AllowRememberClientTwoFactorAuthentication">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="AllowRememberClientTwoFactorAuthentication" />
        <span asp-validation-for="AllowRememberClientTwoFactorAuthentication"></span>
        <label class="form-check-label" asp-for="AllowRememberClientTwoFactorAuthentication">@T["Allow users to remember client."]</label>
        <span class="hint dashed">@T["When selected, users may use Remember Client during login to avoid having to provide a token every time."]</span>
    </div>
</div>

<div class="mb-3 two-fa-settings@(Model.EnableTwoFactorAuthentication ? " show": String.Empty)" asp-validation-class-for="UseEmailAsAuthenticatorDisplayName">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="UseEmailAsAuthenticatorDisplayName" />
        <span asp-validation-for="UseEmailAsAuthenticatorDisplayName"></span>
        <label class="form-check-label" asp-for="UseEmailAsAuthenticatorDisplayName">@T["Show email address in the authenticator app."]</label>
        <span class="hint dashed">@T["When selected, the users will see their email address in the authenticatior app. Otherwise, the username will be displayed."]</span>
    </div>
</div>

<div class="mb-3 two-fa-settings@(Model.EnableTwoFactorAuthentication ? " show": String.Empty)" asp-validation-class-for="RequireTwoFactorAuthentication">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="RequireTwoFactorAuthentication" />
        <span asp-validation-for="RequireTwoFactorAuthentication"></span>
        <label class="form-check-label" asp-for="RequireTwoFactorAuthentication">@T["Require Two Factor Authentication."]</label>
        <span class="hint dashed">@T["When selected, any user with Enabled Two Factor Authentication will be required to use it."]</span>
    </div>
</div>

<div class="mb-3 two-fa-settings@(Model.EnableTwoFactorAuthentication ? " show": String.Empty)" asp-validation-class-for="TokenLength">
    <label class="form-check-label" asp-for="TokenLength">@T["Token Length."]</label>
    <select asp-for="TokenLength" class="form-select">
        <option value="6">@T["Six Digits"]</option>
        <option value="8">@T["Eight Digits"]</option>
    </select>
    <span asp-validation-for="TokenLength"></span>
    <span class="hint dashed">@T["The length token length that the authenticator app should generate. Default is 6."]</span>
</div>

<div class="mb-3 two-fa-settings@(Model.EnableTwoFactorAuthentication ? " show": String.Empty)" asp-validation-class-for="NumberOfRecoveryCodesToGenerate">
    <span asp-validation-for="NumberOfRecoveryCodesToGenerate"></span>
    <label class="form-check-label" asp-for="NumberOfRecoveryCodesToGenerate">@T["Number of recovery codes to generate."]</label>
    <input type="number" class="form-control" min="1" asp-for="NumberOfRecoveryCodesToGenerate" />
    <span class="hint dashed">@T["The number of recovery codes to generate. Default is 10."]</span>
</div>
