@using OrchardCore.Users.Models;
@model RegistrationSettings

<fieldset class="form-group" asp-validation-class-for="UsersCanRegister">
    <label asp-for="UsersCanRegister">@T["Users can create new accounts on the site"]</label>
    <select asp-for="UsersCanRegister" class="form-control">
        @foreach (RegistrationSettings.UsersCanRegisterEnum option in Enum.GetValues(typeof(RegistrationSettings.UsersCanRegisterEnum)))
        {
            <option value="@option" selected="@(Model.UsersCanRegister == option)">@T[option.ToString()]</option>
        }
    </select>
    <span asp-validation-for="UsersCanRegister"></span>

    <div class="hint">
        <span>@T["Configure users registration."]</span>        
        <ul>
            <li>@T["when NoRegistration is selected, no new users can register"]</li>
            <li>@T["when AllowRegistration is selected, a link is displayed to allow the users to register on the site. If there are external providers, once authenticated the user can register"]</li>
            <li>@T["when AllowOnlyExternalUsers is selected, only users authenticated with external providers can register on the site"]</li>
        </ul>
    </div>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UsersMustValidateEmail">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="UsersMustValidateEmail" data-toggle="collapse" data-target="#warnEmailValidation" />
        <span asp-validation-for="UsersMustValidateEmail"></span>
        <label class="custom-control-label" asp-for="UsersMustValidateEmail">@T["Users must verify their email address"]</label>
        <span class="hint">— @T["The users whose email address has not been confirmed will not be able to login."]</span>
    </div>
</fieldset>
<div class="alert alert-warning collapse" id="warnEmailValidation">@T["The users whose email address has not been confirmed will not be able to login or reset their password."]</div>
<fieldset class="form-group" asp-validation-class-for="UseSiteTheme">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="UseSiteTheme" />
        <span asp-validation-for="UseSiteTheme"></span>
        <label class="custom-control-label" asp-for="UseSiteTheme">@T["Use site theme for registration page"]</label>
        <span class="hint">— @T["Requires an active site theme."]</span>
    </div>
</fieldset>

<h5 class="form-group">@T["External Authentication"]<span class="hint"> — @T["Settings when registering with external authentication providers"]</span></h5>

<fieldset class="form-group" asp-validation-class-for="NoUsernameForExternalUsers">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="NoUsernameForExternalUsers" data-external-registration />
        <span asp-validation-for="NoUsernameForExternalUsers"></span>
        <label class="custom-control-label" asp-for="NoUsernameForExternalUsers">@T["Generate username for external users"]</label>
        <span class="hint">— @T["When a new user logs in with an external provider, he is not required to provide a local username."]</span>
    </div>
</fieldset>
<fieldset class="form-group" asp-validation-class-for="NoEmailForExternalUsers">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="NoEmailForExternalUsers" data-external-registration />
        <span asp-validation-for="NoEmailForExternalUsers"></span>
        <label class="custom-control-label" asp-for="NoEmailForExternalUsers">@T["Use email address from external provider"]</label>
        <span class="hint">— @T["When a new user logs in with an external provider, he is not required to provide a local email address."]</span>
    </div>
</fieldset>
<fieldset class="form-group" asp-validation-class-for="NoPasswordForExternalUsers">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="NoPasswordForExternalUsers" data-external-registration />
        <span asp-validation-for="NoPasswordForExternalUsers"></span>
        <label class="custom-control-label" asp-for="NoPasswordForExternalUsers">@T["Do not create local password for external users"]</label>
        <span class="hint">— @T["When a new user logs in with an external provider, he is not required to provide a local password."]</span>
    </div>
</fieldset>

<script at="Foot" type="text/javascript">
////<![CDATA[
    window.onload = function () {
        refresh();

        $("#@Html.IdFor(m => m.UsersCanRegister)").change(function () {
            refresh();
        });

        function refresh(e) {
            var usersCanRegisterElement = document.getElementById("@Html.IdFor(m => m.UsersCanRegister)");
            var externalRegistrationInputs = $("input[data-external-registration]");

            if (usersCanRegisterElement.value == "NoRegistration") {
                externalRegistrationInputs.prop('disabled', true);
            } else {
                externalRegistrationInputs.prop('disabled', false);
            }
        }
    };
//]]>
</script>
