@using OrchardCore.Users.Models;
@model RegistrationSettings

<fieldset class="form-group" asp-validation-class-for="UsersCanRegister">
    <label asp-for="UsersCanRegister">@T["Users can create new accounts on the site"]</label>
    <select asp-for="UsersCanRegister" class="form-control">
        @foreach (RegistrationSettings.UsersCanRegisterEnum option in Enum.GetValues(typeof(RegistrationSettings.UsersCanRegisterEnum)))
        {
            <option value="@option" selected="@(Model.UsersCanRegister == option)">@T[option.ToString()]</option>
        }
    </select>
    <span asp-validation-for="UsersCanRegister"></span>
    <span class="hint">— @T["Display a link to allow the users to register on the site."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="UsersMustValidateEmail">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="UsersMustValidateEmail" data-toggle="collapse" data-target="#warnEmailValidation" />
        <span asp-validation-for="UsersMustValidateEmail"></span>
        <label class="custom-control-label" asp-for="UsersMustValidateEmail">@T["Users must verify their email address"]</label>
        <span class="hint">— @T["The users whose email address has not been confirmed will not be able to login."]</span>
    </div>
</fieldset>
<div class="alert alert-warning collapse" id="warnEmailValidation">@T["The users whose email address has not been confirmed will not be able to login or reset their password."]</div>
<fieldset class="form-group" asp-validation-class-for="UseSiteTheme">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="UseSiteTheme" />
        <span asp-validation-for="UseSiteTheme"></span>
        <label class="custom-control-label" asp-for="UseSiteTheme">@T["Use site theme for registration page"]</label>
        <span class="hint">— @T["Requires an active site theme."]</span>
    </div>
</fieldset>

<h5 class="form-group">@T["External Authentication"]<span class="hint"> — @T["Settings for external authentication providers"]</span></h5>

<fieldset class="form-group" asp-validation-class-for="NoUsernameForExternalUsers">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="NoUsernameForExternalUsers" />
        <span asp-validation-for="NoUsernameForExternalUsers"></span>
        <label class="custom-control-label" asp-for="NoUsernameForExternalUsers">@T["Generate username for external users"]</label>
        <span class="hint">— @T["When a new user logs in with an external provider, he is not required to provide a local username."]</span>
    </div>
</fieldset>
<fieldset class="form-group" asp-validation-class-for="NoEmailForExternalUsers">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="NoEmailForExternalUsers" />
        <span asp-validation-for="NoEmailForExternalUsers"></span>
        <label class="custom-control-label" asp-for="NoEmailForExternalUsers">@T["Use email address from external provider"]</label>
        <span class="hint">— @T["When a new user logs in with an external provider, he is not required to provide a local email address."]</span>
    </div>
</fieldset>
<fieldset class="form-group" asp-validation-class-for="NoPasswordForExternalUsers">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="NoPasswordForExternalUsers" />
        <span asp-validation-for="NoPasswordForExternalUsers"></span>
        <label class="custom-control-label" asp-for="NoPasswordForExternalUsers">@T["Do not create local password for external users"]</label>
        <span class="hint">— @T["When a new user logs in with an external provider, he is not required to provide a local password."]</span>
    </div>
</fieldset>

<script at="Foot" type="text/javascript">
////<![CDATA[
    window.onload = function () {
        refresh();

        $("#@Html.IdFor(m => m.UsersCanRegister)").change(function () {
            refresh();
        });

        function refresh(e) {
            var usersCanRegisterElement = $("#@Html.IdFor(m => m.UsersCanRegister)");
            var noPasswordForExternalUsers = $("#@Html.IdFor(m => m.NoPasswordForExternalUsers)");

            if (usersCanRegisterElement.prop("checked")) {
                noPasswordForExternalUsers.removeAttr("disabled");
            } else {
                noPasswordForExternalUsers.prop('checked',false).prop("disabled", 'disabled');
            }
        }
    };
//]]>
</script>
