@using OrchardCore.Users.Models
@model SmsAuthenticatorLoginSettings

<fieldset>
    <div class="@Orchard.GetWrapperClasses()">
        <div class="@Orchard.GetEndClasses(true)">
            <legend>@T["SMS Authenticator Settings"]</legend>
        </div>
    </div>

    <div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Body">
        <label class="@Orchard.GetLabelClasses()" asp-for="Body">@T["Message Body"]</label>
        <div class="@Orchard.GetEndClasses()">
            <textarea class="form-control" asp-for="Body"></textarea>
            <span asp-validation-for="Body"></span>
            <span class="hint">@T["The body to the message for sending the verification code. Liquid syntax is supported."]</span>
        </div>
    </div>
</fieldset>
