@model OrchardCore.Users.Models.TwoFactorLoginSettings

<fieldset>
    <legend>@T["Two-Factor Settings"]</legend>

    <div class="mb-3" asp-validation-class-for="AllowRememberClientTwoFactorAuthentication">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="AllowRememberClientTwoFactorAuthentication" />
            <span asp-validation-for="AllowRememberClientTwoFactorAuthentication"></span>
            <label class="form-check-label" asp-for="AllowRememberClientTwoFactorAuthentication">@T["Allow users to remember client"]</label>
            <span class="hint dashed">@T["When selected, users may use Remember Client during login to avoid having to provide a token every time."]</span>
        </div>
    </div>

    <div class="mb-3" asp-validation-class-for="RequireTwoFactorAuthentication">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="RequireTwoFactorAuthentication" />
            <span asp-validation-for="RequireTwoFactorAuthentication"></span>
            <label class="form-check-label" asp-for="RequireTwoFactorAuthentication">@T["Require two-factor authentication"]</label>
            <span class="hint dashed">@T["When selected, any user with enabled two-factor authentication authentication will be required to use it."]</span>
        </div>
    </div>

    <div class="mb-3" asp-validation-class-for="NumberOfRecoveryCodesToGenerate">
        <span asp-validation-for="NumberOfRecoveryCodesToGenerate"></span>
        <label class="form-check-label" asp-for="NumberOfRecoveryCodesToGenerate">@T["Number of recovery codes to generate"]</label>
        <input type="number" class="form-control" min="1" asp-for="NumberOfRecoveryCodesToGenerate" />
        <span class="hint dashed">@T["The number of recovery codes to generate. Default is 5."]</span>
    </div>
</fieldset>
