@using OrchardCore.Users.Localization.ViewModels
@model UserLocalizationViewModel

<div class="mb-3" asp-validation-class-for="Culture">
    <label asp-for="Culture">@T["Default Culture"]</label>
    <select name="@Html.NameFor(m => m.Culture)" class="form-select">
        @foreach (var item in Model.SupportedCultures)
        {
            <option value="@item.Value" selected="@item.Selected">@item.Text</option>
        }
    </select>
    <span asp-validation-for="Culture"></span>
    <span class="hint">@T["Determines the default culture used by this user."]</span>
</div>
