@model UserTimeZoneViewModel
@inject OrchardCore.Modules.IClock Clock

<div class="mb-3" asp-validation-class-for="TimeZoneId">
    <label asp-for="TimeZoneId">@T["Default Time Zone"]</label>
    <select asp-for="TimeZoneId" class="form-select">
        <option value="">@T["Use site's time zone"]</option>
        @foreach (var timezone in Clock.GetTimeZones())
        {
            <option value="@timezone.TimeZoneId" selected="@(Model.TimeZoneId == timezone.TimeZoneId)">
                @timezone
            </option>
        }
    </select>
    <span asp-validation-for="TimeZoneId"></span>
    <span class="hint">@T["Determines the time zone used when displaying and editing dates and times."]</span>
</div>
