@model EditUserViewModel
@using OrchardCore.Entities;
@using OrchardCore.Users.Models;

@if (Site.As<RegistrationSettings>().UsersMustValidateEmail)
{
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input asp-for="EmailConfirmed" type="checkbox" class="custom-control-input" asp-is-disabled="@Model.IsEditingDisabled">
            <label class="custom-control-label" asp-for="EmailConfirmed">@T["Email confirmed"]</label>
        </div>
    </div>
}

<div class="form-group">
    <div class="custom-control custom-switch">
        <input asp-for="IsEnabled" type="checkbox" class="custom-control-input" checked="@Model.IsEnabled" asp-is-disabled="@Model.IsEditingDisabled" />
        <label asp-for="IsEnabled" class="custom-control-label cursor-pointer">@T["Is enabled?"]</label>
        <span class="hint dashed">@T["Uncheck to disable this user account."]</span>
    </div>
</div>


@if (Model.IsNewRequest)
{
    <div class="form-group">
        <label asp-for="Password">@T["Password"]</label>
        <div class="input-group row col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock prefix"></i></span>
            </div>
            <input asp-for="Password" class="form-control" placeholder="@T["Password"]" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PasswordConfirmation" class="sr-only">@T["Password Confirmation"]</label>
        <div class="input-group row col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock prefix"></i></span>
            </div>
            <input asp-for="PasswordConfirmation" class="form-control" placeholder="@T["Password confirmation"]" />
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>

        <div class="pt-2">
            <div class="btn btn-warning btn-sm" id="generatePassword">@T["Generate strong password"]</div>
            <div class="btn btn-info btn-sm" id="copyPassword">@T["Copy password"]</div>
        </div>
    </div>


    <script>
        window.addEventListener('DOMContentLoaded', function() {
            var strongPasswordLength = 12;
            var password = document.getElementById('@Html.IdFor(p => p.Password)');
            var passwordConfirmation = document.getElementById('@Html.IdFor(p => p.PasswordConfirmation)');

            var generate = document.getElementById("generatePassword");
            var copy = document.getElementById("copyPassword");

            generate.addEventListener('click', function(){
                var newPassword = genPassword();
                password.value = newPassword;
                passwordConfirmation.value = newPassword;
            });

            copy.addEventListener('click', function(){
                copyPassword(password);
            });

            function genPassword() {
                var chars = '0123456789abcdefghijklmnopqrstuvwxyz!@@#$%^&*()ABCDEFGHIJKLMNOPQRSTUVWXYZ';
                var passwordLength = strongPasswordLength;
                var password = '';
                for (var i = 0; i <= passwordLength; i++) {
                    var randomNumber = Math.floor(Math.random() * chars.length);
                    password += chars.substring(randomNumber, randomNumber + 1);
                }

                return password;
            }

            function copyPassword(copyText) {
                copyText.select();
                copyText.setSelectionRange(0, 999);
                document.execCommand("copy");
            }
        }, false);
    </script>
}


