@model EditUserViewModel
@using OrchardCore.Entities
@using OrchardCore.Users.Models

@if (Site.As<RegistrationSettings>().UsersMustValidateEmail)
{
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input asp-for="EmailConfirmed" type="checkbox" class="custom-control-input" asp-is-disabled="@Model.IsEditingDisabled">
            <label class="custom-control-label" asp-for="EmailConfirmed">@T["Email confirmed"]</label>
        </div>
    </div>
}

<div class="form-group">
    <div class="custom-control custom-switch">
        <input asp-for="IsEnabled" type="checkbox" class="custom-control-input" checked="@Model.IsEnabled" asp-is-disabled="@Model.IsEditingDisabled"/>
        <label asp-for="IsEnabled" class="custom-control-label cursor-pointer">@T["Is enabled?"]</label>
        <span class="hint dashed">@T["Uncheck to disable this user account."]</span>
    </div>
</div>
