@using System.Security.Claims

@inject IAuthorizationService AuthorizationService

@if (await AuthorizationService.AuthorizeAsync(User, CommonPermissions.EditOwnUser))
{
    <li>
        <a class="dropdown-item" asp-area="@UserConstants.Features.Users" asp-action="Edit" asp-controller="Admin">
            <i class="far fa-address-card fa-fw" aria-hidden="true"></i> @T["Profile"]
        </a>
    </li>
}
else if (await AuthorizationService.AuthorizeAsync(User, CommonPermissions.ViewUsers))
{
    <li>
        <a class="dropdown-item" asp-area="@UserConstants.Features.Users" asp-action="Display" asp-controller="Admin" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
            <i class="far fa-address-card fa-fw" aria-hidden="true"></i> @T["Profile"]
        </a>
    </li>
}
