@model OrchardCore.Users.ViewModels.EditUserNameViewModel

<div class="@Orchard.GetWrapperClasses()">
    <label asp-for="UserName" class="@Orchard.GetLabelClasses()">@T["User name"]</label>
    <div class="@Orchard.GetEndClasses()">
        <div class="input-group col-md-4">
            <span class="input-group-text"><i class="fa-solid fa-user" aria-hidden="true"></i></span>
            <input asp-for="UserName" class="form-control" autofocus asp-is-disabled="@(!Model.AllowEditing)" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
</div>
