@model SummaryAdminUserViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<OrchardCore.Users.IUser> UserManager

@{ 
    var userId = await UserManager.GetUserIdAsync(Model.User);
}
    
<a asp-action="Edit" asp-route-id="@userId" class="btn btn-primary btn-sm">@T["Edit"]</a>
<a asp-action="Delete" asp-route-id="@userId" class="btn btn-danger btn-sm" itemprop="RemoveUrl UnsafeUrl">@T["Delete"]</a>
<a asp-action="EditPassword" asp-route-id="@userId" class="btn btn-secondary btn-sm">@T["Edit Password"]</a>