@model UsersIndexViewModel

<script asp-name="bootstrap-select" at="Foot"></script>

<!-- Hidden submit button do not remove -->
<input type="submit" name="submit.Filter" id="submitFilter" class="visually-hidden" />
<input type="submit" name="submit.BulkAction" class="visually-hidden" />

@Html.HiddenFor(o => o.Options.BulkAction)

<div class="card text-bg-theme mb-3 position-sticky action-bar">
    <div class="card-body">
        <div class="row gx-3">
            <div class="col">
                @await DisplayAsync(Model.Header.Search)
            </div>
            <div class="col-auto">
                @await DisplayAsync(Model.Header.Create)
            </div>
        </div>
    </div>
</div>

<ul class="list-group with-checkbox">
    <li class="list-group-item text-bg-theme">
        <div class="row gx-3">
            <div class="col">
                @await DisplayAsync(Model.Header.Summary)
            </div>
            <div class="col col-md-auto text-end">
                @await DisplayAsync(Model.Header.Actions)
            </div>
        </div>
    </li>
    @if (Model.Users.Count > 0)
    {
        @foreach (var entry in Model.Users)
        {
            <li class="list-group-item">
                <div class="form-check float-start">
                    <input type="checkbox" class="form-check-input" value="@entry.UserId" name="itemIds" id="itemIds-@entry.UserId">
                    <label class="form-check-label" for="itemIds-@entry.UserId"></label>
                </div>
                @await DisplayAsync(entry.Shape)
            </li>
        }
    }
    else
    {
        <li class="list-group-item">
            <div class="alert alert-info mb-0">
                @T["No results found."]
            </div>
        </li>
    }
</ul>

@await DisplayAsync(Model.Pager)

<script at="Foot" type="module">
    const submitFilterButton = document.querySelector("[name='submit.Filter']");

        var actions = document.getElementById("actions");
        var items = document.getElementById("items");
        var filters = document.querySelectorAll(".filter");
        var selectAllCtrl = document.getElementById("select-all");
        var selectedItems = document.getElementById("selected-items");
        var itemsCheckboxes = document.querySelectorAll("input[type='checkbox'][name='itemIds']");
        var bulkActionInput = document.querySelector("[name='Options.BulkAction']");
        var submitBulkActionButton = document.querySelector("[name='submit.BulkAction']");

        function show(element) {
            if (element) {
                element.style.display = '';
            }
        }

        function hide(element) {
            if (element) {
                element.style.display = 'none';
            }
        }

        function selectedItemsCount() {
            return document.querySelectorAll("input[type='checkbox'][name='itemIds']:checked").length;
        }

        function setBulkAction(action) {
            if (bulkActionInput && submitBulkActionButton) {
                bulkActionInput.value = action;
                submitBulkActionButton.click();
            }
        }

        document.querySelectorAll('.selectpicker').forEach((element) => {
            element.addEventListener('changed.bs.select', () => submitFilterButton?.click());
        });

        document.querySelectorAll(".dropdown-menu .dropdown-item").forEach(function (item) {
            if (!item.dataset.action) {
                return;
            }

            item.addEventListener("click", function () {
                if (selectedItemsCount() > 1) {
                    confirmDialog({
                        ...item.dataset, callback: function (r) {
                            if (r) {
                                setBulkAction(item.dataset.action);
                            }
                        }
                    });
                }
            });
        });

        function displayActionsOrFilters() {
            if (selectedItemsCount() > 1) {
                show(actions);
                filters.forEach(function (filter) {
                    hide(filter);
                });
                show(selectedItems);
                hide(items);
            }
            else {
                hide(actions);
                filters.forEach(function (filter) {
                    show(filter);
                });
                hide(selectedItems);
                show(items);
            }
        }

        if (selectAllCtrl) {
            selectAllCtrl.addEventListener("click", function () {
                itemsCheckboxes.forEach(function (checkbox) {
                    checkbox.checked = selectAllCtrl.checked;
                });
                if (selectedItems) {
                    selectedItems.textContent = selectedItemsCount() + ' @T["selected"]';
                }
                displayActionsOrFilters();
            });
        }

        itemsCheckboxes.forEach(function (checkbox) {
            checkbox.addEventListener("click", function () {
                var itemsCount = document.querySelectorAll("input[type='checkbox'][name='itemIds']").length;
                var selectedCount = selectedItemsCount();

                if (selectAllCtrl) {
                    selectAllCtrl.checked = selectedCount == itemsCount;
                    selectAllCtrl.indeterminate = selectedCount > 0 && selectedCount < itemsCount;
                }

                if (selectedItems) {
                    selectedItems.textContent = selectedCount + ' @T["selected"]';
                }
                displayActionsOrFilters();
            });
        });

</script>
