@model EditUserInformationViewModel


<div class="mb-3">
    <label asp-for="UserName">@T["User name"]</label>
    <div class="input-group col-md-4">
        <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
        <input asp-for="UserName" class="form-control" autofocus asp-is-disabled="@Model.IsEditingDisabled" />
        <span asp-validation-for="UserName" class="text-danger">@T["The user name is required."]</span>
    </div>
</div>
<div class="mb-3" asp-validation-class-for="Email">
    <label asp-for="Email">@T["Email"]</label>
    <div class="input-group col-md-4">
        <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
        <input asp-for="Email" class="form-control" type="email" asp-is-disabled="@Model.IsEditingDisabled" />
        <span asp-validation-for="Email" class="text-danger">@T["The email is invalid."]</span>
    </div>
</div>
