@using OrchardCore.Localization
@using OrchardCore.Environment.Shell
@inject ShellSettings ShellSettings

@{
    var selectedCultureName = Model.CurrentCulture.Name;
    var cookiePath = ShellSettings.IsDefaultShell()
        ? String.Empty
        : "/" + ShellSettings.Name.ToLower(); 

    cookiePath += "/Admin";
}
<select id="culture-picker" class="form-select me-3" data-cookie-name="@LocalizationCookieName.AdminSite" data-selected-culture="@selectedCultureName" data-cookie-path="@cookiePath">
  @foreach (var culture in Model.SupportedCultures)
  {
    <option selected="@(culture.Name == selectedCultureName ? "selected" : null)" value="@culture.Name">@culture.DisplayName</option>
  }
</select>

<script at="Foot" depends-on="jquery">
    $(function (){
        $('#culture-picker').change(function(){
            var culture = $(this).val();
            var cookieName = $(this).data('cookie-name');
            var selectedCulture = $(this).data('selected-culture');
            var cookiePath = $(this).data('cookie-path');
            if (culture != selectedCulture) {
                var cookieValue = `${cookieName}=c=${culture}|uic=${culture};path=${cookiePath}`;
                document.cookie = cookieValue;
                window.location = window.location.href;
            }
        });
    });
</script>
