@using OrchardCore.Localization
@using OrchardCore.Environment.Shell
@inject ShellSettings ShellSettings
@{
    var jsLocalizations = Orchard.GetJSLocalizations("media-app");
    var siteId = ShellSettings.TenantId;
}

<script type="module" asp-name="media" version="2" at="Foot"></script>
<style asp-name="media" version="2" at="Head"></style>
<style asp-src="~/OrchardCore.Media/Styles/media2-oc.css"></style>

<h1 style="display:none">@RenderTitleSegments(T["Assets"])</h1>

<div id="media-app">
    <media-app
        site-id="@siteId"
        translations="@Json.Serialize(jsLocalizations).ToString()"
        base-path="@Href("~")"
        upload-files-url="@Href("~/api/media/upload")"
        :max-upload-chunk-size="0"
    >
    </media-app>
</div>
