@model OrchardCore.Media.ViewModels.MediaIndexViewModel
@{
    var jsLocalizations = Orchard.GetJSLocalizations("media-gallery");
}

<script type="module" asp-name="media" version="2" at="Foot"></script>
<style asp-name="media" version="2" at="Head"></style>

<h1 style="display:none">@RenderTitleSegments(T["Assets"])</h1>

<div id="media-gallery">
    <media-gallery
        site-id="@Model.SiteId"
        translations="@Json.Serialize(jsLocalizations).ToString()"
        base-path="@Href("~")"
        upload-files-url="@Href("~/api/media/Upload")"
        :max-upload-chunk-size="0"
        :max-file-size="@Model.MaxFileSize"
        allowed-extensions="@Model.AllowedExtensions"
        tus-enabled="@(Model.TusEnabled ? "true" : "false")"
        tus-endpoint-url="@Href("~/api/media/tus")"
        tus-file-info-url="@Href("~/api/media/TusFileInfo")"
        signalr-enabled="@(Model.SignalrEnabled ? "true" : "false")"

        debug-enabled="@(Model.DebugEnabled ? "true" : "false")"
    >
    </media-gallery>
</div>
