@{
    Layout = null;
}

<div id="mediaApp" style="display:none">
    <nav class="admin-toolbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div class="upload-button">
                    <label for="fileupload" class="btn btn-success fileinput-button">
                        <input id="fileupload" type="file" name="files" multiple="multiple">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        @T["Upload files..."]
                    </label>
                </div>
            </li>
        </ul>
    </nav>


    <nav class="media-application-toolbar breadcrumb">
        <span class="breadcrumb-item" v-bind:class="{ active: isHome}"><a :href="isHome ? null : '#'" v-on:click="selectRoot">@T["Media Library"]</a></span>
        <span v-for="(folder, i) in parents" v-cloak
                class="breadcrumb-item"
                v-bind:class="{active: parents.length - i == 1}">
            <a :href="parents.length - i == 1 ? null : '#'" v-on:click="selectFolder(folder)">{{ folder.name }}</a>
        </span>
        <div class="btn-group">
            <a v-cloak href="javascript:;" class="btn btn-light btn-sm" v-on:click="createFolder"><i class="fa fa-plus"></i></a>
            <a v-cloak v-show="!isHome" href="javascript:;" v-on:click="deleteFolder" class="btn btn-light btn-sm"><i class="fa fa-trash"></i></a>
        </div>
        <div class="selected-media-tasks btn-group-sm text-right">
            <button type="button" class="btn btn-secondary" v-on:click="selectAll">@T["Select All"]</button>
            <button type="button" class="btn btn-secondary" v-on:click="unSelectAll">@T["Unselect"]</button>
            <button type="button" class="btn btn-secondary" v-on:click="invertSelection">@T["Invert Selection"]</button>            
            <button type="button" class="btn btn-secondary" v-on:click="deleteMediaList" v-bind:disabled="selectedMedias.length < 1">@T["Delete Selected"] ({{ selectedMedias.length}}) </button>
        </div>
    </nav>

    <div class="media-container row">

        <div id="navigationApp" class="media-container-navigation" v-cloak>
            <ol id="media-container-navigation-menu">
                <folder :model="root" ref="rootFolder">
                </folder>
            </ol>
        </div>

        <div class="media-container-main" v-cloak>
            <ol class="row">
                <li v-for="media in mediaItems"
                    :key="media.name"
                    class="media-container-main-list-item"
                    v-bind:class="{selected: isMediaSelected(media)}"
                    v-on:click="toggleSelectionOfMedia(media)">
                    <div class="thumb-container">
                        <img v-bind:src="media.url + '?width=224&height=240'" />
                    </div>
                    <div class="media-container-main-item-title">
                        <a href="javascript:;" class="btn btn-light btn-sm float-right delete-media-button" v-on:click.stop="selectAndDeleteMedia(media)"><i class="fa fa-trash"></i></a>
                        <span class="media-filename">{{ media.name }}</span>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<input type="hidden" id="getFoldersUrl" value="@Url.Action("GetFolders", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="deleteFolderUrl" value="@Url.Action("DeleteFolder", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="createFolderUrl" value="@Url.Action("CreateFolder", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="getMediaItemsUrl" value="@Url.Action("GetMediaItems", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="deleteMediaUrl" value="@Url.Action("DeleteMedia", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="deleteMediaListUrl" value="@Url.Action("DeleteMediaList", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="uploadFiles" value="@Url.Action("Upload", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="deleteFolderMessage" value="@T["Are you sure you want to delete this folder?"]" />
<input type="hidden" id="deleteMediaMessage" value="@T["Are you sure you want to delete this media?"]" />

<div class="modal" id="createFolderModal" tabindex="-1" role="dialog" aria-labelledby="createFolderModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelTitle">@T["Create Folder"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="input" class="form-control-label" id="input-label">@T["Folder name"]</label>
                    <input type="text" id="create-folder-name" class="form-control" >
                </div>
                <div id="createFolderModal-errors"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalFooterOk">@T["Ok"]</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">@T["Cancel"]</button>
            </div>
        </div>
    </div>
</div>
