@{
    Layout = null;
}

<div id="mediaApp" style="display:none">
    <div class="message-warning" v-if="errors.length > 0">
        <ul>
            <li v-for="e in errors">
                <p>{{e}}</p>                
            </li>
        </ul>
    </div>
    <nav class="media-application-toolbar breadcrumb">
        <span class="breadcrumb-item" v-bind:class="{ active: isHome}"><a :href="isHome ? null : '#'" v-on:click="selectRoot">@T["Media Library"]</a></span>
        <span v-for="(folder, i) in parents" v-cloak
              class="breadcrumb-item"
              v-bind:class="{active: parents.length - i == 1}">
            <a :href="parents.length - i == 1 ? null : '#'" v-on:click="selectedFolder = folder;">{{ folder.name }}</a>
        </span>
        <div class="btn-group">
            <a v-cloak href="javascript:;" class="btn btn-light btn-sm" v-on:click="createFolder"><i class="fa fa-plus"></i></a>
            <a v-cloak v-show="!isHome" href="javascript:;" v-on:click="deleteFolder" class="btn btn-light btn-sm"><i class="fa fa-trash"></i></a>
        </div>
        <div class="selected-media-tasks btn-group btn-group-sm text-right mr-2">
            <button type="button" class="btn btn-secondary" v-on:click="selectAll">@T["Select All"]</button>
            <button type="button" class="btn btn-secondary" v-on:click="unSelectAll" v-bind:disabled="selectedMedias.length < 1">@T["Unselect"]</button>
            <button type="button" class="btn btn-secondary" v-on:click="invertSelection">@T["Invert Selection"]</button>            
        </div>
        <div class="btn-group btn-group-sm text-right mr-2">
            <button type="button" class="btn btn-secondary" v-on:click="deleteMediaList" v-bind:disabled="selectedMedias.length < 1">@T["Delete Selected"] <span style="min-width:25px; display:inline-block;" >({{ selectedMedias.length}})</span></button>
        </div>
        
        <div class="btn-group-toggle mr-2" data-toggle="smallThumbsCheck">
            <label class="btn btn-secondary btn-sm" v-bind:class="{ active : smallThumbs }">
                <input type="checkbox" value="" id="smallThumbsCheck" v-model="smallThumbs"> @T["Small Thumbs"]
            </label>
        </div>

        <div class="btn-group btn-group-sm text-right">
            <label for="fileupload" class="btn btn-sm btn-success fileinput-button upload-button">
                <input id="fileupload" type="file" name="files" multiple="multiple">
                <i class="fa fa-upload" aria-hidden="true"></i>
                @T["Upload files..."]
            </label>
        </div>
    </nav>

    <div class="media-container row">

        <div id="navigationApp" class="media-container-navigation" v-cloak>            
            <ol id="media-container-navigation-menu">
                <folder :model="root" ref="rootFolder"  :selected-in-media-app="selectedFolder">
                </folder>
            </ol>
        </div>

        <div class="media-container-main" v-cloak>
            <ol class="row">
                <li v-for="media in mediaItems"
                    :key="media.name"
                    class="media-container-main-list-item"
                    v-bind:style="{width: thumbSize + 2 + 'px'}"
                    v-bind:class="{selected: isMediaSelected(media)}"
                    v-on:click.stop="toggleSelectionOfMedia(media)"
                    draggable="true" v-on:dragstart="handleDragStart(media, $event)">
                    <div class="thumb-container" v-bind:style="{height: thumbSize + 'px'}">
                        <img v-bind:src="media.url + '?width=' + thumbSize + '&height=' + thumbSize" />
                    </div>
                    <div class="media-container-main-item-title">
                        <a href="javascript:;" class="btn btn-light btn-sm float-right inline-media-button mr-4" v-on:click.stop="renameMedia(media)"><i class="fa fa-edit"></i></a>
                        <a href="javascript:;" class="btn btn-light btn-sm float-right inline-media-button" v-on:click.stop="selectAndDeleteMedia(media)"><i class="fa fa-trash"></i></a>
                        <span class="media-filename">{{ media.name }}</span>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<input type="hidden" id="getFoldersUrl" value="@Url.Action("GetFolders", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="deleteFolderUrl" value="@Url.Action("DeleteFolder", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="createFolderUrl" value="@Url.Action("CreateFolder", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="getMediaItemsUrl" value="@Url.Action("GetMediaItems", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="deleteMediaUrl" value="@Url.Action("DeleteMedia", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="renameMediaUrl" value="@Url.Action("MoveMedia", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="deleteMediaListUrl" value="@Url.Action("DeleteMediaList", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="moveMediaListUrl" value="@Url.Action("MoveMediaList", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="uploadFiles" value="@Url.Action("Upload", "Admin", new { area = "OrchardCore.Media" })" />
<input type="hidden" id="deleteFolderMessage" value="@T["Are you sure you want to delete this folder?"]" />
<input type="hidden" id="deleteMediaMessage" value="@T["Are you sure you want to delete this media?"]" />
<input type="hidden" id="moveMediaMessage" value="@T["Are you sure you want to move the selected media to this folder?"]" />
<input type="hidden" id="sameFolderMessage" value="@T["The media is already on this folder"]" />

<div class="modal" id="createFolderModal" tabindex="-1" role="dialog" aria-labelledby="createFolderModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelTitle">@T["Create Folder"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="input" class="form-control-label" id="input-label">@T["Folder name"]</label>
                    <input type="text" id="create-folder-name" class="form-control" >
                </div>
                <div id="createFolderModal-errors"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalFooterOk">@T["Ok"]</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">@T["Cancel"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="renameMediaModal" tabindex="-1" role="dialog" aria-labelledby="renameMediaModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelTitle">@T["Rename Item"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="input" class="form-control-label" id="input-label">@T["New Name"]</label>
                    <input type="text" id="new-item-name" class="form-control">
                    <input type="hidden" id="old-item-name" value="">
                </div>
                <div id="renameMediaModal-errors"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="renameMediaModalFooterOk">@T["Ok"]</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">@T["Cancel"]</button>
            </div>
        </div>
    </div>
</div>
