@model OrchardCore.Media.MediaOptions
@{
    var supportedSizes = string.Join(", ", Model.SupportedSizes.Select(s => s.ToString()).ToArray());
    var allowedFileExtensions = string.Join(", ", Model.AllowedFileExtensions.Select(s => s.ToString()).ToArray());
}
<h1>@RenderTitleSegments(T["Media options"])</h1>

<p class="alert alert-secondary">
    @T["Media is configured with appsettings.json."]
    <a class="seedoc" href="https://docs.orchardcore.net/en/latest/docs/reference/modules/Media/#configuration" target="_blank">@T["See documentation"]</a>
</p>

<div class="mb-3 row">
    <label asp-for="SupportedSizes" class="col-sm-2 col-form-label">@T["Supported sizes"]</label>
    <div class="col-sm-10">
        <code><input type="text" class="form-control-plaintext" value="@supportedSizes" readonly /></code>
        <span class="hint">@T["The accepted sizes for custom width and height."]</span>
    </div>
</div>

<div class="mb-3 row">
    <label asp-for="AllowedFileExtensions" class="col-sm-2 col-form-label">@T["Allowed file extensions"]</label>
    <div class="col-sm-10">
        <code><input type="text" class="form-control-plaintext" value="@allowedFileExtensions" readonly /></code>
        <span class="hint">@T["The list of allowed file extensions."]</span>
    </div>
</div>

<div class="mb-3 row">
    <label asp-for="MaxBrowserCacheDays" class="col-sm-2 col-form-label">@T["Max browser cache days"]</label>
    <div class="col-sm-10">
        <code><input asp-for="MaxBrowserCacheDays" type="text" class="form-control-plaintext" readonly /></code>
        <span class="hint">@T["The default number of days for the media cache control header."]</span>
    </div>
</div>

<div class="mb-3 row">
    <label asp-for="MaxCacheDays" class="col-sm-2 col-form-label">@T["Max cache days"]</label>
    <div class="col-sm-10">
        <code><input asp-for="MaxCacheDays" type="text" class="form-control-plaintext" readonly /></code>
        <span class="hint">@T["The maximum number of days a cached resized media item will be valid for, before being rebuilt on request."]</span>
    </div>
</div>

<div class="mb-3 row">
    <label asp-for="MaxFileSize" class="col-sm-2 col-form-label">@T["Max file size"]</label>
    <div class="col-sm-10">
        <code><input asp-for="MaxFileSize" type="text" class="form-control-plaintext" readonly /></code>
        <span class="hint">@T["The maximum size of an uploaded file in bytes."]</span>
    </div>
</div>

<div class="mb-3 row">
    <label asp-for="MaxUploadChunkSize" class="col-sm-2 col-form-label">@T["Max upload chunk size"]</label>
    <div class="col-sm-10">
        <code><input asp-for="MaxUploadChunkSize" type="text" class="form-control-plaintext" readonly /></code>
        <span class="hint">@T["The maximum chunk size when uploading files in bytes. If 0 or null, no chunked upload is used."]</span>
    </div>
</div>

<div class="mb-3 row">
    <label asp-for="TemporaryFileLifetime" class="col-sm-2 col-form-label">@T["Temporary file lifetime"]</label>
    <div class="col-sm-10">
        <code><input asp-for="TemporaryFileLifetime" type="text" class="form-control-plaintext" readonly /></code>
        <span class="hint">@T["The lifetime of temporary files created during upload."]</span>
    </div>
</div>

<div class="mb-3 row">
    <label asp-for="CdnBaseUrl" class="col-sm-2 col-form-label">@T["Cdn base url"]</label>
    <div class="col-sm-10">
        <code><input asp-for="CdnBaseUrl" type="text" class="form-control-plaintext" readonly /></code>
        <span class="hint">@T["A CDN base url that will be prefixed to the request path when serving images."]</span>
    </div>
</div>

<div class="mb-3 row">
    <label asp-for="AssetsRequestPath" class="col-sm-2 col-form-label">@T["Assets request path"]</label>
    <div class="col-sm-10">
        <code><input asp-for="AssetsRequestPath" type="text" class="form-control-plaintext" readonly /></code>
        <span class="hint">@T["The request path used to route asset files."]</span>
    </div>
</div>

<div class="mb-3 row">
    <label asp-for="AssetsPath" class="col-sm-2 col-form-label">@T["Assets path"]</label>
    <div class="col-sm-10">
        <code><input asp-for="AssetsPath" type="text" class="form-control-plaintext" readonly /></code>
        <span class="hint">@T["The path used to store media assets. The path can be relative to the tenant's App_Data folder, or absolute."]</span>
    </div>
    <label asp-for="AssetsUsersFolder" class="col-sm-2 col-form-label">@T["Assets users folder"]</label>
    <div class="col-sm-10">
        <code><input asp-for="AssetsUsersFolder" type="text" class="form-control-plaintext" readonly /></code>
        <span class="hint">@T["The folder under AssetsPath used to store users own media assets."]</span>
    </div>   
</div>
