@using OrchardCore.ContentManagement.Metadata.Settings
@model EditPartViewModel
<div class="w-100">
    <div class="float-end">
        <a id="btn-edit-@Model.Name" class="btn btn-primary btn-sm edit-button" asp-route-action="EditPart" asp-route-id="@Model.Name">@T["Edit"]</a>
        <a class="btn btn-danger btn-sm edit-button" asp-action="DeletePart" asp-route-id="@Model.Name" asp-route-returnUrl="@FullRequestPath" data-url-af="RemoveUrl UnsafeUrl" data-title="@T["Delete"]" data-message="@T["Are you sure you want to delete this content part?"]" data-ok-text="@T["Ok"]" data-cancel-text="@T["Cancel"]">@T["Delete"]</a>
    </div>
    <div>@Model.PartDefinition.DisplayName()</div>
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <span class="hint">@Model.Description</span>
    }
</div>
