@model EditTypeViewModel
@using OrchardCore.ContentManagement.Metadata.Settings
@{
    var settings = Model.TypeDefinition.GetSettings<ContentTypeSettings>();
}
<div class="d-flex">
    <div class="me-auto">
        <a asp-route-action="Edit" asp-route-area="OrchardCore.ContentTypes" asp-route-id="@Model.Name">@Model.DisplayName</a>

        <span class="badge rounded-pill ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Technical Name"]"><i class="fa-solid fa-file-alt text-danger" aria-hidden="true"></i> @Model.Name</span>

        @if (!String.IsNullOrWhiteSpace(settings.Stereotype))
        {
            <span class="badge rounded-pill ta-badge font-weight-normal" data-bs-toggle="tooltip" title="Stereotype"><i class="fa-solid fa-file text-info" aria-hidden="true"></i> @settings.Stereotype</span>
        }
    </div>
    <div>
        @if (settings.Creatable)
        {
            <a id="btn-create-@Model.Name" asp-route-area="OrchardCore.Contents" asp-route-action="Create" asp-route-id="@Model.Name" asp-route-returnUrl="@FullRequestPath" class="btn btn-success btn-sm">@T["Create New {0}", Model.DisplayName]</a>
        }
        <a role="btn-list-@Model.Name" asp-route-action="List" asp-route-area="OrchardCore.Contents" asp-route-contentTypeId="@Model.Name" class="btn btn-secondary btn-sm">@T["List Items"]</a>
        <a role="btn-edit-@Model.Name" asp-route-action="Edit" asp-route-area="OrchardCore.ContentTypes" asp-route-id="@Model.Name" class="btn btn-primary btn-sm">@T["Edit"]</a>
    </div>
</div>

@if (!String.IsNullOrWhiteSpace(settings.Description))
{
    <div class="row">
        <div class="col">
            <p class="mb-0"><small class="text-muted">@settings.Description</small></p>
        </div>
    </div>
}
