@model ContentTypeIndexingSettingsViewModel

<script asp-name="codemirror" depends-on="admin" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<script asp-name="codemirror-addon-display-autorefresh" at="Foot"></script>
<script asp-name="codemirror-addon-mode-simple" at="Foot"></script>
<script asp-name="codemirror-addon-mode-multiplex" at="Foot"></script>
<script asp-name="codemirror-mode-xml" at="Foot"></script>

<script asp-src="~/OrchardCore.Liquid/codemirror/liquid.js" at="Foot"></script>

<h3 class="mb-3">@T["Indexing"]</h3>

<div class="form-group custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" asp-for="IsFullTextLiquid" data-toggle="collapse" data-target="#fulltext-template" checked="@Model.IsFullTextLiquid" />
    <label class="custom-control-label" asp-for="IsFullTextLiquid">@T["Full-text (Liquid)"]</label>
    <span class="hint">— @T["Determines if this content type can use a customizable full-text index field by using Liquid."]</span>
</div>

<div id="fulltext-template" class="collapse">
    <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="IndexBodyAspect" checked="@Model.IndexBodyAspect" />
        <label class="custom-control-label" asp-for="IndexBodyAspect">@T["Index body part"]</label>
        <span class="hint">— @T["Check to index body part by default in full-text index."]</span>
    </div>

    <div class="form-group custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="IndexDisplayText" checked="@Model.IndexDisplayText" />
        <label class="custom-control-label" asp-for="IndexDisplayText">@T["Index display text"]</label>
        <span class="hint">— @T["Check to index display text by default in full-text index."]</span>
    </div>

    <div class="form-group row">
        <div class="col">
            <label asp-for="FullTextLiquid">@T["Liquid pattern"]</label>
            <textarea asp-for="FullTextLiquid" type="text" class="form-control"></textarea>
            <span class="hint">@T["The Liquid template used for a full-text search index field accessible in queries with: <code>Content.ContentItem.FullText</code>. Use the <code>Model</code> helper to reference the current element."]</span>
        </div>
    </div>
</div>

<script at="Foot" depends-on="jquery">
    $(function () {
        editor = CodeMirror.fromTextArea(document.getElementById('@Html.IdFor(x => x.FullTextLiquid)'), {
            autoRefresh: true,
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true,
            mode: { name: "liquid" },
        });
    });
</script>
