@model ContentTypeSettingsViewModel

<fieldset class="form-group">
    <label asp-for="Creatable">
        <input asp-for="Creatable" type="checkbox">
        @T["Creatable"]
    </label>
    <span class="hint">@T["Determines if an instance of this content type can be created through the UI."]</span>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Listable">
        <input asp-for="Listable" type="checkbox">
        @T["Listable"]
        <span class="hint">@T["Determines if an instance of this content type can be listed through the UI."]</span>
    </label>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Draftable">
        <input asp-for="Draftable" type="checkbox">
        @T["Draftable"]
        <span class="hint">@T["Determines if this content type supports draft versions."]</span>
    </label>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Versionable">
        <input asp-for="Versionable" type="checkbox">
        @T["Versionable"]
        <span class="hint">@T["Determines if this content type supports versioning."]</span>
    </label>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Securable">
        <input asp-for="Securable" type="checkbox">
        @T["Securable"]
        <span class="hint">@T["Determines if this content type can have custom permissions."]</span>
    </label>
</fieldset>


<fieldset class="form-group">
    <div class="row col-md">
        <label asp-for="Stereotype">@T["Stereotype"]</label>
        <input asp-for="Stereotype" type="text" class="form-control">
        <span class="hint">@T["(Optional) The stereotype of the content type. e.g., Widget, MenuItem, ..."]</span>
    </div>
</fieldset>
