@using OrchardCore.ContentManagement.Metadata.Settings
@model ContentPartSettingsViewModel

<fieldset class="form-group">
    <div class="row col-md ">
        <label asp-for="DisplayName" >@T["Display Name"]</label>
        <input asp-for="DisplayName" class="form-control" placeholder="@Model.ContentPartDefinition.DisplayName()" />
        <span class="hint">@T["Name of the part as it will be displayed in screens. Leave empty to use defaults."]</span>
    </div>
</fieldset>

<fieldset class="form-group">
    <div class="row col-lg ">
        <label asp-for="Description">@T["Description"]</label>
        @Html.ValidationMessageFor(m => m.Description)
        <input asp-for="Description" class="form-control" />
        <span class="hint">@T["Optionally provide a description for this part."]</span>
    </div>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Attachable">
        <input asp-for="Attachable" type="checkbox">
        @T["Attachable"]
        <span class="hint">@T["Check to allow this part to be attached to other content types."]</span>
    </label>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Reusable">
        <input asp-for="Reusable" type="checkbox">
        @T["Reusable"]
        <span class="hint">@T["Check to allow this part to be attached multiple times."]</span>
    </label>
</fieldset>
