@model BooleanConditionViewModel

<h5>@T["Boolean"]</h5>

<div class="form-group">
  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" name="@Html.NameFor(m => m.Value)" id="@Html.IdFor(m => m.Value)True" @(Model.Value == true ? "checked='checked'" : "") value="@true.ToString()">
    <label class="custom-control-label" for="@Html.IdFor(m => m.Value)True">
      @T["True"]
    </label>
  </div>
  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" name="@Html.NameFor(m => m.Value)" id="@Html.IdFor(m => m.Value)False" @(Model.Value == false? "checked='checked'" : "") value="@false.ToString()">
    <label class="custom-control-label" for="@Html.IdFor(m => m.Value)False">
      @T["False"]
    </label>
  </div>
</div>
