@using OrchardCore
@model CultureConditionViewModel

<h5>@T["Culture"]</h5>

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="SelectedOperation">
    <label asp-for="SelectedOperation" class="@Orchard.GetLabelClasses()">@T["Operation"]</label>
    <div class="@Orchard.GetEndClasses("w-sm-75", "w-lg-75", "w-xl-50")">
        @await Component.InvokeAsync("SelectStringOperation", new { selectedOperation = Model.SelectedOperation, htmlName = Html.NameFor(m => m.SelectedOperation) })
        <span asp-validation-for="SelectedOperation"></span>
        <span class="hint">@T["Select the condition operator."]</span>
    </div>
</div>

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="Value">
    <label asp-for="Value" class="@Orchard.GetLabelClasses()">@T["Value"]</label>
    <div class="@Orchard.GetEndClasses("w-sm-75", "w-lg-75", "w-xl-50")">
        <input asp-for="Value" class="form-control" type="text" />
        <span asp-validation-for="Value"></span>
        <span class="hint">@T["The value for the operation."]</span>
    </div>
</div>
