@model CreateOpenIdScopeViewModel
@using OrchardCore.OpenId
@using OrchardCore.OpenId.ViewModels

<zone Name="Title"><h1>@RenderTitleSegments(T["Create a new scope"])</h1></zone>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Create" method="post" class="no-multisubmit">

    <div class="mb-3" asp-validation-class-for="DisplayName">
        <label asp-for="DisplayName" class="form-label">@T["Display Name"]</label>
        <input asp-for="DisplayName" class="form-control" autofocus />
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>

    <div class="mb-3" asp-validation-class-for="Name">
        <label asp-for="Name" class="form-label">@T["Name"]</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3" asp-validation-class-for="Description">
        <label asp-for="Description" class="form-label">@T["Description"]</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3" asp-validation-class-for="Resources">
        <label asp-for="Resources" class="form-label">@T["Additional resources (API audiences)"]</label>
        <input asp-for="Resources" class="form-control" />
        <span class="hint">@T["A space-separated list of values is required. To utilize another active tenant as a resource, specify it using the format <code>{0}{{tenant_name}}</code>.", OpenIdConstants.Prefixes.Tenant]</span>
        <span asp-validation-for="Resources" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary save" type="submit">@T["Save"]</button>
        <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
    </div>
</form>
