@model ElasticSettingsViewModel

@if (Model.SearchIndexes.Any())
{
<div class="mb-3" asp-validation-class-for="SearchIndex">
    <label asp-for="SearchIndex">@T["Default search index"]</label>
    <select asp-for="SearchIndex" class="form-select">
        @foreach (var index in Model.SearchIndexes)
        {
            <option value="@index" selected="@(Model.SearchIndex == index)">@index</option>
        }
    </select>
    <span asp-validation-for="SearchIndex"></span>
    <span class="hint">@T["The default index to use for the search page."]</span>
</div>
}
else
{
    <div class="alert alert-warning">@T["You need to create at least an index to set as the Search index."]</div>
}

<div class="mb-3" asp-validation-class-for="SearchFields">
    <label asp-for="SearchFields">@T["Default searched fields"]</label>
    <input asp-for="SearchFields" class="form-control" />
    <span asp-validation-for="SearchFields"></span>
    <span class="hint">@T["A comma separated list of fields to use for search pages. The default value is <code>Content.ContentItem.FullText</code>."]</span>
</div>

<div class="mb-3" asp-validation-class-for="AllowElasticQueryStringQueryInSearch">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="AllowElasticQueryStringQueryInSearch" />
        <label class="form-check-label" asp-for="AllowElasticQueryStringQueryInSearch">@T["Allow Elasticsearch \"query string query\" in search forms"]</label>
        <span class="hint dashed">@T["Whether search queries should be allowed to use <a href=\"https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-dsl-query-string-query\">Elasticsearch \"query string query\" syntax</a>."] <a  class="seedoc" href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-dsl-query-string-query" target="_blank">@T["See documentation"]</a></span>
    </div>
</div>
