@model dynamic
@using OrchardCore.Search.Elasticsearch.Core.Services
@inject ElasticIndexSettingsService ElasticIndexSettingsService

@{
    var disabled = !(await ElasticIndexSettingsService.GetSettingsAsync()).Any();
}
<div class="card">
    <div class="card-body">
        <h4>@T["Elasticsearch"]</h4>
        <p class="hint">@T["Queries an Elasticsearch index."]</p>
    </div>
    <div class="card-footer text-muted text-sm-end">
        <a disabled="@disabled" class="btn btn-primary btn-sm" asp-route-action="Create" asp-route-controller="Admin" asp-route-id="@Model.Name" asp-area="OrchardCore.Queries">@T["Add"]</a>
    </div>
</div>
