
<input type="hidden" name="PreviewId" value="@Model.ContentItem.Id" />
<input type="hidden" name="PreviewContentItemId" value="@Model.ContentItem.ContentItemId" />
<input type="hidden" name="PreviewContentItemVersionId" value="@Model.ContentItem.ContentItemVersionId" />

<button id="previewButton" class="publish-button btn btn-secondary" data-start="@T["Preview"]" data-stop="@T["Close Preview"]" >@T["Preview"]</button>

<div id="previewUrl" style="display:none" data-value="@Url.Action("Index", "Preview", new { area = "Orchard.ContentPreview" })" ></div>
<div id="contentItemType" style="display:none" data-value="@Model.ContentItem.ContentType"></div>

<script asp-src="/Orchard.ContentPreview/Scripts/jquery-resizable.min.js" depends-on="admin" at="Foot"></script>
<script asp-src="/Orchard.ContentPreview/Scripts/contentpreview.edit.js" depends-on="admin" at="Foot"></script>

<style asp-src="/Orchard.ContentPreview/Styles/contentpreview.css"></style>
