@using OrchardCore.OpenId.ViewModels
@model OpenIdValidationSettingsViewModel

<p class="alert alert-warning">
    @T["To be able to validate tokens issued by a separate tenant, " +
            "you must register a custom scope in the server options " +
            "of the tenant hosting the authorization server."]
</p>

<div class="mb-3" asp-validation-class-for="Tenant">
    <label asp-for="Tenant" class="form-label">@T["Authorization server tenant"]</label>
    <input asp-for="Tenant" class="form-control" />
    <span asp-validation-for="Tenant"></span>
</div>

<div class="mb-3" asp-validation-class-for="Authority">
    <label asp-for="Authority" class="form-label">@T["Authority"]</label>
    <input asp-for="Authority" class="form-control" />
    <span asp-validation-for="Authority"></span>
    <span class="hint">@T["The URL of the remote OpenID Connect server. Using HTTPS is highly recommended for security."]</span>
</div>

<div class="mb-3" asp-validation-class-for="MetadataAddress">
    <label asp-for="MetadataAddress" class="form-label">@T["OpenID Connect Metadata Address"]</label>
    <input asp-for="MetadataAddress" class="form-control" />
    <span asp-validation-for="MetadataAddress"></span>
    <span class="hint">@T["The well-formed URI for the OpenID Connect Metadata Address endpoint. This is intended for advanced scenarios where metadata is not available from the standard authority endpoint. Note: This option cannot be used with a Tenant configuration, and HTTPS is strongly recommended."]</span>
</div>

<div class="mb-3" asp-validation-class-for="Audience">
    <label asp-for="Audience" class="form-label">@T["Audience"]</label>
    <input asp-for="Audience" class="form-control" />
    <span asp-validation-for="Audience"></span>
    <span class="hint">@T["The unique name associated with this tenant. If not specified, the tenant name will be used as the default audience."]</span>
</div>

<div class="mb-3" asp-validation-class-for="DisableTokenTypeValidation">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="DisableTokenTypeValidation">
        <label class="form-check-label" asp-for="DisableTokenTypeValidation">@T["Disable token type validation"]</label>
        <span class="hint dashed">@T["Token type validation can be disabled to accept JWT tokens from servers that do not support the '{0}' type header.", "at+jwt"]</span>
    </div>
</div>

<script at="Foot">
    $(function () {
        var authority = $('#@Html.IdFor(model => model.Authority)');
        var audience = $('#@Html.IdFor(model => model.Audience)');
        var tenant = $('#@Html.IdFor(model => model.Tenant)');
        var disableTokenTypeValidation = $('#@Html.IdFor(model => model.DisableTokenTypeValidation)');

        tenant.change(function () {
            if (tenant.val() != '') {
                authority.val(null);
                authority.parent().hide();
                audience.val(null);
                audience.parent().hide();
                disableTokenTypeValidation.val(false);
                disableTokenTypeValidation.parent().hide();
            }
            else {
                authority.parent().show();
                audience.parent().show();
                disableTokenTypeValidation.parent().show();
            }
        });

        tenant.trigger('change');
    });
</script>
