@using Microsoft.Extensions.Localization
@using OrchardCore.OpenId.ViewModels
@using OrchardCore.OpenId.Settings
@using System.Security.Cryptography.X509Certificates
@model OpenIdServerSettingsViewModel
@inject IStringLocalizer<OpenIdServerSettingsViewModel> S

@{
    // Use the short date format, but still allow users to define localized versions.
    // The DateTime shape will use the current culture's pattern by default.
    var localizedDateFormat = S["d"];
}

<div class="mb-4">
    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <h3>@T["Endpoints"]</h3>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="EnableTokenEndpoint">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="EnableTokenEndpoint">
                <label class="form-check-label" asp-for="EnableTokenEndpoint">@T["Enable Token Endpoint"]</label>
                <span class="hint dashed">@T["Enables the endpoint:"]</span> <code>/connect/token</code>
            </div>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="EnableAuthorizationEndpoint">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="EnableAuthorizationEndpoint">
                <label class="form-check-label" asp-for="EnableAuthorizationEndpoint">@T["Enable Authorization Endpoint"]</label>
                <span class="hint dashed">@T["Enables the endpoint:"]</span> <code>/connect/authorize</code>
            </div>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="EnablePushedAuthorizationEndpoint">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="EnablePushedAuthorizationEndpoint">
                <label class="form-check-label" asp-for="EnablePushedAuthorizationEndpoint">@T["Enable Pushed Authorization Endpoint"]</label>
                <span class="hint dashed">@T["Enables the endpoint:"]</span> <code>/connect/par</code>
            </div>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="EnableLogoutEndpoint">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="EnableLogoutEndpoint">
                <label class="form-check-label" asp-for="EnableLogoutEndpoint">@T["Enable End Session Endpoint"]</label>
                <span class="hint dashed">@T["Enables the endpoint:"]</span> <code>/connect/logout</code>
            </div>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="RequireEndSessionConfirmation">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="RequireEndSessionConfirmation">
                <label class="form-check-label" asp-for="RequireEndSessionConfirmation">@T["Require logout confirmation"]</label>
                <span class="hint dashed">@T["When unchecked, end-users are signed out without a confirmation prompt if a valid id_token_hint matching the current session is provided."]</span>
            </div>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="EnableUserInfoEndpoint">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="EnableUserInfoEndpoint">
                <label class="form-check-label" asp-for="EnableUserInfoEndpoint">@T["Enable User Info Endpoint"]</label>
                <span class="hint dashed">@T["Enables the endpoint:"]</span> <code>/connect/userinfo</code>
            </div>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="EnableIntrospectionEndpoint">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="EnableIntrospectionEndpoint">
                <label class="form-check-label" asp-for="EnableIntrospectionEndpoint">@T["Enable Introspection Endpoint"]</label>
                <span class="hint dashed">@T["Enables the endpoint:"]</span> <code>/connect/introspect</code>
            </div>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="EnableRevocationEndpoint">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="EnableRevocationEndpoint">
                <label class="form-check-label" asp-for="EnableRevocationEndpoint">@T["Enable Revocation Endpoint"]</label>
                <span class="hint dashed">@T["Enables the endpoint:"]</span> <code>/connect/revoke</code>
            </div>
        </div>
    </div>
</div>

<div class="mb-4">
    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <h3>@T["Flows"]</h3>
        </div>
    </div>

    <div class='ocat-wrapper collapse' asp-validation-class-for="AllowAuthorizationCodeFlow">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="AllowAuthorizationCodeFlow">
                <label class="form-check-label" asp-for="AllowAuthorizationCodeFlow">@T["Allow Authorization Code Flow"]</label>
                <span class="hint dashed">@T["Click <a href=\"{0}\" target=\"_blank\">here</a> for more information about the Authorization Code Flow.", "http://openid.net/specs/openid-connect-core-1_0.html#CodeFlowAuth"]</span>
            </div>
        </div>
    </div>

    <div class='ocat-wrapper collapse' asp-validation-class-for="AllowImplicitFlow">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="AllowImplicitFlow">
                <label class="form-check-label" asp-for="AllowImplicitFlow">@T["Allow Implicit Flow"]</label>
                <span class="hint dashed">@T["Click <a href=\"{0}\" target=\"_blank\">here</a> for more information about the Implicit Flow.", "http://openid.net/specs/openid-connect-core-1_0.html#ImplicitFlowAuth"]</span>
            </div>
        </div>
    </div>

    <div class='ocat-wrapper collapse' asp-validation-class-for="AllowHybridFlow">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="AllowHybridFlow">
                <label class="form-check-label" asp-for="AllowHybridFlow">@T["Allow Hybrid Flow"]</label>
                <span class="hint dashed">@T["Click <a href=\"{0}\" target=\"_blank\">here</a> for more information about the Hybrid Flow.", "http://openid.net/specs/openid-connect-core-1_0.html#HybridFlowAuth"]</span>
            </div>
        </div>
    </div>

    <div class='ocat-wrapper collapse' asp-validation-class-for="AllowPasswordFlow">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="AllowPasswordFlow">
                <label class="form-check-label" asp-for="AllowPasswordFlow">@T["Allow Password Flow"]</label>
                <span class="hint dashed">@T["Click <a href=\"{0}\" target=\"_blank\">here</a> for more information about the Password Flow.", "https://tools.ietf.org/html/rfc6749#section-1.3.3"]</span>
            </div>
        </div>
    </div>

    <div class='ocat-wrapper collapse' asp-validation-class-for="AllowRefreshTokenFlow">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="AllowRefreshTokenFlow">
                <label class="form-check-label" asp-for="AllowRefreshTokenFlow">@T["Allow Refresh Token Flow"]</label>
                <span class="hint dashed">@T["Click <a href=\"{0}\" target=\"_blank\">here</a> for more information about the Refresh Token Flow.", "http://openid.net/specs/openid-connect-core-1_0.html#RefreshTokens"]</span>
            </div>
        </div>
    </div>

    <div class='ocat-wrapper collapse' asp-validation-class-for="AllowClientCredentialsFlow">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="AllowClientCredentialsFlow">
                <label class="form-check-label" asp-for="AllowClientCredentialsFlow">@T["Allow Client Credentials Flow"]</label>
                <span class="hint dashed">@T["Click <a href=\"{0}\" target=\"_blank\">here</a> for more information about the Client Credentials Flow.", "https://tools.ietf.org/html/rfc6749#section-1.3.4"]</span>
            </div>
        </div>
    </div>
</div>

<div class="mb-4">
    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <h3>@T["Proof Key for Code Exchange"]</h3>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="RequireProofKeyForCodeExchange">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="RequireProofKeyForCodeExchange">
                <label class="form-check-label" asp-for="RequireProofKeyForCodeExchange">@T["Require Proof Key for Code Exchange"]</label>
            </div>
            <div class="hint">
                @T["A global setting that enforces PKCE for all registered clients, regardless of whether the 'Require PKCE' option is enabled for individual client applications."]
            </div>
        </div>
    </div>
</div>

<div class="mb-4">
    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <h3>@T["Pushed Authorization Requests"]</h3>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="RequirePushedAuthorizationRequests">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="RequirePushedAuthorizationRequests">
                <label class="form-check-label" asp-for="RequirePushedAuthorizationRequests">@T["Require Pushed Authorization Requests"]</label>
            </div>
            <div class="hint">
                @T["A global setting that enforces PAR for all registered clients, regardless of whether the 'Require PAR' option is enabled for individual client applications."]
            </div>
        </div>
    </div>
</div>

<div class="mb-4">
    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <h3>@T["Advanced Options"]</h3>
        </div>
    </div>

    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <div class="alert alert-info" role="alert">
                <p class="mb-0">@T["The following options are optional and intended for advanced use only."]</p>
            </div>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="Authority">
        <label asp-for="Authority" class="ocat-label">@T["Authority"]</label>
        <div class="ocat-end">
            <input asp-for="Authority" class="form-control" />
            <span asp-validation-for="Authority"></span>
            <span class="hint">@T["The base URL of the identity server (this site). If not provided, a default value will be automatically generated based on the site host."]</span>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="EncryptionCertificateStoreLocation">
        <label asp-for="EncryptionCertificateStoreLocation" class="ocat-label">@T["Encryption Certificate Store Location"]</label>
        <div class="ocat-end">
            <select asp-for="EncryptionCertificateStoreLocation" class="form-select">
                <option value="">@T["None"]</option>

                @foreach (StoreLocation location in Enum.GetValues<StoreLocation>())
                {
                    <option value="@location" selected="@(Model.EncryptionCertificateStoreLocation == location)">@location.ToString()</option>
                }
            </select>
            <span asp-validation-for="EncryptionCertificateStoreLocation"></span>
            <span class="hint">@T["Select the encryption certificate location."]</span>
        </div>
    </div>

    <div id="EncryptionCertificateStoreNameField" class="ocat-wrapper" asp-validation-class-for="EncryptionCertificateStoreName">
        <label asp-for="EncryptionCertificateStoreName" class="ocat-label">@T["Encryption Certificate Store Name"]</label>
        <div class="ocat-end">
            <select asp-for="EncryptionCertificateStoreName" class="form-select">
                <option value="">@T["None"]</option>

                @foreach (StoreName store in Enum.GetValues<StoreName>())
                {
                    <option value="@store" selected="@(Model.EncryptionCertificateStoreName == store)">@store.ToString()</option>
                }
            </select>
            <span asp-validation-for="EncryptionCertificateStoreName"></span>
            <span class="hint">@T["Select the encryption certificate store."]</span>
        </div>
    </div>

    <div id="EncryptionCertificateThumbprintField" class="ocat-wrapper" asp-validation-class-for="EncryptionCertificateThumbprint">
        @if (Model.AvailableCertificates.Count != 0)
        {
            <label asp-for="EncryptionCertificateThumbprint" class="ocat-label">@T["Encryption Certificate"]</label>
            <div class="ocat-end">
                <select asp-for="EncryptionCertificateThumbprint" class="form-select">
                    <option value="">@T["None"]</option>

                    @foreach (var certificate in Model.AvailableCertificates)
                    {
                        var selectedCertificate = Model.EncryptionCertificateThumbprint == certificate.ThumbPrint
                        && Model.EncryptionCertificateStoreLocation.HasValue && Model.EncryptionCertificateStoreLocation.Value == certificate.StoreLocation
                        && Model.EncryptionCertificateStoreName.HasValue && Model.EncryptionCertificateStoreName == certificate.StoreName;
                        if (string.IsNullOrWhiteSpace(certificate.ThumbPrint))
                        {
                            <option value="" data-StoreLocation="@certificate.StoreLocation" data-StoreName="@certificate.StoreName" selected="@(selectedCertificate)"></option>
                            continue;
                        }
                        var friendlyName = certificate.FriendlyName;
                        if (string.IsNullOrWhiteSpace(friendlyName) && !string.IsNullOrWhiteSpace(certificate.ThumbPrint))
                        {
                            friendlyName = T["No Friendly Name"].Value;
                        }
                        <option value="@certificate.ThumbPrint" data-StoreLocation="@certificate.StoreLocation" data-StoreName="@certificate.StoreName" selected="@(selectedCertificate)">
                            @friendlyName [<datetime utc="certificate.NotBefore" format="@localizedDateFormat" /> - <datetime utc="certificate.NotAfter" format="@localizedDateFormat" />] @certificate.Subject
                        </option>
                    }
                </select>
                <span asp-validation-for="EncryptionCertificateThumbprint"></span>
                <span class="hint">@T["Select the encryption certificate."]</span>
            </div>
        }
        else
        {
            <div class="ocat-end-offset">
                <div class="alert alert-warning" asp-validation-for="CertificateThumbprint">@T["A certificate must be added to your server to set up the OpenID Connect module."]</div>
            </div>
        }
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="SigningCertificateStoreLocation">
        <label asp-for="SigningCertificateStoreLocation" class="ocat-label">@T["Signing Certificate Store Location"]</label>
        <div class="ocat-end">
            <select asp-for="SigningCertificateStoreLocation" class="form-select">
                <option value="">@T["None"]</option>

                @foreach (StoreLocation location in Enum.GetValues<StoreLocation>())
                {
                    <option value="@location" selected="@(Model.SigningCertificateStoreLocation == location)">@location.ToString()</option>
                }
            </select>
            <span asp-validation-for="SigningCertificateStoreLocation"></span>
            <span class="hint">@T["Select the signing certificate location."]</span>
        </div>
    </div>

    <div id="SigningCertificateStoreNameField" class="ocat-wrapper" asp-validation-class-for="SigningCertificateStoreName">
        <label asp-for="SigningCertificateStoreName" class="ocat-label">@T["Signing Certificate Store Name"]</label>
        <div class="ocat-end">
            <select asp-for="SigningCertificateStoreName" class="form-select">
                <option value="">@T["None"]</option>

                @foreach (StoreName store in Enum.GetValues<StoreName>())
                {
                    <option value="@store" selected="@(Model.SigningCertificateStoreName == store)">@store.ToString()</option>
                }
            </select>
            <span asp-validation-for="SigningCertificateStoreName"></span>
            <span class="hint">@T["Select the signing certificate store."]</span>
        </div>
    </div>

    <div id="SigningCertificateThumbprintField" class="ocat-wrapper" asp-validation-class-for="SigningCertificateThumbprint">
        @if (Model.AvailableCertificates.Count != 0)
        {
            <label asp-for="SigningCertificateThumbprint" class="ocat-label">@T["Signing Certificate"]</label>
            <div class="ocat-end">
                <select asp-for="SigningCertificateThumbprint" class="form-select">
                    <option value="">@T["None"]</option>

                    @foreach (var certificate in Model.AvailableCertificates)
                    {
                        var selectedCertificate = Model.SigningCertificateThumbprint == certificate.ThumbPrint
                        && Model.SigningCertificateStoreLocation.HasValue && Model.SigningCertificateStoreLocation.Value == certificate.StoreLocation
                        && Model.SigningCertificateStoreName.HasValue && Model.SigningCertificateStoreName == certificate.StoreName;
                        if (string.IsNullOrWhiteSpace(certificate.ThumbPrint))
                        {
                            <option value="" data-StoreLocation="@certificate.StoreLocation" data-StoreName="@certificate.StoreName" selected="@(selectedCertificate)"></option>
                            continue;
                        }
                        var friendlyName = certificate.FriendlyName;
                        if (string.IsNullOrWhiteSpace(friendlyName) && !string.IsNullOrWhiteSpace(certificate.ThumbPrint))
                        {
                            friendlyName = T["No Friendly Name"].Value;
                        }
                        <option value="@certificate.ThumbPrint" data-StoreLocation="@certificate.StoreLocation" data-StoreName="@certificate.StoreName" selected="@(selectedCertificate)">
                            @friendlyName [<datetime utc="certificate.NotBefore" format="@localizedDateFormat" /> - <datetime utc="certificate.NotAfter" format="@localizedDateFormat" />] @certificate.Subject
                        </option>
                    }
                </select>
                <span asp-validation-for="SigningCertificateThumbprint"></span>
                <span class="hint">@T["Select the signing certificate."]</span>
            </div>
        }
        else
        {
            <div class="ocat-end-offset">
                <div class="alert alert-warning" asp-validation-for="CertificateThumbprint">@T["You need to add a certificate to your server for setting up OpenID Connect module."]</div>
            </div>
        }
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="DisableRollingRefreshTokens">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="DisableRollingRefreshTokens">
                <label class="form-check-label" asp-for="DisableRollingRefreshTokens">@T["Disable Rolling Refresh Tokens"]</label>
                <span class="hint dashed">@T["When this option is enabled, refresh tokens are not marked as redeemed and can be reused until they expire."]</span>
            </div>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="AccessTokenFormat">
        <label asp-for="AccessTokenFormat" class="ocat-label">@T["Token Format"]</label>
        <div class="ocat-end">
            <select asp-for="AccessTokenFormat" class="form-select">
                <option value="@OpenIdServerSettings.TokenFormat.DataProtection" selected="@(Model.AccessTokenFormat == OpenIdServerSettings.TokenFormat.DataProtection)">
                    @T["ASP.NET Core Data Protection"]
                </option>
                <option value="@OpenIdServerSettings.TokenFormat.JsonWebToken" selected="@(Model.AccessTokenFormat == OpenIdServerSettings.TokenFormat.JsonWebToken)">
                    @T["JSON Web Token (JWT)"]
                </option>
            </select>
            <span asp-validation-for="AccessTokenFormat"></span>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="DisableAccessTokenEncryption">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="DisableAccessTokenEncryption">
                <label class="form-check-label" asp-for="DisableAccessTokenEncryption">@T["Disable Access Token Encryption (only for JWT tokens)"]</label>
                <span class="hint dashed">@T["When enabled, JWT access tokens are not encrypted."]</span>
            </div>
        </div>
    </div>

    <div class="ocat-wrapper" asp-validation-class-for="UseReferenceAccessTokens">
        <div class="ocat-end-offset">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="UseReferenceAccessTokens">
                <label class="form-check-label" asp-for="UseReferenceAccessTokens">@T["Use Reference Access Tokens"]</label>
                <span class="hint dashed">@T["When enabled, access tokens are stored in the database, and fixed-size tokens are returned to the client. This can be useful for handling a large number of claims. Note: This option cannot be enabled if other tenants are configured to use this server."]</span>
            </div>
        </div>
    </div>
</div>
<script at="Foot">
    ////<![CDATA[
    window.onload = function () {
        function getElement(id) {
            return document.getElementById(id);
        }

        function setDisplay(element, show) {
            if (element) {
                element.style.display = show ? '' : 'none';
            }
        }

        function setCollapse(element, action) {
            if (element) {
                bootstrap.Collapse.getOrCreateInstance(element, { toggle: false })[action]();
            }
        }

        refreshEncryptionCertificates();
        refreshSigningCertificates();
        refreshEndpoints();
        refreshDisableAccessTokenEncryption();

        getElement("@Html.IdFor(m => m.AccessTokenFormat)").addEventListener('change', function () {
            refreshDisableAccessTokenEncryption();
        });
        getElement("@Html.IdFor(m => m.EncryptionCertificateStoreLocation)").addEventListener('change', function () {
            refreshEncryptionCertificates();
        });
        getElement("@Html.IdFor(m => m.EncryptionCertificateStoreName)").addEventListener('change', function () {
            refreshEncryptionCertificates();
        });
        getElement("@Html.IdFor(m => m.SigningCertificateStoreLocation)").addEventListener('change', function () {
            refreshSigningCertificates();
        });
        getElement("@Html.IdFor(m => m.SigningCertificateStoreName)").addEventListener('change', function () {
            refreshSigningCertificates();
        });
        document.querySelectorAll("#@Html.IdFor(m => m.EnableTokenEndpoint), #@Html.IdFor(m => m.EnableAuthorizationEndpoint), #@Html.IdFor(m => m.AllowPasswordFlow), #@Html.IdFor(m => m.AllowAuthorizationCodeFlow), #@Html.IdFor(m => m.AllowAuthorizationCodeFlow), #@Html.IdFor(m => m.AllowHybridFlow)").forEach(function (element) {
            element.addEventListener('change', function () {
            refreshEndpoints();
            });
        });
        function refreshEncryptionCertificates() {
            var location = getElement("@Html.IdFor(m => m.EncryptionCertificateStoreLocation)"),
                name = getElement("@Html.IdFor(m => m.EncryptionCertificateStoreName)"),
                thumbprint = getElement("@Html.IdFor(m => m.EncryptionCertificateThumbprint)");

            if (location.value) {
                setDisplay(getElement("EncryptionCertificateStoreNameField"), true);

                if (name.value) {
                    setDisplay(getElement("EncryptionCertificateThumbprintField"), true);
                    thumbprint.querySelectorAll("option").forEach(function (option) {
                        if (option.value !== '') {
                            setDisplay(option, false);
                        }

                        if (option.getAttribute("data-StoreLocation") === location.value && option.getAttribute("data-StoreName") === name.value) {
                            setDisplay(option, true);
                        }
                    });
                }
                else {
                    setDisplay(getElement("EncryptionCertificateThumbprintField"), false);
                    thumbprint.value = "";
                }
            }
            else {
                setDisplay(getElement("EncryptionCertificateStoreNameField"), false);
                name.value = "";
                setDisplay(getElement("EncryptionCertificateThumbprintField"), false);
                thumbprint.value = "";
            }
        }
        function refreshSigningCertificates() {
            var location = getElement("@Html.IdFor(m => m.SigningCertificateStoreLocation)"),
                name = getElement("@Html.IdFor(m => m.SigningCertificateStoreName)"),
                thumbprint = getElement("@Html.IdFor(m => m.SigningCertificateThumbprint)");

            if (location.value) {
                setDisplay(getElement("SigningCertificateStoreNameField"), true);

                if (name.value) {
                    setDisplay(getElement("SigningCertificateThumbprintField"), true);
                    thumbprint.querySelectorAll("option").forEach(function (option) {
                        if (option.value !== '') {
                            setDisplay(option, false);
                        }

                        if (option.getAttribute("data-StoreLocation") === location.value && option.getAttribute("data-StoreName") === name.value) {
                            setDisplay(option, true);
                        }
                    });
                }
                else {
                    setDisplay(getElement("SigningCertificateThumbprintField"), false);
                    thumbprint.value = "";
                }
            }
            else {
                setDisplay(getElement("SigningCertificateStoreNameField"), false);
                name.value = "";
                setDisplay(getElement("SigningCertificateThumbprintField"), false);
                thumbprint.value = "";
            }
        }
        function refreshEndpoints() {
            refreshEnableTokenEndpoint();
            refreshAllowAuthorizationCodeFlowVisibility();
            refreshEnableAuthorizationEndpoint();
            refreshAllowHybridFlowVisibility();
            refreshAllowRefreshTokenFlowVisibility();
        }
        function refreshDisableAccessTokenEncryption() {
            var accessTokenFormat = getElement("@Html.IdFor(m => m.AccessTokenFormat)");
            var disableAccessTokenEncryption = getElement("@Html.IdFor(m => m.DisableAccessTokenEncryption)");

            if (accessTokenFormat.value === '@OpenIdServerSettings.TokenFormat.JsonWebToken') {
                disableAccessTokenEncryption.disabled = false;
            }
            else {
                disableAccessTokenEncryption.disabled = true;
                disableAccessTokenEncryption.checked = false;
            }
        }
        function refreshEnableTokenEndpoint() {
            var enableTokenEndpoint = getElement("@Html.IdFor(m => m.EnableTokenEndpoint)");
            var allowPasswordFlow = getElement("@Html.IdFor(m => m.AllowPasswordFlow)");
            var allowClientCredentialsFlow = getElement("@Html.IdFor(m => m.AllowClientCredentialsFlow)");
            if (!enableTokenEndpoint.checked) {
                allowPasswordFlow.checked = false;
                allowClientCredentialsFlow.checked = false;
            }
            var showOrHide = enableTokenEndpoint.checked ? "show" : "hide";
            setCollapse(allowPasswordFlow.closest('.collapse'), showOrHide);
            setCollapse(allowClientCredentialsFlow.closest('.collapse'), showOrHide);
        }
        function refreshEnableAuthorizationEndpoint() {
            var enableAuthorizationEndpoint = getElement("@Html.IdFor(m => m.EnableAuthorizationEndpoint)");
            var allowImplicitFlow = getElement("@Html.IdFor(m => m.AllowImplicitFlow)");
            if (!enableAuthorizationEndpoint.checked) {
                allowImplicitFlow.checked = false;
            }
            setCollapse(allowImplicitFlow.closest('.collapse'), enableAuthorizationEndpoint.checked ? "show" : "hide");
        }
        function refreshAllowAuthorizationCodeFlowVisibility() {
            var allowAuthorizationCodeFlow = getElement("@Html.IdFor(m => m.AllowAuthorizationCodeFlow)");
            if (getElement("@Html.IdFor(m => m.EnableTokenEndpoint)").checked && getElement("@Html.IdFor(m => m.EnableAuthorizationEndpoint)").checked) {
                setCollapse(allowAuthorizationCodeFlow.closest('.collapse'), "show");
            }
            else {
                allowAuthorizationCodeFlow.checked = false;
                setCollapse(allowAuthorizationCodeFlow.closest('.collapse'), "hide");
            }
        }
        function refreshAllowHybridFlowVisibility() {
            var allowHybridFlow = getElement("@Html.IdFor(m => m.AllowHybridFlow)");
            if (getElement("@Html.IdFor(m => m.EnableTokenEndpoint)").checked && getElement("@Html.IdFor(m => m.EnableAuthorizationEndpoint)").checked) {
                setCollapse(allowHybridFlow.closest('.collapse'), "show");
            }
            else {
                allowHybridFlow.checked = false;
                setCollapse(allowHybridFlow.closest('.collapse'), "hide");
            }
        }
        function refreshAllowRefreshTokenFlowVisibility() {
            var allowRefreshTokenFlow = getElement("@Html.IdFor(m => m.AllowRefreshTokenFlow)");
            if (getElement("@Html.IdFor(m => m.EnableTokenEndpoint)").checked
                && (getElement("@Html.IdFor(m => m.AllowPasswordFlow)").checked ||
                    getElement("@Html.IdFor(m => m.AllowAuthorizationCodeFlow)").checked ||
                    getElement("@Html.IdFor(m => m.AllowHybridFlow)").checked)) {
                setCollapse(allowRefreshTokenFlow.closest('.collapse'), "show");
            }
            else {
                allowRefreshTokenFlow.checked = false;
                setCollapse(allowRefreshTokenFlow.closest('.collapse'), "hide");
            }
        }
    };
    //]]>
</script>
